[2015-05-03 17:03] advancedrei opened #3 "Full .NET SDK is not available"
I would like to make some contributions to the core SDKs, but they are not available on here yet. Is there an ETA for when the source for the existing NuGet packages for .NET will be available? Thanks!

[2015-05-07 17:35] bc3tech opened #4 "new TelemetryClient() in ApplicationInsights.Core throws exception"
[code]

[2015-05-07 19:35] bc3tech commented on #4
Somehow I was getting hooked up to the Silverlight version of the ApplicationInsights DLL.

[2015-05-07 19:35] #4 closed

[2015-05-12 19:18] JakubOleksy commented on #3
We have it on the backlog, but don't have a firm date yet.

What contributions are you considering?

[2015-05-21 23:17] birbilis opened #6 "Silverlight version?"
why not also have a version for Silverlight apps?
(I'd love to use it with ClipFlair Studio - http://ClipFlair.net)

[2015-05-27 15:51] JakubOleksy commented on #6
Thanks for the feedback. At this time, we don't have any plans to add Silverlight support. We do support Windows Phone and Store applications written in Silverlight.

[2015-05-27 15:51] #6 closed

[2015-05-27 15:55] JakubOleksy commented on #6
The best way to get the request prioritized is to do so through our user voice forum:
http://visualstudio.uservoice.com/forums/121579-visual-studio/category/77108-application-insights?query=silverlight

I did a quick search for Silverlight app support and didn't already see an item, you might want to create a new one.

[2015-05-28 13:31] raymens commented on #3
Does that backlog for releasing the source code include the current ASP.NET Web Application package?

[2015-05-28 15:46] JakubOleksy commented on #3
Yes, our intention is to have all our SDKs fully public.

[2015-06-11 18:21] SergKanz opened #14 "Error in sample: time ticks mismatch"
Hey, @SoubhagyaDash, it seem you have an error in this code:
https://github.com/Microsoft/ApplicationInsights-Home/blob/master/Samples/AzureEmailService/WorkerRoleA/WorkerRoleA.cs#L96

Ticks of stopwatch doesn't equal ticks of TimeSpan. Please use StopWatch.Elapsed instead.

[2015-06-17 21:50] SoubhagyaDash commented on #14
Fixed with https://github.com/Microsoft/ApplicationInsights-Home/commit/99d90de19a893ed00648b17e4f2a3d88fa351b14

[2015-06-17 21:50] #14 closed

[2015-06-24 19:44] bondarenkod commented on #3
https://github.com/Microsoft?utf8=%E2%9C%93&query=ApplicationInsights
OSX (!!!), CPP(!!!!!!)?
Where is SDK for MS *native* platform - Windows Phone?

[2015-06-27 18:36] ivanz opened #16 "The EmailService sample doesn't build"
[code]

[2015-06-29 15:45] SergKanz commented on #16
Hi @SoubhagyaDash . In this [packages.config](https://github.com/Microsoft/ApplicationInsights-Home/blob/1aa80b18e9732f8d42bcec45ad308a4d87c3a7eb/Samples/AzureEmailService/MvcWebRole/packages.config) you have a NuGet reference to ```<package id="Microsoft.ApplicationInsights.Web.TelemetryChannel" version="0.17.0" targetFramework="net45" />``` However in [MvcWebRole.csproj](https://github.com/Micro

[2015-06-29 22:06] SoubhagyaDash commented on #16
Fixed with https://github.com/Microsoft/ApplicationInsights-Home/pull/17

[2015-06-29 22:06] #16 closed

[2015-06-29 22:57] JakubOleksy commented on #3
Yes, we are actively working on this. Our .Net SDK was the first one we worked on and at the time weren't thinking about making it open source, so it is lagging behind as we get the code-base ready to publish. Stay tuned.

[2015-07-02 01:46] megamingus opened #18 "Insights not tracking Crashes on Universal Windows App"
I Can't seem to track crashes on my Universal Windows app (Win 10 app).

![image](https://cloud.githubusercontent.com/assets/1580038/8468403/5e43ebe2-2042-11e5-9a88-da2ed01b0a32.png)

[2015-07-09 17:40] DesaiDarshan commented on #18
What version of the SDK are you using?

[2015-07-10 16:51] megamingus commented on #18
Version 1.0.0

[2015-07-24 03:53] ctaggart opened #19 "Could not load type 'Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule' from assembly 'Microsoft.ApplicationInsights.Extensibility.Web'."
I'm struggling with a dependency issue when trying to use Application Insights right now.

![image](https://cloud.githubusercontent.com/assets/80104/8867161/c81de556-317a-11e5-8e21-6c414df312c5.png)

[code]

Here are the specific versions being used (in my paket.lock):
[code]

My paket.dependencies simply has:
[code]

[2015-07-24 05:45] SergeyKanzhelev commented on #19
I'm sorry you hit this issue and thanks for reaching out. It seems that your ApplicationInsights.config file got old and wasn't updated with the installation of a new version of the NuGet.

Correct web telemetry modules would be:

[code]

I'd advice uninstall, clean configuration file (except instrumentation key if you keep it there) and install packages back.

Hope it will help.

[2015-07-24 05:47] SergeyKanzhelev commented on #19
BTW, I don't understand how ```Bcl.Async``` end up to the list of dependencies:

[code]

Can you please confirm whether you have it actually installed? For the target ```net45``` it should not be downloaded and installed.

[2015-07-24 21:00] ctaggart commented on #19
It wasn't my `ApplicationInsights.config`. It was my outdated `web.config` that I had to update too.

For the record, here is my `ApplicationInsights.config`. It would be great if we could code and catch the problems at compile time instead of runtime. I don't like coding in XML.

[code]

We already have in `Startup.fs`:
[code]

The working `web.config` entries ended up being:

[code]

[2015-07-24 21:00] #19 closed

[2015-08-07 09:42] Savanete opened #20 "Code simplified for ExceptionDetails and StackFrame"
Hi,
I think that ExceptionConverter and StackFrame could be unified in RT and PCL platforms with the others using the ExceptionDetails.ParsedStack property and making some implementation using regular expressions. The next approach doesn't give a correct result in the assembly name (returns the namespace) but we simplify the number of implementations for ExceptionDetails:

        private static L

[2015-08-07 15:11] SergeyKanzhelev opened #21 "Need to change CONTRIBUTING.md to ask PR for develop, not master"
In [CONTRIBUTING.md](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/CONTRIBUTING.md) we ask for contribution into master, not develop. Need to change it.

[2015-08-07 15:13] SergeyKanzhelev commented on #20
Can you please submit pull request to sign contribution agreement. It is a formality to make sure we can use the code you are suggesting to fix the mentioned issue. Also if you can give specific example of the issue - it will be great. If the name of assembly should contain whitespace or path?

[2015-08-07 17:26] JoshuaWeber commented on #21
I agree with this, the repos are expecting development on the develop branch, not master. I think we also have a link to GitFlow explaining our reasoning for this design flow choice. Feel free to submit the pull request. :)

[2015-08-07 17:54] lumaxis commented on #21
Should be fixed in #22 :)

[2015-08-07 17:54] #21 closed

[2015-09-01 13:18] raymens commented on #3
Any update on this?

[2015-09-01 14:15] JakubOleksy commented on #3
Yes, sorry, forgot to update here. We've made it open source:
https://github.com/Microsoft/ApplicationInsights-dotnet

[2015-09-01 14:15] #3 closed

[2015-09-28 12:06] mschmeller opened #23 "After updating v1.1 to v1.2: Object reference not set to an instance of an object."
Hello,
after updating Application-Insights.Web from v1.1 to 1.2 we get the following error several times at runtime in our Azure cloud Service (others too http://stackoverflow.com/questions/31993394/application-insights):

[NullReferenceException]: Object reference not set to an instance of an object.
   at Microsoft.ApplicationInsights.TelemetryClient.Track(ITelemetry telemetry)
   at Microsoft.A

[2015-09-28 14:50] SergeyKanzhelev commented on #23
It looks like channel wasn't properly initialized. We made some changes in naming to work around ```MAX_PATH``` limitation when developing and testing cloud services. @abaranch mentioned it in my [blog](http://apmtips.com/blog/2015/08/29/web-sdk-1-2-1-structure-changes/). Please make sure that the correct channel is configured in ```ApplicationInsights.config```. More on channels [here](http://apm

[2015-09-28 15:51] mschmeller commented on #23
Hi Sergey,
thanks for your answer. In ApplicationInsights.config there is configured:
<TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel"/>

Microsoft.AI.ServerTelemetryChannel.dll was copied to the output folder therefore it should be in the azure cloud service publish package.
I have no idea what I was

[2015-09-28 16:36] SergeyKanzhelev commented on #23
I'm sorry that it wasn't just configuration issue. Can you please check what version of ```ApplicationInsights.config``` do you have in ```bin``` folder of your project? Is it worker role or web role you are monitoring with Application Insights?

[2015-09-29 07:57] mschmeller commented on #23
Hi Sergey,
in the Properties of the ApplicationInsights.config we have set "copy if newer" and in den bin-Folder there is the actual ApplicationInsights.config. We are monitoring a web role.
Running in AzureEmulator we tested
1)
var telemetryClient = new TelemetryClient();
telemetryClient.TrackException(new DivideByZeroException("This is just a Test."));
with the same NullReference-Exception
2)
va

[2015-09-30 14:58] SergeyKanzhelev commented on #23
I'm sorry for delayed reply. We are trying to repro this problem. Meanwhile I believe that symptoms you've described indicates that configuration loading was unsuccessful and it caused telemetry channel being not initialized.

I've created PR to make the error message more friendly when channel wasn't set in the next version: https://github.com/Microsoft/ApplicationInsights-dotnet/pull/51

Next, w

[2015-10-02 16:09] SergeyKanzhelev commented on #23
We saw the same behavior on one of our applications and it was in fact bad name of one of initializer. So please make sure you don't have any of them left over from the previous version of SDK.

As a result of this issue I've created two new issues:
- https://github.com/Microsoft/ApplicationInsights-dotnet/issues/55
- https://github.com/Microsoft/ApplicationInsights-dotnet/issues/45

Closing this

[2015-10-02 16:09] #23 closed

[2015-10-14 02:12] advancedrei commented on #3
I would like this re-opened, because this is not the full SDK. The WindowsServer bits are still not open-source, and that is arguably the most important part.

[2015-10-16 15:21] JakubOleksy commented on #3
We are working on some changes on the Windows SDK and felt it would not be appropriate to make it public at this time. When the new one is ready, we will make it public.

[2015-12-14 20:02] abaranch commented on #20
RT implementation was removed from Application Insights API repo

[2015-12-14 20:02] #20 closed

[2015-12-14 20:08] abaranch commented on #18
There were several discussions on msdn forum:
https://social.msdn.microsoft.com/Forums/en-US/5f265ae0-8dad-4f55-af8a-aa0b1f4d7cfd/unable-to-access-crash-data?forum=ApplicationInsights
https://social.msdn.microsoft.com/Forums/en-US/f92e512a-ebdf-4884-966f-633542b0dba6/i-am-not-getting-crash-data?forum=ApplicationInsights
https://social.msdn.microsoft.com/Forums/en-US/ae7f78e8-a4e7-4574-866c-1829294

[2015-12-14 20:08] #18 closed

[2016-01-12 12:58] lukepuplett opened #26 "Telemetry channel should be configured for telemetry configuration before tracking telemetry."
I get this message upon WebAPI start-up.

`Telemetry channel should be configured for telemetry configuration before tracking telemetry.`

This just started happening, though to be honest, someone on the team screwed-up a merge (as usual) so I'm not sure what's happened.

I did a forced reinstall of the NuGet packages, we're on 2.0.0-beta3 because I need some stuff in that version to correct a fal

[2016-01-12 13:14] lukepuplett commented on #26
I copied the applicationInsights.config from another Web API and its now working.

I think you need to make the loading more robust and handle loading exceptions and emit a very clear error message with suggested remedial advice, or reconsider the approach of using config files.

[2016-01-12 13:48] lukepuplett commented on #26
Actually, it might have been a corrupt config file.

I think we remmed out the line adding the Performance collector because of a serious bug that hangs the whole app at random points. But because the default MS config file has a comment inside the <add ...> tag the tag is not on a single line, like all the others, so remming just that line actually breaks the XML.

The XML is not checked or somet

[2016-01-12 17:36] SergeyKanzhelev commented on #26
@lukepuplett, thanks for reporting. I want to assure you we are working with CLR team on resolution on hang issue. Meanwhile, would you please comment with the snippet of bad config file in this issue - I think they are related: https://github.com/Microsoft/ApplicationInsights-dotnet/issues/55

[2016-01-12 20:35] lukepuplett commented on #26
Thanks Sergey. I think the general conclusion in the link is correct, i.e. that problems with config aren't surfaced in a discoverable way.

[2016-01-21 05:57] gregjhogan opened #27 "Tracking async HTTP dependencies in ASP.NET"
All of our async HTTP requests are reporting as taking microseconds to execute when they are actually taking 1-30 seconds.

[code]

Non-async HTTP requests have accurate timings.  This is on a server running IIS with the status monitor configured.

[2016-01-21 18:05] SergeyKanzhelev commented on #27
Have you install Status Monitor or Azure WebSite extension? Or just using out of the box collection with the framework 4.6?

[2016-01-21 18:19] gregjhogan commented on #27
The status monitor is installed and this is not a web app (on-prem IIS server).  SQL dependencies and performance counters are working perfectly.  Is measuring async HTTP calls supported?

[2016-01-21 18:35] gregjhogan commented on #27
Also, I should have mentioned the code is compiled against .NET 4.5.1 and ASP.NET 4.6

[2016-01-21 23:44] gregjhogan commented on #27
I just realized that I am using the pre-release ASP.NET libraries for AI.  I was on beta2 and I just upgraded to beta4.  I compared yesterday's AI data to today's, and it looks better, but still strange.  On beta2 every HTTP dependency was in the microsecond range, and there was one record per call.  On beta4 there are 1 to 3 records per actual HTTP call and one of the records appears to be an acc

[2016-01-22 21:11] SergeyKanzhelev commented on #27
@gregjhogan so you are saying that StatusMonitor installed, but it is not used as your application is not running in IIS. Than it's Framework instrumentation.

If you are running on FW 4.6 there are four methods being instrumented with EventSource:

[code]

Since `HttpClient` is a wrapper on top of `HttpWebRequest` in FW 4.6 - those EventSource messages will be used. `PostAsync` will send request

[2016-02-02 05:18] gregjhogan commented on #27
@SergeyKanzhelev I haven't had time yet to step through what is happening in the AI libraries yet, but I was trying to indicate that I have the status monitor installed and it is running on IIS (on-prem, not in the cloud).  I believe that means it is not using ETW?

On beta4, the time does now seem to all be accounted for, but if there is often more than one telemetry event for each HTTP request.

[2016-02-03 17:47] gregjhogan opened #28 "Loss of dependency and performance counter telemetry"
Sometimes our on-prem IIS servers stop sending dependency and performance counter telemetry.  We have the status monitor installed, and re-installing the status monitor resolves the issue.  SCOM is being used, and I came across the below article which seems to accurately describe what I am seeing since AI uses the same registry settings.
https://docs.newrelic.com/docs/agents/net-agent/troubleshoot

[2016-02-03 20:39] SergeyKanzhelev commented on #28
What version of SCOM agent do you use? Latest versions of it knows about Status Monitor. In fact - with the latest OMS agent (that is basically the most updated version of SCOM Agent) you do not need Status Monitor to collect dependencies at all.

[2016-02-03 21:48] gregjhogan commented on #28
@SergeyKanzhelev it is 2012 R2, can you tell me what version I need to get to so that it doesn't remove the Environment registry key?

[2016-02-04 19:15] gregjhogan commented on #28
@SergeyKanzhelev if I update to [System Center 2012 R2 Update Rollup 8](https://support.microsoft.com/en-us/kb/3096378) will it stop clearing out the Environment registry setting? Thanks!

[2016-02-05 22:30] SergeyKanzhelev commented on #28
This side by side support was implemented in the next version of MMA - [2016 technical preview](https://www.microsoft.com/en-us/evalcenter/evaluate-system-center-technical-preview).

Alternatively you can use agents from Operational Insights.

- [64-bit windows](https://go.microsoft.com/fwlink/?LinkID=517476)
- [32-bit windows](https://go.microsoft.com/fwlink/?LinkID=615592)

[2016-02-08 17:31] gregjhogan commented on #28
@SergeyKanzhelev we probably don't want to run a technical preview version in produciton, are you saying that no version of System Center 2012 R2 will solve this problem?

RE: Operational Insights, are you saying that just installing it will set things up for app insights (even if I don't use operational insights) and then the System Center 2012 R2 agent won't come through and remove the configura

[2016-02-08 19:47] SergeyKanzhelev commented on #28
Operational Insights agent is back compatible with SCOM 2012 R2. I'm not sure about cadence of releases and whether they picked up UR9 fixes.

Anyway, using Operational Insights agent will set everything up for Application Insights and will not compete with Status Monitor for registry keys.

[2016-02-08 23:20] dbohls opened #30 "I can't use the persistence channel with App Insights 2.0.0-beta4"
The latest persistence channel is version 2.0.0-beta3. I just using App Insights Core 2.0.0-beta4 but I don't think that would matter. I get System.MethodAccessException somewhere down in the constructor for the persistence channel.

[2016-02-09 01:09] SergeyKanzhelev commented on #30
Please see http://apmtips.com/blog/2016/01/31/telemetry-channels-update/

@Izikl and @JoshuaWeber on the plans of migration

[2016-02-12 07:46] dbohls commented on #30
Thanks for that link. I left a comment on that blog post, which I'm concerned may not be monitored for responses. One thing I like about the persistence channel is that I didn't have to insert some arbitrarily long thread.sleep to ensure no telemetry is lost. I tested the server telemetry channel with calling flush on app close, and found that some events never showed up in the azure portal. I pok

[2016-02-12 08:26] SergeyKanzhelev commented on #30
Replied =) So you decided to go with server telemetry channel in your WPF application? You are right - it's not quite designed for desktop scenarios, but might work for you.

What kind of telemetry are you using from your application?

CC: @ashtom

[2016-02-12 18:21] dbohls commented on #30
I evaluated the server telemetry channel, but decided not to use it because of the lost events near shutdown.

For now, I've downgraded to 2.0.0-beta3 and when back to using the persistence channel. We just have a WPF desktop app, and we have some events at startup and some events on shutdown, and a few other events that are UI driven so we can know what parts of our app are getting used. Sometime

[2016-02-12 22:32] izikl commented on #30
For a WPF application I would recommend using:
1. https://www.nuget.org/packages/Microsoft.ApplicationInsights/1.2.3
2. https://www.nuget.org/packages/Microsoft.ApplicationInsights.PersistenceChannel/1.2.3

Non of these NuGets is deprecated.

when using the Persistene Channel calling flush will save telemetry to disk, so next time the app is opened it will send the telelmetry.

[2016-02-17 05:42] #30 closed

[2016-03-03 06:03] roryprimrose opened #33 "CreateReleaseAnnotation fails using service account"
I'm trying to run this from Octopus Deploy. This means that the PowerShell script is getting executed using a local service account on the machine. The script fails because call to Invoke-WebRequest (and I suspect Invoke-RestMethod) use IE and Dom parsing. This doesn't work under a service account where IE was never started up first.

The failure is:

The response content cannot be parsed because

[2016-03-03 06:13] SergeyKanzhelev commented on #33
@barustum, can you please help with this?

[2016-03-03 11:16] roryprimrose commented on #33
Looks like the -UseBasicParsing switch did work for Invoke-WebRequest. The failure I now get seems to be in creating the annotation. Unfortunately there is not much information available in the logging.

[code]

[2016-03-03 11:18] roryprimrose commented on #33
I'll add some more logging but I think there is an issue in the script.

[code]

The create status and description variables assigned in the catch will get wiped out in the test of the result. The result would be null if an exception was thrown, in which case the values get set to "Unknown".

[2016-03-03 17:21] barustum commented on #33
Thanks Rory. I'll take a look now.

[2016-03-03 17:44] barustum commented on #33
Hi Rory,
Good catch on the "IE was never started up" issue. Invoke-RestMethod does not support the named parameter UseBasicParsing, that is why the request is failing for you. Can you try switching to Invoke-WebRequest instead of Invoke-RestMethod? Let me know if that works and I can make the change and add better logging.

[2016-03-03 21:44] roryprimrose commented on #33
That was a stab in the dark, but based on the documentation. The info at https://technet.microsoft.com/en-us/library/hh849971.aspx does include the UseBasicParsing switch but it definitely fails when used. I'll give it another spin as per your suggestion.

I was also wrong about the variable assignment above. Looking at it again, the value won't get trumped because it checks whether there is alrea

[2016-03-03 22:14] #33 closed

[2016-03-03 22:17] roryprimrose commented on #33
FYI, my version of this script as an Octopus Deploy script step is at https://github.com/roryprimrose/Library/commit/300a8b15bc9da062ee7f6d375b8267d123e269d4

[2016-03-03 23:38] SergeyKanzhelev commented on #33
@alancameronwills , @barustum does it make sense to add instructions on using this powershell at this page: https://azure.microsoft.com/en-us/documentation/articles/app-insights-annotations/

Also you can mention script for Octopus Deploy from @roryprimrose there

[2016-03-04 00:04] barustum commented on #33
@roryprimrose Thanks for the Octopus Deploy step. Very Useful

@SergeyKanzhelev We already have a blog post for this here: https://azure.microsoft.com/en-us/blog/application-insights-powershell-script-available-for-creating-release-annotations/. I will talk to Mike Gresley about referencing Rory's Octopus step

[2016-03-04 00:54] roryprimrose commented on #33
That would be great, although you may want to wait until my pull request is accepted by @PaulStovell and the Octopus Deploy team. At that time the build step should be published to http://library.octopusdeploy.com/#!/listing which would be a much nicer reference than the pull request itself.

[2016-03-09 02:11] tlmii opened #35 "Traces not logged very early in ASP.NET app lifecycle?"
I've got a situation that I haven't been able to figure out.

I've got code in my override of Application.Init() - in global.asax.cs - that I want log what is happening. I am using the ApplicationInsightsTraceListener to do this.

I know that Application.Init() gets called multiple times (in my case at least, when published to an Azure Web App, this is 4 times) because the Application object is ca

[2016-03-12 00:24] roman-76 opened #36 "AppInsight agent install changes machine's powershell execution policy"
InstallAgent.bat modifies powershell execution policy for the machine. I suggest to use powershell -ExecutionPolicy parameter when running installAgent.ps1
Instead:
`Powershell.exe -NoProfile -Command "& '%~dp0InstallAgent.ps1'" < NUL >> NUL 2>> NUL`
Do:
`Powershell.exe -NoProfile -ExecutionPolicy RemoteSigned -Command "& '%~dp0InstallAgent.ps1'" < NUL >> NUL 2>> NUL`

and remove block with
`Power

[2016-03-14 22:28] SergeyKanzhelev commented on #36
Thanks for reporting. Would you mind to send PR for this?

[2016-03-15 00:04] isaacabraham opened #38 "Azure Storage SDK "chunking" affects AI context tracking"
If you e.g. upload a non-trivial blob in Azure (I think > 4mb), the Azure SDK chunks up the data into multiple requests of 4mb each.

In AI, the first "chunk" correctly shows as a dependency within the context of the request, but the remainder have no operation id (or parent operation id) so they appear as orphaned entries within AI. They should all have the correct operation id.

[2016-03-15 05:00] SergeyKanzhelev commented on #26
This was resolved. Please use 2.0 stable

[2016-03-15 05:00] #26 closed

[2016-03-15 05:00] SergeyKanzhelev commented on #36
Thanks @roman-76 for this improvement in our script

[2016-03-15 05:00] #36 closed

[2016-03-15 05:02] SergeyKanzhelev commented on #28
Closing for now. Let us know if you had a chance to play with Operational Insights' agent and it worked for you.

[2016-03-15 05:02] #28 closed

[2016-03-15 05:03] SergeyKanzhelev commented on #38
We will track it in corresponding repository. Thanks a lot for reporting!

[2016-03-15 05:03] #38 closed

[2016-03-15 05:06] SergeyKanzhelev commented on #27
We will be tracking this in server SDK repository

[2016-03-15 05:06] #27 closed

[2016-03-15 05:07] SergeyKanzhelev commented on #35
It may be a simple data loss, not an initialization issue. How often do you see this data loss?

[2016-03-19 00:06] rbarcelos commented on #30
Hi,

I am trying to update to the latest version of the AppInsights nuget and I am hitting also the MethodAccessException:

System.MethodAccessException was unhandled
Message: An unhandled exception of type 'System.MethodAccessException' occurred in Microsoft.WindowsAzure.ServiceRuntime.dll
Additional information: Attempt by method 'Microsoft.ApplicationInsights.Channel.PersistenceChannel..ctor(Sy

[2016-03-21 02:19] SergeyKanzhelev commented on #30
Please see https://github.com/Microsoft/ApplicationInsights-dotnet/issues/210 There will be a separate mitigation plan on how to migrate to Hockey App SDK. Keep the latest 1.X version of Application Insights for now

[2016-03-21 02:22] rbarcelos commented on #30
Thanks for the heads up, however I am getting this when updating the AppInisghts on my service and not the mobile app

[2016-03-21 02:25] SergeyKanzhelev commented on #30
Please switch to this channel: https://www.nuget.org/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel/ It is more suitable for Azure  Web Services and was updated to 2.0 when persistence channel will be transitioned to Hockey App SDK as all devices soon.

More about telemetry channels difference: http://apmtips.com/blog/2015/09/03/more-telemetry-channels/

[2016-05-10 18:50] jonfreeland opened #42 "Script will not actually execute with PowerShell 3"
Despite the error message that `"Need powershell version 3 or greater to create release annotation"`, this script will not run on PowerShell 3. I believe the issue is simply that `-le` is used instead of `-lt` on [line 83](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/API/CreateReleaseAnnotation.ps1#L83).

I've created a quick pull request, #41, to address this.

[2016-05-10 19:42] #42 closed

[2016-05-21 11:26] AlexBulankou commented on #35
There was no follow up on this, so closing it here for now. If are still experiencing the issue, can you please reopen it here: https://github.com/Microsoft/ApplicationInsights-dotnet-logging with more details on whether you are seeing just this single first event missing or other data items missing as well. Thanks!

[2016-05-21 11:26] #35 closed

[2016-05-27 06:38] Zenuka opened #48 "Dependency issues in NuGet packages"
I'm trying to update the main Microsoft.ApplicationInsights package to 2.0.1 but the dependency on for example Microsoft.ApplicationInsights.DependencyCollector is set to = 2.0.0 instead of >= 2.0.0. See the following error:
`Unable to resolve dependencies. 'Microsoft.ApplicationInsights 2.0.1' is not compatible with 'Microsoft.ApplicationInsights.DependencyCollector 2.0.0 constraint: Microsoft.Ap

[2016-05-27 06:57] AlexBulankou commented on #48
Please disregard 2.0.1 package update for web/service applications, it was intended for devices. Apologies for confusion, we are planning to release next stable soon which will address the problem.

[2016-05-27 06:57] #48 closed

[2016-06-30 17:47] alextochetto opened #50 "Could not load type 'Microsoft.ApplicationInsights.Extensibility.IContextInitializer' from assembly 'Microsoft.ApplicationInsights, Version=2.1.0.0"
At the ConfigurationServices middleware of RC1-Update2 throw this exception for me at
services.AddApplicationInsightsTelemetry(Configuration);

I have the ApplicationInsights referenced in a Class Library and this Class Library is referenced at the WebApi project.

[2016-06-30 17:50] abaranch commented on #50
Could you please ask this question here: https://github.com/Microsoft/ApplicationInsights-aspnetcore

[2016-06-30 17:52] dnduffy commented on #50
Please upgrade to the release 1.0.0 version.

[2016-06-30 17:54] alextochetto commented on #50
@dnduffy do you know this problem? It´s a real problem? upgrade to 1.0.0 it´s not a option right now, sorry.

[2016-06-30 18:01] dnduffy commented on #50
IContextInitializer was removed from the Microsoft.ApplicationInsights core SDK in 2.0.0-beta2.
You appear to have mismatched assembly versions if you are trying to use 2.1.0 of the core SDK along with RC1 of AspNetCore.  Now that ASP.NET Core 1.0.0 has shipped we no longer support DNX and older RC's from the ASP.NET team (because they don't support them).

[2016-06-30 18:03] #50 closed

[2016-07-07 20:43] raphaelm22 opened #52 "appInsights with jquery-pjax"
What would be the best way to use appInsights with [jquery-pjax](https://github.com/defunkt/jquery-pjax)?

Someone tell if the approach below would have any side effects?

`$(document).on('pjax:complete', function() {
appInsights.trackPageView();
});`

[2016-07-08 00:03] SergeyKanzhelev commented on #52
Can you please ask in JS repo: https://github.com/Microsoft/ApplicationInsights-JS/

[2016-07-08 00:03] #52 closed

[2016-07-27 07:54] floekke opened #54 "Internal Server Error"
When running the script I'm getting:

Invoke a web request for https://aigs1.aisvc.visualstudio.com/applications/VTMBroker/Annotations?api-version=2015-11 to create a new release annotation. Attempting 1
Invoke a web request for https://aigs1.aisvc.visualstudio.com/applications/VTMBroker/Annotations?api-version=2015-11 to create a new release annotation. Attempting 2
Invoke a web request for https

[2016-07-27 15:19] SergeyKanzhelev commented on #54
cc: @jpiyali, @abgreg

[2016-07-27 16:11] barustum commented on #54
I'll investigate

[2016-07-27 16:45] barustum commented on #54
Hey floekke,

I believe you are not using the correct PowerShell command to create the release annotation. Here's the command:
.\CreateReleaseAnnotation.ps1 -applicationId "<appId>" -apiKey "<apiKey>" -releaseName "<releaseName>" -releaseProperties @{"ReleaseDescription"="Release with annotation";"TriggerBy"="John Doe"} -eventDateTime "2016-07-07T06:23:44"

For appId, I think you are using the nam

[2016-07-27 19:16] oak-tree opened #55 "JAVA - Caused by: java.lang.NoClassDefFoundError: org/apache/http/impl/conn/PoolingClientConnectionManager"
Hey

I'm using Java,Tomcat, Spring and log4js. I'm trying to use applicationinsights with those tools.
I followed this links https://azure.microsoft.com/en-us/documentation/articles/app-insights-java-get-started/

But i get
Caused by: java.lang.NoClassDefFoundError: org/apache/http/impl/conn/PoolingClientConnectionManager

Any ideas?
Thanks
Alon

[2016-07-27 19:31] oak-tree commented on #55
Ok it seems that `applicationInsights` has dependency on https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient/4.5.2
maybe its worth to update the documents for that?

[2016-07-28 08:29] floekke commented on #54
Thank you. Adding the correct applicationId and apikey did the the trick. I wasn't aware of them, only knew about the instrumentation key.

[2016-07-28 17:08] barustum commented on #54
That's great. Let me know if you have any more issues, or if you have feedback for us :)

[2016-07-28 17:08] #54 closed

[2016-08-09 04:36] gupele commented on #55
Hi @oak-tree
Thanks for sharing the information.

I am not sure I fully understand, can you please share more details?
What version are you using?
Are you using the SDK or also the Agent?
Are you using the Apache's HttpClient?

Any other information will be appreciated

Thanks

[2016-08-09 13:45] oak-tree commented on #55
I did not have  `Apache's HttpClient`. Thanks.

[2016-08-09 16:10] SergeyKanzhelev commented on #55
Moved discussion to the Java repo: https://github.com/Microsoft/ApplicationInsights-Java/issues/307  Closing the issue here.

@oak-tree, thanks for reporting!

[2016-08-09 16:10] #55 closed

[2016-08-24 13:48] bobmclaren opened #57 "Web Test Failure Alerts Contain SocketException Stack Trace from Testing Agent"
We had a site go offline due to an outage at our ISP, making the web site unreachable.  I received a Web Test alert for this, but it contained a stack trace.  Initially I was confused, thinking the stack trace was coming from my code, but it's actually a stack trace form the web test agent code, which seems like it doesn't belong in an email alert.  Web test result breakdown provided below:

[code

[2016-08-24 16:19] SergeyKanzhelev commented on #57
@SoubhagyaDash, can you please look at it.

[2016-08-24 17:11] SoubhagyaDash commented on #57
@bobmclaren Not sure I understand. The stack trace is indeed from the test agent, showing that it was not able to connect to your application. If the app had been available, and the test failed for other reasons, it would not have been a stack trace from the agent., it would contain the information as returned by your app, or information on the specific validation rule that failed. We hope that th

[2016-08-24 17:25] bobmclaren commented on #57
I understand what your saying, but to me this seems out of place.  Providing stack traces from _my_ code is certainly helpful, but if a web test fails, I would not expect to see a test agent stack trace.  That inner plumbing should be hidden away and none of my business.  It should simply provide details of the failed connection.  Knowing what function call in the AI test agent the exception occur

[2016-09-01 10:18] AnithaL opened #58 "Write the Performance Metrics information to a file using Application Insights"
Provide ability to programmatically access the performance metrics and write the metrics information to a text file.I am planning to use Application Insights API only in my application without Azure.Please provide the ability to access the metrics information for custom processing.

[2016-09-01 16:03] SergeyKanzhelev commented on #58
Is this what you need: https://dev.applicationinsights.io/ ? Alternatively you can use export feature: https://azure.microsoft.com/en-us/documentation/articles/app-insights-export-telemetry/

Here is how you send metrics to Application Insights:
https://azure.microsoft.com/en-us/documentation/articles/app-insights-api-custom-events-metrics/#track-metric

[2016-09-01 16:03] #58 closed

[2016-09-02 08:31] AnithaL commented on #58
I was already looked at the send metrics to Application Insights( https://azure.microsoft.com/en-us/documentation/articles/app-insights-api-custom-events-metrics/#track-metric)
 and using this feature and along with this i need to retrieve the below performance metrics programmatically.

Business Case:
Capture a set of performance metrics at regular (configurable) intervals that accurately provide

[2016-09-21 04:37] bklooste opened #60 "Hard version reference to core"
After upgrade to 1.0.1

An exception of type 'System.IO.FileLoadException' occurred in Fis.Configuration.WebAPI.exe but was not handled in user code  Additional information: Could not load file or assembly 'Microsoft.AspNetCore.Mvc.Core, Version=1.0.0.0,

[2016-09-21 04:38] #60 closed

[2016-11-15 14:50] TheXenocide opened #64 "Hierarchical tenants support: enable CSP scenario"
I'm not sure which repository this is most correct for, since I feel it's more of an API-level request, but it would be nice if we could specify 2 iKeys so that our customers can have direct access to their own data, but we could also aggregate the data from all of our customers into a single AI resource. I figure this is a long shot, but couldn't hurt to ask. I imagine it as a means of providing

[2016-11-15 21:24] SergeyKanzhelev commented on #64
Do you care more about the data reporting or data querying?

cc: @olegsych, @DaleKoetke, @pdrayton

From data reporting perspective - you need to decide whether you own instrumentation key or customer owns it. There is no shared ownership

From querying perspective - you can give customers and API key to access data [programmatically](https://dev.applicationinsights.io/) or using PowerBI.

Also yo

[2016-11-16 16:13] TheXenocide commented on #64
The uservoice item seems relevant to me, but I'm more concerned about both the customer and our internal teams being able to leverage the built-in dashboards, filters, and notifications provided in the azure portal within the scope of their interest: the customer seeing dashboards of only their data and our team seeing an aggregate of all customers. I understand we can setup continuous export as w

[2016-11-17 22:40] SergeyKanzhelev commented on #64
Have you considered to give permissions to certain apps to your customers? You can make them "readers" for certain resource groups.

You can certainly send data to two keys. It's shouldn't be complicated to implement on SDK side.

I wonder - how similar are those apps? Is it basically the same app that is being run by different customers? Or just tenants of a single application hosted by you?

[2016-11-18 06:46] anblanco opened #67 "App Insights should provide a PowerShell Module"
As a developer, I would like to use Application Insights from PowerShell, so that I can combine my applications telemetry with any infrastructure telemetry. I also would like to start instrumenting my scripts with Application Insights, so that I can get more insights into how people are using the code I share.

I think there is a lot of value in using App Insights from PowerShell scripts, but ther

[2016-11-18 17:16] SergeyKanzhelev commented on #67
This is a great proposal. As I mentioned in PR - the best place for this SDK is [SDK labs](https://github.com/Microsoft/ApplicationInsights-sdk-labs). Or you can ship if from your name and we will be happy to link it from our documentation

[2016-11-19 21:09] anblanco commented on #67
@SergeyKanzhelev I've opened a new issue and PR in the App Insights SDK project.

https://github.com/Microsoft/ApplicationInsights-SDK-Labs/issues/78

[2016-11-19 21:09] #67 closed

[2016-11-21 15:53] TheXenocide commented on #64
The app is nearly identical, but extensible so there will be customizations that change performance characteristics (but the extension points are uniform, so it will be useful to understand how different customizations impact the common operations). The main issue we would have giving them permission to the aggregate data is the possibility that there is semi-private information customers wouldn't

[2017-01-04 00:50] dnduffy opened #74 "Version "ver" should be defined on a base class"
Since "everything" has ver = 2 it seems like the version property should be defined on a base class instead of redefined for each individual class.

[2017-01-04 00:55] dnduffy opened #75 "Typo in AvailabilityData.bond"
Minor typo in AvailabilityData.bond; the description annotation for the "name" property should end in "...represent.".

[2017-01-04 00:57] dnduffy opened #76 "In ContextTagKeys.bond should the string length for IP be 46?"
Should the max string length for the "LocationIp" property in ContextTagKeys.bond be 46 instead of 45 in order to accommodate a null terminator on the string?

[2017-01-04 01:00] dnduffy opened #77 "Questions about session Id and user Id etc."
In ContextTagKeys.bond:
1. If the SessionId property is about the user then why isn't it "ai.user.session.id"?
2. And how is it different from "ai.user.id"?

[2017-01-04 01:03] dnduffy opened #78 "Should DataPoint be subclassed with a MeasurementDataPoint class?"
In DataPoint.bond there are several properties marked with the comment "Should not be set for a measurement.".
Should there be a MeasurementDataPoint.bond file which subclasses DataPoint.bond and adds those properties which don't make sense to have on DataPoint directly?

[2017-01-04 01:05] dnduffy opened #79 "In Envelope.bond the "time" property is missing MaxStringLength."
The "time" property is missing the MaxStringLength attribute.

[2017-01-04 01:06] dnduffy opened #80 "In RemoteDependencyData.bond, why is the success nullable?"
Will the success not always be known for remote dependencies?  Why is the "success" property nullable?

[2017-01-04 01:19] dnduffy opened #81 "Why is duration a string instead of an int?"
In AvailabilityData.bond, PageViewData.bond, RemoteDependencyData.bond, and RequestData.bond the "duration" property is defined as a string and a unit test in the node-js repository uses it with a value like "00:00:00.010".
This may be a nice display format but it makes doing calculations on the data very inefficient.  Computing averages etc. would require converting the string to some integer or

[2017-01-09 15:05] andrasg opened #82 "using correlation with end-to-end system app maps"
We have a multi tiered application (Angular client, API frontend, API backend, SQL, other http dependencies) currently setup to report into the very same appinsights resource. The reason for this was to enable correlationid based search: show everything we know about a specific call, from top to bottom.
In order to get the application map show things correctly we would need to split the API layers

[2017-01-09 15:14] andrasg commented on #82
Looks like this is the relevant uservoice request:

https://visualstudio.uservoice.com/forums/357324-application-insights/suggestions/15165558-support-for-cross-ikey-queries

[2017-01-10 17:22] SergeyKanzhelev commented on #82
@andrasg, yes this is a related user voice request and we plan to enable this capability. It is already working for components correlation on the map. See [here](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/app-insights-app-map-preview.md) and we plan to make it easier to track transactions across components.

[2017-01-10 17:24] SergeyKanzhelev commented on #82
I'll close the issue for now. Please feel free to re-open if you have more questions. Make sure to vote at user voice so we will notify you when it's complete. (You can also create a new one specifically for transactions correlation as it may be delivered faster than generic query capability)

[2017-01-10 17:24] #82 closed

[2017-01-25 09:34] sabbadino opened #84 "operation_id not present in DocumentDB dependency call entries"
According to this doc
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-dependencies
DocumentDB calls are logged as DepencyCalls .. however these entries do not retain the operation_id

a query like this returns nothing

 dependencies
    | join (requests)
      on operation_Id

[2017-01-25 17:41] SergeyKanzhelev commented on #84
Thanks for reporting!

I think the root cause is this issue we are tracking in server SDK repo: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/113

Is your application Web API or MVC? Consider using [this](http://apmtips.com/blog/2017/01/05/manual-correlation-in-asp-dot-net-mvc-apps/) approach to correlate requests to async operations in MVC and Web API apps.

[2017-01-25 17:42] SergeyKanzhelev commented on #84
I'm closing the issue for now - feel free to re-open if you have more questions or feedback. Again, thanks for reporting

[2017-01-25 17:42] #84 closed

[2017-01-25 20:24] dnduffy commented on #79
PR: https://mseng.visualstudio.com/AppInsights/ChuckNorris/_git/One-Breeze/pullrequest/180190?path=%2FPublicSchemas%2FCommonSchema%2Fv2.1%2FTelemetry.bond&_a=overview

[2017-01-25 20:24] #79 closed

[2017-01-25 20:25] dnduffy commented on #76
https://mseng.visualstudio.com/AppInsights/ChuckNorris/_git/One-Breeze/pullrequest/180190?path=%2FPublicSchemas%2FCommonSchema%2Fv2.1%2FTelemetry.bond&_a=overview

[2017-01-25 20:25] #76 closed

[2017-01-25 20:25] dnduffy commented on #75
https://mseng.visualstudio.com/AppInsights/ChuckNorris/_git/One-Breeze/pullrequest/180190?path=%2FPublicSchemas%2FCommonSchema%2Fv2.1%2FTelemetry.bond&_a=overview

[2017-01-25 20:25] #75 closed

[2017-01-25 22:21] SergeyKanzhelev commented on #75
You'd need to run this tool https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Tools/generateSchema.ps1 to update the schema in this repo

[2017-01-28 01:26] dberryalliance opened #87 "Cannot use Application Insights SDK in Partial Trust"
So, I was trying to embed Application Insights into another Microsoft product that allows for event-driven "plug-ins", and coming up with the error:

`System.Security.SecurityException: Request for the permission of type 'System.Security.Permissions.EnvironmentPermission, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' failed.`

With the stack trace being:

`System.Sec

[2017-01-30 18:16] SergeyKanzhelev commented on #87
Thanks for reporting. You can write your own telemetry initializer and supply those values. Like [this](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/75373e57dcf8d646c54ee188461c373f2cc98939/Src/WindowsServer/WindowsServer.Shared/AzureRoleEnvironmentTelemetryInitializer.cs#L44):

[code]

[2017-01-30 18:17] SergeyKanzhelev commented on #87
I'll close this work item as I created a separate bug in the proper repo. Feel free to re-open if you need more info,

[2017-01-30 18:17] #87 closed

[2017-02-02 00:50] dberryalliance commented on #87
Thank you for the insight.  I'll try again to implement this with the information you provided.

[2017-02-04 01:09] dberryalliance commented on #87
@SergeyKanzhelev Correction to your example:
`            if (string.IsNullOrEmpty(telemetry.Context.Internal.NodeName) && !string.IsNullOrEmpty(telemetry.Context.Cloud.RoleInstance))
            {
                telemetry.Context.Internal.NodeName = PlatformSingleton.Current.GetMachineName();
            }
            if (string.IsNullOrEmpty(telemetry.Context.Cloud.RoleInstance))
            {

[2017-02-04 01:18] dberryalliance commented on #87
@SergeyKanzhelev The constructor of the `TransmissionProcessor` calls into the PlatformSingleton, again trying to raise out of partial trust.  I'll log this in the other issue, as well.  There doesn't appear to be a way around that one, so I'm once again stuck.

[2017-02-15 03:36] nibras85 opened #91 "Alerts for when a custom event is not received for a certain period of time"
This is more of a feature request than an issue. We have an application that tracks custom events (along with metrics). I have an alert setup for when a metric crosses a certain threshold. I'd also like to get alerted if that event isn't fired for a certain period of time. This isn't currently possible. See (https://docs.microsoft.com/en-us/azure/application-insights/app-insights-alerts#how-alerts

[2017-02-15 05:03] SergeyKanzhelev commented on #91
Vote here at [user voice](https://visualstudio.uservoice.com/forums/357324-application-insights/suggestions/14428134-add-alerts-based-on-results-of-analytics-queries). Consider [this](http://apmtips.com/blog/2017/01/17/alerting-over-analytics-queries/) as temporary solution

[2017-02-15 05:03] #91 closed

[2017-02-15 12:53] steinmr opened #93 "WebApi Request tracking"
Should this work? It works sometimes, and sometimes not. Sometimes it works only when an exception occurs.
Could you point me to the library/code that does this, so that I can debug the reasons between it.

I found code for request tracing in the WebApi.Tracing library, but it works also without it, so the code must be "somewhere" in the other AI-libraries.

[2017-02-15 16:02] SergeyKanzhelev commented on #93
@steinmr, thanks for reporting. I believe it may be this issue: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/175

@cijothomas have you got a repro?

[2017-02-16 14:22] steinmr commented on #93
It might. I tried removing TransferRequestHandler, but it made no visible difference.
The problem is that if I do a File_New Project, it works. But it suddenly stops working, and sometimes starts working again.
Since it is all "magic" I have no way of debugging the issue, so some insight into the process of tracking requests for WebApi would be great. (Like, are there any filters I can check to se

[2017-02-17 21:57] SergeyKanzhelev commented on #93
Can you pleas better explain what's going on. You create a new application from the default template, run it in VS and after some time telemetry stops flowing?

[2017-02-20 10:00] FrancoisM opened #94 "Performance - Examples - Inconsistent values and empty When line"
Hi,

First let me say that Application Insights is incredibly amazing!

I attached 3 files to show issues:
- duration values are inconsistent
- the window doesn't get wider when more width is required
- the When line is mostly empty: where is the time spent then?

![azureperformance](https://cloud.githubusercontent.com/assets/3176568/23120436/9b78b3a6-f75c-11e6-9cae-a9d438d2a210.png)
![azureperfor

[2017-02-20 13:40] FrancoisM opened #95 "Remote Dependencies Graph - Inconsistencies and questions"
Find attached a screenshot showing remote dependencies for a Request.
A few issues/questions:
- Why it the first row green block starting after the second row?
- How do you detect dependencies for a given request? As none of my sql query overlap (they are done one after another) I don't expect green blocks to overlap either.
- Is there a way to find these sql queries with Query Performance insight

[2017-02-20 18:53] FrancoisM commented on #95
With regards to capturing custom duration into the timeline I found out I could use the method TrackDepedency :-)

[2017-02-21 16:28] SergeyKanzhelev commented on #94
CC: @qubitron, @northtyphoon, @pharring

@FrancoisM thanks for your feedback! People I mentioned as CC will be able to help you with these issues.

[2017-02-21 16:52] SergeyKanzhelev commented on #95
@kartang is actively looking into this screen improvements. @karting, can you please help @FrancoisM here?

@FrancoisM - do you have any other feedback on what improvements would be helpful on this screen?

[2017-02-21 18:51] juliusl commented on #94
Hello Francois, thanks for trying out the Profiler. I'm on the team and I'm hear to offer some explanations.

1. For the first screenshot, your result actually makes sense. Metric is a measurement of time spent doing something and wall clock time/request duration is the measurement in real time. By looking at the When column it's obvious this request had a bit of blocked time before resuming. For

[2017-02-21 21:15] FrancoisM commented on #94
Tks Julius.

1°) I sent you the etl file by email.
2°) ok
3°) That time doing nothing is exactly what I'm trying to understand and avoid. Here it was after a code deployment so I guess it's related. But more generally speaking sometime there spikes in request duration (>5sec) and all I see in these graphs is white. And I'm like what's going on lol.

[2017-02-21 21:17] FrancoisM commented on #95
No more comments so far but I'll get back to you if any.

Any ideas re my questions?

[2017-02-21 21:59] kartang commented on #95
@FrancoisM
Why it the first row green block starting after the second row?

- that doesn't seem right to me. Can you please share more details with respect to both the dependencies? Details like the dependency event time, and the duration of the first two items on the grid should be helpful.

How do you detect dependencies for a given request? As none of my sql query overlap (they are done one aft

[2017-02-22 05:27] saxenark opened #96 "Initialization Error"
Hi, just upgraded the app insights nuget package from 2.1.0 to 2.2.0 in our in house ASP.NET application. On running the app now, the app fails to start with the following information about Initialization. How and where do I need to Initialize the module?

Initialize has not been called on this module yet.
  Description: An unhandled exception occurred during the execution of the current web reque

[2017-02-22 07:42] FrancoisM opened #97 "Deployed mobile app on a new region - Insights did not collect data"
I have a mobile app with insights sdk.
It is deployed and collecting data.
I deployed it to another region but it doesn't collect data.

I think there are two ways to collect data:
- the web extension that needs to be activated on the portal (not easy to find the start button): I had not done it. Can it be activated from templates or cli?
- the sdk in the app code: well it is there so why don't I

[2017-02-22 08:00] FrancoisM commented on #95
@kartang

1) Row ordering
Well all my dependencies are sql queries. And I don't know which one, I just look at my code and the order I call them to try and identify them. I wish there were some way to link some sql dependencies with sql insights on azure.

2) Overlaps
As my dependencies are ony sql query and as I do them one after another (they next one use the previous one result) I don't expect

[2017-02-22 10:24] saxenark commented on #96
This was an environment problem as it is not happening now after a rebuild.

[2017-02-22 10:24] #96 closed

[2017-02-22 14:57] FrancoisM commented on #95
Today, I have an instance where all rows overlap:

![azureperformance6](https://cloud.githubusercontent.com/assets/3176568/23216806/8e5bb18e-f917-11e6-94b9-8995ed4efbaa.png)

[2017-02-22 15:19] saxenark opened #98 "Duplicated values in name and data field"
Hi,

We are using 2.2.0 version of App Insights library in our ASP.NET project. I am assigning different values to the 'data' and 'name' properties of DependencyTelemetry. However, in appinsights, when I view the dependencies, I see that both the name and the data field have one and same value. What could be the possible reason for this?

Thanks

[2017-02-22 16:30] FrancoisM commented on #95
I think I know why rows overlap. It's because we rely on `DateTime.UtcNow` to be accurate to the millisecond but it is not. See that [article](https://blogs.msdn.microsoft.com/ericlippert/2010/04/08/precision-and-accuracy-of-datetime/).

[2017-02-22 16:53] FrancoisM commented on #95
I rewrote my TrackDependency to avoir DateTime.UtcNow. You should do the same.

[code]

And here is how I use it:

[code]

Now that looks like that on the graph:

![azureperformance7](https://cloud.githubusercontent.com/assets/3176568/23222326/c3dd4312-f927-11e6-84fe-39d6eff15fc5.png)

[2017-02-22 17:06] SergeyKanzhelev commented on #97
What do you mean when saying the "mobile insights SDK"? Our recommendation for mobile customers to switch to HockeyApp SDK.

[2017-02-22 17:31] FrancoisM commented on #97
I meant application insights sdk (or library or package or whatever it is called lol).
I expected my newly deployed app to collect data as the first one did. But I had to find the Start button on the portal before it does.
I'm not talking about mobile app client here just about backend app (just a rest api really but it's called Azure Mobile App...)

[2017-02-22 17:44] FrancoisM commented on #95
Is there a color code for the dependencies or is it always green? It'd be great if I could specify a color with TrackDependency.

[2017-02-22 17:46] FrancoisM commented on #95
And as you notice it's not Dependency that I track but my code execution. I use TrackDependency because I find the timeline graph so cool!

[2017-02-22 17:57] SergeyKanzhelev commented on #97
Oh, I see. Sorry for confusion. Now I'm confused by "Start button" on portal. Is it something specific for mobile apps?

[2017-02-22 18:06] FrancoisM commented on #97
No. As I didn't see data, I tried several icons on the portal for the Application Insights Resource until I arrived on a page with a big "Start" button to activate the data collection.

[2017-02-22 18:56] SergeyKanzhelev commented on #97
@iusafaro - can you please help here? I have limited experience with the Mobile Apps and do not know if there are Start button and what it does.

[2017-02-22 19:28] iusafaro commented on #97
Can you please clarify once more:
1) Have you added SDK from Visual Studio?
2) Have you seen any data before enabling Start button?
3) What's the current state of those two instances and can you see the data?

Yes, Start button is not very intuitive - it can be reached from the banner on Overview blade when you don't have any data or by the clicking on un-configured node in Application Map. The re

[2017-02-22 19:39] FrancoisM commented on #97
1. Yes
2. No for the second instance. I don't know for the first one as I added the SDK and enable with Start button about the same time when I created the application insights resource.
3. I can see data for both instance

The initial question is about seeing the SDK and the portable Start button as two different complementary features whereas it seems it's only one feature.

[2017-02-22 20:36] iusafaro commented on #97
SDK and Extension are two alternative ways of enabling Application Insights. SDK from VS is preferrable and recommended solution as it provides more configurable options, but Extension is the only way if you don't have an access to the source code and/or unable to redeploy the application. There's also one additional scenario when you may want to have them both - remote dependencies are collected

[2017-02-22 20:42] FrancoisM commented on #97
I confirm I had deployed with sdk in my code on last night (as this was the same code of my existing first instance which was successfully collecting data).

This morning no data (while I know for sure beta testers connected in Brazil).

What is possible is that I created the application insight resource on the portal this morning. I don't really remember to be honest. Maybe there is a timestamp c

[2017-02-22 21:02] iusafaro commented on #97
If it was the same code then application sent data to the old AI resource that first instance is connected to. Have you updated the instrumentation key in AI.config before the deployment?

[2017-02-22 21:11] FrancoisM commented on #97
I don't have such config file. Instrument key is an app setting in the portal (can't check right now as I'm on my phone). That's maybe the reason! The second instance didn't have an instrumentation key in its app settings until I clicked the Start Button?

[2017-02-23 07:57] saxenark commented on #98
Interesting thing is that this shows up correctly in the App Insights 'Filter' blade, but somehow analytics does not show it correctly. It shows the same value for name and data fields

[2017-02-23 17:54] iusafaro commented on #97
Yes, that seems to be the reason. So if you don't need extended SQL collection functionality (as I've mentioned above) please ensure that you correctly added all nuget packages from Visual Studio and your ApplicationInsights.config contains the right key for all future instances.

[2017-02-23 18:50] iusafaro commented on #97
I'm going to close the thread as it seems that we understood the root cause of confusion and I hope we resolved it. Please feel free to re-open it in case of any additional questions.

[2017-02-23 18:50] #97 closed

[2017-02-24 06:27] FrancoisM opened #99 "Trigger the profiler"
Hi,

Your profiler tool is great. I have huge performance issues with my Azure Mobile App Backend. I can't find any answers nowhere and your profiler is the only bit of insights I get.
My problem is that it's hard to test the impact of any changes as I can't control when it's run. It's based on sampling and even these I don't know when they happen.

So my question is: Is there a way to trigger the

[2017-02-24 07:19] FrancoisM commented on #99
I just discovered you have a service profiler extension. Why do you hide these gems?
Maybe this what I'm looking for. Don't know yet as it says "no agents running" while the service profiler extensions status is all green checks.

[2017-02-24 16:11] SergeyKanzhelev commented on #99
CC @qubitron

We are not hiding. It's in preview...

[2017-02-24 16:42] SergeyKanzhelev opened #100 "Align success field for Request and Dependency"
The idea is that every operation is successful unless set to false explicitly. It is nullable in C# to indicate that the value wasn’t set to true explicitly by customer so auto-collection will not override it.

Let’s say customer wants to mark 404 as success http://apmtips.com/blog/2016/12/03/request-success-and-response-code/ She’ll set Success = true and auto collection will not override it to f

[2017-02-24 20:56] FrancoisM opened #101 "Chart library"
Do you use a third party open source library for your graphs?
I'd like to reuse your dependency graph to display trace data within my mobile app.

[2017-02-24 22:06] SergeyKanzhelev commented on #101
@madeleinefletcher @AlexBulankou  can you help with this question.

@FrancoisM - you can report traces from mobile app to Application Map and see the map in Azure Portal instead of building your own visualization.

[2017-02-24 22:45] FrancoisM commented on #101
To be sure we talk about the same thing: here I call mobile app the actual smartphone app not the Azure Mobile App Backend.
What is Application Map?

[2017-02-24 23:10] FrancoisM commented on #101
Ok I see what Application Map is.
It's not what I'm looking for.
I want to produce charts like the dependency bar timeline graph.

[2017-02-26 20:20] SergeyKanzhelev commented on #95
@cijothomas is the issue @FrancoisM discovered the same as you fixed in `Start` `Stop` of operations timing? Can you please confirm it is fixed in latest betas

[2017-02-27 02:54] SergeyKanzhelev commented on #101
Try [Zipkin](http://zipkin.io/)

[2017-02-27 02:54] #101 closed

[2017-02-27 16:33] FrancoisM commented on #101
Tks!

[2017-02-28 21:07] northtyphoon commented on #99
@FrancoisM You currently can not trigger the profiler yourself.

How did you install the service profiler extension? Did you use https://www.azureserviceprofiler.com/?

[2017-03-02 01:33] cijothomas commented on #95
Yes we fixed the accuracy issue arising due to usage of DateTime.UtcNow instead of high precision Timer.
https://github.com/Microsoft/ApplicationInsights-dotnet/issues/358

This should be in Version 2.2 Stable on base sdk. (the fix was in base sdk, not in dependency module)
https://github.com/Microsoft/ApplicationInsights-dotnet/releases/tag/v2.2.0

[2017-03-02 08:10] FrancoisM commented on #95
It's not only the accuracy of the calculation of the duration but the start time as well which is not precise hence dependencies occurrences relative to each other are incorrect.

[2017-03-02 08:31] FrancoisM commented on #99
Yes I installed it from there.
I checked and still no "agent running".

[2017-03-02 16:00] northtyphoon commented on #99
Service Profiler agent is running as a continuous web job in Web App. You can open the Web App resource in https://portal.azure.com and check "ServiceProfiler" status in WebJobs blade. If it's not running, you can click "Logs" button to find out more information.
If you have further question, you can send the log to serviceprofilerhelp@microsoft.com. We can help you from there.

[2017-03-02 21:09] Kyle2123 opened #103 "Average values for metrics on custom event when sampling is used"
I have a custom event that includes a custom metric that records the time that the event took to process.  I have sampling configured on my application to 10%.  When I add a chart in Metrics Explorer that filters on this event and then displays the average of my custom metric for processing time, the values reported are 1/10th of what I would expect them to be.

According to the [documentation](ht

[2017-03-03 20:04] shkrishms opened #104 "HTTPS calls marked incorrectly as SQL dependency"
I noticed this on my server side. I am manually marking http post/get requests by

this.appInsightsClient.TrackDependency(depedencyName, depedencyAction, startDateTime, elapsed, success);
and correlating them to request by implementing ITelemetryInitializer .

On the analytics logs, I see https calls marked as SQL type. Not sure if this is from my tracking or from appinsights tracking. I hope they

[2017-03-03 22:02] SergeyKanzhelev commented on #104
Dup for this issue: https://github.com/Microsoft/ApplicationInsights-dotnet/issues/405

I believe the fix will be deployed early next week.

Sorry for the inconvinience

[2017-03-03 22:02] #104 closed

[2017-03-08 20:29] SergeyKanzhelev commented on #99
Please reopen if you still having problems and didn't get needed help over e-mail

[2017-03-08 20:29] #99 closed

[2017-03-14 14:18] steinmr commented on #93
Hi, sorry for the delay.
I have now reproduced the problem in a super-simple application (attached).
[AINotWorking.zip](https://github.com/Microsoft/ApplicationInsights-Home/files/841553/AINotWorking.zip)
The main point here (I think) is that I'm using OWIN.

To reproduce this, compile the attached application and run it in Debug in Visual Studio.
In Visual studio, open the "Application Insights S

[2017-03-14 16:23] SergeyKanzhelev commented on #93
@steinmr thanks for the repro app. I just confirmed that this is the same issue as this one: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/175 so the same workaround applies (just comment out `<Add>System.Web.Handlers.TransferRequestHandler</Add>`).

It reproes on my machine so I can troubleshoot and fix it now

[2017-03-15 07:36] steinmr commented on #93
Thanks, commenting out the element fixed the issue. I tried it before, but it did not work then, but it might have been a different issue causing it not to work.
What happens with TransferRequestHandler commented out? I will keep it commented out for now, until the fixed 2.2 version comes out.

[2017-03-15 15:27] SergeyKanzhelev commented on #93
@steinmr it is mostly commented for WCF applications where you will receive two events for every request. If you do not use WCF it should not be a problem to keep it this way

[2017-03-17 22:14] shkrishms opened #107 "Security of Web tests"
Hi,
I want to add multi step web tests to application insights.  I see that web tests have context parameters to add username and password.
I would like to know how this information is secured in the web tests when uploaded as a part of application insights?

[2017-03-17 22:29] SergeyKanzhelev commented on #107
@SoubhagyaDash can you please reply here

[2017-03-20 19:32] shkrishms commented on #107
Hi,
This information will be useful for me to proceed further.

-Sharanya

[2017-03-20 20:31] SoubhagyaDash commented on #107
@shkrishms Web tests are encrypted in transit and in our backend config store.

[2017-03-20 22:18] macrogreg opened #108 "BackoffLogicManagerTest.RetryAfterOlderThanNowCausesDefaultDelay is failing in 2.4.0-beta1"
![image](https://cloud.githubusercontent.com/assets/20691812/24124321/b90a8872-0df5-11e7-8cee-fb6fc348829d.png)

[2017-03-21 23:30] shkrishms commented on #107
Thanks.

[2017-03-21 23:30] #107 closed

[2017-03-30 16:06] navneetccna opened #111 "How to perform queries ?"
I want to get json data as explain in rest api doc https://dev.applicationinsights.io/documentation/overview

customEvents
| where customDimensions.teamId == '8bcb0466-8227-4de4-b001-b70381b9cd04'

As the rest api have limit of 15 call per min and 1500 per day as doc https://dev.applicationinsights.io/documentation/Authorization/Rate-limits says to use Azure API and Azure Active Directory but ther

[2017-03-30 16:19] SergeyKanzhelev commented on #111
Duplicating my reply =)

I think this is how you do it: https://docs.microsoft.com/en-us/rest/api/index (example is for the different Azure API, but authentication part should apply).

Also please vote/comment at [user voice](https://visualstudio.uservoice.com/forums/357324-application-insights/suggestions/17365018-enable-higher-rate-limits-for-the-data-access-rest).

CC: @DaleKoetke

[2017-04-09 18:44] mlorbetske opened #114 "Is no more Application Insight local SDK a thing ?"
_From @Bartmax on March 16, 2017 13:29_

So no more `local SDK only`, is this now an azure-only service ?

If it's not, then the UI on 2017 is really crafted by evil azure $ eaters. (just kidding, no offense intended)

Also the docs points to the old UI, showing an option not available on 2017.
![pasted image at 2017_03_16 10_22 am](https://cloud.githubusercontent.com/assets/3386797/23998162/fb45d

[2017-04-10 14:51] SergeyKanzhelev commented on #114
@mlorbetske what makes you think there is no more local mode? We do support it.

CC: @acearun @gardnerjr

[2017-04-10 15:02] mlorbetske commented on #114
The issue was posted on aspnet/tooling by @bartmax, I believe he's looking for documentation on how to be in that mode as the tools have changed.

[2017-04-10 16:46] juliushardt opened #115 "Format of the request duration TimeSpan is incorrect"
The [description of the RequestData duration string](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Bond/RequestData.bond#L17) does not match the format which the Application Insights API expects. Right now it describes the format as `d:hh:mm:ss.fffffff`, whereas it should be `d.h:mm:ss.fffffff` (the colon needs to be replaced with a dot), as discussed in [

[2017-04-10 17:22] gardnerjr commented on #114
that link doesn't show in 2017 **because the sdk is already installed by ASP.NET tooling** in VS2017, the only choice you have in the window after that is to *configure it*.

that link only shows when the project has *no AI of any kind in it* (a totally clean project).

[2017-04-10 17:39] gardnerjr commented on #114
To see the link in 2017, create a new asp.net or asp.net core project, and remove the references to AI  (in core, open the csproj and remove the `PackageReference` for Application Insights.  Right click the project, and the Application Insights submenu will be gone.  right click the project and do either add->connected service and pick application insights, or right click add->application insights

[2017-04-10 17:39] #114 closed

[2017-04-10 19:36] SergeyKanzhelev commented on #115
@OsvaldoRosado you've been fixing issues around this formatting recently. Would you please update the schema for the endpoint and regenerate it here.

[2017-04-10 19:37] #111 closed

[2017-04-10 19:38] SergeyKanzhelev commented on #108
moved to the appropriate repo

[2017-04-10 19:38] #108 closed

[2017-04-10 19:39] SergeyKanzhelev commented on #103
will this work for you? `sum(value)/count()`?

[2017-04-10 19:39] SergeyKanzhelev commented on #103
Sorry for delayed reply.

[2017-04-10 19:49] OsvaldoRosado commented on #115
Schema should be up-to-date for the endpoint (and the invalid error message has been fixed awaiting deployment). I'll send a PR to regenerate the copy here

[2017-04-11 07:10] saxenark opened #116 "location_Country for DependencyTelemetry"
Hi,

I am not seeing values for client city, client state, or province and client country or region, in DependencyTelemetry that we are explicitly creating for a 3rd party API call. We are using 2.1.0 version of Microsoft.ApplicationInsights library.

What could be the reason for this?

Thanks,
Anubhav.

[2017-04-11 12:31] Mauzer93 opened #117 "Set validateIntegratedModeConfiguration to true"
We would like to enable 'validateIntegratedModeConfiguration' in our application (running in integration mode).
However, when we remove the classic asp modules, and enable 'validateIntegratedModeConfiguration', we noticed that removing the classic modules causes unexpected behavior in following scenario:

Browse to http://localhost/
- ISAPI handler gets selected as handler for the request
  - Appl

[2017-04-11 16:35] SergeyKanzhelev commented on #116
This is how we collect [client IP](http://apmtips.com/blog/2016/07/05/client-ip-address) and then convert it to the geo location. There may be two options - you set `.Context.Location.Ip` context property to the IP address that we cannot resolve (you may set it explicitly or implicitly via Client IP header [telemetry initializer](https://docs.microsoft.com/en-us/azure/application-insights/app-insi

[2017-04-12 03:21] saxenark commented on #116
Oh Ok. Let me try this.

[2017-04-12 03:22] saxenark commented on #116
One more question, I want to know if there is a coding / design standard documentation available for implementing telemetry in web applications. I see lots of different understandings in each team and hence everybody lands up in doing telemetry in their own. Is there some sort of standardization/recommendation/best practices available?

[2017-04-13 17:05] OsvaldoRosado opened #118 "Schema namespace has changed to AI when it should be Microsoft.Telemetry"
This seems to be the case since the original upload from Aug 2016

[2017-04-13 17:18] OsvaldoRosado commented on #115
Fixed with 804a33e

[2017-04-13 17:18] #115 closed

[2017-04-13 22:33] SergeyKanzhelev commented on #116
What do you mean by implementing telemetry? There are documents on different aspects of it, but I need to have more context to be able to answer this question.

[2017-04-17 03:57] saxenark commented on #116
Hi, Here is a hint of what I mean by standardization. I like to think of the documentation as the specs for a language like C++ or C#, but there are several documents/books/articles etc on best practices, guidelines, dos&dont's etc. I am looking at something similar from telemetry standardization for all apps in our portfolio.

![image](https://cloud.githubusercontent.com/assets/2850526/25078369/c

[2017-04-17 17:24] SergeyKanzhelev commented on #116
This is exactly the document I plan to work on later this week. Basically we will explain every Application Insights type and context property with the scenarios how it should be used.

[2017-04-27 01:03] krishnasingh1818 opened #119 "trace and exception recorded fine but request count is always zero"
hi,

am using appinsight through nlog target and i am noting that in application insight i see only trace and exception category recorded and rest all (eg request) counts are showing zero and there is nothing displayed in search result with filter of just Request type.

while debugging on local am able to see that local appinsight visualizer records hits under request category too.  Any idea what

[2017-04-30 01:40] dennis-yemelyanov opened #120 "Can't get any custom events to show up"
I followed simple steps to try Application Insights, and it seems my custom events are either delayed or not coming through at all. Here's what I did:
1. Create a new Application Insights resource with General Application Type and all default settings.
2. Create a simple console app in VS 2017.
3. Add Nuget package Microsoft.ApplicationInsights.WindowsServer v2.3.0.
4. Copy instrumentation key fro

[2017-05-01 17:10] SergeyKanzhelev commented on #120
Application Insights channel is optimized for long running processes. Exiting an app even with the call to `Flush` may not deliver the event. If this wasn't your intent - here is a sample application that demo console app you can play with: https://github.com/Microsoft/ApplicationInsights-Home/tree/master/Samples/DataReduction

If you are need a short living process - you can up vote these two iss

[2017-05-01 17:10] #120 closed

[2017-05-07 00:47] dennis-yemelyanov commented on #120
Thanks, Sergey, this is very helpful.

[2017-05-19 09:15] saxenark opened #121 "session_id unique"
Hi,

I would like to know if a session_id displayed in Kusto/App Insights is a unique value across time and space. I see that this is a string like 'Rb0/F' and seems to be reused for different user ids.

My overall problem statement is that what attributes of a telemetry custom event, can I use to uniquely identify a user / alias using my application?

Thanks,
Anubhav.

[2017-05-19 16:14] SergeyKanzhelev commented on #121
[Session ID](https://docs.microsoft.com/azure/application-insights/application-insights-data-model-context#session-id) and [Anonymous user id](https://docs.microsoft.com/azure/application-insights/application-insights-data-model-context#anonymous-user-id) should suffice for your purpose.

How often do you see duplicates? We are using `Math.random() * 1073741824;` for [both](https://github.com/Micr

[2017-05-19 16:14] SergeyKanzhelev commented on #121
+ @KamilSzostak as JavaScript SDK expert

[2017-05-19 16:45] saxenark commented on #121
Hi, is this the right query to check for duplicates?

event
| where app_Name == 'myorderproduction'
| project session_Id, UserID=tostring(customDimensions.UserID), user_Id
| where isnotempty(UserID) and isnotempty(session_Id) and isnotempty(user_Id)
| summarize CountUsers=dcount(UserID) by session_Id, user_Id
| where CountUsers > 1

Another question is how is the session_id and user_id generated?

[2017-05-19 17:17] SergeyKanzhelev commented on #121
I do not know how `customDimensions.UserID` is generated and whether it can change over a single browser session. So potentially the query may return some false positives. My understanding was you wanted to check how random the session ID is so you may want to summarize `user_id` and `UserID` by session ID only.

`user_id` and `session_is` are generated by Application Insights JavaScript SDK and k

[2017-05-21 06:39] saxenark commented on #121
Thanks Sergey. Here's the new query I have

customEventAggregates
| where appName == 'myorderproduction'
| where telemetryEventTime > ago(200d)
| sort by telemetryEventTime  asc
| project sessionId , userId, userAccountId, XCV=tostring(customDimensions.XCV)
| where isnotempty(sessionId) and isnotempty(userId) and isnotempty(XCV) and strlen(XCV)==8 //and isnotempty(userAccountId)
| summarize Count=

[2017-05-22 17:07] SergeyKanzhelev commented on #121
Please read https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics#authenticated-users to learn how to set authenticated user ID and Account ID

`user_id` identifies the browser, not user. So the same user (authenticated user) can have multiple `user_id` values associated with her. You need to use the technique I mentioned above to ensure proper user nam

[2017-05-25 14:02] ppumkin opened #122 "BrowserLink telemetry being sent to Azure"
Browserlink shows up as a dependency AJAX and is flooding my charts while debugging.

I had a look at the

`<Add Type="Microsoft.ApplicationInsights.Web.SyntheticUserAgentTelemetryInitializer, Microsoft.AI.Web">`

and

`<Add Type="Microsoft.ApplicationInsights.Web.RequestTrackingTelemetryModule, Microsoft.AI.Web">`

but it is not entirely clear to me how to filter out browserLink from Visual Studi

[2017-05-25 15:16] SergeyKanzhelev commented on #122
@gardnerjr how does Visual Studio picks up the AJAX dependencies? My understanding is that they are reported by JavaScript SDK and sent directly to portal. How the magic works?

@ppumkin I moved this issue to the JavaScript repository. You can probably implement a simple telemetry initializer that will filter those out.

[2017-05-25 17:41] gardnerjr commented on #122
*visual studio* is not picking up the ajax dependencies while debugging.  That's a live search showing real data in this resource.  I can tell because it is showing "performance" as a field (performanceBucket) which is calculated by ingestion, not sent by the sdk (sdk sends duration)

There are a few possible things to do:
1. turn of browserlink if you don't need it - uncheck "enable browserlink"

[2017-05-26 01:34] SergeyKanzhelev commented on #122
Thanks @gardnerjr! Closing it in this repository and will wait the response in JavaScript SDK one...

[2017-05-26 01:34] #122 closed

[2017-06-02 15:08] tlmii opened #124 "ai.device.screenResolution doesn't show in AppInsights Analytics/Metrics Explorer"
I previously followed the instructions [here](https://github.com/Microsoft/ApplicationInsights-Announcements/issues/5) to enable collection of screen resolution in AppInsights.

I can confirm via Fiddler that it is being sent to AppInsights along with the other PageView data.

But I do not see any way to retrieve/analyze these values. It does not show up as an option for Filtering in Metrics Explo

[2017-06-02 15:53] SergeyKanzhelev commented on #124
Thanks for detailed report. Unfortunately screenResolution is on it's way to deprecation. We have an issue  https://github.com/Microsoft/ApplicationInsights-JS/issues/455 to remove it from code. @KamilSzostak can comment on milestone

[2017-06-02 15:53] #124 closed

[2017-06-06 19:27] shkrishms opened #126 "Data Loss in application insights"
Hi,
I have been sending a lot of web api requests to an API on our webapp in azure enabled with application insights. But i did not see all the requests reflected there. I sent at least 10 in the last 1 hour, but I only see 1 request.

The itemcount column shows for that request is only 1. How to troubleshoot my missing requests?

The server sdk has adaptive sampling enabled by default. Would that

[2017-06-06 22:13] KamilSzostak opened #127 "Add measurements to MessageData"
Add `measurements` to [MessageData](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Bond/MessageData.bond) to allow logging numerical values.

[2017-06-06 22:48] cijothomas commented on #126
Whats the version of SDK you are using?
Are your requests succeeding or failing? i.e are you seeing failed requests, but missing all successfull requests?
(there is an open issue https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/175 ) not sure if this is related.

[2017-06-06 23:11] shkrishms commented on #126
I have the below packages. There were no failed request. All of them successful
packages\Microsoft.ApplicationInsights.2.2.0\lib\net46\Microsoft.ApplicationInsights.dll

[2017-06-07 21:39] shkrishms opened #128 "Application Insights performance issues"
Hi,
I am using experimental profiler to see my hot path. It seems like Application insights telemetry tracking seems to contribute to the latency. I have included the below snapshot.

![image](https://user-images.githubusercontent.com/25833342/26902678-06331872-4b8f-11e7-8d74-6a7751bc5f70.png)

[2017-06-21 09:50] rsitrifork opened #130 "SQL dependency impossibly fast"
I have started tracking dependencies in a web project. Partly because we want to keep track of the SQL dependency timings to detect areas where we can do performance tuning.

I wonder why so many of the dependencies take 0 ms? We are using the built-in SQL dependency tracking with the status monitor installed.

![image](https://user-images.githubusercontent.com/29540761/27378211-7a6f779c-5677-11e7

[2017-06-23 01:30] ishepherd opened #131 "Detect path parameters in Operation Name"
Application Insights Analysis doesn’t play nicely with RESTful resources in a lot of scenarios.

Example, GET /Microsoft/ApplicationInsights-Home –

I doubt GitHub would find this a useful Operation Name for analysis.
An Operation Name like ‘GET /{Organization}/{Repo}’ would be much more frequently useful.

[I am hacking this sort of thing with a custom ITelemetryInitializer and custom regexes.](h

[2017-06-23 01:57] dnduffy commented on #131
Seems related to https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/430

[2017-06-23 18:35] dnduffy commented on #130
In older versions of the SDK there was a problem with the start and stop time for async calls leading to incorrect duration calculations.  Please try updating to the latest beta and see if that fixes the issue.

[2017-07-05 08:28] rwwilden opened #132 "AppInsights 2.4.0 breaks access to Azure Storage emulator 5.1.0.0"
When using Azure Storage emulator 5.1.0.0 in combination with AppInsights 2.4.0, all access to storage results in _403: Forbidden_ errors.

I attached a small (VS2015) console application that demonstrates this behavior.

[StorageEmulatorAccess.zip](https://github.com/Microsoft/ApplicationInsights-Home/files/1123951/StorageEmulatorAccess.zip)

[2017-07-05 09:56] rwwilden commented on #132
I moved the issue over here: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/640

[2017-07-05 09:56] #132 closed

[2017-07-07 09:24] fpintos commented on #98
See also https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/643

[2017-07-10 05:35] saxenark opened #133 "timestamp in telemetry"
Hi,

I would like clarity on the interpretation of the timestamp field in app insights telemetry. Specifically, the documentation here https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.datacontracts.tracetelemetry?view=appinsights-2.3.0-beta3 says that is the timestamp of recording.

However, I would like to know if it is
a) timestamp of the event in the sending client, or

[2017-07-10 09:25] phatcher opened #134 "Dependency trend arrow incorrect colour"
On the weekly report, the dependency duration is shown as going up but the trend arrow is green not red -  surely longer is worse?

![dependencytime](https://user-images.githubusercontent.com/192778/28011395-12223f0c-655a-11e7-95dd-378a90bcff64.PNG)

[2017-07-10 13:32] saxenark commented on #133
Also, in case the telemetry event is logged from the client side js scripts, is the time stamp of the AI event, the time on the client machine or on the web server?

[2017-07-11 05:48] SergeyKanzhelev commented on #134
@SoubhagyaDash can you please track this request?

[2017-07-12 05:30] SergeyKanzhelev commented on #133
@saxenark sorry for delay.

timestamp represents the time event was "created". For request and dependency telemetry it will be a start time of said request and dependencies (time when you called `StartOperation` method of telemetry client). For trace and event - time telemetry item was tracked (`Track` method of telemetry client was called).

It is always the SDK's timestamp.

I'll create an issue

[2017-07-12 05:31] SergeyKanzhelev commented on #133
Please re-open if you have more questions. Feel free to send PR to help improve documentation

[2017-07-12 05:31] #133 closed

[2017-07-19 03:49] federicobarera opened #136 "2.4 Dependencies Correlation Broken"
Hi,

I have noticed that upgrading from 2.2 to 2.4 the correlation tracking is lost:

**-> Microsoft.ApplicationInsights.Web 2.2.0 -> Portal -> Search (Requests Only) :**

![image](https://user-images.githubusercontent.com/6658124/28349890-d202dea0-6c88-11e7-9b68-69f23339bc5a.png)

**-> Microsoft.ApplicationInsights.Web 2.4.0 -> Portal -> Search (Requests Only) :**

![image](https://user-images.gi

[2017-07-19 20:51] cijothomas commented on #136
Can you give more specific details about the scenario.
What kind of application is this? What are the dependencies - are they SQL? Http? Are they called async?
Do you have profiler installed via Status Monitor/Azure Extension?
(2.4 version contains lot of changes to improve the correlation , but its not clear whats broken here. so any additional details/small repro code would help us.)

[2017-07-20 18:55] shkrishms opened #137 "How to use Scheduled Analytics on Azure Portal"
I am trying out a Scheduled Analytics on Azure Portal. I am assuming that I can created an alert on the metrics I have saved through the "Scheduled Analytics" tab. But I am not able to see the new metrics in the alerts? Anything I am missing?

![image](https://user-images.githubusercontent.com/25833342/28433923-5959436c-6d42-11e7-9009-cc10bc0ff720.png)

[2017-07-20 19:05] shkrishms commented on #137
Actually I see it now..Just took some time

[2017-07-20 19:05] #137 closed

[2017-07-24 09:15] JanEggers opened #139 "Missing Type in ServiceCollection when upgrading Microsoft.ApplicationInsights.AspNetCore 2.1.0 to 2.1.1"
i have a unittest that tries to create all services in my service collection.

while populating the service collection i call

`services.AddApplicationInsightsTelemetry( configuration );`

in 2.1.0 i could create all services application insights adds

in 2.1.1 i get

System.InvalidOperationException : failed to create Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet

System.InvalidOpera

[2017-07-25 06:41] SergeyKanzhelev commented on #139
Moved to aspnetcore repo

[2017-07-25 06:41] #139 closed

[2017-07-26 21:40] ohadschn commented on #120
@SergeyKanzhelev Could you please explain where exactly in https://github.com/Microsoft/ApplicationInsights-Home/tree/master/Samples/DataReduction one can find code relevant for reliable flushing?

[2017-07-26 21:45] SergeyKanzhelev commented on #120
I mentioned that solution as a demo long running console app that DO send telemetry. Sentence starts "If this wasn't your intent". What I meant is that if the code in the original question is only for the proof of concept, not the way it will work in production - look at this example that works fine...

Sorry for confusion

[2017-07-26 21:56] ohadschn commented on #120
@SergeyKanzhelev I see, thank you for clarifying. I upvoted the issues you suggested, hopefully one of them could reach 2.5.

[2017-07-26 23:31] federicobarera commented on #136
Hi, sorry for late response.
Let me try to clear up the picture:

The application where AI is hosted is a Web Application, running framework 4.5.2
The dependency type is "WCF" even tho the connection is not performed by the standard wcf service client.
To give you a bit of background, we are using the Microsoft.Sharepoint.Client.ClientContext to communicate with office365 sharepoint instances. The

[2017-07-26 23:37] lmolkova commented on #136
@federicobarera
There are different implementations of HttpClient: .Net Core and .NET Desktop.
.NET Core HttpClient does not use WebRequests internally and diagnostics for it is implemented with DelegatingHandler.

.NET Desktop HttpClient is based on WebRequests and the diagnostics is implemented as a [reflection hook ](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Diagnostic

[2017-07-27 05:32] federicobarera commented on #136
From what I can see inside of the Microsoft.SharePoint.Client.Runtime.dll

Microsoft.SharePoint.Client.ClientRequest and ClientRuntimeContext are correctly closing the response stream after usage.

[2017-07-27 15:35] lmolkova commented on #136
@federicobarera

1. Are you sure it uses HttpWebRequest (i.e. System.Net.WebRequest.CreateHttp) and not something else?
2. It would be great if you could provide us with repro code with Sharepoint client

[2017-07-27 23:11] federicobarera commented on #136
@lmolkova @cijothomas

Hi, before answering the questions lemme clarify something that it's definitely not clear from my initial post.
Those WCF depedencies **are** tracked by AI, what is lost is the correlation between the initial request to our endpoint and the subsequent calls to Sharepoint. I can still see those calls tracked as "dependency" in the search area, but they aren't anymore related

[2017-07-28 16:27] lmolkova commented on #136
@federicobarera
I see, so requests and dependencies are tracked, but not correlated. Probably in this case we don't really need the repro code.

How do you check if they are correlated?

1. Could you try to find some request that has dependency call find it's operation Id  (e.g. in Analytics run `requests | where timestamp >= ago(10m)` and copy operation_Id field ) ,
2. Then run another query in A

[2017-07-29 04:59] federicobarera commented on #136
Very weird...

In 2.3 dependencies are not visible in the search UI, but I can find them in analytics:
![image](https://user-images.githubusercontent.com/6658124/28742206-427f774c-746d-11e7-8e1e-85ecd9d1a2ae.png)
![image](https://user-images.githubusercontent.com/6658124/28742216-59727440-746d-11e7-9e50-cfd225324b7b.png)

In 2.4 the call and the dependencies are completely unrelated. The only way

[2017-07-31 16:38] lmolkova commented on #136
@federicobarera
do I understand correctly that with 2.4 SDK, if you run query `dependencies | where operation_Id == <request-operation-id>` in Analytics, you do not see any dependencies? (Assuming the request was one that supposed to cause dependencies calls)

Could you please find manually request and dependency that should be related to this request and post here following data:
`operation_Id`,

[2017-07-31 18:14] SergeyKanzhelev opened #146 "More feedback from vancem"
- [ ] It is not clear to me what the difference between the Span-id-base and level. Given that in one of the examples we say
[code]
  It is not clear if 0 is the span ID or the level.

  Note that this convention causes the fallback rules to screw up an important property: Namely that everyone understands traceIDs then you at least get that everywhere.   The current fallback rule states that anyth

[2017-07-31 19:13] SergeyKanzhelev commented on #146
@vancem some replies:

1. for the Extend on plain ID - we agree with @jacpull that we can modify the fallback rules to say that `<trace-id>` is everything till `-` or `.`. This will help to avoid the need for `XXX-.0` or resetting for the first extend (extra 11 characters)
2. Let's just say that increment on bad string fails. Implementation-wise Increment will rarely deal with the actual string pa

[2017-07-31 19:24] SergeyKanzhelev commented on #146
CC: @jacpull @vancem @lmolkova @qubitron

[2017-08-01 17:25] jacpull opened #149 "Reset operator definition needs more clarity in experimental correlation spec"
The relationship between the Reset operator and the Hash is not clear.

- Reset(X-Y) => X-Z: where Z = Base64Encode(RANDOM_8) // Does not use Hash
- Reset(X.Y) = X-Z:  where Z = Base64Encode(HASH_8("X.Y")) or should this be Base64Encode(HASH_8(".Y"))
- Reset(X-Y.Z) = X-P: where P = Base64Encode(HASH_8("X-Y.Z")) or should this be Base64Encode(HASH_8("-Y.Z"))
- Reset(X) = X-Z: where Z = Base64Encode

[2017-08-01 20:10] SergeyKanzhelev commented on #149
@jacpull  there is no hash operation. Only **Reset**. If you refer to the fallback option for unsupported format of `Span-base-ID` - **Reset** operation should be applied. The only need to hash the `<span-base-id>` and `<level>.<level>` is if it do not match expected size or characters set. In this case hashed value may be stored in vendors' backend, but it will not participate in any request id p

[2017-08-01 20:55] SergeyKanzhelev commented on #149
I think you are trying to put an extra semantic into **Reset** operation. Or perhaps create a new **ResetHierarchy** operation. My believe that correlation protocol already has this characteristics that certain connections may be lost because the **Reset** is perfectly legit operation. Solving this particular problem of hierarchy **Reset** will not solve the overall issue.

I think we can put an a

[2017-08-01 20:57] SergeyKanzhelev commented on #146
@jacpull @vancem @lmolkova I'm closing this issue. Please re-open if you think some of this feedback still need to be addressed

[2017-08-01 20:57] #146 closed

[2017-08-01 21:01] jacpull commented on #149
I'm ok with an explicit recommendation to Hash_8(<span-base-id>.<level>..<level>) for the purposes of supporting back end inference.

[2017-08-01 21:03] jacpull commented on #149
The recommendation should invoke the Hash on the span-base-id and vector parts, i.e. everything but the trace-id.

[2017-08-02 23:08] federicobarera commented on #136
Yes, the understanding is correct.
For the same call:

2.2 -> Dependencies are found in the Search Portal Panel and in Analytics
2.3 -> Dependencies are not found in Search Portal but found in Analytics ( where operation_id == [request-operation-id]
2.4 -> Dependencies are not found in Search Portal neither in Analytics.

Sample request in 2.4:

**Request**:
operationId: adjnj3Y7QuA=
parentId: adj

[2017-08-03 16:36] saxenark opened #150 "CPU/Disk Usage per API"
Hi,

I would like to know if AppInsights out of the box has supported for providing CPU/Disk performance counters per request of my web application hosted on IIS / IAAS environment

Thanks,
Anubhav.

[2017-08-03 16:43] lmolkova commented on #136
@federicobarera

Thanks for the details.

So it seems that asynchronous context is lost after the request processing starts and before the dependency calls are done.

It may happen because there is a hop between native and managed thread in your code or in some of the components you use - e.g. in IIS (this one we should handle).

I'm afraid without the repro app we can't say for sure what's causin

[2017-08-03 16:49] SergeyKanzhelev commented on #150
It depends on your scenario. If you looking for profiling a specific request - enable [Application Insights Profiler](https://docs.microsoft.com/azure/application-insights/app-insights-profiler).

If you looking for aggregated value for specific REST calls group - closest you can do is to correlate an overall CPU and disk with this page on Performance tab

![image](https://user-images.githubuserco

[2017-08-03 17:33] jacpull opened #151 "Log format for Request Id"
The specification covers the format of the identifier as it passed across component boundaries. It does not cover the format in which the identifier should be logged. In pure hierarchical vectors (like the cV), the parent is implicit and therefore not typically logged separately. So what shows up on the header has the identical format to what is logged. But this is not quite the case for the propo

[2017-08-04 03:14] saxenark commented on #150
Hi,

Thanks.

I notice the following documentation

Limits
The default data retention is 5 days. Maximum 10 GB ingested per day.
There is no charge for the profiler service. Your web app must be hosted in at least the Basic tier of App Services.

a. Is this for all kinds of supported apps including IIS websites?
b. Can this be customized to store perf counters data for more number of days?

Also,

[2017-08-04 03:22] SergeyKanzhelev commented on #150
@qubitron can you answer those questions please?

[2017-08-04 04:10] SergeyKanzhelev commented on #151
@jacpull can you just store two identifiers in the schema as many other vendors do? In any case optimization to only use a single field to store two identifiers does not feel to be a part of a standard.

[2017-08-04 07:04] jacpull commented on #151
It should not be mandatory to use a single field. This is also not proposed as an optimization. It is simply a recommendation for systems with a common schema that uses a single field for logging the request-Id.

Most dapper like frameworks use two identifiers. However systems (like Common Schema/cV) that is predominantly hierarchical use a single field (as there is no need to separately log the p

[2017-08-07 13:35] ohadschn opened #152 "Publish PDBs in NuGet packages"
Including the PDBs even (especially?) with release builds can be extremely helpful for debugging.
This is true for all AI-related assemblies (including packages for other platforms such as ASP.NET Core).
It seems like there is a dedicated NuGet package type (_Symbol Package_) for these type of things, so if that works, even better: https://docs.microsoft.com/en-us/nuget/create-packages/symbol-pack

[2017-08-07 15:13] SergeyKanzhelev commented on #152
Symbols should be available on MS symbol server already. @cijothomas was working recently on making sure they are.

@cijothomas can you please confirm asp.net core symbols available?

[2017-08-07 15:19] SergeyKanzhelev commented on #151
I believe this and previous issue with haching of hierarchy part for `Reset` should be outlines in implementation details document outside the protocol.

W.r.t. format itself - what should be a format when the random string was received and we made it a trace-id? What if <span-base-id> didn't match the format and had dashes and dots in it? How do you propose to store identifiers in those cases?

[2017-08-07 16:57] ohadschn commented on #152
Looks like the PDB is there, I was able to download it using this handy tool: https://github.com/rajkumar-rangaraj/PDB-Downloader.

However, I can't seem to be able to use it to set a function breakpoint. For example, I tried setting a breakpoint for `Microsoft.ApplicationInsights.dll!Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.get_Active()` and it wasn't triggered. When I u

[2017-08-08 22:16] jacpull commented on #151
Based on the mismatch rules, the only concern is logging the parent/incoming value to make it compliant with the proposed log format since we already derive a compliant wire format. For this, I would recommend applying the Hash and logging it as the parent span-base-id.

Below, X is <trace-id> mismatched and Y is <span-base-id>.<level>.<level> mismatched

**Incoming:** X _(No "-" or "." in X)_
Dep

[2017-08-09 17:23] jacpull commented on #151
I'm ok with moving this & hashing out to a separate implementation guide. But I would prefer that these recommendations have consensus for all MS based implementations - including those in .NET, Common Schema loggers and AppInsights (for other languages and runtimes). Does anyone have a recommended location for iterating over this?

[2017-08-09 22:46] federicobarera commented on #136
I can see why that could possibly happen due to the switch of threads, what is still unclear to me is why it regressed from 2.2 (where everything works fine for us) to 2.4.

I'll setup a sharepoint online website and send you the repro code asap.

Cheers

[2017-08-10 19:03] SergeyKanzhelev commented on #152
I'm sorry, got distracted and haven't seen this response.

Can it be because we are using [gitlink](https://github.com/GitTools/GitLink)? Do you try to set a breakpoint in cloned repo? Did you enable source server?

[2017-08-11 12:00] ohadschn commented on #152
I enabled source server and .NET source stepping and I can now set. However I don't get the source ("Source not available", I can only see the assembler code), even when I disable "require source files to exactly match the original version".

What do you mean by setting a breakpoint in a cloned repo? If you mean clone the AI repo, run some test or something and set a breakpoint somewhere I'm prett

[2017-08-11 16:00] SergeyKanzhelev commented on #152
OK. Created a bug to investigate. Closing this issue in home repo, thanks for reporting

[2017-08-11 16:00] #152 closed

[2017-08-15 22:56] SergeyKanzhelev opened #155 "[Feedback on format] Path based ids: hard when you have the “10000” span problem"
Path based ids: hard when you have the “10000” span problem, the path based ids will get too long, @adriancole was suggesting we consider using extra metadata field for this

[2017-08-15 22:57] SergeyKanzhelev opened #156 "[Feedback on format] Do not mix base64 and base10"
mixing base64 and base10 with the path based id looks inconsistent and wrong

[2017-08-15 23:00] SergeyKanzhelev opened #157 "[Feedback on format] Base64 vs. Base16"
Base64 vs. Base16
- @bogdandrutu has found that for small strings base16 is faster than base64
- For small strings base16 nicely fits into cache lines gives you memory advantage that allows you to be faster
- @adriancole has found a lot of people preferred using hex for scenarios where you are copy/pasting logs, and there is significant community momentum behind this
- printing `long` value as hex

[2017-08-15 23:00] SergeyKanzhelev opened #158 "[Feedback on format] Need a spot for a sampling bit"
Sampling bit, needs a spot
- Problems with not sending request id: can’t tell between not sampling vs. no data, even if you don’t sample the system might find value in logging the request id to local systems
- Sampling bit: having it part of the trace-context means it’s always accessible, don’t have to pay unnecessary cost to get to the sampling decision
	Didn’t want to require baggage implementa

[2017-08-15 23:02] SergeyKanzhelev opened #159 "[Feedback on format] What was the encoding proposal for the baggage?"
Do we need human readable format like cookies or machine parseable and support types like Int, Boolean, etc

[2017-08-15 23:23] jacpull commented on #157
For the Vector/Path, a switch from Base10 to Base16 is acceptable. There is no difference on the sort.

However, a switch from Base10 to Base64 is problematic w.r.t. backwards compatibility with Base10 formats. If the  cV/request Id is passed across services that are cV 2.0 compliant and cV vNext compliant, sort across components would need to take into account the version, which is not explicit.

[2017-08-15 23:26] jacpull commented on #155
I did not full get this concern. A vector spanning 10000 spans can be single stage. Was the reference to a 10000 depth?

[2017-08-15 23:29] jacpull commented on #156
TraceId is opaque. Base64 is for efficiency. Level is not exactly opaque as it conveys a sort. Decimal representation makes this simple for humans. Base16 is also acceptable.

[2017-08-16 01:49] adriancole commented on #155
you are right that the concern is more about depth than total count of
spans. Basically, this will have a hard break at a particular depth (if
nothing else http limitations). That depth should be documented and kept in
mind when choosing encoding (or alternative means to encode). For example,
this is an issue when users do "profiler like" tracing where there is a
high depth of spans in a trace. TL

[2017-08-16 01:52] adriancole commented on #157
can't have parity in json due to json's numeric field limitations. Also, it
leaves open whether to print as a number, which not only introduces endian,
but also sign concerns. For example, the sign concern was a primary factor
in the choice to switch from numeric to lowerhex encoding in zipkin.

[2017-08-27 06:56] jjjordanmsft opened #160 "User-Agent not in contexttagkeys, allow to override the browser version field from SDK"
The data collector accepts "ai.user.userAgent" as a tag, and the value (after being interpreted) shows up in the portal as the browser version, but it's not included in the current bond schema found here.  Is there another field that ought to be used, or was it removed by accident?

[2017-08-28 15:57] SergeyKanzhelev commented on #160
This is by design. The idea is that we OK to parse user agent when it is for client side events like `PageView` from browser. Also in this case user agent is very important for telemetry.

For server side events it's rarely useful for triage and diagnostics and we do not want to parse it.

That's said - from historical perspective it was made when billing worked by # of events, not size so it was

[2017-08-28 16:01] SergeyKanzhelev commented on #160
Another issue is to expose the browser version field to allow SDK to override it. That probably should be made for all schema fields like country, etc, not only browser version.

[2017-08-28 22:31] jjjordanmsft commented on #160
Thanks, Sergey.  From a use-case perspective, it makes sense.  But I'd point out that it's been common practice among some web server admins for decades to log the user-agent.  See the [NCSA Combined Log Format](http://www.loganalyzer.net/log-analyzer/apache-combined-log.html).  [NGINX logs it by default](https://www.nginx.com/resources/admin-guide/logging-and-monitoring/), Apache does not but cal

[2017-08-29 03:43] SergeyKanzhelev commented on #160
From logging perspective customer properties works just fine.

[2017-09-06 07:25] GuofuZhong opened #161 "Export Azure SQL telemetry data to application insight or kusto"
we want to build some monitor and alert rules which are based on Azure SQL Database Query Performance Insight.
But I don't know how to implement it.
From document I'm not find the way to send metric to application insight or kusto

[2017-09-06 18:23] cijothomas commented on #161
Application Map UI pulls information from Azure SQL Performance Insights and shows in the UI. But this data is simply pulled from Azure SQL itself, not from application insights. (the data is not send to application insights at all, so no kusto query)

[2017-09-06 18:42] GuofuZhong commented on #161
Hi @cijothomas Could you share more context for us? How to pull it to SQL DB？

[2017-09-06 19:33] cijothomas commented on #161
Not clear on your question. Can you clarify a bit more? Are you asking about how to pull application insights data into SQL DB? If yes this links explains export in general..https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry

Or, are you asking about how to get data from SQL Insights into Application Insights - for this, there aren't any official sdks. But yo

[2017-09-06 19:39] GuofuZhong commented on #161
@cijothomas Thank you! I know how to do in application insights side. I want to export sql insights data to application insights.. I checked the document,But I'm not find how to export azure sql query performance insights data...

[2017-09-07 21:53] kthayer424 opened #162 "Microservice Dependency of Dependency tracking not working"
Hey, I've been looking into implementing automatic HTTP correlation as outlined in [this guide](https://azure.microsoft.com/en-us/blog/app-insights-microservices/) and it works to a degree but I'm finding that only the dependencies of the first service are correlated with the operation and the second service's dependencies are just not logged at all. In a nutshell, it seems like dependencies and c

[2017-09-15 04:49] onlyann opened #163 "Profiler not detected / running"
I have a .NET Framework 4.6.1 web application that is using version 2.4.0 of the SDK and is hosted as as an Azure App Service.

From the associated Application Insights instance, I enabled the profiler and it installed the extension. After a minute or so, the portal displays that the profiler is running.

I run a couple of requests against the web application but going to the Performance keeps dis

[2017-09-15 14:33] northtyphoon commented on #163
As the log shows, the agent was in stand-by mode as the profiler was disabled. If you click "Enable Profiler" button on the configure pane, the agent will start to profile.

[2017-09-16 00:48] onlyann commented on #163
@northtyphoon I forgot to mention that clicking on the "Enable profiler" button results in *Failed to update Profiler enable status*
![image](https://user-images.githubusercontent.com/1916218/30507777-7d8f8932-9acc-11e7-9c46-68604392ae26.png)

[2017-09-16 04:21] northtyphoon commented on #163
@onlyann Do you have the owner, contributor or application insights component contributor role?

[2017-09-16 04:53] onlyann commented on #163
@northtyphoon I was going to say yes given I created the Application Insights resource but looking at the *Access Control* tab, I can see that I am in none of the roles you mentioned. I'll get added to *Application Insights component contributor* role then and will post the result. Thanks.

[2017-09-16 15:29] northtyphoon commented on #163
@onlyann May I ask what role you had when you checked _Acess Control_ tab? Did you have any role listed in (https://docs.microsoft.com/en-us/azure/active-directory/role-based-access-built-in-roles)?

[2017-09-17 01:07] onlyann commented on #163
@northtyphoon

Not specifically a role but when I look at the permissions of `Application Insights Component Contributor`, I have all of them.

I have been assigned a non-built-in role with the following permissions:
Microsoft API Management | All
Microsoft Authorization | Partial (Read)
Microsoft Automation | All
Microsoft Azure EventHub | All
Microsoft Azure Notification Hub | All
Microsoft Azur

[2017-09-17 02:17] northtyphoon commented on #163
@onlyann Thank you very much. The above information is very helpful. I think I know what's wrong. We will push a hotfix to address the issue. Will update you later.

[2017-09-17 18:06] northtyphoon commented on #163
@onlyann please try it again and let me know if you can enable the profiler

[2017-09-17 22:51] onlyann commented on #163
Thank you @northtyphoon, it works now. What was the issue?

[2017-09-18 00:53] northtyphoon commented on #163
@onlyann it's due to a bug of validating the permission defined in the custom role. Thanks again for reporting the issue. By the way, if you have any question or suggestion, you can also send the email to serviceprofilerhelp@microsoft.com.

[2017-10-11 11:11] i02coroj opened #165 "Insights not working when using .Net Core 2.0 default builder"
Hi.
Sorry if this topic has been already discussed. I haven't found any related issue.

I've realized that no telemetry is registered in a .Net Core 2.0 applications using the default builder.
According to this link (https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#rely-on-application-insights-light-up-features) the `.UseApplicationInsights()` instruction can be removed, but if I d

[2017-10-16 10:35] Eneuman opened #166 "Application Insights Performance Counters + Service Fabric"
We have a project containing 12 Service Fabric applications and 40 services running on 5 servers.
Using the default setup for Application Insights results in 200 services sending the same performance telemetry, like server CPU and server avail mem, to AI witch uses up all of our AI storage.
All services are using .Net Core 2.

We need to reduce the amount of performance data that gets transmitted

[2017-10-17 20:02] kthayer424 commented on #136
I believe I have encountered this also after upgrading from 2.2 to 2.4. I'm running an MVC web app though and the dependency correlation is only lost on asynchronous HTTP dependency calls. I might have more info to help reproduce.

When stepping though the code line by line, it seems like the extra time doing that is helping the dependencies correlate. For example, here's a trimmed down request tr

[2017-10-17 20:47] kthayer424 commented on #136
I'll add that I see this problem about 99% of the time, not 100%. Occasionally, the http remote dependencies do get the right operation id and things link up right in the portal, but it's very rare.

[2017-10-30 18:08] darivuki commented on #166
I would be interested in this as well.

[2017-10-30 20:38] nphmuller opened #167 "SnapshotCollector release notes"
Not sure if this is the right place, so feel free to point me at the right direction if it isn't!

I just noticed version 1.1.0 has been released of `Microsoft.ApplicationInsights.SnapshotCollector`. Since the minor version has been increased I imagine some features have been added, instead of just bugfixes. So I'm trying to find out what has been changed. Can't seem to find any release notes thou

[2017-10-31 08:07] northtyphoon commented on #167
@weng5e @pharring @CawaMS

[2017-10-31 17:27] weng5e commented on #167
We are working on finding a place for our release note.

Besides bugfix, in 1.1.0 we added a feature for host memory protection. This will reduce the impact on host machine's memory. Besides, we added a feature that improve the azure portal snapshot viewing experience.

[2017-10-31 21:32] andreymir opened #168 "Application Insights Performance Counters support .net core"
Please, add support of collecting performance counters from .net core asp.net applications. We use Application Insights to monitor our web applications and in the Azure portal all charts with server metrics like CPU or memory usage are empty.
![image](https://user-images.githubusercontent.com/226866/32250034-04c9f6d8-be9c-11e7-845d-1726d57bea7e.png)

[2017-10-31 21:41] cijothomas commented on #168
Duplicate: https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/470
.net core does not have an api to read perf counters. perf counters are collected if targetting full .net framework.

Will update on the original issue, if and when we plan to support this feature.

[2017-10-31 21:55] andreymir commented on #168
Thanks! This should be documented in the article [System performance counters in Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-performance-counters). There are no information in this guide that it is only for full .Net framework.

[2017-11-01 15:39] cijothomas commented on #168
Thanks for reporting. Will update the documentation.
https://github.com/MicrosoftDocs/azure-docs/pull/3678/files

[2017-11-01 23:32] nphmuller commented on #167
Ok, thanks!

[2017-11-10 12:50] timvandenhof commented on #136
Actually we are seeing issues from upgrading from 2.3.0 to 2.4.0. HttpClient calls seem not to be tracked as dependency since then. Other dependencies are being tracked fine.

Tried with 2.4.1 and 2.5.0-beta but same issue. Seen this happening on two applications so far. Still verifiying the issue on a smaller scale, if reproducible I consider creating a seperate issue. Might be related to what is

[2017-11-10 17:33] SergeyKanzhelev commented on #136
@timvandenhof - do you see dependency events not being correlated or not collected at all?

@zakimaksyutov noticed that some failed calls via HttpClient may not be collected. Is it the case? Or successful calls not collected as well?

CC @lmolkova explicitly.

[2017-11-10 18:23] cijothomas commented on #136
perfview is the easiest.
Another option is to add DiagnosticsTelemetryModule , and set it's verbosity to Verbose, and perhapds give a different ikey to get all logs sent to that ikey as trace.. (i can find an example if this approach is needed)

[2017-11-10 19:38] lmolkova commented on #136
@cijothomas, thanks for the help, Iet's try perfview

@timvandenhof
Could you please also try to reproduce the problem with (`DisableDiagnosticSourceInstrumentation` set to false - by default)?

Please at the same time collect EventSource logs:
1. Download PerfView https://www.microsoft.com/en-us/download/details.aspx?id=28567
2. In PefrView,
 - chose Collect->Collect from the menu
 - expand "Adva

[2017-11-11 11:40] ohadschn opened #170 "Compatibility with Google Analytics"
I want to use Application Insights exclusively but the extremely annoying 0.0323 GB daily data cap prevents me from doing so (I have no intention of removing my account's spending limit).

How well does Application Insights play along with Google Analytics (whose 10M hits/month is well above my needs)? Are they stepping on each other's toes by registering to the same global handlers etc.?

[2017-11-15 19:58] KamilSzostak commented on #170
Application Insights is more developer oriented. It collects performance metrics, exceptions, etc. which aren't collected by Google Analytics.
On the other hand, Google Analytics collects a lot of usage metrics, which you can combine with your ad campaign, acquisition (e.g. Google's search queries which lead people to your page) or ad sense revenue.  All of that can be achieved in JavaScript SDK,

[2017-11-15 21:02] ohadschn commented on #170
Thank you for the explanation, but that just makes my question even more interesting!
If they serve different goals, then it makes sense to have them side by side, which raises the question - is this a supported scenario that should work well?

[2017-11-15 22:55] KamilSzostak commented on #170
Yes, I've seen customers using both AppInsights and Google Analytics on their websites. The JS SDK should work fine with any telemetry collection library.
The JS SDK is monitoring all dependency calls, so if another library is using ajax to transmit telemetry you may even get some insights into how long does it take and what's a success rate :)

[2017-11-16 10:27] ohadschn commented on #170
Nice, thanks for verifying :)

[2017-11-16 10:27] #170 closed

[2017-12-05 03:41] ligcire opened #171 "Unable to find assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.2.0"
Hi,

we are getting the following exception after we switch on appinsight on our web app, any idea what went wrong?

Unable to find assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

we have System.Diagnostics.DiagnosticSource 4.4.0 installed using nuget

Running AppInsight 2.4.0

[2017-12-05 03:57] lmolkova commented on #171
Please check https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/613 - it's a known issue and there are few workarounds for it mentioned there.

[2017-12-05 03:57] SergeyKanzhelev commented on #171
See https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/613 for details and workaround. Please re-open that issue if it still reproes for you. I'm closing this issue.

[2017-12-05 03:57] #171 closed

[2017-12-05 03:58] SergeyKanzhelev commented on #171
=) @lmolkova - I wonder how many seconds before me you posted your reply

[2017-12-05 03:58] SergeyKanzhelev commented on #171
ok. beat me 4 seconds!

[2017-12-06 10:07] evertonmc opened #172 "Installing on precompiled .NET App: Could not load file or assembly 'App_GlobalResources' or one of its dependencies"
I get this error after installing AI Extension on Azure WebApps
Could not load file or assembly 'App_GlobalResources' or one of its dependencies. The system cannot find the file specified...

PS: My app is precompiled and has therefore no App_GlobalResources folde

[2017-12-07 05:43] SergeyKanzhelev commented on #172
@aarongas please take a look at this issue with the Azure Web Apps extension

[2017-12-07 11:38] SvenVanHauwe opened #173 "Multiple role application map, dependencies not connected to the role"
I have a solution with 2 aspnet core 2.0 web apps. A website and a web api. Configured them both to fill the Cloud.RoleName property. Both show up as seperate entities on the mult role application map.

The dependencies however are connected to a rectangle with the name of the application insights resource I used when I added application insights as a connected service.

Is there a way to set the

[2017-12-07 20:07] clguimanMSFT commented on #172
@evertonmc Are you getting the same error if you add the AI SDK to your Visual Studio project?

[2017-12-07 21:44] evertonmc commented on #172
I haven't tested it this way. I'm trying to run a non-invasive installation, without the need to rebuild...

[2017-12-07 22:00] clguimanMSFT commented on #172
I meant a local test, you don't need to release your code.
Could you go to your Kudu console and get a diagnostic dump (Tools->Diagnostic dump)? Please send that file to clguiman@microsoft.com

[2017-12-07 22:07] SergeyKanzhelev commented on #173
See http://apmtips.com/blog/2017/10/18/two-types-of-correlation/ for details.

CC: @cijothomas on how to set role name on asp.net core.

[2017-12-08 08:28] SvenVanHauwe commented on #173
@SergeyKanzhelev Thanks for the information.
In the multi role example in the blog post, the dependency starts from one of the components. In my case it does not.
![multi role application map](https://user-images.githubusercontent.com/18161108/33756998-773e443e-dbf8-11e7-9f22-139aee309869.PNG)

When I open the dependency data the property cloud_Roleinstance is filled, cloud_RoleName is not present

[2017-12-08 16:55] SergeyKanzhelev commented on #173
@SvenVanHauwe you'd need to set the RoleName from code than. Just add a [telemetry initializer](https://docs.microsoft.com/azure/application-insights/app-insights-api-filtering-sampling#add-properties-itelemetryinitializer) that will set the RoleName for all telemetry.

[2017-12-08 17:40] RicardoNiepel opened #174 "Finally block will not be called for exceptions ending an application - examples correction needed"
At
https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking

Most of the samples having the same pattern
[code]

The issue is, that StopOperation get's never called because of the rethrow.

You can try it on your own:

[code]

[2017-12-08 17:44] SergeyKanzhelev commented on #174
CC: @lmolkova

It seems that this is by design and you need to account for this case in your code.

@lmolkova - it worth mentioning on the doc page. Can you send PR with this note?

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/try-finally

[2017-12-08 18:41] lmolkova commented on #174
I'll be working on this document anyway, so I will mention it there.
I'm not sure it scales well though. There are plenty of other language-related corner cases that we cannot cover in each code sample.

[2017-12-08 18:43] SergeyKanzhelev commented on #174
I think a simple Note or Warning on the page will suffice

Like this:
![image](https://user-images.githubusercontent.com/9950081/33780161-a93e74e8-dc04-11e7-8b5a-a2f7147055bf.png)

[2017-12-08 21:16] alexmarshall132 opened #175 "Set-AzureRmApplicationInsightsDailyCap cmdlet in the AzureRM.ApplicationInsights PowerShell module is completely broken"
Set-AzureRmApplicationInsightsDailyCap is completely broken.
Issuing a command with parameter set -ResourceGroupName myrg -Name myaiinstance -DailyCapGB 10 yields the following output:

Cap ResetTime StopSendNotificationWhenHitCap
--- --------- ------------------------------
 10         0                          False

... yet when viewing the configuration in the portal, we see it remains unchan

[2017-12-08 21:23] SergeyKanzhelev commented on #175
@frankguodongchen please take a look or redirect

[2017-12-08 22:23] frankguodongchen commented on #175
@alexmarshall132 could you try refresh the portal? the portal does not auto refreshed after set from the command. If it still does not work, could you give me the ikey/resource uri of your component and we will take a look on it, thanks!

[2017-12-09 02:01] alexmarshall132 commented on #175
Hi Frank,

Sure, can you please provide me an email to whichi can send the Uri? I'd
prefer not to post it on an open forum

Alex

On 8 Dec 2017 3:23 PM, "Frank Chen" <notifications@github.com> wrote:

[2017-12-09 02:04] frankguodongchen commented on #175
@alexmarshall132 Please send to fchen@microsoft.com. Thanks!

[2017-12-11 07:41] SvenVanHauwe commented on #173
That's exactly what I have done, changed the template's Program.main method to
            `var webhost = BuildWebHost(args);`
            `TelemetryConfiguration.Active.TelemetryInitializers.Add(
new MultipleComponentTelemetryInitializer("Fictional api"));`
 `webhost.Run();`

The MultipleComponentTelemetryInitializer class just sets the cloud_rolename to the constructor parameter. I am using the

[2017-12-11 08:03] SvenVanHauwe commented on #173
@SergeyKanzhelev thanks, that works

[2017-12-11 08:03] #173 closed

[2017-12-12 13:36] thiagodds opened #176 "Error when using SnapshotCollector"
I'm trying use SnapshotCollector version 1.1.0 and I'm trying send the exception to AI with this code:

`var telemetryClient = new TelemetryClient();
 telemetryClient.TrackException(exception);`

But this code throw this exception:

![image](https://user-images.githubusercontent.com/2293088/33887047-9ac7ae92-df2f-11e7-889d-1f43175bf253.png)

How do I fix this problem?

Ps: The dll is in the error

[2017-12-14 19:52] frankguodongchen commented on #175
Resolved this with Alex offline, it is a UI refresh issue, the command works fine.

[2017-12-18 21:39] SergeyKanzhelev commented on #176
@pharring is it something you can help with?

[2017-12-21 17:38] pharring commented on #176
@thiagodds what operating system are you using? If it's Windows 7 (or older), then this is not supported. The latest beta release (1.1.1-beta2) has a check for the necessary APIs and will disable the snapshot collector if they're not present.

[2017-12-21 17:41] SergeyKanzhelev commented on #176
@pharring is it expected that it will surface as User Unhandled exception? What effect does it make on app? Will it crash?

[2017-12-21 17:49] pharring commented on #176
In my experience, the TypeInitializationException is caught inside the Snapshot Collector before reaching the user (It looks like that screenshot comes from the Visual Studio debugger). The app doesn't crash, but you don't get any snapshots.  At this point, the symptoms look the same as https://stackoverflow.com/questions/47578218

[2017-12-21 18:41] SergeyKanzhelev commented on #176
@pharring thank you for confirming. @thiagodds let us know if this is not a case and you see an application crash

[2017-12-21 21:35] #162 closed

[2017-12-22 11:51] thiagodds commented on #176
@SergeyKanzhelev My app crash in the first time when the code try use the AI, but if I send the request again, the app works and doesn't save the snapshot.

[2017-12-22 15:45] pharring commented on #176
@thiagodds I'm sorry to report that the Snapshot Collector relies on APIs (PssCaptureSnapshot) that are not present in Windows 7. To use Snapshot Collector, you will need to upgrade to Windows 8.1 or above.

[2017-12-22 17:19] SergeyKanzhelev commented on #176
@pharring is the first crash that @thiagodds mentioned expected?

[2017-12-23 16:16] pharring commented on #176
Yes, I believe it is. Please upgrade to 1.1.1-beta2 and also, if possible, move to Windows 8.1 or above.

[2017-12-23 17:44] thiagodds commented on #176
Thank you guys. I can't upgrade to windows 10 now.

[2017-12-27 06:23] Faraz2018 opened #177 "Application Insights SDK Not Running In Local Mode (ASP Core 2.0)"
Hi,

I am using VS 2017 (Community). While following the beginners' course on MVA [https://mva.microsoft.com/en-US/training-courses/aspnet-core-beginner-18153?l=AWB8596dE_6211787171](url) I came to know about Application Insights being available for running in local mode. Upon adding the same to my sample project I was surprised to find the activity to be showing 0's (zeros) for All?

I had:
1. Ri

[2017-12-29 17:59] SergeyKanzhelev commented on #176
Closing

[2017-12-29 17:59] #176 closed

[2018-01-02 17:45] SergeyKanzhelev opened #178 "Consider ASP.NET team approach for issues logging"
See https://github.com/aspnet/Announcements/issues/283

[2018-01-05 16:37] ojasp opened #179 "Application Insights temp folders do not inherit permissions"
Looks like the temp folders created under C:\Windows\TEMP\Microsoft\ApplicationInsights\ folder are not inheriting permissions from the parent folder. The owner is inherited from ApplicatonInsights folder, however the permissions are not. Permissions on these folders are:

![image](https://user-images.githubusercontent.com/15022394/34618311-56e0958c-f20c-11e7-9ab8-92127709e24d.png)

The funny thin

[2018-01-05 16:40] SergeyKanzhelev commented on #179
Great observation! This is totally intentional and the fact you seeing this behavior means that everything works. The idea here is to not allow one application to read telemetry of another.

Does this behavior cause any troubles for you? You can always override the folder to store telemetry to and SDK will not attempt to set permissions.

[2018-01-05 16:42] SergeyKanzhelev commented on #179
Please tell us about your experience. Reopen the issue if it causes troubles for you.

[2018-01-05 16:49] ojasp commented on #179
Ok, that makes sense. The issue that I am running into is that the websites are running as application pool user however we do asp .net impersonation which runs as a different user(devuser that you see in the screenshot above). The folders are created with full permissions to devuser however AI wants app pool user to have full access to those folders. I set full permissions for app pool users to a

[2018-01-05 17:02] SergeyKanzhelev commented on #179
So you see SDK complaining that it cannot persist data from the impersonated code? How does this warning surface for you?

Workaround would be to set `StorageFolder` for [channel](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/c3da6cc3c70fbd646de8c76ccae872e207365efe/src/ServerTelemetryChannel/ServerTelemetryChannel.cs#L189) explicitly - example is [here](http://apmtips.com/blog/2016

[2018-01-05 17:03] SergeyKanzhelev commented on #179
I marked issue as enhancement. Let me know what how the issue surfaced so it potentially be changed to bug =) Hopefully not though

[2018-01-05 20:32] ojasp commented on #179
Looks like setting StorageFolder under TelemetryChannel did the trick. No more access denied errors. Thanks Sergey.

[2018-01-05 20:40] SergeyKanzhelev commented on #179
@ojasp can you comment on how this issue surfaced? As warnings in the portal? Or you saw first chance exceptions in Visual Studio? This info will help to classify it - bug or enhancement.

[2018-01-05 20:49] ojasp commented on #179
I saw the errors under Live Metrics Stream on Azure Portal. I got the following error, and then I started digging a little and ended up here:

 at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
 at System.IO.FileSystemEnumerableIterator`1.CommonInit()
 at System.IO.FileSystemEnumerableIterator`1..ctor(String path, String originalUserPath, String searchPattern, SearchOption sea

[2018-01-09 05:42] SergeyKanzhelev commented on #179
Thank you! I opened an issue to track in appropriate repository

[2018-01-09 05:42] #179 closed

[2018-01-19 11:04] larserikfinholt commented on #163
I got this issue: Failed to get Profiler enable status. The for each linked app I get a warning "Profiler is disabled." Each app got an right clik option of reinstalling the profiler, but still no luck.

What was the sln?

[2018-01-19 17:07] SergeyKanzhelev commented on #163
@larserikfinholt - reopening to bring the issue to attention. @northtyphoon can you help?

[2018-01-19 23:48] juliusl commented on #163
Hi @larserikfinholt -

So for the first issue this could be an intermittent issue coming from the app insights resource provider, but I would like to dive in more. Could you please send me an email to serviceprofilerhelp@microsoft.com with your instrumentation key so I can look at telemetry on our side. For some context you require write permissions on the AI resource in order to disable or enable

[2018-01-22 12:42] twschiller opened #180 ""Exceptions" metric not available in Add Alerts blade"
The "Exceptions" metric, which tracks incidences of Track Exception events [1] is not available as a metric in the Add Alert blade for Application Insights.

We're working with the Python client library [2], and trying to figure out how to set up alerts for server exceptions.

[1] https://docs.microsoft.com/en-us/azure/application-insights/app-insights-performance-counters#aspnet-and-application-i

[2018-01-22 16:59] SergeyKanzhelev commented on #180
@vgorbenko can you please check why there is no Exception metric available?

[2018-01-22 17:57] twschiller commented on #180
For reference, here are a couple responses from Azure support:

On the exclusion of "Exceptions" from the Add Alerts blade:

[2018-02-01 07:46] joergjo commented on #163
I'm facing the same issue. I've tried this with App Services and Compute for ASP.NET and ASP.NET Core in West Europe, North Europe, and East US. I even managed to enable profiler for a Web App after stopping it, but later I saw that it had reverted itself to the disabled state. I've sent more details to [serviceprofilerhelp@microsoft.com](mailto:serviceprofilerhelp@microsoft.com).

[2018-02-01 17:06] ewahner commented on #171
None of these workarounds work for me.  I have installed the latest pre-release of 4.4.1 and this is still a problem.  Do you have a solution for Azure hosted sites?

[2018-02-01 17:09] lmolkova commented on #171
@ewahner the latest stable 4.4.1 does not have a fix, you would need 4.5.1 preview for it from dotnet myget feed, details how to obtain it are in the https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/613. It should work on Azure hosted sites.

[2018-02-01 19:09] ewahner commented on #171
Still getting this error after adding the new version from the myget feed: Could not load file or assembly 'System.Diagnostics.DiagnosticSource' or one of its dependencies.

[2018-02-01 20:17] lmolkova commented on #171
@ewahner could you please share the stack trace?

Also, could you repro it locally on your machine? would you be able to create a repro app?

[2018-02-01 21:26] ewahner commented on #171
@lmolkova apparently one of my webjobs was causing the NuGet restore step to overwrite the version of the package.  Got that resolved and it does seem to work now.  Thanks.

[2018-02-01 23:07] lmolkova commented on #171
@ewahner thanks for the update, good to know it works for you!

[2018-02-06 21:44] darrenferguson commented on #163
Hello, the email above is no longer valid - and I am receiving the same issue - I have the permission detailed above and have checked the webjob is running.

Can anyone assist?

![image](https://user-images.githubusercontent.com/2164132/35885761-d34cb630-0b86-11e8-9a7e-57c2a9edb700.png)

[2018-02-06 21:56] pharring commented on #163
We're looking into it.
@darrenferguson two things:
1. The serviceprofilerhelp@microsoft.com alias was working this morning. We've been helping @joergjo on that alias. How do you know it's not valid? Did you get an undeliverable message?
2. Are you using Chrome? If so, can you try a different browser (Edge or IE)? That appears to be the common cause with other users hitting this problem.

[2018-02-07 09:33] darrenferguson commented on #163
I've logged in this morning using IE and the profiler is enabled.... I didn't do anything additional.

Regarding the email address, I just got a message undelivered response.

I now have dependencies in the performance profiler but no "operations"....

[2018-02-08 05:53] dhaval24 opened #181 "Ingestion Payload Size needs increment and Exception Telemetry Datastructure need to be tight bounded"
Exceptions can sometimes be very deep especially in Java where there can be a long chain of Throwable and it's causes. This can lead to potential explosion of json payload.

Today our Ingestion endpoint has maximum capacity to ingest max payload of 2^16 characters, which is considerably small for deep exception telemetry.

Our ExceptionTelemetry Data Structure does not imply strict restriction pol

[2018-02-08 06:00] SergeyKanzhelev commented on #181
Ok. Which new limits do you propose to add. I'm all for limiting everything - please suggest reasonable numbers

[2018-02-08 06:06] dhaval24 commented on #181
@SergeyKanzhelev this is a debatable question. Do you have any idea on the norm in industry for JVM languages? If not I will do some research around this to propose a number.

[2018-02-08 15:49] bayfall commented on #163
Same issue here "Failed to update Profiler enable status", despite the fact the Profiler Agent Status reports that all is fine.
![insights](https://user-images.githubusercontent.com/1055626/35982311-675463bc-0ce7-11e8-9fce-9a786e30ab1b.png)

[2018-02-13 19:16] premchandpl opened #182 "App Insights - Continuos Export"
Hi

I am configuring continuous export in app insight. I have the data in app insights from 31 Jan 2018. But I configured continuous export on 12th Feb 2018. In the blob storage, I am able to see the data from 12th Feb 2018 and not from 31st Jan 2018.

How do we get data into blob storage from App Insights starting from 31st Jan 2018

-Premchand

[2018-02-14 22:27] Dmitry-Matveev commented on #182
Continuous export feature starts forwarding data into the blob of your choice from the moment that feature is configured - it works off the current data stream and not retrospectively.
To export data from the past, you can use [Application Insights API](https://dev.applicationinsights.io/).

[2018-02-14 22:27] #182 closed

[2018-02-16 11:09] nphmuller commented on #167
Same question. Which bugs have been fixed for version 1.1.1 en 1.1.2 :)

[2018-02-16 17:28] SergeyKanzhelev opened #183 "Make sure Application Insights extension works with the Run-From-Zip deployment"
Validate that Application Insights Web App Extension works with Run-From-Zip feature:
https://github.com/Azure/app-service-announcements/issues/84

CC: @clguimanMSFT @alexklim

[2018-02-16 17:34] pharring commented on #167
1.1.2 fixes a couple of customer-reported issues:
1. Correct handling of SqlException where the inner exception (Win32Exception) is not actually thrown.
2. Trim trailing spaces on symbol folders which caused a mis-parse of command-line arguments to the MinidumpUploader.

One other bug fix:
1. Prevent infinite retry of failed connections to the Snapshot Debugger agent's endpoint.

We also augmented

[2018-02-16 17:48] clguimanMSFT commented on #183
Run-From-Zip feature will be supported starting with version 2.4.9 **only for ASP .Net Core applications**.
Support for ASP .NET application will soon follow.

[2018-02-16 17:49] SergeyKanzhelev commented on #183
Thanks for confirming @clguimanMSFT  This is what I suspected.

[2018-02-21 16:15] hrboyceiii opened #184 "Azure Web Sites Extension sets AppInsights JS SDK across all Web Apps in App Service Plan"
Hello --- apologies if this is not the right forum...

I'm seeing an issue whereby, if I host multiple Web Apps in the same app service plan and install the extension (2.4.8 as of 21 Feb 2018), all web apps get the JS SDK from the first site that installs the extension.  Example:

- Provision Service Plan A
- Provision App Insights Component A1 (iKey 1234)
- Provision Web App 1 in Service Plan A
-

[2018-02-23 00:55] juliusl commented on #163
@darrenferguson @bayfall We think we have a mitigation. Do you mind seeing if you still see the issue in the portal? Any browser is fine.

[2018-02-23 00:55] juliusl commented on #163
+ @larserikfinholt

[2018-02-26 22:47] hrboyceiii commented on #184
Any thoughts on this? Is it possible to deploy a different version of the extension?

Thank you

[2018-02-26 22:51] SergeyKanzhelev commented on #184
+ @iusafaro, @clguimanMSFT and @pharring to help with Azure Web App extension question

[2018-02-27 02:02] hrboyceiii commented on #184
@clguimanMSFT the app setting is not present.  I need to get approval to send the dumps and web app name but once I do, I'll send you the email.  Thanks for the response.

[2018-02-27 18:34] SergeyKanzhelev opened #185 "Transition Azure Web App extension to nuget.org"
See instructions: https://github.com/Azure/app-service-announcements/issues/87

CC: @clguimanMSFT @AlexKlim @pharring

[2018-02-27 18:54] figuerres opened #186 "Allow to customize live metrics UI based on platform / app type"
I am looking at using AI on an Angular 4/5/6 SPA.
the client js version i see is 1.xxx  in the portal the live stream view refers to installing the asp.net server package.
so is Live stream dependant on an IIS server ?
can a JS / SPA app get live stream ?

please create a document that lists what AI features can be used by which application types.

[2018-03-06 19:18] pharring commented on #167
# [1.2.0](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.2.0)

The biggest change in this version (hence the move to a new minor version number) is a rewrite of the snapshot creation and handling pipeline. In previous versions, this was implemented in native code (ProductionBreakpoints*.dll and SnapshotHolder*.exe). The new implementation is all managed code with

[2018-03-07 01:03] #159 closed

[2018-03-07 01:03] #158 closed

[2018-03-07 01:03] #157 closed

[2018-03-07 01:03] #156 closed

[2018-03-07 01:03] #155 closed

[2018-03-07 01:04] #149 closed

[2018-03-07 01:05] SergeyKanzhelev commented on #93
This issue was fixed out of the box in 2.5

[2018-03-07 01:05] #93 closed

[2018-03-07 01:07] #178 closed

[2018-03-07 01:08] SergeyKanzhelev commented on #172
@clguimanMSFT is it fixed now? Can I close the issue?

[2018-03-07 01:09] SergeyKanzhelev commented on #168
Closing as we have a corresponding issue in proper repository

[2018-03-07 01:09] #168 closed

[2018-03-07 11:04] nphmuller opened #188 "SnapshotCollector non-Windows OS support"
This is probably not a new request, but I couldn't find an issue for it so I've created this one.

We're currently in progress of moving our .NET Core app from a Windows-based platform to a Linux-based platform. The snapshot collector is the only dependency we currently have that doesn't support that.

Is this currently on your roadmap? If so, do you have any indication whatsover when it might be

[2018-03-07 16:40] clguimanMSFT commented on #172
I've talked with @evertonmc offline and I was waiting for him to perform some debug actions. He hasn't replied in a while.
I think you can close the issue if @evertonmc is ok with it.

[2018-03-07 16:47] SergeyKanzhelev commented on #172
Closing for now than

[2018-03-07 16:47] #172 closed

[2018-03-07 16:58] SergeyKanzhelev opened #189 "time in envelope should preserve microseconds"
[Schema](https://github.com/Microsoft/ApplicationInsights-Home/blob/6042458ed79fb6f45c7e05d7d935cbc1e2e33c8e/EndpointSpecs/Schemas/Bond/Envelope.bond#L17-L25) of envelope supports microseconds for time property:

Analytics portal [allows to query](https://docs.loganalytics.io/docs/Language-Reference/Scalar-functions/datetime_part()) date time parts down to nanoseconds:

SDK sends microseconds as a

[2018-03-07 17:00] SergeyKanzhelev opened #190 "Duration should preserve microseconds"
Similar to https://github.com/Microsoft/ApplicationInsights-Home/issues/189 `duration` fields in schema supports sending microsecond intervals. Application Insights endpoint cuts down the precision to milliseconds.

[2018-03-07 17:01] SergeyKanzhelev commented on #188
+ @pharring to follow up

[2018-03-07 18:20] pharring commented on #188
Linux support (along with containers) has been on our backlog for a long time. Unfortunately, since it's such a big work item, it keeps getting pushed down the priority stack by other things. Thank you, though, for asking. Now we have at least one interested customer! Anyone else reading this that wants SnapshotCollector on Linux, feel free to comment or '+1' the original request.

There are four

[2018-03-08 16:52] ScottColson opened #191 "Add isolated application support to dotNet Base"
I frequently create plugins as dotNet extensions to the Microsoft Dynamics
CRM platform. These plugins generally run in isolation and don't have
access to the host drive or Environment data. Therefore the plugins will
error out with a security exception when AI initializes.

I have developed work around to this issue that allows the calling app
to inject a custom platform via TelemetryConfiguratio

[2018-03-08 21:15] SergeyKanzhelev commented on #191
We fixed one of partial trust issue: https://github.com/Microsoft/ApplicationInsights-Home/issues/87

It will be helpful if you can identify other problems. If you can make it in form of PR for the unit tests projects - it will be very helpful.

[2018-03-13 16:53] zakimaksyutov commented on #186
@figuerres, good point about a list of features per type.

Answering your question about live stream. Currently the following languages are supported: Java, .NET Core, .NET Classic

[2018-03-15 20:47] ScottColson commented on #191
The plugins that I create for CRM use NET4.5.2 and need to run within a Microsoft.crm.sandbox.workerprocess. I know how to create unit tests and PRs but I don't know how to create a unit test that simulates what this process host allows and my searches have not yielded much. Do you have some recommended resources about simulating sandboxed services during unit test?

I have identified the followin

[2018-03-16 15:40] SergeyKanzhelev commented on #191
Thank you for analysis. Ultimately you can load test assembly in separate AppDomain as a plugin. See [here](https://stackoverflow.com/questions/1357231/restrict-plugin-access-to-file-system-and-network-via-appdomain) for instance. Remoting namespace call you mentioned [requires](https://msdn.microsoft.com/en-us/library/system.runtime.remoting.messaging.callcontext.logicalgetdata%28v=vs.110%29.aspx

[2018-04-02 17:21] pharring commented on #167
# [1.2.1](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.2.1)

- XML Doc comment files are now included in the Nuget package.
- Added an `ExcludeFromSnapshotting` extension method on `System.Exception` for scenarios where you know you have a noisy exception and want to avoid creating snapshots for it.
- Added an `IsEnabledWhenProfiling` configuration property, def

[2018-04-03 09:59] ifle opened #194 "How to define the cloud_RoleName in the Spring Boot 2 Java application?"
How to define the cloud_RoleName in the Spring Boot 2 Java application?

[2018-04-03 10:10] #194 closed

[2018-04-03 14:35] SergeyKanzhelev commented on #194
Did you find the answer yourself? Or you do not need it any longer? Just curious for the record here

[2018-04-03 14:45] ifle commented on #194
My mistake. I copied this question to ApplicationInsights-Java page

[2018-04-04 17:01] tafahmy opened #195 "Missing state and city infromation blocking all geo targeting campaigns"
In the past we used to use the information from the first 3 octets of the IP address to be able to resolve the customer geo location and target them for marketing campaigns.
With the recent change to set all octets of the IP address collected by client/server side SDKs to Zero (https://blogs.msdn.microsoft.com/applicationinsights-status/2018/02/01/all-octets-of-ip-address-will-be-set-to-zero/) the

[2018-04-04 17:11] SergeyKanzhelev commented on #195
@tafahmy are you talking about telemetry from client apps (browser, desktop) or from server apps? For server side there is a workaround to store an original IP address so you can keep older logic in tact. This workaround is described in the blog post you linked.

@acearun - I remember you had plans to improve geo-mapping. Any updates on this workstream?

[2018-04-04 21:21] SergeyKanzhelev opened #196 "Deprecate NodeName from schema"
With the change of billing model https://azure.microsoft.com/en-us/blog/introducing-a-new-way-to-purchase-azure-monitoring-services/ we need to deprecate `NodeName` property.

[2018-04-04 21:40] #196 closed

[2018-04-07 03:25] rdagumampan opened #197 "AI: Server telemetry channel was not initialized."
Hi AI Team,

I am trying to instrument my service using AI but I am not getting the server metrics in the server. This TRACE message shows up in the "Search" in AI portal but I can't figure why or how to fix this. The only thing we did special is to override the cloudRoleName using customer initializer so we can see multiple instances of same service in the single application map.

**Trace Message

[2018-04-11 05:06] #191 closed

[2018-04-11 05:07] SergeyKanzhelev commented on #191
Moved to the proper repo.

[2018-04-11 05:12] SergeyKanzhelev commented on #177
Moved to aspnetcore repo so the issue will take more attention

[2018-04-11 05:12] #177 closed

[2018-04-11 05:14] SergeyKanzhelev commented on #180
@twschiller thank you for posting resolution and filing issues in corresponding repositories. Closing it here

[2018-04-11 05:14] #180 closed

[2018-04-11 05:26] SergeyKanzhelev commented on #119
nlog target wouldn't collect any request telemetry items. The described behavior may happen if you are running ASP.NET Core 2.0+ application. For these applications Visual Studio will enable requests collection when running locally in Visual Studio. Please follow appropriate [instructions](https://github.com/Microsoft/ApplicationInsights-aspnetcore#getting-started) to enable requests tracking

[2018-04-11 05:26] #119 closed

[2018-04-11 05:28] SergeyKanzhelev commented on #117
I believe this issue might go away with the latest version of Application Insights SDK. Please try it out and re-open an issue if it still exists

[2018-04-11 05:28] #117 closed

[2018-04-11 05:28] #130 closed

[2018-04-11 05:29] SergeyKanzhelev commented on #136
This issue is being tracked in separate repository now. Closing it here

[2018-04-11 05:29] #136 closed

[2018-04-11 05:31] SergeyKanzhelev commented on #131
Dup of this: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/176 Mark as moved and closing it here

[2018-04-11 05:31] #131 closed

[2018-04-11 05:32] #103 closed

[2018-04-11 05:32] SergeyKanzhelev commented on #134
closing. Please re-open if it is still an issue

[2018-04-11 05:32] #134 closed

[2018-04-11 05:33] #94 closed

[2018-04-11 05:59] SergeyKanzhelev commented on #126
we will need more information to effectively investigate. Closing an issue. Please reopen if needed

[2018-04-11 05:59] #126 closed

[2018-04-11 06:01] SergeyKanzhelev commented on #95
Remaining problem higlighted here is this https://github.com/Microsoft/ApplicationInsights-Home/issues/189 Closing

[2018-04-11 06:01] #95 closed

[2018-04-11 06:06] SergeyKanzhelev commented on #81
Reading it again I think it is not an issue as Kusto cast duration to datetime format. This [query](https://analytics.applicationinsights.io/Demo?q=H4sIAAAAAAAAA0tJLUjNS0nNS85MLVaoUSguzc1NLMqsSlVILEvXSCktSizJzM%2FTBADJU6JmJgAAAA%3D%3D&timespan=P1D) works as expected: `dependencies | summarize avg(duration)`

[2018-04-11 06:06] #81 closed

[2018-04-11 06:09] SergeyKanzhelev commented on #128
Closing as issue not actionable. Application Insights does some work in-process and expect to slow down an execution. If it increase the latency significantly - do you have numbers?

[2018-04-11 06:09] #128 closed

[2018-04-11 06:28] SergeyKanzhelev commented on #150
Yes, billing is independent of application type and platform

No. Vote here: https://feedback.azure.com/forums/357324-application-insights/suggestions/17454031-longer-data-retention

CPU counters sent once every minute. This is not customizable. See https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/142

Yes. in `performancecounters` table

[2018-04-11 06:28] #150 closed

[2018-04-11 06:30] SergeyKanzhelev opened #200 "Status Monitor update button un-discovereable"
Update of Status Monitor is important so latest SDK with many critical bug fixes will be used. However the update button is not discoverable:

![image](https://user-images.githubusercontent.com/9950081/38599880-00b1ac04-3d17-11e8-87ea-cba6992ffb5b.png)

![image](https://user-images.githubusercontent.com/9950081/38599882-036480ac-3d17-11e8-8de5-e3e1fb3cc195.png)

Without an update old version is us

[2018-04-11 06:32] SergeyKanzhelev opened #201 "Wrong error message on timeout: No valid or unexpired Microsoft Azure subscriptions available"
Status Monitor shows incorrect error message on timeout of reading the subscriptions

![image](https://user-images.githubusercontent.com/9950081/38600008-7129b7b0-3d17-11e8-9f7e-2cbf2f5f4a4d.png)

Long wait:

![image](https://user-images.githubusercontent.com/9950081/38600022-77372796-3d17-11e8-94af-728b2ca7d818.png)

[2018-04-11 06:33] SergeyKanzhelev opened #202 "Status Monitor do not allow valid ARM resource groups"
Single letter names for resource groups are allowed by Azure, but not allowed by Status Monitor:

![image](https://user-images.githubusercontent.com/9950081/38600034-866d8fac-3d17-11e8-8760-a90962ddbb9f.png)

[2018-04-11 06:39] SergeyKanzhelev commented on #166
Version [2.2.0-beta3](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/61df2b6170396383c44dd732ea493f8e45c87c2f/CHANGELOG.md#version-220-beta3) of Performance Collector module introduced the `DefaultCounters` property that can be cleared out to get rid of automatic collection of un-needed counters.

Closing this issue and I'll create another one in ServiceFabric repo

[2018-04-11 06:39] #166 closed

[2018-04-11 06:42] #163 closed

[2018-04-11 06:44] SergeyKanzhelev commented on #77
session ID and user ID can be used independently in a current design. So it is logical to not make one be a child of another.

[2018-04-11 06:44] #77 closed

[2018-04-11 17:16] lmolkova commented on #174
We do have `Warning: in some cases unhanded exception may prevent finally to be called so operations may not be tracked.` [here](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking#outgoing-dependencies-tracking)

[2018-04-11 17:19] #174 closed

[2018-04-11 20:34] macrogreg opened #205 "Process improvement for making bond changes (require bond builds to merge PRs?)"
Hi Core SDK Folks,

In this email I am flagging an issue with dealing with making bond updates.
I do not have to do this often, and I will am OK with however you choose to prioritize and address this (or not). My goal is merely to bring this to your attention and to make a suggestion:

My goal was to add a single field to `DataPoint.bond`. I was following the existing process that Sergey also rece

[2018-04-11 21:55] SergeyKanzhelev commented on #205
Feel free to contribute. Both are great suggestions! The issue is we do not have enough time to make improvements in this process. And since it was not happening too often - it was OK to keep it this way. You can see that our bond generator tool is a mess and need a little bit of love as well.

[2018-04-12 01:49] macrogreg commented on #205
Totally get the lack of time issue. :)
Given that these things happen, indeed, not very often, one option of how we could do (2) is to require that people manually import the updated bond into the .NET SDK and get a clean build. They do not need to push that import to the .NET Repo. Just get a clean build. That would make sure that the updated bond is valid. But it's just an idea, I 'll let you de

[2018-04-12 05:13] SergeyKanzhelev commented on #161
I think this is the solution: https://docs.microsoft.com/azure/sql-database/sql-database-metrics-diag-logging

Please re-open issue if you need other logs or have more questions

[2018-04-12 05:13] #161 closed

[2018-04-12 15:53] SergeyKanzhelev commented on #205
Sounds good. Please send PR for schema modification instructions. I agree that as a minimum it may be addressed by clear steps description.

[2018-04-13 19:59] neutrongenious commented on #188
faced same issue during a new version roll out of services to docker. this is a blocker for us.

[2018-04-17 19:30] pharring commented on #188
@neutrongenious My previous answer still stands. Sorry the news is not better.

[2018-04-18 14:06] rstirling opened #212 "Negative CPU values on Server Details"
Hi,

My application is presenting negative CPU values at Server>Server Details panel. This behavior is normal?
![image](https://user-images.githubusercontent.com/7254787/38936964-083962d0-42f0-11e8-8ef0-6c9ec3ae09dc.png)

[2018-04-18 15:28] SergeyKanzhelev commented on #212
What language? Where an application was deployed?

[2018-04-18 16:01] rstirling commented on #212
Hi @SergeyKanzhelev ,

The application is deployed on development machine. The default language is English. It's a Java application running on Tomcat Server using version 2.0.2 AI agent/libs.

[2018-04-18 16:03] SergeyKanzhelev commented on #212
Thank you for details! I moved issue to correct repository so owners will take a look and reply to you.

[2018-04-18 16:03] #212 closed

[2018-04-24 20:18] ryan9018 opened #215 "Because of security restrictions, the type System.Runtime.Remoting.ObjRef cannot be accessed."
Hello,

I am experiencing issues with v 2.5.1 of Application Insights. We have a windows service that makes some method calls using reflection to some external VB assemblies. When I attempt to wrap these calls via:

using (var requestOperation = telemetryClient.StartOperation(requestTelemetry))
{
      // reflection method call
}

I am seeing the error posted in the title of this issue: Because of

[2018-04-30 12:08] Ruud-cb opened #216 "AI in Azure portal: Show more details of events"
Hi,

The events are a nice way of categorizing things, but unfortunately it does not show details as how the rest of the telemetry items.

![image](https://user-images.githubusercontent.com/10037514/39426229-548c753a-4c7f-11e8-9f36-f83e28644354.png)

Is there a way I can configure to always show the first Custom Data entry? Or is there a default name convention that will be shown below it?

![imag

[2018-04-30 15:37] SergeyKanzhelev commented on #216
@zakimaksyutov do you think this feature can be implemented?

[2018-04-30 16:53] zakimaksyutov commented on #216
@Ruud-cb, our recommendation is to use Analytics for such experiences. For instance,

[code]

Then you can use 'project', 'where' clauses to filter out events and what to show.

[2018-04-30 17:10] SergeyKanzhelev commented on #216
@Ruud-cb if you think this UI feature is needed - please suggest it on http://aka.ms/aiuservoice.

@zakimaksyutov suggestion should work for scenario you asked. ([tabular operators](https://docs.loganalytics.io/docs/Language-Reference/Tabular-operators) `project`, and `extend` may help to make this experience even better).

[2018-04-30 17:11] SergeyKanzhelev commented on #216
Please feel free to re-open issue if you need more asssistance

[2018-04-30 17:11] #216 closed

[2018-05-01 08:48] Ruud-cb commented on #216
@zakimaksyutov Thanks for your feedback and suggestion. However this would not be user friendly, maybe it helps to explain how I work:
I am currently getting a lot of Events with the critical status because I enabled a generic error handler in the front-end, currently it spits out a lot of false-positives. Once I fixed/filtered it out I don't have to open them once again. Eventually if one serious

[2018-05-03 19:05] pharring commented on #167
# [1.2.2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.2.2)

- The files needed for SnapshotUploader(64).exe are now embedded as resources in the main DLL. That means the SnapshotCollectorFiles folder is no longer created, simplifying build and deployment and reducing clutter in Solution Explorer. Take care when upgrading to review the changes in your .csproj fi

[2018-05-03 21:51] seanksullivan commented on #200
Actually, we need a newer, official, core Application Insights release... probably: 2.5.1.
Does the status monitor tool code exist within GitHub?

[2018-05-03 22:11] SergeyKanzhelev commented on #200
@seanksullivan this issue is about UI problem. Can you please create a separate one with the request to update the version of SDK? Thank you in advance

And - no, Status Monitor is closed source now

[2018-05-04 01:12] yantang-msft opened #219 "What's the usage of Envelope.name property?"
I'm wondering what's the usage of the [Envelope.name](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Bond/Envelope.bond#L15) property?
This is a required field, but it looks like I can put any strings and the telemetry is still processed correctly.
However, it feels like there is a longer latency before the telemetry can be queried, not sure if it's a mispe

[2018-05-04 03:41] SergeyKanzhelev commented on #219
`Envelope.name` is used as a type now. There are discussions to use it as `name` or remove it.

Any latency you may see is just a perception

[2018-05-04 04:47] pharring commented on #167
We have discovered a signing issue with the SnapshotUploader binaries in version 1.2.2 that will impact users in Cloud Services and custom VMs. (Incidentally, it had nothing to do with embedding them as resources). We've published a [preview of 1.2.3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.2.3-pre-20180504.2) which fixes the signing and no other changes (b

[2018-05-04 14:09] seanksullivan opened #220 "Status Monitor needs to be updated to the latest Application Insights SDK"
The Status Monitor needs to be updated to the latest Application Insights SDK.  As of 05/04/2018, the latest SDK 'release' version is 2.5.1.  This SDK version allegedly possesses the ability to track and correlate  dependencies that originated from async requests - of which is needed now more than ever.

The Status Monitor is currently using the Application Insights SDK version that was released i

[2018-05-04 15:27] SergeyKanzhelev commented on #220
@AlexKlimovMS can you please schedule this work? It is important to keep Status Monitor up to date with the latest SDK versions.

[2018-05-04 16:09] seanksullivan opened #221 "Application Insights Status Monitor requires TLS 1.0 to sign-in to Azure"
Application Insights Status Monitor requires TLS 1.0 to sign-in to Azure.  This sign-in functionality should work with TLS 1.2 communications.

[2018-05-04 16:33] yantang-msft commented on #219
I believe the endpoint is actually using [Base.baseType](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Bond/Base.bond#L9) as the telemetry type.
That's why I'm asking this question, because I set a random value for Envelope.name and see no difference in the data.

I'm working on a log forwarding scenario and currently require the ```Envelope.name``` to be

[2018-05-04 18:33] pharring commented on #167
# [1.2.3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.2.3)

- Fix strong-name signing with Snapshot Uploader binaries.

[2018-05-08 17:35] SergeyKanzhelev commented on #219
I'd suggest to keep the name consistent with other SDKs. It is used by internal teams when they redirect telemetry to their backend systems.

[2018-05-11 09:15] nikhilgirraj opened #222 "Is there any way to know the size of the Telemetry payload, especially for Exceptions?"
I am trying to understand if we are sending a lot of information to our Application Insights instance. Maybe I am attaching some really long stacktraces for well known exceptions.

I already know that I can go an set daily quota quota for ingesting telemetry on the Azure portal. What I am interested in, is knowing if my code is adding too much information in the each packet of CustomEvent, Request

[2018-05-11 10:36] dtaylor84 opened #223 "Snapshot Debugger ProblemCounterResetInterval is parsed (or documented) incorrectly for ASP.NET"
The ProblemCounterResetInterval configuration option is documented[1] as defaulting to 24 hours and the example config given for ASP.NET (non-CorE) is: <ProblemCounterResetInterval>24:00:00</ProblemCounterResetInterval>

However, this is parsed (and sets the timeout to) 24 DAYS rather than 24 hours.  Note that 23:59:59 is parsed as almost-24-hours, but ≥24 hours are not.  If you then try to increa

[2018-05-11 16:27] pharring commented on #223
@dtaylor84 Thanks for the report. You're absolutely right. Not only is this a documentation error, it's an error in the transform applied to ApplicationInsights.config which is applied when you install the nuget on .NET apps (but not .NET Core). I'll fix the docs today and get the transform fixed for the next version.

In the meantime, if you need 72 hours, use `3.00:00:00`
(It's just TimeSpan.Par

[2018-05-11 16:34] SergeyKanzhelev commented on #222
Do you mean programmatically from code? In this [msdn article](https://msdn.microsoft.com/en-us/magazine/mt808502.aspx) search for "Telemetry Processor for Item Size Calculation".

Please re-open this issue if it's not what you are looking for.

[2018-05-11 16:34] #222 closed

[2018-05-13 15:38] pharring commented on #223
@dtaylor84
The documentation has been updated to say "1.00:00:00" and the NuGet package has been fixed in [1.2.4-pre-20180513.1](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.2.4-pre-20180513.1)

I added an upper bound on ProblemCounterResetInterval at 7 days. To avoid breaking existing clients, and to fix the unintended interpretation of "24:00:00", if the TimeS

[2018-05-14 04:30] nikhilgirraj commented on #222
Sergey, thanks for writing.
Although the idea of creating a Telemetry processor is useful, I am rather looking to measure the sizes of my existing, recieved telemetry on the application insights portal. Checking it from the code would be useful if I am still developing it, and the thing is that I want to find out if I need fix something it or not.

[2018-05-14 17:26] SergeyKanzhelev commented on #222
So you need to know the size of individual item? You can use `strlen` function on individual field and than sum up sizes in Analytics. It may give you some estimated size.

Something like: `requests | project itemId, size = strlen(id) + strlen(url) + strlen(source)  + ...`

You can run `requests | getschema ` to print out the list of fields in every table.

[2018-05-16 05:52] nikhilgirraj commented on #222
That is a good idea. Do you think that the size that I get after summing up all the strlen'ed columns is the size that's considered while applying ingestion quota? Or is this just a very close estimate?

[2018-05-16 15:58] SergeyKanzhelev commented on #222
@nikhilgirraj it is a close estimate. Actual size will include some JSON attributes like quotes and commas. Also date formatting for instance may differ.

[2018-05-16 19:33] ajcvickers opened #224 "'Executed DbCommand' AppInsights Timing Discrepancy"
Originally filed as https://github.com/aspnet/EntityFrameworkCore/issues/12026 by @nex2null. Moving here because:
* The events are coming from SqlClient, not EF, so it is not an EF issue
* It looks like AppInsights is generating the timestamp, so filing here rather than on SqlClient since it seems likely that something is causing AppInsights to have some delay before it timestamps what it is displ

[2018-05-24 00:53] Dmitry-Matveev commented on #195
@tafahmy , did you try a workaround suggested by Sergey for server-side telemetry or your issue is with client-side telemetry?

[2018-05-24 14:21] nikhilgirraj commented on #222
Thank you Sergey. This was very helpful.

[2018-05-25 12:52] pgmorozov opened #225 "4.6 Framework improvements"
Hi,
What are the improvements made for 4.6 Framework AI version in comparison to the 4.5 version?
My customer considers moving to the 4.6 and wants to know what they will get from the monitoring point of view.
Thank you!

[2018-05-29 15:01] florinciubotariu opened #226 "Can't enable exception collection in Visual Studio 17"
In Visual Studio 17, we can configure our Application Insights Configuration from the UI.
The third step is meant to Enable exception collection.

If you already have a AiHandleErrorAttribute file that is excluded from the project, you will never be able to successfully Enable Exception Collection.
Further more, this happens if you have an empty ErrorHandler folder.

In order to solve this, you ha

[2018-05-30 18:05] gardnerjr commented on #226
@SergeyKanzhelev which version is "the newest version" here?  what's the minimum version that can do this autoregistration, and what happens if it was already specified? (like someone upgrading from an older sdk to a newer one?)

[2018-05-30 18:23] lmolkova commented on #226
@gardnerjr  the auto registration of unhanded exceptions was enabled in [the Web SDK 2.6.0-beta3](https://github.com/Microsoft/ApplicationInsights-dotnet-server/releases/tag/2.6.0-beta3)

Here is [ms docs article](https://github.com/lmolkova/azure-docs-pr/blob/9675bbb844b038206c6708c3ff5db7e67b4c4866/articles/application-insights/app-insights-asp-net-exceptions.md#mvc) about it.

If exceptions are

[2018-05-30 18:27] gardnerjr commented on #226
so when we update VS to include final (non beta) versions of 2.6+, we should probably

1. remove the code we have to add exception filter/etc
2. add code to detect the double case and warn about it, possibly with an option to remove the code or disable auto tracking?

[2018-05-30 18:35] lmolkova commented on #226
Yes, I think p1 is correct, this code should be removed. I'm not an expert in AI integration with VS, but I doubt p2 is feasible - users may change `AiHandleErrorAttribute` file\class name, modify it's content, etc... Also, it's likely nuget update scenario and AI wizards are not involved.
If you see a good way to make p2 work - having warning would be awesome.

[2018-06-01 17:05] TimothyMothra opened #227 "Invalid Certificate received from server"
There are scenarios that prevent customers from connecting to our endpoint to send telemetry.

This issue is already being tracked in the [Nodejs repo](https://github.com/Microsoft/ApplicationInsights-node.js/issues/180).

This [forum post](https://answers.unity.com/questions/1382714/using-azure-application-insights-with-unity.html) sounds like the same issue. I wanted to bring it to our attention

[2018-06-04 04:03] georgiosd opened #228 "Can't see added exception details in Azure Portal"
Hey guys,

This is driving me nuts! I'm trying to set up a filter for an exception but because I'm not sure of the type (it's coming from linux interop assemblies and shows with a weird name), I'm trying to collect that info first.

I've added a telemetry initializer but I still see only the standard properties in the Azure portal.

My code:

[code]

[code]

Any ideas???

[2018-06-04 09:18] ndreisg opened #229 "Exclude WebSocket Requests from "slow response time" rules of SmartDetection"
Hi there,

my WebApp handles WebSocket requests as well as normal HTTP requests.
These days, I received some "slow response time" notification emails from AI for this WebApp.
The response time of WebSocket Requests is naturally very high (time between open and close handshake).

Is it possible to exclude WebSocket requests from SmartDetection, so that I only get notifications if the response times

[2018-06-05 14:22] ndreisg commented on #229
Today I realized, that this problem also causes the Web App to recycle more frequently. In Application Events I had three Events with ID 2299 today (Worker Process requested recycle due to 'Percent Slow Requests' limit).
Is it possible to deactivate this 'Percent Slow Requests' limit?

[2018-06-05 19:57] jstawski opened #230 "How to deal with parallel logging from multiple threads"
Hello, we followed the sample applications [here](https://github.com/Microsoft/ApplicationInsights-Home/tree/master/Samples/AzureEmailService/WorkerRoleA) and [here](https://github.com/Microsoft/ApplicationInsights-Home/tree/master/Samples/AzureEmailService/WorkerRoleB) on how to use requests to group all of our telemetry in a Worker Role application. This worked fine until we started to see weird

[2018-06-06 17:33] vmendi opened #231 "StartupBootstrapper exception"
We are running an Azure Web App that we recently upgraded to .net Core 2.1 with Microsoft.ApplicationInsights.AspNetCore 2.3.0.

We getting this exception during startup:

```Hosting startup assembly exception  System.InvalidOperationException: Startup assembly StartupBootstrapper failed to execute. See the inner exception for more details. ---> System.IO.FileNotFoundException: Could not load file

[2018-06-08 21:51] cijothomas commented on #231
This might be due to an issue in Web Apps infra itself. Confirming with the relevant folks.

[2018-06-08 21:52] mcliment commented on #231
I suspect this issue is related to this one https://github.com/aspnet/Hosting/issues/1398

In our case was related to using the Application Insights extension with a self contained app. I referenced Insights in the project directly and deactivated the extension as recommended in the issue.

[2018-06-12 21:47] clguimanMSFT commented on #231
Application Insights extension for Azure App Service 2.6.3 was released - this version supports ASP.NET Core 2.1. Please upgrade to this version.

[2018-06-14 17:30] SergeyKanzhelev opened #232 "Flags for envelope"
New field `flags` on envelope will be used to set transport level characteristics for events. First one will be an ability to instruct endpoint to drop IP address.

We are working on feature to enable collection of [full IP addresses](https://feedback.azure.com/forums/357324-application-insights/suggestions/13088763-allow-full-ip-to-be-collected). There will be a setting to opt-out from this behav

[2018-06-15 16:12] SergeyKanzhelev commented on #231
Please re-open if suggested solution didn't work

[2018-06-15 16:12] #231 closed

[2018-06-19 14:42] pharring commented on #167
# [1.3.0](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.0)

For applications targeting .NET Framework, Snapshot Collector now depends on Microsoft.ApplicationInsights version 2.3.0 or above.
It used to be 2.2.0 or above.
We believe this won't be an issue for most applications, but please let us know if this change prevents you from using the latest Snapshot Col

[2018-06-20 03:53] SergeyKanzhelev commented on #232
Resolved via #233

[2018-06-20 03:53] #232 closed

[2018-06-20 03:54] SergeyKanzhelev commented on #80
Resolved via #233

[2018-06-20 03:54] #80 closed

[2018-06-20 04:04] SergeyKanzhelev commented on #100
Resolved via #233

[2018-06-20 04:04] #100 closed

[2018-06-20 04:04] SergeyKanzhelev commented on #127
Resolved via #233

[2018-06-20 04:04] #127 closed

[2018-06-20 04:06] SergeyKanzhelev commented on #116
Original question resolved via #233. For the second issue - feel free to contribute to https://docs.microsoft.com/azure/application-insights/application-insights-data-model using "Edit" button in right upper corner

![image](https://user-images.githubusercontent.com/9950081/41636641-8b46b6ce-7404-11e8-9f0f-b42753bda2e0.png)

[2018-06-20 04:06] #116 closed

[2018-06-20 05:39] SergeyKanzhelev commented on #215
Moved to appropriate repository https://github.com/Microsoft/ApplicationInsights-dotnet/issues/840

[2018-06-20 05:39] #215 closed

[2018-06-21 02:40] SidShetye opened #235 "Canonical explanation of every applicationinsights.config setting"
ApplicationInsights is great but the `applicationinsights.config` file has a lot of settings which aren't comprehensively documented. Since this is telemetry we're talking about, disclosure is critical for integrity and privacy (especially for the installation defaults).

The closest reference is [here](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-configuration-with-app

[2018-06-22 17:10] vmendi commented on #231
After updating to 2.6.3 today, we are not getting the exception anymore.

Thanks!

[2018-06-25 11:08] Ruud-cb opened #236 "Wierd Cloud role instances and linking together front-end & back-end for Funnels"
**Back-end:**
ASP.NET Core
Microsoft.ApplicationInsights.AspNetCore v2.2.0

**Front-end:**
applicationinsights-js v1.0.15
angular v5.0.1, typescript v2.3.2 if needed

I have some issues:
- The role instance name is incorrect, it tells me it is the staging environment while all of the data within the production environment.
![image](https://user-images.githubusercontent.com/10037514/41844830-c0af44

[2018-06-26 17:39] SergeyKanzhelev commented on #236
@cijothomas can you please take a look?

[2018-06-28 23:27] SergeyKanzhelev opened #237 "Parent ID being taken from operation ID on endpoint. When it shouldn't"
Reported by @avanigupta:

Sending below event will populate parent ID when it shouldn't:

[code]

[2018-06-29 17:22] cijothomas commented on #232
Please clarify what'll be the default behaviour by back-end.

[2018-07-04 10:56] pixelicous opened #238 "Application Insight resource is showing connected to the OMS workspace which is already been deleted"
Hi,

If you delete an OMS which is connected to application insights without disconnecting it first, you can no longer connect this application insight to any other OMS workspace, leading you to open a ticket with microsoft to restore the OMS or to break this connection.
Maybe going in through Azure Resource Explorer portal can help remove this OMS id, but i am pretty certain it will break support

[2018-07-05 03:40] sajibcefalo opened #239 "Http status code >=400 returned from middle ware is not showing as response codes in failure section of the application insights telemetry"
Hello,
I have an asp .net web api application. There is a custom middleware placed after telemetry middleware before the asp. net web api. In some cases, the middleware return http status code 429. I have gone to the application insights failure section and  Http status code 429 is not listed in top 3 response codes. I have also tried to return other error code such 401 but nothing is listed in re

[2018-07-05 11:17] MarcelSalla opened #240 "On demand profiling failed."
Hi, I'm trying to do a performance profiling on a WebApp hosted on Azure and every time I try I always get the error "On demand profiling failed." and the Azure app portal profiling blade always says that there was a timeout.
The portal says that profiling is enabled for the WebApp. When I right-click from the profiling "Open extension" from the portal it shows a page where it says that the profil

[2018-07-05 19:20] lmolkova commented on #240
@pharring @clguimanMSFT could you guys please have a look?

[2018-07-05 22:14] xiaomi7732 commented on #240
@MarcelSalla Thanks for the feedback. I am sorry that the **Profile Now** doesn't work for you. Please try these [troubleshoot steps](https://github.com/CawaMS/Profiler-doc/blob/master/app-insights-profiler.md#troubleshooting-on-demand-profiler).
If it still is not working, send an e-mail to serviceprofilerhelp@microsoft.com with your instrumentation key that we can troubleshoot from there.
And pl

[2018-07-06 07:00] MarcelSalla commented on #240
Hi, sorry for the late response (time difference). I finally have solved the problem this is what I did:

1- First I tried reinstalling the Profiling extensions on the same WebApp. This failed and the azure portal was showing some errors of files in use by another process during the reinstallation. The profiling ended up broken unable to start new profiling sessions and the azure portal showing th

[2018-07-06 11:12] MarcelSalla commented on #240
I'm having the issue again. It seems it was a temporary fix.
Every time I do onDemand profiling i get "Profiling timeout. Refresh and try again"...

[2018-07-07 00:11] xiaomi7732 commented on #240
@MarcelSalla Sorry this is flecky at this point. It seems that your configuration is working.
Due to some limitations, we are currently set the timeout on the client to be 15 minutes. We have been seeing profiling data **not** showing up within 15 minutes lately as well.
Could you please confirm, after the timeout, give it another 15~30 minutes, refresh the page, will you be able to see the sessio

[2018-07-09 07:37] MarcelSalla commented on #240
Hi, I tried it again today. Still getting "Profiling timeout. Refresh and try again" every time.
![image](https://user-images.githubusercontent.com/32520010/42436914-bf48c528-835b-11e8-98da-b88f5d1cb0fa.png)

[2018-07-09 17:14] xiaomi7732 commented on #240
@MarcelSalla
Thanks for the detailed info. Could you please share your iKey with us to serviceprofilerhelp@microsoft.com, once I have the iKey, I can look into the telemetry to investigate what had happened.

[2018-07-09 23:05] Dmitry-Matveev commented on #240
@xiaomi7732, it looks like @MarcelSalla is still experiencing an issue, can you please take a look?

[2018-07-11 07:05] MarcelSalla commented on #240
Hi yesterday i tried the on-demand profiling twice and it worked, so I'm going to close the issue.
I don't know exactly what happened but it seems to be working now.
Thanks for your help

[2018-07-11 07:05] #240 closed

[2018-07-11 19:11] MaximRouiller commented on #167
Do we have source code for the SnapshotCollector package?

[2018-07-12 14:07] pharring commented on #167
@MaximRouiller no. The SnapshotCollector is not open source.

[2018-07-13 04:36] pharring commented on #240
If anyone else runs into issues with the Application Insights Profiler on App Service, please ensure you're running the latest Application Insights site extension (version 2.6.5 at time of writing). That version contains a fix for a bug where profiling will completely stop after a while. Upgrade from the "Extensions" blade for your App Service in the Azure Portal.

[2018-07-19 16:30] opencloudcode opened #241 "Access to the path 'Microsoft.ApplicationInsights.Agent.Telemetry.dll' is denied."
Issue with trying to do Update-ApplicationInsightsVersion

[code]

I can update by opening Microsoft.Diagnostics.Agent.StatusMonitor.Helper and updating it manually from there. Is there a way to script  that process as a tempary fix?

Can you guys help asap, this issue occuring in production releases

[2018-07-19 16:54] SergeyKanzhelev commented on #241
Are you running script under admin console? This maybe simply a permission issue

[2018-07-19 18:14] xt0rted opened #242 "Release annotation script is failing to get redirect link"
I just went to do a deploy, which uses [CreateReleaseAnnotation.ps1](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/API/CreateReleaseAnnotation.ps1) to create a release annotation once the deploy finishes, and the script failed to run saying:

Going to the url manually results in being redirected to a page that's giving a 401 error.

The last time this successfully worked for me

[2018-07-19 18:26] xt0rted commented on #242
Maybe this was a premature issue, looks like my calls to the fwlink url are succeeding now. I was just able to create a new release annotation with that script.

[2018-07-19 18:26] #242 closed

[2018-07-19 18:32] opencloudcode commented on #241
@SergeyKanzhelev  running as admin

[2018-07-19 19:57] SergeyKanzhelev commented on #242
Great! re-open if it will repeat again

[2018-07-19 20:00] SergeyKanzhelev commented on #241
Do you have this file under `C:\Program Files\Microsoft Application Insights\Status Monitor\Bin\<version>`? One workaround I can think of is to try to copy all files from here and `C:\Program Files\Microsoft Application Insights\Status Monitor\PowerShell` into a single folder and see if this will help.

[2018-07-19 21:57] dankellett commented on #124
Why? This was very useful information.

[2018-07-20 16:31] SergeyKanzhelev commented on #124
It was deprecated as a standard dimension: https://github.com/Microsoft/ApplicationInsights-Announcements/issues/5

You can place screen resolution into custom properties of an event:

[code]

We are considering to add screen resolution as pageview-only custom dimension. What is your use of this property? Are you running analysis like "above the fold" loading time? Or simply want distribution of s

[2018-07-21 08:44] freever opened #243 "ExceptionConverter null reference exception when logging an exception"
I am using Application Insights to log telementry from a Xamarin.Forms application. I currently am getting an exception when attempting to TrackException on an exception thrown by my application. The exception I am trying to track happens to be an Autofac resolution exception, and when I call telementryClient.TrackException(e) on it, ApplicationInsights throws a NullReferenceException, the abridge

[2018-07-21 20:13] SergeyKanzhelev commented on #243
Fixed couple weeks back: https://github.com/Microsoft/ApplicationInsights-dotnet/pull/832 Please update to the latest version

[2018-07-21 20:13] #243 closed

[2018-07-23 15:44] dankellett commented on #124
When running a web application, screen size distribution is a useful statistic to determine where to spend more time on responsive design elements. We would also use it to see if design is impacting performance.

[2018-07-23 15:47] SergeyKanzhelev commented on #124
so you mostly need both dimension in a form of `WWW x HHH`? Not a separate fields for separate dimensions. And you will prefer viewport size than screen resolution? Is it correct understanding of your use case?

[2018-07-23 15:49] dankellett commented on #124
Yes, that format would be best for our needs. Both viewport size and screen resolution would be nice, the extra context would help build a bigger story about how users are using our application.

[2018-07-23 16:12] SergeyKanzhelev commented on #124
and can you please confirm that collecting those using telemetry initializer works for you.

[2018-07-23 16:14] dankellett commented on #124
Sure, please give day or two to confirm.

[2018-07-23 21:49] SergeyKanzhelev commented on #239
Moving to the appropriate repo for further investigation...

[2018-07-23 21:49] #239 closed

[2018-07-23 23:02] Dmitry-Matveev commented on #239
Depending on the execution sequence of certain .NET callbacks informing about end of the request you may be able to modify Request Telemetry items before they are sent to Application Insights backend. If said callback has not yet happened before your middleware is invoked, you can access Request Telemetry object about to be sent with the following code:

ASP.Net Core: `RequestTelemetry requestTele

[2018-07-23 23:13] Dmitry-Matveev commented on #230
@jstawski, newer AI SDKs leverage Activity object for correlation and context propagation. An example of new Operation Correlation Telemetry Initializer code is [here](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/39a5ef23d834777eefdd72149de705a016eb06b0/src/Microsoft.ApplicationInsights/Extensibility/OperationCorrelationTelemetryInitializer.cs#L18).

Activity is supposed to survive

[2018-07-24 20:05] dankellett commented on #124
Confirmed. The data that comes through as a custom data element on the page view is the data point that would be useful to see as a distribution visualization or table.

[2018-07-24 20:50] SergeyKanzhelev commented on #124
thank you for confirmation

[2018-08-10 15:33] SergeyKanzhelev commented on #189
![image](https://user-images.githubusercontent.com/9950081/43966930-0b4b1b80-9c78-11e8-86ea-70b0b9d2fe7c.png)

[2018-08-10 15:33] #189 closed

[2018-08-10 18:56] KenBrannigan opened #245 "Snapshot collector and console applications"
Should the snapshot collector work in a console application?

I do get the exception logged but no snapshot ever appears. The portal doesn't even show the link to help troubleshoot snapshot issues that the documentation mentions.

[2018-08-10 22:38] SergeyKanzhelev commented on #245
CC: @pharring

[2018-08-10 22:39] khoanguyen opened #246 "Unable to find assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' with .NET Remoting"
We had Application Insights 2.3.0 before, this problem didn't happen.
Recently, we upgraded it to 2.6.0 and all the .NET Remoting server applications start to throw this error back to our Web application. We have around 20 Legacy .NET Remoting server applications. All the .NET Remoting apps expose their services via HttpChannel.

For our own server applications, we upgraded them to .NET 4.5 and co

[2018-08-10 23:33] pharring commented on #245
Yes, it'll work. It's pretty straightforward, but with console apps there's a variety of ways to set up Application Insights, so it's hard to give specific advice. Generally:
1. Add the Snapshot Collector's TelemetryProcessor to a telemetry pipeline (usually via the TelemetryProcessorChainBuilder -- there's an extension method in the SnapshotCollector assembly for that).
2. Call TrackException som

[2018-08-10 23:40] khoanguyen commented on #246
Fixed by Upgrading to System.Diagnostics.DiagnosticSource 4.5.0

[2018-08-10 23:40] #246 closed

[2018-08-10 23:59] lmolkova commented on #246
This is a duplicate of https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/613

Please try DiagnosticSource 4.5.0 and/or ApplicationInsights SDK 2.7.2

[2018-08-13 18:42] KenBrannigan commented on #245
Hey @pharring ,
Thanks for the response. Here is some additional details:

.NET Framework 4.5.1

All Microsoft.ApplicationInsights NuGet packages are v2.7.1 except for Agent.Intercetor which is v2.4.0 and SnapshotCollector which is v1.3.0.

We use a custom AppDomainManager to attach to the AppDomain.CurrentDomain.UnhandledException event.

In the UnhandledException event we have the following code

[2018-08-14 17:59] SergeyKanzhelev opened #247 "Metric telemetry min and max field populated with incorrect value"
Fields `min` and `max` are populated with the `value` when not set for the metric. Even for aggregated metric with the `count != 1`. It makes the value of those fields incorrect.

[2018-08-14 18:01] SergeyKanzhelev commented on #247
Proposed options on how to fix it:

[2018-08-14 18:36] dhaval24 commented on #247
@SergeyKanzhelev thanks for creating this issue. I think I resonate, 2 is idea choice but would have some customer impact. One is more of workaround. If we can communicate the impact and fix it in the better way rather earlier, then we should be good in long term. This is my thoughts, upto the team to make the best call :)

[2018-08-19 23:04] KenBrannigan commented on #245
@pharring any update on this?

[2018-08-20 14:48] pharring commented on #245
Thanks for the details and sorry for not replying sooner (I was on vacation). Unfortunately, SnapshotCollector isn't suitable for your UnhandledException scenario because all the "problem" counts are lost when the application exits -- just as you thought.

The ZIP file you attached includes only the ApplicationInsights.config file, so I can't see how you're initializing the pipeline, but I do see

[2018-08-22 00:29] vgorbenko commented on #247
The issue today is only with the gauge metrics/perf counters. They only use min/max/avg aggregations in charting, alerting, and auto-scale. With the “sum divide by count” logic and 1 minute gauge sampling:
•	A chart for single server instance will always show min==avg==max for the charts of the lowest time grain (i.e. with charting using 1 min time grain)
•	A chart for single server instance will

[2018-08-27 06:56] MatthewDavidCampbell opened #248 "Change telemetry item information in Search results"
Using latest Application Insights via Azure portal....

With traces there is a set of properties shown in the item in the results when choosing the Search page.  For example, a normal trace has the timestamp and log level in the bold title followed by the message property and there after device type plus security level.  Is it possible through the portal or powershell (other) to switch out say sec

[2018-08-27 16:16] SergeyKanzhelev commented on #248
You can write custom queries in Analytics. See https://docs.microsoft.com/azure/application-insights/app-insights-analytics

Is it what you need?

[2018-08-27 16:35] SergeyKanzhelev commented on #248
Are you talking about set of properties which are shown or values of those properties? If first - custom query is the answer. If second - you need to tell what kind of app (C#?) you monitor and how you enabled monitoring.

[2018-08-28 09:29] MatthewDavidCampbell commented on #248
The search page in the picture (regardless of where the telemetry is coming from i.e. dot net, spring, etc.) shows a group of **default** properties for every telemetry item in the result set.  This default set of properties must be defined somewhere in the Azure portal for Insights.  Seeing the _Device type_ (as PC) for isn't to helpful and we would like to adjust | change | set that particular d

[2018-08-28 16:04] SergeyKanzhelev commented on #248
Got it. It's a dup of this than: https://github.com/Microsoft/ApplicationInsights-Home/issues/216

Thanks for detailed explanation. I think the official answer is still to use analytics and operator `project` to define which properties you want to see in results.

You can upvote https://feedback.azure.com/forums/357324-application-insights/suggestions/19323058-show-different-trace-colors-based-on-

[2018-08-30 17:07] efunkenbusch opened #250 "Any way to alert on HeartBeatState for a specific server in a resource?"
We have an ApplicationInsights resource that has multiple servers in it.  Using the HeartBeatState will not tell us if one of the servers goes down.  Is there any way to create an alert that filters to specific machines in the resource?

[2018-08-31 06:31] fadamsen opened #251 "Error retrieving exception data in Azure Portal due to unescaped backslashes"
My apologies if this is the wrong place to report this issue, but I have tried sending feedback through the feedback option in the Azure Portal with no luck.

We are sending telemetry from PHP and the data is showing up in Application Insights just fine. However, we're having trouble accessing exception telemetry inside the Failures experience.

We can see the exceptions just fine:

![image](https

[2018-08-31 07:17] Laibalion commented on #30
I know it's an old tread, but Hockey App SDK is not suited for Win32 desktop applications as there is no way to integrate with any of the SDK's (we've tried).

Hockey App only allows limited number of 'event types', which is hugely lacking for large (+1M loc) applications.

We didn't have any other option than to go with version 1.2.3 of both the Insights SDK and PersistenceChannel.

[2018-08-31 16:40] SergeyKanzhelev commented on #251
@zakimaksyutov , please direct as appropriate

[2018-08-31 16:42] SergeyKanzhelev commented on #251
@fadamsen thank you for reporting! GitHub is a good place to report the issue. You can also use a "smiley face" button in right upper corner of the Azure portal to file issues.

[2018-08-31 16:42] madeleinefletcher commented on #251
Thanks for reporting! We have checked in a fix for this that should be deployed next week. I'll update the thread when the fix is deployed so you can verify.

[2018-08-31 16:55] fadamsen commented on #251
Awesome, thanks!

[2018-09-05 16:57] RamjotSingh opened #252 "Application insights service does not honor modified values in DependencyTelemetry"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Download [TestAppInsightsDependencyTelemetry.zip](https://github.com/Microsoft/ApplicationInsights-dotnet/files/2299020/TestAppInsightsDependencyTelemetry.zip)
2. Add the AI key to Startup.cs
3. Run the code
4. Open https://localhost:8890/api/values
5. Notice the DependencyTelemetry flowing out

##  Actu

[2018-09-05 18:08] SergeyKanzhelev commented on #30
CC: @JakubOleksy, @Redwing1010

@Laibalion persistent channel was designed for desktop apps which can go offline often and may have short lifespan - opens and closes often without background CPU allowance. If your win32 app has this reuqirements - you'd need to implement persistent channel yourself. If an app is often online and can send events in background you can use standard Application Insigh

[2018-09-05 18:18] Laibalion commented on #30
The scenarios you indicate are suitable for the persistance channel is exactly what the op asked for. You suggested HockeyApp as an alternative, but ita hugely lacking in integration capabilities in win32 desktop applications.
So as others in this thread already mentioned sticking to 1.2.3 sdk with the 1.2.3 persistance channel is the easiest road to walk. And its exactly what we are using in our

[2018-09-06 20:19] madeleinefletcher commented on #251
Apologies for the delay. It seems our first fix wasn't quite enough. I verified and checked in a new fix that should be deployed by Tuesday next week.

[2018-09-06 21:13] fadamsen commented on #251
Thanks for letting us know. We'll just keep our current workaround, which works quite well, in place.

[2018-09-10 23:19] CGSK opened #255 "Adding Custom Telemetry Initializer throwing Exception"
App Insight custom telemetry initializer works fine(thro VS 2017) locally but throws exception on App Service Web App hosting

"The specified CGI application encountered an error and the server terminated the process."
502 Bad Gateway

.NET 4.6.2 Web Api - OWIN based

Repro Steps
Create a basic telemetry custom initializer and properly configure it (AppInsights.Config and web.config relevant HttpM