[2018-09-11 20:16] MS-TimothyMothra opened #257 "[Open for Comments] Documentation for Local Storage"
This document addresses an SDL concern:
Our telemetry channel persists data to a local storage, without calling out that this storage is not encrypted.
This could have implications for customers considering PII or HIPAA and they need to be made aware of this storage.

I propose to add this to the article: [Data collection, retention, and storage](https://docs.microsoft.com/azure/application-insigh

[2018-09-11 20:16] MS-TimothyMothra commented on #257
@Dmitry-Matveev @OsvaldoRosado please review and add your comments or amend the sections above.

[2018-09-11 20:32] OsvaldoRosado commented on #257
Some comments:

This isn't true in Node. No idea about others.

This particular subfolder folder is only true for .NET AFAIK

Should we discuss more that `TEMPDIR_PREFIX` only changes the subfolder within the TEMP directory?

[2018-09-11 20:35] OsvaldoRosado commented on #257
This statement is true at a high level but UNIX permissions and NTFS ACLs have different characteristics. Should we expand on how this works per-platform?

[2018-09-11 20:44] MS-TimothyMothra commented on #257
@OsvaldoRosado,
Expanding on the specifics of directory permissions may be out of scope for this document. If you think a there is a better way to make that statement, please share. :)

I updated the NodeJS description using your comment about TEMP subfolders.

Let me sync up with Dmitry to discuss the best way to describe default folders.

Thanks for your feedback!

[2018-09-11 20:53] Dmitry-Matveev commented on #257
"Local Storage is not encrypted' is too generic and implies that "a channel" has it, so implies all SDKs that have "a channel" act the same way. We may want to be more specific and simply list channels that implement such storage or SDKs we consider in-scope for this article. Alternatively, you can omit/change sentences that are .NET-specific, such as "this channel does X" and replace with "AI cha

[2018-09-11 21:00] clguimanMSFT commented on #167
# [1.3.1](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.1)

- Remove support for collecting snapshots with the RtlCloneUserProcess API and only support PssCaptureSnapshots API.
- Increase the default limit on how many snapshot can be captured in 10 minutes from 1 to 3.
- Allow SnapshotUploader.exe to negotiate TLS 1.1 and 1.2
- Report additional telemetry when

[2018-09-11 22:17] Dmitry-Matveev commented on #257
We can re-word it as follows (I think we can remove "This affects" since we phrased topic as a question):
"By default ServerTelemetryChannel uses ..."

While in the context of the specific language/SDK (not in common), we can also mention that .NET ACLs folder to the current process's identity. (Although, not necessary).

[2018-09-11 23:41] dhaval24 commented on #257
@MS-TimothyMothra java SDK uses `C:\Users\username\AppData\Local\Temp` this location for persisting telemetry if the end point is not available. This location isn't configurable from the config directory and the permissions to access this folder is restricted to the specific user with required credentials.

We do have exponential retry mechanism in Java SDK and we do respect the response headers.

[2018-09-11 23:51] OsvaldoRosado commented on #257
This has me thinking. If the intention of this is that users are on their own to protect the directory, should we also give instructions on how to stop attempting to ACL/chmod the selected directory? Could this SDK behavior potentially work against whatever the customer was trying to do by changing directories?

[2018-09-12 19:51] alfredmyers opened #259 "Documentation for schema and valid values for availabilityResults"
I can't find the schema documentation and acceptable values for the fields in `availabilityResults` when querying in Analytics.
For instance:
- Does the column `id` contain the *primary key* for the availability result?
- What are the possible values for `success`?
- The column `message` correlates with `success`?
- What are the columns operation_Id and operation_ParentId for?

[2018-09-12 20:57] MS-TimothyMothra commented on #257
I've created a PR against [Azure Docs](https://github.com/MicrosoftDocs/azure-docs/pull/14902) and am closing this issue.
Thank you everyone!

[2018-09-12 20:57] #257 closed

[2018-09-13 01:06] #255 closed

[2018-09-13 19:04] neutrongenious commented on #188
So had we hit May 24th mark?

[2018-09-14 03:45] samjetski opened #260 "API documentation site seems to be broken"
Hi,

On the REST API site, Quickstart and Documentation sections appear to be broken:

https://dev.applicationinsights.io/documentation/overview

I'm getting this error:
[code]

[2018-09-17 18:06] SergeyKanzhelev commented on #241
CC: @Mikhail-Pranovich, @AlexKlimovMS and @iusafaro

[2018-09-17 19:58] Mikhail-Pranovich commented on #241
Could you check what process locks that file? (the sysinternalsuite/process explorer can be used for that)

[2018-09-17 20:27] Blackbaud-ChrisBlythe commented on #241
A search for the dll only shows the current powershell process where I imported the App Insights module...

![image](https://user-images.githubusercontent.com/14931768/45648387-0d88ed80-ba8e-11e8-9054-288ae6883830.png)

Here is the full txt of the exception:
`PS C:\Users\cjblythe> Update-ApplicationInsightsVersion
Update-ApplicationInsightsVersion : Access to the path 'Microsoft.ApplicationInsight

[2018-09-18 07:40] fadamsen commented on #251
Hello again! The fix for exception problem IDs containing backslashes is working, but we are now unable to drill into exceptions containing backslashes:

![image](https://user-images.githubusercontent.com/4189385/45671780-a8350b00-bb26-11e8-956c-57a48cd1383d.png)

x-ms-client-request-id: 9b7942c3-6705-ea0b-fc1c-a62d078d6a36

[2018-09-18 14:48] NickSevens opened #262 "Send client session id to backend api"
I have a client side application which calls a .net core API.
What I would like is to have Application Insights match events tracked in both client and server, so that they would both end up in the same sessionId.
Is this possible? I searched for ways to pass the sessionId to the backend but couldn't find a solution there.
Is there any guidance on how to achieve this?
Or is there another way to ma

[2018-09-18 17:03] SergeyKanzhelev commented on #262
Send cookie: http://apmtips.com/blog/2016/07/09/tracking-users-in-api-apps/.

Reopen if this doesn't help

[2018-09-18 17:03] #262 closed

[2018-09-20 08:45] gemas opened #264 "Missing stacktrace of inner exceptions in Service Fabric project"
We have a Service Fabric application. Existing out of an WebAPI and a Stateless Service.

When the WebAPI does a remote call to the Stateless Service and an Exception is thrown in the Service we catch this in the WebAPI.
While debugging we inspect this exception in the WebAPI, we see the Exception contains a lot of inner exceptions, the lowest one containing the stacktrace of the Service.
When we

[2018-09-20 18:16] jdemeuse1204 commented on #171
I just had this same error with App Insights version 2.7.2.  I rolled back to version 2.3.0 which does not have a dependency on System.Diagnostics.DiagnosticSource.  Everything works just fine now with version 2.3.0

[2018-09-21 15:42] SergeyKanzhelev commented on #231
@joshmouch the suggestion here is to update to the latest extension version, not to uninstall it. Please try it.

[2018-09-21 15:45] SergeyKanzhelev commented on #264
Moved to appropriate repo. I'll answer there.

[2018-09-21 15:45] #264 closed

[2018-09-21 16:36] joshmouch commented on #231
I did do that, which hasn't helped yet.
However, I do note one oddity.
When you click on the Azure Port/App Insights/Performance/Profiler, in the "Linked Apps" tab on my staging app, I see two apps listed there... both the staging app and also the prod app (which is the one that I can't seem to be able to enable the Profiler Web Job on).  Could this be causing trouble having one app listed in two

[2018-09-23 04:34] SergeyKanzhelev commented on #171
@jdemeuse1204 I'd suggest to figure out this binding redirect issue. Most probably `web.config` was updated incorrectly or something. Many good feature in last versions of SDK =)

[2018-10-02 14:29] thomasddn opened #265 "RequestTelemetry.Url is null when processing a POST request in Azure"
Hi,

We are implementing a custom processor by implementing `ITelemetryProcessor` because we want to avoid sending telemetry when the path of the url starts with a certain string.

Here's a code snippet of the class implementing `ITelemetryProcessor`:

[code]

This has been working fine until recently. Now we are getting a null reference exception because `requestTelemetry.Url` is null when all th

[2018-10-02 16:59] TimothyMothra opened #266 "[Work In Progress] Documentation for Azure Functions"
### This doc has been published:
https://docs.microsoft.com/azure/application-insights/azure-functions-supported-features?toc=/azure/azure-monitor/toc.json

I'm using this issue to track future work.
We can't publish future features on the official docs.
As soon as the "Coming Soon" features are released, we will update the official doc.

### Next Steps:

**TODO**: Need up update doc after these P

[2018-10-02 17:15] MS-TimothyMothra commented on #266
@mrbullwinkle Do you have anything to add to this?

Where do you think would be the best place to store this document?
In my opinion, it should be under our Azure Monitor TOC instead of the Azure Functions TOC.
When customers want support they frequently come to us looking for details. Second, we are going to be far more knowledgeable about our product than the Azure Functions team will be.

Thank

[2018-10-02 17:29] cijothomas commented on #266
@MS-TimothyMothra Great to see us addressing doc issues!

small comments:

W3C => maybe under correlation category.
QuickPulse => Change to QuickPulse/LiveMetrics  (as live metrics is the official name)

Application Insights .NetCore SDK => Application Insights Asp.Net Core SDK

[2018-10-02 17:43] lmolkova commented on #266
here is the link to current AzureFunctions monitoring docs: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring - it's relevant for v1 only

@MS-TimothyMothra  thanks for doing this!!!

[2018-10-02 17:44] lmolkova commented on #266
**Dependency Collection** should probably appear under **Automatic Collection of**

[2018-10-02 18:32] mrbullwinkle commented on #266
@MS-TimothyMothra I think we should definitely be able to find a home for this in the Azure Monitor TOC. The only thing we would need to be careful of is the **V2+ (TBD) column**.

They have a rule in the docs.microsoft.com contributors guide that the Final PR reviewers check and treat as a merge blocking item, which says we can only publish things that exist today, so any statement regarding futu

[2018-10-02 18:36] MS-TimothyMothra commented on #266
Thanks @mrbullwinkle.
@lmolkova is very knowledgeable about the Azure Functions vocabulary. I'll touch base with her to see if "Preview" is appropriate.

It's important to express to our customers that these specific features (rows) are NOT supported at this time and when we expect them to be supported. If you have any suggestions on how to do this better, I would love to hear them.

Thanks!

[2018-10-02 18:38] mrbullwinkle commented on #266
@MS-TimothyMothra and yes to **Reference** for the TOC location.

[2018-10-02 23:31] MS-TimothyMothra commented on #266
@mrbullwinkle
I got clarification that **V2+** will not be a separate product, but a future update to the existing **V2**. With this in mind, I removed the 3rd column and added a **Coming Soon** to the 2nd column.

I understand that this still may be blocked for the official docs.microsoft.
I think a fair argument could be made for wanting to distinguish "Not Currently Supported" vs "Never Support

[2018-10-03 16:33] cijothomas commented on #266
https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/759#issuecomment-426687852 Seems like adding TelemetryInitializer is already supported. @brettsam

[2018-10-03 16:52] MS-TimothyMothra commented on #266
I updated the draft to show TelemetryInitializer.
@brettsam, is it safe to assume your same demo would work for TelemetryProcessors as well?

[2018-10-03 17:32] lmolkova commented on #266
@MS-TimothyMothra yes it does. Basically all AspNetCore AI SDK configuration options and documentation is applicable to Azure functions now.

[2018-10-03 17:37] MS-TimothyMothra commented on #266
@lmolkova thanks, that's great.
What's the best way to phrase that for a feature matrix? :)

[2018-10-08 06:45] mqlkmd commented on #183
Any update on this one? Does it work with ASP.NET applications now or when do you estimate it will make it, since we are considering using the Run-From-Package feature?

Thanks.

[2018-10-09 06:09] imeya opened #267 "how to set the session_id and user_id"
it's a very simple asp.net standard web mvc project.
To customize the session_id and user_id, I add the following code like below:
[code]

Then register it in the ApplicationInsights.config:
`<Add Type="WebMVCStandard.UserTrackingTelemetryInitializer,WebMVCStandard"/>`

After that, I started to execute it. But the session_id and user_id is not the one I set in code.
After searching, there is a rel

[2018-10-09 07:32] imeya opened #268 "App Insights end to end times do not match"
I have the similar issue which has been posted by others on stackoverflow here: https://stackoverflow.com/questions/52545874/app-insights-end-to-end-times-do-not-match .

![time](https://user-images.githubusercontent.com/25738099/46653404-859f8a80-cbd8-11e8-9e3c-104e44cf637f.JPG)

[2018-10-09 13:40] clguimanMSFT commented on #183
The Application Insights extension fully supports Run-From-Zip starting with version 2.5.4. That was released a few months ago.
@SergeyKanzhelev you can close the issue.

[2018-10-09 17:05] MS-TimothyMothra commented on #266
First draft has been merged and will be published soon! :)

We can't publish future features on the official docs.
As soon as the "Coming Soon" features are released, we will update the official doc.

[2018-10-09 17:38] cijothomas commented on #266
Related : https://github.com/Microsoft/ApplicationInsights-dotnet/issues/941

[2018-10-09 20:39] lmolkova commented on #268
What kinds of external calls your app makes?

Please also provide:
- ApplicationInsights version and flavor
- .NET version and flavor
- how is it hosted (Azure Web App, Cloud service, VM, etc)
- ApplicationInsights.config if applicable (please strip secrets!)

Note, AppInsights tracks all kinds of Http calls, SQL calls ServiceBus and EventHub (depending on SDK version and flavor), it could be that

[2018-10-10 02:52] imeya commented on #268
how to check the app insights' flavor?

[2018-10-10 17:27] lmolkova commented on #268
What kind of application do you have?
The easiest way is just to send us the list of ApplicationInsights nuget packages you've installed on the app.

[2018-10-11 09:53] fadamsen commented on #251
This still doesn't work as per my previous comment. Any updates?

[2018-10-11 18:41] jedjohan opened #270 "No data to AI when running Net Core in Docker container"
Built a simple Core 2.1 Console app sending trace to AI. Works fine (sends data to AI) when running on my computer. Built a docker image and when running the (same) app in container nothing gets through to Application Insights. Am I missing something vital ?

Core Console App:

            TelemetryConfiguration configuration = TelemetryConfiguration.Active;
            configuration.Instrumentati

[2018-10-11 19:20] lmolkova commented on #270
Please pass telemetry configuration to the client.

`var telemetryClient = new TelemetryClient(configuration);`

[2018-10-11 19:30] jedjohan commented on #270
Well yes and thanks, but it does work, as long as I dont run it in a docker container. I tried passing configuration, same behavior.

[2018-10-11 19:34] lmolkova commented on #270
Depending on how you configure network for your container, AppInsights endpoints might not be accessible.
Please check if you can reach these endpoints manually from inside the container:

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-ip-addresses

[2018-10-11 19:57] jedjohan commented on #270
Pining from container (docker exec) shows that dc.services.visualstudio.com is available from running container (it doesnt answer on ping of course but container can resolve it):

`Pinging weu-breeziest-in.cloudapp.net [40.114.241.141] with 32 bytes of data:`

I updated my small test app to:

`httpClient.GetAsync("https://dc.services.visualstudio.com");`

and the response is, as expected, "Page no

[2018-10-16 21:20] shanjp opened #273 "Incomplete Installation of Status Monitor"
Hello,

I have following queries.

1. We have installed the status monitor in 2 servers and in the second one the installation is incomplete (missing SDK folder and 2.4.1 folder). We are not sure what's causing this - the server has internet access. I am attaching the diagnostics.log which is generated when opening the status monitor (it never opens actually).
[diagnostics.log](https://github.com/

[2018-10-16 22:33] MS-TimothyMothra commented on #266
FYI: Need to update document after this PR is deployed to Production: [Functions v1: Update ApplicationInsights to 2.6.4 and enable heartbeats](https://github.com/Azure/azure-webjobs-sdk/pull/1967)

[2018-10-16 22:36] MS-TimothyMothra commented on #266
FYI: Need to update document after this PR is deployed to Production: [Enable AppInsights http requests collection and W3C distributed tracing support](https://github.com/Azure/azure-webjobs-sdk/pull/1965)

[2018-10-17 04:48] seanksullivan commented on #273
I have found that the Status Monitor does not communicate via TLS 1.2 - from looking at your log, I am guessing that your server is set to require TLS 1.2 (common nowadays).

It seems this tool is old, and not updated often; which is too bad - some of it's functionality is far better than the alternative.

[2018-10-17 19:44] kylebrandt opened #274 "Include Multi-Segment Example in dev.applicationsignishts.io Metrics documentation"
When you ask the Metrics API to request more then one dimension the response nests:

[code]

My default expectation is that just all the tags would be properties on the segment object that actually contains the value. Therefore I think it is worth including the multi-segment example on https://dev.applicationinsights.io/documentation/Using-the-API/Metrics

(Sorry if this is the wrong place, couldn

[2018-10-18 14:43] #265 closed

[2018-10-19 16:12] SergeyKanzhelev commented on #273
CC: @Mikhail-Pranovich @Dmitry-Matveev

Looks like security issue that needs to be fixed

[2018-10-19 16:24] SergeyKanzhelev opened #275 "DeveloperMode true on production"
Moved from https://github.com/Microsoft/ApplicationInsights-dotnet/issues/951

posted by: @bwaldron

When debugging a performance issue we noticed in AI event logging that the Service Profiler custom event is reporting the DeveloperMode is true.  We are using the default configuration installed from visual studio and not setting that propery in code.

![image](https://user-images.githubusercontent

[2018-10-19 20:47] pharring commented on #275
I created a bug in our backlog to address this. https://dev.azure.com/devdiv/DevDiv/_workitems/edit/710362 (if you have access)

[2018-10-22 14:21] breyed opened #276 "Can't tell when flush is complete"
`TelemetryClient.Flush` performs is an async void method. It performs the flush in the background, without reporting when the flush completes. The [documented workaround](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics#flushing-data) is to "wait and hope" via a delay.

It would be faster and more reliable if `Flush` returned `Task`, so that the ap

[2018-10-22 15:43] Blackbaud-ChrisBlythe commented on #241
Is there a way to get any traction here? In general, it seems like the Status Monitor has gotten pretty stale. Even in UI mode, it seems like it can only upgrade to SDK version 2.4.0 while the latest available version is now 2.8.1.

@SergeyKanzhelev Are there any updates coming to this tool to address the growing number of issues?

[2018-10-23 22:09] alexeldeib commented on #274
@kylebrandt Thanks for the feedback, I've written up a blurb for our doc site (not deployed yet) and [added an example to our swaggers](https://github.com/Azure/azure-rest-api-specs/pull/4311) (on GitHub [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/applicationinsights/data-plane/microsoft.insights/preview/v1/AppInsights.json)).

In the future feel free to open an

[2018-10-29 23:04] NoahStahl opened #277 "Azure extension causing incomplete HTML response"
We recently started noticing instances of our Azure web apps (asp.net core 2.0 and 2.1) randomly return partial HTML, clipped off at various places in the document. When inspecting the HTML returned (with 200 status), you'd see the HTML just stop at some point. This happens for between 1-20% of requests, seemingly randomly, simply by refreshing page over and over. The majority of requests return s

[2018-11-01 21:34] NoahStahl commented on #277
Wanted to add repro steps in case anyone at Microsoft wants to pursue this. I can reproduce as follows:

1. Create a stock app service in Azure. Running on Windows host. Choose to enable Application Insights integration during setup, which should enable the associated extension (v 2.6.5 as of writing) on the created web app.
2. Create a default aspnet core 2.1 web project in Visual Studio, using t

[2018-11-01 22:11] Dmitry-Matveev commented on #250
Yes, new feature in Azure Monitor is [alert on logs](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log). You may produce a query that filters down to the machines you'd like and then alert on specific count yielded from the query.

[2018-11-01 22:11] #250 closed

[2018-11-01 22:28] Dmitry-Matveev commented on #259
Analytics provides an operator `| getschema` to read the schema of the underlying table.
Not sure if there is a documentation beyond that, currently.

I can suggest `| summarize by success` to figure out possible values for success and the other fields before you introduce filters into the query.

`id` is expected to be unique. `operation_Id` and `operation_ParentId` are typically used for correla

[2018-11-01 22:34] Dmitry-Matveev commented on #260
@samjetski, was it fixed? I can see that page opens successfully now (with some issues in console that are different from this particular one).

[2018-11-01 22:53] Dmitry-Matveev commented on #267
I think that referenced doc bug you mentioned actually implies that you'd need to modify the existing `RequestTelemetry` object in `Session_OnStart` method instead of creating a new one.
You can access an existing object via HttpContext or HttpContextBase [extension method](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/3cc166e3c9ec9d3f4ce77f48d3ab8c6bd6218808/Src/Web/Web.Shar

[2018-11-01 22:59] Dmitry-Matveev commented on #273
@Mikhail-Pranovish, has this been prioritized yet, so we can put an appropriate milestone?

[2018-11-01 22:59] #274 closed

[2018-11-01 23:10] Dmitry-Matveev commented on #276
@breyed, there are couple issues opened about non-blocking Flush:
- [#407](https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407)
- [#482](https://github.com/Microsoft/ApplicationInsights-dotnet/issues/482)

I can suggest a workaround of using InMemoryTelemetryChannel that would connect to AI endpoint when the associated TelemetryClient is flushing. As per my understanding, the initia

[2018-11-01 23:16] Dmitry-Matveev commented on #277
@iusafaro, can this be related to a re-write modification to add JS SDK on-the-fly (is it still on in the extension 2.6.5)? If yes, do you know who would be the owner of that feature to investigate? As per description, the issue is expected to have quite an impact across all customers (at least those on MVC).

[2018-11-05 03:44] lahsrah opened #278 "WebApi 2 project crashes IIS when rebuilding during dev when using appinsights (even when disabled)"
I have got an existing WebAPI 2 project and wanted to host it in Azure with insights so i added AppInsights to it and everything is working as expected in Production but I have an annoying problem in development environment.

When I am running the app on local machine (IIS Express or IIS) and rebuild the project and refresh the app in the browser it just stops responding completely, no errors or n

[2018-11-05 03:54] lahsrah commented on #278
Wrong project

[2018-11-05 05:21] imeya opened #279 "How long does the data would be deleted after use the purge api"
I followed this [link](https://docs.microsoft.com/en-us/rest/api/application-insights/components/purge), and try to delete the trace data in application insights, and it executes successfully(return 202).

When I try to select the trace data in azure portal -> application insights -> search, I still can see the trace data. So I want to know how long until the data deleted after the above execution

[2018-11-05 10:47] phatcher opened #280 "How to update ApplicationInsights via nuget package manager console"
I'm finding it difficult to update a project's AI version each month due to the tight dependency coupling between the versions.  The instruction on the [documentation](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net#upgrade-to-future-sdk-versions) suggests updating Microsoft.ApplicationInsights.Web but if I issue that as a command I get...
[code]
 I can't find a se

[2018-11-05 17:24] SergeyKanzhelev commented on #279
According to [this](https://docs.microsoft.com/azure/log-analytics/log-analytics-personal-data-mgmt)

![image](https://user-images.githubusercontent.com/9950081/48014918-95799400-e0dc-11e8-980b-1dd2b2f93bd7.png)

[2018-11-05 19:56] cbrianball opened #281 "Build URL for "End-to-end transaction details" screen in Azure portal"
I am able to retrieve the current Operation ID from my application code. I'd like to be able to build a URL that would send someone (on the application support team) directly to the "End-to-end transaction details" screen int he Azure portal with the data for that operation on the screen?

If this is possible, how "fragile" would the URL be considering the portal changes frequently?

[2018-11-05 20:06] lmolkova commented on #281
@OsvaldoRosado can we build an url with operation Id?

[2018-11-05 20:10] OsvaldoRosado commented on #281
It's not possible today to build a URL to this blade with only operation id. A specific item id from an item in the transaction is required. If you do have one however, a URL like the following can be used to open the blade:

https://portal.azure.com/#blade/AppInsightsExtension/Find/appid/APP_ID_HERE/itemid/ITEM_ID_HERE

This particular URL should not be fragile (unlike the one seen in the portal

[2018-11-05 20:43] cbrianball commented on #281
It's great to hear that there is a direct URL. The second URL, the one with the instrumentation key, would work better for me.

What is the item id? Looking in app insights, I see an operation id, parent id, and problem id. None of them worked for me when I tried using them for the item id. Where can I find the item id?

[2018-11-05 21:29] OsvaldoRosado commented on #281
@cbrianball The item id is a specific id for an individual event. You can find it in Analytics in the `itemId` field.

[2018-11-06 06:29] SergeyKanzhelev commented on #280
@karann-msft, @jainaashish another question for you. Here is a situation - we have two packages `B1` references `A1`, `C1` references `A1`.

Now we releasing versions `B2->A2` and `C2->A2`. So all packages needs to be updated in a single command.

Is there a command like this?

[2018-11-06 06:39] karann-msft commented on #280
I belive the op is right, there shouldn't be such tight coupling or ship it as a single nuget package.

[2018-11-06 06:50] SergeyKanzhelev commented on #280
@karann-msft do you mean that it is incorrect to ship an update to package A and have new versions of B and C depending on that update?

[2018-11-06 06:57] karann-msft commented on #280
Clearly this over simplified example is not helpful.

What are the steps to repro what the op is experiencing?

[2018-11-06 06:59] SergeyKanzhelev commented on #277
@iusafaro any updates? + @Mikhail-Pranovich

@NoahStahl is there app setting `APPINSIGHTS_JAVASCRIPT_ENABLED` set on the site?

[2018-11-06 06:59] SergeyKanzhelev commented on #277
What version of Visual Studio is used?

[2018-11-06 07:02] SergeyKanzhelev commented on #276
Closing as we already tracking this item

[2018-11-06 07:02] #276 closed

[2018-11-06 07:05] SergeyKanzhelev commented on #260
Please re-open if it still broken for you

[2018-11-06 07:05] #260 closed

[2018-11-06 15:35] cbrianball commented on #281
@OsvaldoRosado  I can see the `itemId` value in the portal now, thanks. Based on searching, it looks like that value isn't available at the time that I report the exception (using `ExceptionTelemetry`), rather I have to wait until it is available in the portal to get the `itemId`.

Is this your understanding? If so, I'll simply generate a link to an action on my site that takes in the `operationId

[2018-11-06 16:26] SergeyKanzhelev commented on #280
@phatcher did you install `Log4NetAppender` explicitly or it was added automatically?

[2018-11-06 16:37] SergeyKanzhelev commented on #280
@phatcher I failed to repro trying different versions. Can you please give VS version, NuGet extension version installed there and steps to repro.

[2018-11-06 17:27] SergeyKanzhelev opened #282 "APPINSIGHTS_JAVASCRIPT_ENABLED causes '500.53 URL rewrite module error with message Outbound rewrite rules cannot be applied when the content of the HTTP response is encoded ('gzip')'"
When using APPINSIGHTS_JAVASCRIPT_ENABLED = 'True' setting in the web app, AI appears to be applying dynamicCompressionBeforeCache even though the default rule should be set to not perform this.

From customer:

- It’s an MVC controller action response from an ApiController that returns a HttpResponseMessage
- It’s content type is text/html
- The controller action has been unchanged in over a year

[2018-11-06 19:00] NoahStahl commented on #277
Hi @SergeyKanzhelev, the repro steps I used are above. This was using Visual Studio version 15.8.7. Are you able to try repro steps on your end? App settings result from literally the default creation of a new web app in the portal. Based on what I'm seeing, there's nothing specific to my environment here. But would like to have somebody else try.

[2018-11-06 19:32] juliusl opened #283 "AI .Net SDK 2.8.1 breaks Application Insights Profiler"
The latest AI .NET SDK 2.8.1 (available on nuget) breaks profiler ability to receive rich payload events from the emitting application.

The issue is that one of the internal payload data type has changed from string to long. This is a link to the PR which has caused this issue: https://github.com/Microsoft/ApplicationInsights-dotnet/pull/928

Filing this issue for tracking and notice purposes. We

[2018-11-08 01:19] ChrisDurante opened #285 "Snapshot Collector not cleaning up suspended processes"
We have a console application that is hosted as a Windows Service using TopShelf.  It has many dependencies, here are the basic ones:
- .NET 4.6.2
- Microsoft.ApplicationInsights.Log4NetAppender 2.8.1
- Microsoft.ApplicationInsights.SnapshotCollector 1.3.1
- Microsoft.ApplicationInsights.WindowsServer 2.8.1
- Topshelf 4.1.0

Our ApplicationInsights configuration includes the `SnapshotCollecter` wi

[2018-11-08 01:33] imeya opened #286 "Where is this alert defined “Alert: Average Server exceptions”?"
I am receiving this "Average Server Exceptions" email alert and a lot of other people in our organization is receiving them. I was trying to check where is it defined and configure the people that should receive these emails. Is it sent by "Smart Detection" Abnormal rise in exception volume rule?

![image](https://user-images.githubusercontent.com/25738099/48172045-411f2000-e339-11e8-8c5a-1c5a375e

[2018-11-08 08:01] imeya commented on #286
solved

[2018-11-08 08:01] #286 closed

[2018-11-08 08:45] imeya opened #287 "Does app insights can monitor a hung process?"
We are looking at implementing AppInsights for our non-web application. One of the things that we want to monitor for is processes that may be "hung" for more than N number of seconds or minutes. I have been unable to find something built in that does this. The closest thing I have seen or thought of would be to log 2 custom events for the start and end of a process, and then have an alert for a c

[2018-11-08 21:04] vpnchoudhary opened #291 "timestamp from server instead of SDK"
Is there a way to get timestamp from AI server instead of client ?

[2018-11-08 21:06] vpnchoudhary opened #292 "Does AI truncates Property value if it exceeds limit ?"
Does AI SDK or server truncates Property value if it exceeds limit ? Does it take care of keeping json/xml format intact after truncation?

[2018-11-08 21:39] cijothomas commented on #292
Yes, property values are trimmed off if exceeding limit.
As per docs, https://github.com/Microsoft/ApplicationInsights-Home/tree/master/EndpointSpecs/Schemas/Docs

Max key length: 150
Max value length: 8192

SDK does not do anything other than trimming - if the value was some json/xml it may be broken.

(You can written own TelemetryInitializers/Processors to do the trimming yourself keeping any r

[2018-11-08 21:40] cijothomas commented on #291
Can you elaborate the qn a bit more? The timestamp for telemetry items are from the server it is collected, and has nothing to do with AI backend server to which items are sent. And i dont think there is any way to know when exactly did ai receive it.

[2018-11-08 23:09] vpnchoudhary commented on #291
machine time is off on some of our client where we are collecting telemetry. Wondering if we could use server time instead.

[2018-11-08 23:17] Dmitry-Matveev commented on #285
@brahmnes, can you please take a look at this issue?

[2018-11-09 01:05] cijothomas commented on #291
@Dmitry-Matveev Do you know if sdk leaves timestamp blank, does AI ingestion stamps the receivedtime as the timestamp?

[2018-11-09 01:13] Dmitry-Matveev commented on #291
As far as I can tell, the processing pipeline uses client time to identify whether it should ingest the item or drop it because it's couple days old, so I'd think it won't accept an item without time at all and will simply drop it.

[2018-11-09 16:19] #292 closed

[2018-11-09 17:30] elamalani opened #293 "Update ReadMe to point to App Center SDK instead of HockeySDK"
Hello,

I'm a PM in App Center team owning both HockeySDK and App Center SDK. App Center is the next generation of HockeyApp. Can you please update the deprecated section in the ReadMe file and point it to [App Center SDK ](https://docs.microsoft.com/en-us/appcenter/sdk/)instead of HockeySDK?

Thanks!

[2018-11-09 18:49] clguimanMSFT commented on #285
@ChrisDurante The suspended processes are the snapshots that need to be collected, but there seems to be a problem with the process that is supposed to write them to disk and upload to our service (SnapshotUploader64.exe)
SnapshotUploader cannot start because it cannot write to %TEMP%\Dumps. Can you make sure the %TEMP% environment variable exists and points to an accessible folder?

Another worka

[2018-11-09 21:48] aherrick opened #294 "StopCalledWithoutStart message:"stop was called without a corresponding start.""
Am seeing this warning in the Console when trying to Track a Page View? What exactly does it mean and is something not configured correct?

![image](https://user-images.githubusercontent.com/586671/48289946-32bb2c00-e43f-11e8-8c03-f8f2e242f251.png)

[2018-11-10 17:30] ChrisDurante commented on #285
Hi @clguimanMSFT, I checked for the application user's temp folder and it exists and is writable for the user.
That did lead me to the SnapshotUploader log file in `%TEMP%`, which has an error at the end that coincides with a still existing suspended process:
[code]
Are there explicit OS level perms that have to be granted to the application user, or is something else possibly misconfigured?

[2018-11-12 09:10] imeya opened #295 "In asp.net core, how to check if app insights instance exists or not by using instrumentation key?"
I want to check if an application insights instance exists or not via instrumentation key, is there any method to check it using code(c#)?

I tried below, but even if the instrumentation key is valid or not, it always returns false:
[code]

[2018-11-12 17:11] clguimanMSFT commented on #285
@ChrisDurante in your initial post you mention your application runs as a Windows service. In the provided uploader logs I see the TEMP path points to an user folder. The Window service runs as SYSTEM, that means also that SnapshotUploader runs in the same context, so it won't have acces to user folders. Make sure %TEMP% points to a SYSTEM accessible path.
These links might help: https://github.co

[2018-11-13 16:20] ojasp commented on #283
Hi Julius,
Do you have a timeline for the fix? We'll downgrade the version to 2.7.2 unless the fix is around the corner.
Thanks,
Ojas

[2018-11-14 10:18] stridsbr opened #296 "Question: Disable sampling when creatin TelematryClient object"
I use application insights for my tracelogging in .net framework. But the logs are sampled.
This is how I create the client:
[code]
How can I modify this code so it dont get sampled?
Or that Trace and exception logs won't get sampled?

I use TelematryClient from a common logging library. I prefere to use that class so I don't have to rewrite all the code that referense that library.

[2018-11-14 14:44] ChrisDurante commented on #285
Hi @clguimanMSFT, the service runs as the application user - a domain user that has rights to run as service, is in the IIS_IUSR group, but is not an Administrator on the machine. The service does not as SYSTEM, as you can see in the screenshot of TaskManager I posted. Uploader64.exe is also running as the same user, hence the log being created in the user TEMP folder.  It seems to me that the "Ac

[2018-11-14 16:54] cijothomas commented on #296
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-sampling#alternative-configure-adaptive-sampling-in-code

[2018-11-14 18:05] stridsbr commented on #296
So the telematryClient object inside that UseAdaptiveSampling callback is created as I wrote but after the last line in that sample?

The TelemetryConfiguration.Active.TelemetryProcessorChainBuilder builds the default configuration for any new TelematryClient object created with the empty constructor?

[2018-11-14 19:11] SergeyKanzhelev commented on #277
@NoahStahl sorry for delay. I cannot repo this. Do you have `APPINSIGHTS_JAVASCRIPT_ENABLED` set in app settings? Do you have JS snippet embedded when page loaded fine?

![image](https://user-images.githubusercontent.com/9950081/48506346-1718a280-e7fe-11e8-8d4d-cfa0eb2519a3.png)

[2018-11-14 21:18] longrunconsulting opened #297 "InMemoryChannel does not allow user to supply retry logic or to access the queued items/count to account for transient failures."
We are a team at Microsoft building services for the Windows ES and are using Application Insights to capture telemetry.  For our current project, we are deploying OS images to build machines and rely on a WinPE image/environment to setup the physical machines for image deployment.  In this WinPE environment we do not have access to ETW nor a reliable file system.  So, we are leveraging the InMemo

[2018-11-16 23:38] clguimanMSFT commented on #285
Talked with Chris offline and managed to figure out what's going on:
There are multiple services running as the same user on the machine. All these services share the instrumentation key, so SnapshotCollector will only start one SnapshotUploader process that listens for request from all the collectors.
In this particular scenario SnapshotUploader cannot call OpenProcess on any service except for t

[2018-11-18 16:57] adrianm64 opened #298 "Can't get nested operation context to work"
Used the example from the [documentation](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics#trackdependency) in **LinqPad** with the latest NuGet package `2.8.1`
[code]
But Context.Operation on the trace telemetry is empty (i.e. no name, id, parent etc).

What am I missing?

[2018-11-19 23:00] Mikhail-Pranovich commented on #273
@MS-TimothyMothra who is looking at StatusMonitor vNext.

[2018-11-21 03:05] ChrisDurante commented on #285
Thanks for your help! With the preview bits in our solution, it looks like each process running now creates its own SnapshotUploader64.exe process and so they can collect memory dumps, upload them and cleanup the suspended processes without issue.

This is before snapshot upload completes:
![image](https://user-images.githubusercontent.com/34775205/48813535-290db000-ecec-11e8-8ad4-a8b850e5c0fc.png

[2018-11-21 20:18] FrederickRies commented on #277
Hello all,

We have the exact same behavior on our .NET core 2.1 application targeting the netcoreapp2.1 framework.
The response of the application is truncated randomly.

We use the default packages provided with the ASP.NET core app (Microsoft.AspNetCore.All) in version 2.1.5.
The only package relative to ApplicationInsights is Microsoft.AspNetCore.ApplicationInsights.HostingStartup in version 2

[2018-11-22 01:27] imeya opened #299 "If the location of app insights is far away from the app service, does it will result in some performance issue?"
When create an app insights, if I select a location which is far away from the app service, ie. location for app insights is at East US, and the app service is at Southeast Asia.

In this situation, does it will result in some performance issue? and any documents about it?

thanks.

[2018-11-22 09:09] FrederickRies commented on #277
To provide further details, only content generated from Razor views is impacted, our API's with json outputs work properly.

[2018-11-22 14:03] imeya commented on #267
thank you. I will take a try.

[2018-11-23 07:40] imeya commented on #267
@Dmitry-Matveev , I tried modify the existing `RequestTelemetry `on `Session_OnStart` method. But only the userid and sessionid in the first request(like first request to home page) is changed, then in the following requests, it keeps the short string like NVhLF. The code like below:

[code]

And also I found that the  [docs ](https://docs.microsoft.com/en-us/azure/application-insights/app-insight

[2018-11-26 01:35] imeya opened #300 "How to use ISupportProperties in a custom TelemetryInitializer"
When write a custom App insights telemetry initializer, there is a compiler warning, saying that Context.Properties is obsolete, and recommend us to use ISupportProperties.

Regarding ISupportProperties, the only way I find we can use is to cast the ITelemetry to ISupportProperties, like below:

[code]

So my question is, without the explicitly cast, is there any way we can use it(not the cast way

[2018-11-26 14:53] clguimanMSFT commented on #285
SnapshotUploader is running in low priority mode when collecting and uploading snapshots so it doesn't impact your system and that's what I observe in your logs (_Received PssSnapshot request ID 849cc17915374de89a7f7935963f2c30 from process 10492 (x64) (**Low pri**)_)

You can control the behaviour with these 2 configuration options:
* **IsLowPrioritySnapshotUploader** - Runs the SnapshotUploader

[2018-11-26 17:44] isaac2004 opened #301 "Application Insights Status Monitor Instrumentation Breaks App"
I have a .NET Framework 4.6.1 Project without AI instrumented deployed to IIS. If I run the Instrumentation tool, loading the app results in this exception

What is happening is that the version referenced in the injected section of web.config is wrong.

Web.config snippet

[code]
And referenced DLL installed in bin
![image](https://user-images.githubusercontent.com/8878502/49031749-dcf1be00-f178-

[2018-11-26 19:05] cijothomas commented on #300
Yes you need to cast ITelemetry to ISupportProperties.

[2018-11-26 22:18] imeya commented on #300
@cijothomas , no other ways?

[2018-11-26 22:32] SergeyKanzhelev opened #302 "Orchard CMS may fail when extension is installed"
Long time ago there were reports that Orchard CMS will not work when Azure Web Site extension is enabled. The root cause was an incompatible versions of Application Insights SDK used by application and by extension. Since Orchard CMS loaded application Insights dependencies from `App_Data/Dependencies`, not from the `bin` folder and loaded them lazily - quite late in process initialization pipelin

[2018-11-26 22:43] Mikhail-Pranovich commented on #185
this should be resolved now. The WebApp extension is published on nuget.org

[2018-11-26 22:59] lmolkova commented on #298
You should call `TelemetryConfigurationCreateDeafult()` instead of `new TelemetryConfiguration`.

Another option is to add `OperationCorrelationTelemetryInitializer` (https://github.com/Microsoft/ApplicationInsights-dotnet/blob/master/src/Microsoft.ApplicationInsights/Extensibility/OperationCorrelationTelemetryInitializer.cs)

[code]

[2018-11-26 22:59] #298 closed

[2018-11-26 23:15] MS-TimothyMothra commented on #202
Maybe this changed at some point in time.

I found the official requirements: [Naming Rules and Restrictions](https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#naming-rules-and-restrictions)
`Resource Group Length 1-90`

StatusMonitor is currently using these rules:
[code]

[2018-11-27 00:45] MS-TimothyMothra commented on #282
Seeing this issue get reported frequently.

@lmolkova had a good suggestion, that we make the `urlCompression` tag conditional.

Until then, the workaround we're recommending is that customers add an xdttransform to their project to remove the unwanted properties from their applicationHost.
See: https://github.com/projectkudu/kudu/wiki/Xdt-transform-samples

[2018-11-27 00:47] cijothomas commented on #300
No. The other alternate to avoid cast is to use telemetry.Context.GlobalProperties. (GlobalProperties are simply copied to Properties during serialization now) - but this is not recommended as its meant for different purpose, and the behaviour of GlobalProperties being automatically copied to Properties might change)

[2018-11-27 00:50] cijothomas commented on #299
Application insights sends data to their backend asynchornously - so the actual network RT time should not matter.

Also, even though the app insights is in East US, the 'ingest' endpoints are globally distributed, and telemetry is always sent to the nearest available 'ingest' point.

[2018-11-27 00:56] Dmitry-Matveev commented on #267
It may happen that Trace Telemetry is skipped in the code you referenced above because it has non-empty user Id by the time it reaches Telemetry Initializer. You may choose to always overwrite user with what you think the right value is and that may help to change the value reported in Trace Telemetry, for instance:

[code]

Also, you may try commenting default User Telemetry Initializer in Applic

[2018-11-27 03:00] lmolkova commented on #277
I'm able to repro the issue when APPINSIGHTS_JAVASCRIPT_ENABLED  is set to true. However, by default, this env var is not set by extension.

@FrederickRies, @NoahStahl  could you please check whether APPINSIGHTS_JAVASCRIPT_ENABLED is set (and if the value is true)?

Removing env var or setting it to false mitigates the issue. Also, this env var is not needed on AspNetCore app.

[2018-11-27 03:02] lmolkova commented on #282
Per my experiments, urlCompression is not modified by default.
What makes the difference is having APPINSIGHTS_JAVASCRIPT_ENABLED  set to true. It does not change applicaitonHost.config, but changing value or removing the variable mitigates the issue.

[2018-11-27 18:03] MS-TimothyMothra commented on #302
Do we know how common is this lazy load strategy?
I don't know that this is something we could detect, and may not be able to support.

What are your thoughts?

[2018-11-27 18:19] MS-TimothyMothra commented on #185
@Mikhail-Pranovich can you provide a link to the package?
What name is it published as?

[2018-11-27 18:54] Mikhail-Pranovich commented on #185
https://www.nuget.org/packages/Microsoft.ApplicationInsights.AzureWebSites/

[2018-11-27 20:37] NoahStahl commented on #277
Hi @lmolkova thanks for looking into it. I'd rather not continue to participate in this testing, since I've detailed the exact repro steps I used -- all defaults, literally, out of box, nothing set by me. It seems pretty clear that there is a bug in the extension since you and others confirm, so that seems sufficient at this point for the devs to try to fix it. I don't see why it's relevant to dis

[2018-11-27 21:11] lmolkova commented on #277
@NoahStahl we are on the same page here - there is a bug and we are trying to investigate and fix it.

Having such a bug by default on AspNetCore is not acceptable.

We found one way to reproduce it and we are trying to understand if there are other cases we miss.

Unfortunately I cannot reproduce the error based on your description, so I probably miss something. If you can help me by having a qui

[2018-11-28 01:00] imeya commented on #287
thank you!

[2018-11-28 01:00] imeya commented on #295
resolved.

[2018-11-28 01:00] #295 closed

[2018-11-28 01:01] imeya commented on #300
thank you very much!

[2018-11-28 01:01] #300 closed

[2018-11-28 01:01] #287 closed

[2018-11-28 07:34] adrianm64 commented on #298
Thank you for your reply. Both your solutions worked fine.

[2018-11-28 08:18] FrederickRies commented on #277
Hello @lmolkova, I can confirm to you that this option is activated for us. The old assistant create this entry when we select "Track client side error" or something like that. So it can be considered as a default option.

Is this option is still an option, because the new assistant in the Azure portal have not something similar ?

I've just made some test on one application and when we activate A

[2018-11-28 10:54] adrianm64 opened #303 "Begin/End Sql dependency tracking"
Hi,

I got some older code using `command.BeginExecuteReader/EndExecuteReader` pattern.

It seems like AI's dependency tracking gets very confused by this.

All dependency items in the application become nested indefinitely.

My guess is that a new operation is started in `BeginExecuteReader`.
All other dependencies happening on the same thread has the sql operation as parent.
The callback (and `E

[2018-11-29 07:06] imeya opened #304 "SQL Dependency result code is “-2”"
The original post is [here](https://stackoverflow.com/questions/53515728/application-insights-sql-dependency-result-code-2).

The customer encounters one strange thing, the sql dependency result code is -2, refer to screenshot below:

![sql-dependency](https://user-images.githubusercontent.com/25738099/49204835-17ad5d80-f3e8-11e8-9f9e-62ab6c2ea14d.JPG)

it's registered under dependencies and not e

[2018-11-29 07:12] imeya opened #305 "Can we get the raw data from the application map?"
we got lot of environments and sometimes it is hard to view the application map every time to find the end point and details. **if in a way I can get json extract** , I can write some smarts to view it in regular basis. The thing our environment connects with various backends and source. it may change on request. it is time consuming to lookup in Azure .

[2018-11-29 09:54] FrederickRies commented on #277
We have switched off the APPINSIGHTS_JAVASCRIPT_ENABLED in all our applications and everything is fine.
The option was trully the causes of our issues.

[2018-11-29 17:57] lmolkova commented on #277
@FrederickRies thanks for the update! and great to know it works for you now.
We are trying to understand why and when this option was set by default and identify components responsible for it. Can you recall when was you AppInsights resource was created and when you installed extension approximately?

Thanks!

[2018-11-29 18:37] fadamsen commented on #251
The issue I reported on [Sep 18](https://github.com/Microsoft/ApplicationInsights-Home/issues/251#issuecomment-422288536) has been fixed since my last comment. Thanks!

[2018-11-29 18:37] #251 closed

[2018-11-29 19:43] skyflyer opened #306 "When using AI in generic host (HostBuilder) it prevents app shutdown"
I'm using AI logging with Serilog in a console application, with the generic host builder. When I press Ctrl-C, the application lifecycle detects the event and shuts down the app, but the process stays alive. The process does end when issuing a `kill` command though.

I'm developing on a Mac, and the host builder config to reproduce this problems follows:

[code]

Perhaps I'm using it wrong or per

[2018-11-30 13:19] FrederickRies commented on #277
You're welcome.
I think i was not clear. This was not a option activated by default. It was an option that we deliberately activated through the Application Insight blade in our Web App. This was with extension version 2.6.5 and the option was activated at the beginning of october.

[2018-11-30 16:48] NoahStahl commented on #277
Just confirming: APPINSIGHTS_JAVASCRIPT_ENABLED is a valid configuration setting with either value. Regardless of the value, responses should not be corrupted. Correct?

[2018-12-01 12:10] RobertoPrevato opened #307 "Please reconsider marketing-driven sentence in README"
This sentence in the README: __"Community Supported SDKs. These SDKs are not recommended for production applications."__ is subjective and should be elaborated. In my opinion it would be best to just remove it. A REST api is just a REST api: it doesn't matter how you generate web requests to log data inside Application Insights. Why community supported SDKs should be avoided for production applica

[2018-12-03 19:44] MS-TimothyMothra commented on #301
Thanks for reporting.
Yes, the SDK updated the dependency on DiagnosticSource and StatusMonitor needs the same update.

[2018-12-03 22:21] clguimanMSFT commented on #167
# [1.3.2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.2)

- **Experimental feature:** Snappoint collection plans. More information available [here](https://gist.github.com/alexaloni/5b4d069d17de0dabe384ea30e3f21dfe).
- SnapshotUploader.exe will exit when the runtime unloads the AppDomain from which SnapshotCollector is loaded, instead of waiting for the proce

[2018-12-04 02:44] lmolkova commented on #304
which ApplicaitonInsights SDK do you use (.NET, .NET Core, Java, Node.js) and which version?
Can you check SDK version on the telemetry properties (click 'show all') and paste it here?

Thanks!

[2018-12-04 02:48] lmolkova commented on #304
If you are using .NET, this is Sql Exception number:

https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/cc645611%28v%3dsql.105%29

-2 |   |   | Timeout expired. The timeout period elapsed prior to completion of the operation or the server is not responding. (Microsoft SQL Server, Error: -2).
-- | -- | -- | --

[2018-12-04 02:48] #304 closed

[2018-12-05 09:57] ToyMakerGR commented on #304
@lmolkova OP here. AI SDK: rddf:2.7.2-19477, .NET Core version.
What does the .NET version / SDK have to do with this SQL-specific result code? Wouldn't it be the same regardless?

[2018-12-05 15:36] cijothomas commented on #304
https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/SDK-VERSIONS.md
the version prefix indicates the sdk mechanism used to collect the dependency, and it can affect result code collected.

[2018-12-05 19:57] juliusl commented on #283
Hey @ojasp,

I was actually going to send an update today! So I just double checked and confirmed that the roll-out of our agent with the fix for AI SDK 2.8.1 has completed in App Services. I also tested my repro app and saw that it could see activities with the 2.8.1 SDK installed.

If you update your app service with the latest extension from our tool in the portal (Settings/Application Insights

[2018-12-05 19:57] #283 closed

[2018-12-06 13:26] imeya opened #308 "application insights SLA"
I noticed that in application insights SLA [V1.0](https://azure.microsoft.com/en-us/support/legal/sla/application-insights/v1_0/) and [v1.1](https://azure.microsoft.com/en-us/support/legal/sla/application-insights/v1_1/), it says **We guarantee that the data latency of the Application Insights Service will not exceed two hours 99.9% of the time.** , so in the left 0.01% of time outside the SLA, co

[2018-12-07 09:30] imeya opened #309 "Huge Block Time in Profiler in Azure App Service Response"
The original post is [here](https://stackoverflow.com/questions/53630529/huge-block-time-in-profiler-in-azure-app-service-response).

The customer encounters an issue: From the past few days, he is Getting Huge Block Time when seen in the profiler, so he wonders why there is so much block Time in request processing?

A screenshot as below:

![hugetimeblock](https://user-images.githubusercontent.co

[2018-12-10 20:49] ojasp commented on #283
Thanks Julius! 2.8.1 nuget package was last updated a month ago, is the fix a part of 2.9.0-beta2 nuget package?

[2018-12-10 23:07] juliusl commented on #283
The fix isn't a part of the AI SDK. The change that broke us was a significant performance improvement so we didn't want that reverted. Instead we opted to fix it from our side which means that it's fixed at the agent level, so 2.8.1 should work with our latest extension.

[2018-12-11 02:07] a3diaz opened #310 "Application insights does not relates dependencies with requests"
I've instrumented Application Insights in a WCF service, it are sending telemetry but it does not relating the dependency calls to the initial request:

![image](https://user-images.githubusercontent.com/14021432/49773336-4a900500-fcb6-11e8-8031-bf2c2461dff3.png)

Here is my web.config:

[code]

And my applicationinsights.config:

[code]

[2018-12-11 22:06] ojasp commented on #283
Just confirmed that we are able to run profiler with 2.8.0. Thanks guys.

[2018-12-12 09:51] imeya opened #311 "Does application insights send data async?"
Does application insights send data async?

and if not, how to send the data(like track, event) async?

thank you.

[2018-12-12 18:00] cijothomas commented on #311
The actual process of sending telemetry items to backend is done async. 'TrackXXX" calls result in items being stored in-memory and are sent async, in batches.

[2018-12-13 01:51] imeya commented on #311
thanks.

[2018-12-13 10:25] phatcher opened #312 "New experience, explain what settings you are applying"
Got this today on one of web sites...

<img width="318" alt="ai extension" src="https://user-images.githubusercontent.com/192778/49932265-80083e80-fec0-11e8-9ce8-490114c9f158.PNG">

and when I press "Turn on site extension", I get the following

![image](https://user-images.githubusercontent.com/192778/49932442-eee59780-fec0-11e8-83e7-b004748789d4.png)

Couple of points...
1. I already had the lat

[2018-12-13 10:32] phatcher commented on #312
Sorry just sway the "Application Insights is linked through Instrumentation key" value above - so what's the difference between that and "Turn on Site Extension"?

[2018-12-14 17:33] burndeal opened #313 "POST /metrics returns 200 status with BadArgumentError (missing "id")"
Making a post call to /metrics without an ID returns an error, but the statuscode is actually 200.

[code]

Output:
[code]

[2018-12-18 14:47] isaac2004 commented on #301
@MS-TimothyMothra any idea when published version will have this fix?

[2018-12-18 18:07] MS-TimothyMothra commented on #301
@isaac2004 Sorry, but I don't have a date to share. We're targeting Q1 2019.
We want to have a private preview available in January. Would you be interested in testing that and providing feedback?

[2018-12-18 18:19] #185 closed

[2018-12-18 18:40] isaac2004 commented on #301
Sure, feel free to message me internally

[2018-12-21 16:49] taddison opened #314 "SQL dependencies >= 100 seconds are not tracked"
We noticed a few long-running SQL calls were not being tracked by app insights, and after investigating found the cutoff to be 100 seconds.

The below app will log dependency calls for 98,99 seconds and nothing for 100,101.  We repeated this several times to try and isolate any timing issues and got very consistent results.

Setup:
- netcoreapp2.2
- Microsoft.ApplicationInsights 2.8.1
- MIcrosoft.

[2018-12-27 22:35] RodrigoGroener commented on #30
i think you can find it here https://github.com/Microsoft/ApplicationInsights-dotnet/blob/1648ecd5bf32cc151557d15cbb0886cb86e84270/src/TelemetryChannels/PersistenceChannel/Shared/PersistenceChannel.cs#L53

[2018-12-31 22:00] rcarmo opened #315 "QuickPulse payload reference?"
I'm looking for a full JSON example payload for QuickPulse, but can't seem to find it anywhere (although the Java SDK has a readable formatter that hints at the format).

[2019-01-03 06:34] SergeyKanzhelev commented on #313
@pdrayton who can take a look?

[2019-01-03 06:37] SergeyKanzhelev commented on #312
@Mikhail-Pranovich please take a look

[2019-01-04 18:42] jwsims commented on #294
Did you ever find a resolution to this issue? We have the exact same problem. thanks

[2019-01-07 19:44] MS-TimothyMothra commented on #310
@lmolkova please review :)

[2019-01-07 19:48] MS-TimothyMothra commented on #314
The dependency telemetry has a 100second cache that is expiring.
We as a team need to discuss how to solve this.

Please continue to upvote this issue so we can track how many customers are affected.

[2019-01-07 19:49] MS-TimothyMothra commented on #315
@lmolkova has context, and will reply :)

[2019-01-07 21:15] SergeyKanzhelev commented on #315
@rcarmo this contract is not public. I.e. no guarantee on it being supported outside of shipped SDKs. What's do you want to use it for?

Here are service contracts in C# https://github.com/Microsoft/ApplicationInsights-dotnet-server/tree/3cc166e3c9ec9d3f4ce77f48d3ab8c6bd6218808/Src/PerformanceCollector/Perf.Shared.NetFull/Implementation/QuickPulse/Service%20contract

[2019-01-07 21:33] rcarmo commented on #315
I want to use it to build LiveMetrics support for Python applications, since the SDK does not support it at present (I intend to contribute to it later on).

My current prototype uses an existing UDP metrics collector and is reproduced below. It was working a couple of months back, but something changed and I am trying to figure out why:

[code]

[2019-01-08 08:39] rcarmo commented on #315
Thanks, but a peer had already looked at that, and it had trouble with asyncio in testing (not to mention being an added dependency, etc.).

[2019-01-09 23:50] cweining commented on #312
We retiring the current version of the application insights site extension and moving to a pre-installed extension. The new extension does not need to be installed – it is already part of the Azure App Service runtime. To enable AI, you just need to set a few app settings. You can turn on the new site extension for an application, then duplicate those app settings to turn it on for other applicati

[2019-01-10 23:17] clguimanMSFT commented on #167
# [1.3.3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.3)

- Fixed bug that was causing SnapshotUploader.exe to hang and not upload snapshots for .NET Core apps.

[2019-01-14 09:59] imeya opened #316 "Is it possible to convert the query results(from the anylytic api) to c# object, like datatable or any other object?"
When using the application insights analytics [api](https://dev.applicationinsights.io/) to fetch the results, like the results of CustomEvents.

The return value is a json string, and contains some dynamic value(in CustomDemesion node), so is there a way to convert sunc json to c# object? like datatable or some other object?

Thanks.

[2019-01-14 12:57] saravana13 opened #317 "SnapShot Collector - Angularjs"
Is Snapshot collector available for angularjs. If no , is there a way to collector the  snapshot in angularjs apps?

[2019-01-14 16:48] SergeyKanzhelev commented on #317
Snapshot Collector is working for server side code today, not for the client side. So you can capture server exception caused by angularjs app in a backend (i.e. passing invalid arguments), but not the client side code that led to the problem.

CC: @pharring

[2019-01-14 16:51] SergeyKanzhelev commented on #316
@pdrayton are you aware of any ORM-like frameworks for Analytics data?

[2019-01-14 17:26] pharring commented on #317
That's correct. SnapshotCollector is for .NET only.

[2019-01-14 18:38] SergeyKanzhelev commented on #317
@saravana13 please re-open the issue if you have more questions or suggestions

[2019-01-14 18:38] #317 closed

[2019-01-18 01:17] joshmouch opened #318 "Possible memory leak?"
I'm experience an issue that only seems to occur when the Application Insights Profiler WebJob is running on my App Service.  Everything will be working fine for a day or two, then suddenly the process will jump from 500 MB up to 8GB within minutes.  I have a memory dump of the last time this happened, and one of the threads looks very suspicious.  There seems to be some kind of recursive loop tha

[2019-01-18 16:45] cijothomas commented on #297
Found this unattended issue while looking at bug fixes in ServerTelemetryChannel.

Since you need retry mechanisms for transient failures, but cannot use file system for storage, i'd recommend to use ServerTelemetryChannel itself but with MaxTransmissionStorageCapacity set to 0. This means you'll get all the reliability of ServerTelemetryChannel minus the ability to store items to disk when in-mem

[2019-01-22 13:46] rudfoss opened #319 "Telemetry keeps disappearing from search in Azure Portal"
I'm testing out basic logging of events and exceptions in a simple nodejs application (using express). I'm trying to use trackException and trackTrace to log errors and general log messages and view the messages in the Search panel of the Azure Portal.

My assumption was that I would be able to view all my exceptions including correlated trace events in the portal after a short delay. I set up a s

[2019-01-23 08:13] neutrongenious commented on #188
well.. it appears like it's boiled down to hope now :)

[2019-01-23 17:56] longrunconsulting commented on #297
Cijo,

Thanks for the follow up response.  Our team works here at Microsoft on one of the engineering systems.  We implemented an in-memory channel that uses a persistent queue in-memory to maintain events until they are successfully sent.  We took some of the naming conventions and patterns from the InMemoryChannel, TelemetryBuffer etc.. and revamped it for increased reliability.  We additionally

[2019-01-24 19:51] MS-TimothyMothra commented on #319
@zakimaksyutov can you help with the UX?

[2019-01-24 20:07] lmolkova commented on #318
`ExceptionTracker::CallCatchHandler` does not belong to ApplicationInsights. It's [coreclr](https://github.com/dotnet/coreclr/blob/master/src/vm/exceptionhandling.cpp)

What makes you think the issue is related to ApplicaitonInsights?
If you have anything that points in this directions: memory dumps, etc, please be more specific:
- what AppInsights flavor and version you use and how dod you onboar

[2019-01-24 20:43] joshmouch commented on #318
I have a Microsoft Azure ticket open to look into the dump further.  I'll let you know what they find if it's related.

[2019-01-24 20:43] #318 closed

[2019-01-25 16:12] pharring commented on #188
Quick note to say "We hear you."
Linux support is still on our backlog (i.e. we haven't cut it), but not yet scheduled. That means, realistically, it's at least 6 months out. On the plus side, in the past year, there has been progress on all four of the major work items I mentioned above.

[2019-01-26 08:57] tknerr opened #320 "AppInsights site extension for AppService logs only "GET /" requests but no others"
We are using the "Application Insights site extension" for our App Services. However, we noticed that the request logging is incomplete in a sense that only "GET /" requests are logged in appInsights, but no other requests.

Any other requests not being the root resource (e.g. "GET /index.html", "GET /some/file.json", etc...) are not appearing at all in appInsights.

What we deploy to the AppServi

[2019-01-26 09:06] tknerr commented on #320
/cc @ChristianEder

[2019-01-29 05:13] OzBob opened #321 "Upgrade AI to 2.80. Release notes missing beta items. TelemetrySinks"
Summary: All the notes between Releases be summarized each major Release.

Detail:
I've just upgrade to 2.8.1 and all my TelemetryProcessors have been nested inside TelemetrySinks.

i.e.
<TelemetrySinks>
    <Add Name="default">
      <TelemetryProcessors>

Microsoft.ApplicationInsights.PerfCounterCollector.2.8.1\content\ApplicationInsights.config.install.xdt
or
Microsoft.ApplicationInsights.Windo

[2019-01-29 06:05] cijothomas commented on #321
https://www.nuget.org/packages/Microsoft.ApplicationInsights This page links to https://docs.microsoft.com/en-us/azure/azure-monitor/app/release-notes which has the link to individual SDK release notes.
Are you suggesting that the nuget page should contain the full release notes, instead of a link to another page containing the link to another..?
Makes sense. @MS-TimothyMothra Do you think if this

[2019-01-29 12:21] pixelicous commented on #238
amazing, no response.. typical ms

[2019-01-29 15:06] cijothomas commented on #297
@longrunconsulting Thanks Bryan for sharing more context. We are always glad to accept contributions to the SDK!
I'd like to know more on what specifics are done in ReliableInMemoryChannel.

Would it have solved you issue, if ServerTelemetryChannel has a 'no-disk' option - so that errors would result in items being kept in memory, and retrying from the memory itself? And expose more internals like

[2019-01-29 15:07] cijothomas commented on #297
You can mail me cithomas**@**microsoft**.*com .. (Remove all the *s) and we can have a call or somethign to discuss more if thats faster.

[2019-01-29 15:24] cijothomas commented on #320
"What we deploy to the AppService is a simple, client-side only .html website via zip push deployment."

So is your application not a Asp.net application?

[2019-01-29 15:51] tknerr commented on #320
Hi @cijothomas,

no, indeed it's not. Our backend runs in Service Fabric, and only the Frontend SPA (single page application) runs within the App Service -- so since there is no server side backend code involved, only client-side javascript, I simplified it to a "client-side only .html website"

The Application Insights site extension still adds request logging, but as described only for requests

[2019-01-29 18:54] jacobslusser opened #322 "Is it possible to target multiple AI instances?"
Is there a supported way of specifying more than one instrumentation key and thus target multiple instances of Application Insights? If not, could this feature be added?

Cheers.

[2019-01-29 19:02] cijothomas commented on #320
I am wondering what SDK is logging the 'Requests' you are seeing.. Can you check the SDK version in the 'requests' ?

[2019-01-29 19:06] cijothomas commented on #322
You can use multiple TelemetryClients, each with different ikeys, and make 2 Track() calls, one each on the clients.

Or is your use case more like
`var tc = new TelemetryClient(ikey1,ikey2); tc.Track() `
and you want exact same telemetry to goto both ikey1 ikey2?

The latter is not quite supported. There is a concept of 'TelemetrySinks' which can be configured to broadcast data to multiple places

[2019-01-29 22:44] MS-TimothyMothra commented on #221
**Workaround**

Please use the [PowerShell install instructions](https://docs.microsoft.com/azure/azure-monitor/app/monitor-performance-live-website-now#automation-with-powershell)

[code]

----

**What's going on here**

Status Monitor attempts to log into Azure to retrieve your resources and ikey.
Status Monitor does not work for TLS 1.2.

Microsoft's guidance is that an application should not s

[2019-01-30 02:14] jacobslusser commented on #322
I would be very interested in the possibility of `new TelemetryClient(ikey1,ikey2);` and knowing more about "TelemetrySinks". Please share.

[2019-01-30 06:47] cijothomas commented on #322
new telemetryClient(key1,key2) dont exist now :(  so the closest is TelemetrySinks. Only doc as of now is unit tests:
https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/Test/Microsoft.ApplicationInsights.Test/Shared/Extensibility/TelemetrySinkTests.cs
I'll try to get a working example. It may not be super obvious.

Another alternative is to write a TelemetryProcessor which can se

[2019-01-30 09:12] tknerr commented on #320
Hi @cijothomas ,

yes sure, the skdVersion is `ar_web:2.9.0-3904`

Full request details here:

![image](https://user-images.githubusercontent.com/365744/51970550-7ee29f00-2477-11e9-8985-e29dd3b0c091.png)

[2019-01-30 10:55] ig-sinicyn commented on #306
Same thing here.
Microsoft.ApplicationInsights 2.9.0-beta3, simple console application (net472). On app exit there are twenty (srsly?) threads locked in `Pipelines.Sockets.Unofficial.dll!Pipelines.Sockets.Unofficial.DedicatedThreadPoolPipeScheduler.RunWorkLoop()`

and a pair of `Pipelines.Sockets.Unofficial.dll!Pipelines.Sockets.Unofficial.DedicatedThreadPoolPipeScheduler.RunWorkLoop()`
threads

[2019-01-30 16:02] cijothomas commented on #320
@tknerr Not sure whats going on here. 'ar_web' doesn't look like standard .net sdk, but i do see metricextractor, which is only part of .net sdk.... @SergeyKanzhelev can you help ?

[2019-01-30 16:03] lmolkova commented on #306
@ig-sinicyn do you use ServerTelemetryChannel also? Can you share you Application Insights configuration?

@skyflyer can you reproduce it with InMemoryChannel?

[2019-01-30 21:01] skyflyer commented on #306
@lmolkova, it works with InMemoryChannel. I guess we can switch to that one; Orleans Silo implementation does a graceful shutdown and I can look into graceful shutdown for ASP.NET Core apps as well - so I can call `Flush` on the channel. Just to check if this is the right approach:

[code]

[2019-01-30 22:51] lmolkova commented on #306
@skyflyer this code looks right.

@cijothomas  Could you please have a look? Is it something known?

[2019-01-30 22:52] lmolkova commented on #315
@rcarmo sorry for the delay. Could you please report asyncio testing issues to OpenCensus community (https://github.com/census-instrumentation/opencensus-python)?

[2019-01-31 07:56] ig-sinicyn commented on #306
Sorry for late response, was offline:)

[Here's a quick repro](https://github.com/Microsoft/ApplicationInsights-Home/files/2816168/ReproAppInsights.zip) for the issue. Fill AI key, start, wait for "Tracked" output, press Ctrl-C. Process hangs.

[2019-01-31 11:22] rcarmo commented on #315
No problem. But we've since established that we cannot use OpenCensus for the containerised scenario I was working on. Right now either I finish the snippet I have above (which is WIP) and have basic in-container stats, or we feed those via a Redis queue to a central collector. There are technical arguments pro and against, and I'm sorting them out (among other things).

It would be a tremendous h

[2019-02-01 20:20] cbrianball commented on #281
@OsvaldoRosado Related question (let me know if I should open an new issue):

I noticed if I use the direct link you provided, I don't get as much information as if I were to find the operation via the Azure portal's App Insights UI.

Example:
This is what I get when I navigate using the direct link URL:
![image](https://user-images.githubusercontent.com/640035/52147490-ded27480-2634-11e9-92a9-fa7

[2019-02-01 23:21] OsvaldoRosado commented on #281
@cbrianball We're aware of a regression causing URLs that contain only an item id to not query for a complete transaction. We're currently working on a fix to resolve this. Once resolved, I believe that you should see the correct behavior from your links.

[2019-02-02 00:41] jacobslusser commented on #322
Awesome. Thanks. I'll review this.

[2019-02-02 00:41] #322 closed

[2019-02-05 18:05] tknerr commented on #320
@SergeyKanzhelev any feedback on this so far?

[2019-02-10 04:14] SergeyKanzhelev commented on #293
@elamalani please review https://github.com/Microsoft/ApplicationInsights-Home/pull/323

Also do you think it's time to hide those repositories? Does anybody still need those sources in the open?

[2019-02-14 22:18] zakimaksyutov commented on #319
@rudfoss, do you still experience this issue?

[2019-02-15 16:14] wyeack opened #324 "Synthetic Telemetry Initializer causes Unhandled Exception"
I have created a Synthetic Telemetry Filter as described here:
https://azure.microsoft.com/en-us/documentation/articles/app-insights-api-filtering-sampling/#sampling

Here is my exact code:

`public class SyntheticTelemetryFilter : ITelemetryProcessor
	{
		private ITelemetryProcessor Next { get; set; }

		public SyntheticTelemetryFilter(ITelemetryProcessor next)
		{
			this.Next = next;
		}

		pub

[2019-02-15 17:18] isaac2004 commented on #301
@MS-TimothyMothra update?

[2019-02-16 08:23] rudfoss commented on #319
@zakimaksyutov I left it alone for a while and tried again with a new instance of Appinsights. It has so far seemed to work fine. I've not had any more disappearing exceptions as far as I can tell. Any idea what might have been the cause?

[2019-02-19 12:02] tknerr commented on #320
bump (being desperate :-/)

[2019-02-19 16:55] joshuapetryk commented on #283
Hi - this is still an open issue for Azure Cloud Services, as it looks like the diagnostic extension doesn't have the fix. Is this being tracked elsewhere?

[2019-02-21 19:44] MS-TimothyMothra commented on #324
@wyeack Can you please confirm which version of the SDK you used (before and after upgrade).

[2019-02-21 23:16] Dmitry-Matveev commented on #320
@tknerr, if web app is mainly client-side based app with no .NET Managed processing on the server side, then with the default settings AI won't detect anything beyond root calls into the app that may go through the managed handler. (AI SDK is mostly managed code instrumentation and static files do not go through that pipeline for a reason).

However, for the servers where you have access to the we

[2019-02-22 19:18] tknerr commented on #320
Hi @Dmitry-Matveev, thanks for the clue!

I'm still tapping in the dark, but I guess you mean this setting exposed in Azure Portal GUI?

![image](https://user-images.githubusercontent.com/365744/53265489-ae837080-36de-11e9-9eb0-9e8027fafb74.png)

Otherwise, any more clues on the concrete setting name in Web.config?

Will dig deeper in the meantime...

[2019-02-22 19:39] tknerr commented on #320
Ok, I guess I found it here: https://serverfault.com/a/610203

[code]

That looks promising indeed. I will give it a spin and report back here if it's working or not...

[2019-02-22 20:30] tknerr commented on #320
This seems to work as expected now, i.e. we get all the requests properly logged now:

![image](https://user-images.githubusercontent.com/365744/53269227-a03a5200-36e8-11e9-9f14-83067f6dd1f7.png)

Thanks a lot @Dmitry-Matveev for pointing out the final clue! 👍

(I owe you a 🍻for that :))

[2019-02-22 22:27] Dmitry-Matveev commented on #320
@tknerr , you are welcome! Glad it helped.

[2019-02-22 22:27] #320 closed

[2019-02-24 19:21] wyeack commented on #324
Hi @MS-TimothyMothra  - I'm not sure what it was before the upgrade but now it is 2.9.1.

[2019-03-01 01:19] juliusl commented on #283
@joshuapetryk Sorry for the late reply. Yes we have this fix in WAD and we're waiting for the WAD team to deploy our changes. I'll give you an update as soon as I find out progress on that.

[2019-03-04 17:32] kevinburkett commented on #282
Is there an ETA when this will get fixed?  It is preventing my team from getting diagnostic data from the browser.  This bug was filed 4 months ago.

[2019-03-04 18:21] lmolkova commented on #282
@kevinburkett  you can workaround the issue in your environment right now by removing  APPINSIGHTS_JAVASCRIPT_ENABLED  or setting it to false.

@cijothomas is working on permanent fix.

[2019-03-05 15:32] cijothomas commented on #282
@kevinburkett can you describe the issue you are facing ? Are you having issues in asp.net core app? Are you seeing partial html response? Or something else?

I have a fix deployed to mitigate the partial html response for asp.net core 2.0,2.1 apps.

[2019-03-06 23:14] MS-TimothyMothra commented on #282
@cijothomas when can we expect this fix in production? within a week?

[2019-03-06 23:15] MS-TimothyMothra commented on #277
Referencing #282
@cijothomas is working on a fix for this issue.

[2019-03-07 04:06] cijothomas commented on #282
The fix was already deployed 2-3 weeks back.

[2019-03-07 04:11] cijothomas commented on #277
Fix is deployed to handle this issue in .net core 2.0 and 2.1 apps. Fix for 2.2 (and support for 2.2 apps) is going to be deployed this week/next.

[2019-03-07 21:51] MS-TimothyMothra commented on #324
Hi @wyeack, without knowing the previous version I can't identify what changed when you upgraded.

Reviewing your code, it's possible that something in `item.Context.Operation.SyntheticSource` is null.
Consider something like `item?.Context?.Operation?.SyntheticSource`.

[2019-03-08 15:33] cijothomas commented on #184
For any apps, set APPINSIGHTS_JAVASCRIPT_ENABLED=false explicitly and there wont be any js snippet injection. Previously, this did not work for asp.net core.
This fix is being rolled out to all Azure Web Apps instances.

[2019-03-08 15:37] cijothomas commented on #277
close-this.

[2019-03-08 15:37] cijothomas commented on #277
please-close

[2019-03-08 15:38] cijothomas commented on #277
obviously that didn't work 🤦‍♂️

[2019-03-08 17:26] marcusvnac commented on #179
Hey there. I am facing the same problem here. Even after having added the setting described in the [example referenced before](http://apmtips.com/blog/2016/01/31/telemetry-channels-update/), the problem still happens. Actually, I hadn't seen any use of the folder specified in this example. I am using version 2.9.1

[2019-03-08 22:09] MS-TimothyMothra commented on #266
**TODO**: Need up update doc after these PRs are merged.

- Configure performance counters collection
https://github.com/Azure/azure-webjobs-sdk/pull/2067

- Http tracking and distributed tracing
https://github.com/Azure/azure-webjobs-sdk/pull/2073

- Functions v1: Update ApplicationInsights to 2.6.4 and enable heartbeats
https://github.com/Azure/azure-webjobs-sdk/pull/1967

[2019-03-08 22:21] MS-TimothyMothra opened #325 "Azure Docs: Update "Proxy" Instructions"
Current proxy documentation is misleading.
I would fix it today, but Azure Docs are locked for maintenance until 3/11

https://docs.microsoft.com/en-us/azure/azure-monitor/app/troubleshoot-faq#can-i-monitor-an-intranet-web-server

Need to list Three forms of telemetry redirection:
1. Firewall exception
2. "Gateway redirect" (rename current "proxy redirect")
3. "Proxy passthrough" (new)

### Proxy

[2019-03-08 22:26] MS-TimothyMothra opened #326 "Knowledge Gap: Cloud Role Name"
I've seen an increase in customer issues over the use and configuration of Cloud Role Name.
This is a huge knowledge gap that needs to be addressed.
Specifically what values are being captured by default by our SDKs and how those SDKs behave differently **on-prem, on Azure, and On-By-Default environments**.

Collecting information here:

- Application Map has excellent examples here: https://docs.

[2019-03-08 22:42] MS-TimothyMothra opened #327 "Azure Docs: NetCore & Javascript Enabled"
I added a description of the APPINSIGHTS_JAVASCRIPT_ENABLED issue to our public documentation to address the flood of support tickets we were receiving. Now that Cijo fixed this issue, I need to remove this issue from our docs.

I would do this today, but our docs are frozen for maintenance until 3/11.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps#appinsightsjavascripten

[2019-03-08 22:44] cijothomas commented on #327
Lets leave it there for now. There are still a few cases where this can cause the issue.

[2019-03-09 00:57] MS-TimothyMothra commented on #327
okay. :)
how long do you think is appropriate to leave it up? a month?

[2019-03-09 01:32] cijothomas commented on #327
Dont think we need to remove it anytime soon. (Also we are considering making a dedicated troubleshooting page for extensions - so it does n't hurt to have a long list)

[2019-03-10 18:41] sbaltes opened #328 "Unclear licensing situation for code in AccountController.cs"
Function `public static ExternalLoginData FromIdentity(ClaimsIdentity identity)` in [AccountController.cs](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/Samples/WebApiTracingSample/WebHostedWebApiApplication/Controllers/AccountController.cs) is a copy of the code in [this](https://stackoverflow.com/a/18923770) Stack Overflow post.

This code seems to be originally from Stack Ov

[2019-03-11 09:00] tyagiparth opened #329 "formatting exception when enabling App Insight for Azure function."
I have deployed an Azure v2 function and enabled App Insight on top of it. I'm getting a `Formatter exception. `
`Format string can be only "D", "d", "N", "n", "P", "p", "B", "b", "X" or "x".` at  System.Private.CoreLib
[code]

This exception only occurs when the app insight is enabled for the function. We also have a custom implementation for creating the telemetry data with the help of App Insig

[2019-03-12 22:37] #327 closed

[2019-03-12 22:39] #325 closed

[2019-03-19 01:56] lmolkova commented on #329
@vatsparth
thanks for reporting this!
Do you know if it happens when function log something or when you call logger from your code?
If it is something you log, can you share which arguments you pass to Log* method and which scopes do you put?
You mentioned that in custom implementation this exception does not happen, do you try to format message there?

`string formattedMessage = formatter?.Invoke

[2019-03-20 17:43] Mystere commented on #328
Did you bother to look at the user who posted the code?  Their user profile mentions they live in Redmond, and their personal webpage links to a blogs.msdn.com page (that no longer exists, but probably did at one time.).  In other words, it is (or was) a Microsoft Employee who originally posted it.  Thus, as the author, has the right to re-license the code however they wish.

Besides, what does th

[2019-03-20 21:05] sbaltes commented on #328
Thanks for your feedback!

If the original author agreed that the code is re-licensed under MIT in this repository, that's fine.
If the code has been copied from this GitHub repository to Stack Overflow by the original author, that's also fine.
However, this is not obvious from the fact the the user may or may not have worked for Microsoft at that point in time.
I just wanted to make you aware tha

[2019-03-20 21:28] MS-TimothyMothra commented on #326
We keep getting requests to customize the cloud_RoleName or appName without changing code.
Specifically, with our code-less attach scenarios.

One recommendation is to introduce an environment variable that can be set on a machine to allow customers set this.

Pro:
- codeless solution for codeless attach.

Con:
- if this is an environment variable, this may conflict with customers who run multiple

[2019-03-20 21:56] cijothomas commented on #326
@MS-TimothyMothra instead of ENV, can we get RoleName from Web.Config (apsettings.json in .net core) ? This will avoid unintended side effects..

[2019-03-20 22:21] paulomorgado commented on #326
I have a [draft PR](https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/1158) to pull **cloud_RoleName** from the application pool name.

But I would favor a generic implementation that pulls properties out of ApplicationInsigths.config with environment variable expansion.

This could be an easy way to populate whatever the user needs:

[code]

[2019-03-20 22:32] MS-TimothyMothra commented on #326
@cijothomas I'm hearing people specifically ask for an Environment Variable, but I definitely prefer your suggestion.

I would be in favor of a ranking of options for example: EnvVar < Web.Config < ApplicationInsights.config

I like @paulomorgado 's proposal.

[2019-03-20 22:37] cijothomas commented on #326
@MS-TimothyMothra can customer modify applicationinsights.config file in codeless attach?

[2019-03-20 23:45] paulomorgado commented on #326
I, actually, like both.

[2019-03-21 15:24] Mystere commented on #328
There is no "may or may not".  The owner of the code is Microsoft, regardless.  It was most likely NOT copied from Stack Overflow, but rather originated in Microsoft's examples, and was used by a Microsoft employee on Stack Overflow to answer a question.

If anything, it's use on Stack Overflow by a Microsoft employee would be suspect, not it's use here by Microsoft.

[2019-03-21 15:42] sbaltes commented on #328
What I meant is that I can't judge based on an address in a user profile when someone worked for which company. I also cannot judge which is the original source and what has been copied in which direction. If you have this information, that's good. I only observed that there is an overlap between the code in this repo and the Stack Overflow post and wanted to report it here.

[2019-03-21 17:03] paulomorgado commented on #326
@cijothomas,

If you have access to the system, you sure have access to ApplicationInsigths.config and that's one of the use cases.

[2019-03-21 17:08] paulomorgado commented on #326
Draft PR that pulls **RoleName** and **RoleInstance** from the configuration of the telemetry initializer: https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/1161

[2019-03-21 17:18] cijothomas commented on #326
I am not sure if that's the case. We don't allow customers to edit ai.config if using Web App extensions. Not sure with Status Monitor - but as you said nothing would prevent one from modifying it if access.

[2019-03-21 17:50] MS-TimothyMothra commented on #326
For the new Status Monitor, the ai.config is an embedded resource so it won't be available to end users.
The plan is to make certain options available through StatusMonitor as needed.

[2019-03-21 18:04] cijothomas commented on #326
Since ai.config is NOT editable by user - I don't see how @paulomorgado submitted PR for new TelemetryInitializer about IIS  would help. Because user's won't be able to take advantage of it without accessing ai.config.

[2019-03-21 18:08] MS-TimothyMothra commented on #326
I'm not opposed to Paulo's PR in general because I've seen this request for a lot of customers.

@cijothomas Where would the appropriate place for an EnvironmentVariable reader be?
I think we could add that in the 2.10 milestone.

[2019-03-21 18:13] cijothomas commented on #326
How does users add Paulo's new TelemetryInitiazlier to the Ai.Config if we dont allow users to edit ai.Config?

[2019-03-21 18:16] MS-TimothyMothra commented on #326
This issue isn't exclusive to codeless-attach.

But we should definitely prioritize the EnvironmentVariable solution if we want to get it into 2.10.

[2019-03-21 18:22] cijothomas commented on #326
If its not for code-less scenarios, then user's can easily write TelemetryInitializers themselves , and we can put Paulo's code in examples repo for users.

[2019-03-21 18:32] MS-TimothyMothra commented on #326
That's fine. Can we discuss where's the correct place to implement the EnvironmentVariable?

[2019-03-21 19:06] paulomorgado commented on #326
My initial use case was an organization that manages the infrastructure for another organization that uses a third party developed application.

This all runs on VMs and there's definitely access to ApplicationInsights.config but not access to the source code of the application or anyone capable of writing the code, even from a sample.

This is a use case that covers both virtual or physical machi

[2019-03-21 19:11] cijothomas commented on #326
@paulomorgado If your use case is with StatusMonitor customers, this change will not help you because
1. if you are on OLD version of SM, it can only update to 2.3 of SDK which wont contain this proposed change.
2. If you are shifting to new SM, then as Timothy said, you wont get access to Ai.COnfig.

Let me know if my understanding is correct.

[2019-03-21 19:19] paulomorgado commented on #326
Yes you do, @cijothomas. It's me that wasn't understanding that this is an all new SM.

But this is still a valid use case. What is your suggestion for this use case?

[2019-03-21 20:37] cijothomas commented on #326
It looks like the issue is specific to SM customers. @MS-TimothyMothra can we solve this with SM itself? Like allow users to set role name for each app, just like they set ikey?

[2019-03-21 21:10] paulomorgado commented on #326
That would be great!

[2019-03-21 21:16] MS-TimothyMothra commented on #326
We're happy to take feature requests for SM.
But first, we need to support this at the SDK level first before I can support it in SM.

[2019-03-21 21:21] SergeyKanzhelev commented on #326
Env vars would be better for this. See https://github.com/Microsoft/ApplicationInsights-dotnet/issues/630 and https://github.com/census-instrumentation/opencensus-specs/blob/b977bcf382470647fefd0ae2a699561eb3ccc929/resource/Resource.md#from-environment-variables

[2019-03-25 10:04] drauch opened #333 "MSB3030 with linked config files"
We've just upgraded from 2.6.x to 2.9.1 and now our build fails with the following error message:

[code]

Our ApplicationInsights.config file is part of the project, however, it is a linked item:

[code]

Is this a bug? It worked in 2.6.x.

[2019-03-25 17:46] Praveenpvs opened #334 "Missing license info for Microsoft.ApplicationInsights.JavaScript (0.11.0-build09387)"
Hi Team,

We had used Nuget package: "**Microsoft.ApplicationInsights.JavaScript**", version: **0.11.0-build09387** in one of our components.
As part of assessment, we are looking for licence terms associated with this version. The "License info" link in the Nuget website is taking to a 404-Not found page. https://www.nuget.org/packages/Microsoft.ApplicationInsights.JavaScript/0.11.0-build09387

C

[2019-03-26 00:06] MS-TimothyMothra commented on #221
@seanksullivan
I’ve just published v0.1-alpha of IISConfigurator. This is our replacement for StatusMonitor.
**This does solve the TLS bug!**

I’ve organized all our docs for the IISConfigurator here:  https://github.com/Microsoft/ApplicationInsights-Home/blob/master/Samples/IISConfigurator/TOC.md
This includes:
	- A Quick Start Guide
	- Detailed getting started instructions
	- API reference for t

[2019-03-26 00:10] MS-TimothyMothra commented on #241
Hello All,
I’ve just published v0.1-alpha of IISConfigurator. This is our replacement for StatusMonitor.

I’ve organized all our docs for the IISConfigurator here:  https://github.com/Microsoft/ApplicationInsights-Home/blob/master/Samples/IISConfigurator/TOC.md
This includes:
	- A Quick Start Guide
	- Detailed getting started instructions
	- API reference for the new PowerShell Module
	- A page de

[2019-03-26 00:10] MS-TimothyMothra commented on #273
Hello All,
I’ve just published v0.1-alpha of IISConfigurator. This is our replacement for StatusMonitor.

I’ve organized all our docs for the IISConfigurator here:  https://github.com/Microsoft/ApplicationInsights-Home/blob/master/Samples/IISConfigurator/TOC.md
This includes:
	- A Quick Start Guide
	- Detailed getting started instructions
	- API reference for the new PowerShell Module
	- A page de

[2019-03-27 16:44] StandBackBurrito opened #335 "SnapshotUploader Error scanning for PDBs"
We are seeing traces in our log where the SnapShotUploader is getting an access denied while looking for local PDB in our DFSR folder.

Is there a way to keep `SearchForLocalPdbs` from looking in certain folders?
[code]

[2019-03-28 21:14] SergeyKanzhelev commented on #335
@pharring can you help?

[2019-03-29 19:33] pharring commented on #335
@StandBackBurrito thanks for the question. The error is benign. If we see any Exception when scanning for PDBs, we remove the folder from the search list. So you should see this just once (per run of the SnapshotUploader) and it is just a diagnostic; it's non-fatal.

[2019-03-30 07:59] OneCyrus opened #336 "SnapshotCollector: SnapshotUploader.exe locked"
we are running multiple webs on the same server and are seeing that SnapshotCollector is having issues with the snapshotuploader blocked by other processes. is there a way to have custom folders for each web without changing to multiple users?

[code]

[2019-04-03 12:51] dennis-tra opened #337 "ReadTimeout and DNS resolution failure"
Hey there,

I have already asked [here](https://github.com/Microsoft/ApplicationInsights-Ruby/issues/69) and I was forwarded to this repo :)

Just recently we started to experience the following error messages:
[code]
in conjunction with the fluentd plugin [fluent-plugin-application-insights](https://github.com/Microsoft/fluent-plugin-application-insights). This happens several times a day. Any id

[2019-04-08 21:07] #259 closed

[2019-04-10 11:33] gabrielbaptista opened #339 "Server response time degradation (Smart Detection) at 00:00 UTC time"
I have been using ApplicationInsights for a while and I have noticed that, no matter the Azure WebApp or Azure Function I am monitoring, almost everyday I got an email indicating time degradation exactly at UTC 00:00.

![image](https://user-images.githubusercontent.com/4146065/55875263-1137ab00-5b6b-11e9-878e-a0308ca5fca4.png)

Is there a way to detect the responsible for this time degradation or

[2019-04-11 23:24] vincpa opened #341 "Support for Java Jersey based applications"
I have instrumented a front-end and Node based app on Express JS and now I'd like to instrument my Java based application written in Jersey. Unfortunately, I can't find a single blog post or article on how to do this.

I should also add that I am looking at this from a DevOps perspective and don't have the knowledge to do this in Jersey. I'd like to add a code snippet somewhere and have it instrum

[2019-04-17 08:26] Shawson commented on #282
Is this definitely confirmed as fixed?  We've seen this issue arising on our live site as recently as a week ago?  Having not found this GitHub issue, our only solution to stop the random UURL Rewrite errors on our static Angular html templates was to turn application insights collection level down to "Basic".

[2019-04-17 14:10] cijothomas commented on #282
@Shawson do you have set APPINSIGHTS_JAVASCRIPT_ENABLED to true?

[2019-04-18 08:28] Shawson commented on #282
I did; we've since set this to false and turned AI back to "recommended" last night and so far the issue seems to be resolved, which is great!

[2019-04-18 15:57] cijothomas commented on #282
@Shawson Glad to see it resolved for you. What was your application type - asp.net core 2.1 or 2.2?

[2019-04-21 19:31] sadjadbp opened #343 "Status Monitor fails to start on Windows Server 2019"
Updated my servers to Windows Server 2019, and now Application Status Monitor cannot start with the error below.

Tried starting as admin or uninstall and reinstall, stopped Windows Defender, but nothing helped.

[code]

[2019-04-21 19:32] sadjadbp commented on #343
![image](https://user-images.githubusercontent.com/6307366/56474654-8770c300-6431-11e9-9c0d-3b5b9a04de23.png)

[2019-04-22 19:55] clguimanMSFT commented on #167
# [1.3.4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.4)

- Allow structured Instrumentation Keys.
- Increase SnapshotUploader robustness - continue startup even if old uploader logs can't be moved.
- Re-enabled reporting additional telemetry when SnapshotUploader.exe exits immediately (was disabled in 1.3.3).
- Simplify internal telemetry.
- **Experimental f

[2019-04-22 23:50] MS-TimothyMothra opened #344 "Publish PerfView instructions on Azure Docs"
We need to publish the PerfView instructions on our own Docs page.

http://sergeysharp.com/blog/2015/04/16/diagnostic-of-applicationinsights-sdk/

[2019-04-22 23:51] MS-TimothyMothra commented on #344
@mrbullwinkle, i might need your help with this one.

[2019-04-23 20:05] MS-TimothyMothra commented on #344
I had some time and created a super small PR:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/74331

[2019-04-23 20:14] mrbullwinkle commented on #344
Thanks for putting that together!

[2019-04-23 20:29] MS-TimothyMothra commented on #344
I have to save all the goodwill I've earned for the big PR that i'm going to send your way this week ;)

[2019-04-24 08:31] Shawson commented on #282
No core- Just plain old MVC5 running under .net 4.7

[2019-04-24 15:40] cijothomas commented on #282
@Shawson then this issue is not fixed, and you need to workaround by setting APPINSIGHTS_JAVASCRIPT_ENABLED  to false.

[2019-04-25 10:36] Shawson commented on #282
Yes I'd thought as much; this is the workaround we have employed.

[2019-04-25 14:43] cijothomas commented on #282
Please note that this issue is NOT fixed.
https://github.com/Microsoft/ApplicationInsights-Home/issues/277 is fixed - which was about asp.net core apps getting partial html response.

[2019-04-25 16:37] Mikhail-Pranovich commented on #282
There is a confusion between two independent issues in this thread:
1. URL rewrite error. This is due to APPINSIGHTS_JAVASCRIPT_ENABLED=true and the content is encoded
    * this issue is not fixed, and the scenario is not supported yet. The workaround is to remove APPINSIGHTS_JAVASCRIPT_ENABLED from app settings. Unfortunately that means that if Javascript instrumentation required, the manual SDK

[2019-04-25 21:58] SergeyKanzhelev commented on #343
My **guess** will be that you need to install IIS management component. Use windows add/remove features dialog

![image](https://user-images.githubusercontent.com/9950081/56771103-99709f80-676a-11e9-98b1-56de6d17b15e.png)

[2019-04-25 22:01] #335 closed

[2019-04-25 22:02] sadjadbp commented on #343
It's a Windows Server 2019 and I think I already have that

![image](https://user-images.githubusercontent.com/6307366/56771315-1f8ce600-676b-11e9-8231-dd1cdce5787b.png)

[2019-04-25 22:11] MS-TimothyMothra commented on #343
How much memory do you have on this server?
This doesn't sound like a StatusMonitor problem. If you notice in that call stack, the main method is failing with the exception:

[2019-04-25 22:14] sadjadbp commented on #343
No memory issue, have 8GB free

![image](https://user-images.githubusercontent.com/6307366/56771851-c0c86c00-676c-11e9-82cd-2d80796b734d.png)

Have the same issue on 6 servers all Windows Server 2019.

[2019-04-25 22:27] MS-TimothyMothra commented on #343
I spoke to @sadjadbp offline and asked him to try StatusMonitor's replacement, IISConfigurator.

[2019-04-26 06:01] SergeyKanzhelev commented on #229
Are you using .NET SDK? You can use telemetry processors to exclude web socket requests https://docs.microsoft.com/azure/azure-monitor/app/api-filtering-sampling

[2019-04-26 06:04] #267 closed

[2019-04-27 20:19] SergeyKanzhelev commented on #339
I'm sorry for the late reply. When looking at actual response time - is there anything special happening around that time?

1. What pressing on See more details shows? Does it give some breakdown on what type of requests are responsible for this?
2. You can analyze manually. You can type something like this request, and analytics UI will likely suggest to analyze anomaly at 00:00 UTC
[code]

![ima

[2019-04-29 12:08] gabrielbaptista commented on #339
Hello @SergeyKanzhelev . There is nothing special happening in my environment at 00:00 UTC.

I got the analysis as you recommended and there is something very strange... The picture indicates that the slowest response did not happened at 00:00 UTC, but at 14:40 UCT. On the other hand, I have built a monitoring tool that indicates the almost every day at 00:00 UTC I have a kind of "reset" of my Azu

[2019-04-29 15:56] SergeyKanzhelev commented on #339
@gabrielbaptista it's not much I can do on my side without more information from you =).

What kind of reset are you talking about? Can you please give more details?

@brettsam can you think of anything that might happen in Azure Functions runtime at 00:00 UTC that may lead to the long response time?

[2019-04-29 16:13] brettsam commented on #339
Functions doesn't do anything special at any point in time, no. Do you have any timer triggers running that could be firing then? If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I see anything from the backend logs.

[2019-04-29 17:58] gabrielbaptista commented on #339
Hello @brettsam and @SergeyKanzhelev,

Yes, I am referring to Timer Trigger Functions. The Function App for this case was **https://homolog-cloudprixfunctions.azurewebsites.net/**

[2019-04-29 20:40] brettsam commented on #339
I see that you have a few timer triggers firing at different times -- but a bunch do fire at 00:00 UTC (a couple run every 12 hours). And I do see a spike in a few of them. Because they all run in the same process, it's possible that they're competing for processor time and it's slowing down a handful of them right then. Do any of your functions do anything different at midnight that could cause t

[2019-04-29 22:01] gabrielbaptista commented on #339
Hi @brettsam ,

Thank you for the fast feedback. I do have many other separated apps for critical functions. I will check the opportunity of changing the schedules so that I could get a better result. The point is: Is there a limitation of number of functions that I could run in the same server? Obviously, if I run a single function in the app, it will run perfectly, but my environment hast more t

[2019-05-03 20:35] jwuliger commented on #294
My team is facing this issue as well. Not sure if it is something I need to be worried about or if this is just one of the warning that can be ignored. I am using AI Native API in a Hybrid Application.

[2019-05-17 13:07] AlskiOnTheWeb opened #347 "Application Insights End-to-end Transaction "Permalink""
WRT issue #281 ...can we create a feature to offer a "permalink" URL based off of just the Operation ID? The suggested work around for #281 includes an Item ID. In our case, we don't have that item ID available in order to build the URLs referenced there...but we do have what equates to the operation ID. We're trying to build links from a client side application that will tie directly to the faile

[2019-05-18 20:15] ketaanhshah opened #348 "cloud_roleName Telemetry intializer declarative method not working as documented"
I have been following this article for adding cloud_RoleName to my web-app (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/app/app-map.md#net), I just tried this with a very simple ASP.net web-app. I created a class library for telemetry and referenced it with my Web-App and made sure Instrumentation Key is used. Now when I initialize the custom TELEMETRY class prog

[2019-05-25 15:18] #312 closed

[2019-05-28 22:43] v-alwout opened #349 "Disposing Configuration does not clean up worker threads"
I have a scenario where I need to keep a program running, but it might need to update the configuration for Application Insights.  It does this currently by Initializing a new configuration class, creating a new client with the new configuration, then disposing the old configuration.  However, I found that after each configuration change, the old threads for perf and dependency collection were not

[2019-05-29 05:11] SergeyKanzhelev commented on #336
@pharring have you seen this question?

[2019-05-29 14:05] ketaanhshah opened #350 "Can Application Insights do this like DynaTrace?"
Hello All,
I got these set of questions from a Performance Engineer who is trying to question Applications Insights in comparison to DynaTrace. I would really appreciate if someone can help me with these and how we can achieve it in Application Insights/Log Analytics:-
o	List all user actions (user screen button clicks) with response times, and errors
o	Ability to click on the above listed user ac

[2019-05-29 14:14] ketaanhshah commented on #281
Hi All,
Was there any fix on this available so that we can view end to end transaction?

[2019-05-29 15:37] pharring commented on #336
Thanks for the ping. I missed this question.
@clguimanMSFT FYI too.
You can set the ShadowCopyFolder property in SnapshotCollectorConfiguration.
It supports environment variable expansion if necessary (e.g. `%TEMP%\snapshotuploader\app1` )

[2019-05-29 15:39] cbrianball commented on #281
@ketaanhshah This has been working for me for a month or two now. As @OsvaldoRosado indicated, the URL provided should have worked, but there was a bug. That bug has been resolved for a while now.

[2019-05-29 15:42] cbrianball commented on #347
@AlskiOnTheWeb I got around this by building a URL that included the operation ID to my application (a website), my application queries App Insights with the operation ID to get the item ID, then issues a redirect to App Insights.

[2019-05-29 16:08] OneCyrus commented on #336
great! does this create subfolders (e.g. app1)? and is there a way to set this dynamically or random so we don‘t have those conflicts?

[2019-05-29 16:28] SergeyKanzhelev commented on #350
I assume it's for JavaScript on a web page? I think the best solution would be to wrap a button click into [trackDependency](https://docs.microsoft.com/azure/azure-monitor/app/api-custom-events-metrics#trackdependency) call. So a bit of custom code would be needed. @markwolff can have more ideas and suggestions.

[Performance view](https://docs.microsoft.com/azure/azure-monitor/app/web-monitor-per

[2019-05-29 16:29] ketaanhshah commented on #281
aah ok, Thank you Brian I will try it again with my details.

[2019-05-29 19:59] pharring commented on #336
Yes, the folder will be created if necessary.

For dynamic values, if there's an environment variable that identifies each web app you could use that (e.g. WEBSITE_NAME) as part of the folder name.

To avoid the problem entirely, make sure that all apps are using the same version of the SnapshotCollector nuget. The Snapshot Collector checks the "last write time" on SnapshotUploader.exe to see if i

[2019-05-29 22:24] joepperkins opened #351 "Data usage charges"
When Application Insights are in different data centers than the source of the ingress are there also charges for egress from the source data center.

[2019-05-30 13:02] ketaanhshah commented on #350
Thank you Sergey, I appreciate your quick response. @markwolff any additional comments/idea from you?

[2019-05-30 15:11] rafanoronha opened #352 "Question about reliability issues since Microsoft.ApplicationInsights.Web@2.2.0"
Hey,

Would appreciate some guidance on relying on older versions of the sdk (web 2.2.0).
My customer has a broad Azure adoption and critical workloads served by virtual machines hosting legacy IIS/ASP.NET web apps.
These apps are logging debug information into sql server and we're considering moving to an approach where those are sent to AppInsights as trace events.

Is there any know issue on ho

[2019-05-30 17:17] markwolff commented on #350
User clicks must be manually instrumented currently. Unclear on what is meant by response times and errors -- network requests/responses and client errors are already collected. Is the click triggering an outgoing request? Or is it just a generic click as the user fills out a form?

[2019-05-30 20:37] ketaanhshah commented on #350
Aah yes that's what was the question that if the instrumentation somehow can be made automated rather than manually asking the application teams to include the method calls.
The response times and errors were more with respect to an operation and basically what happens when the user is moving from one application to the other, basically for e.g. if a user is on a ecommerce website and he selects t

[2019-05-30 21:42] markwolff commented on #350
This sort of breakdown does in exist on a pageview basis. E.g. we track for a particular user's session, which pages did they view and in which order. This funnel tracking is done automatically, but for SPA applications, you should use one of the community supported app insights SDKs for that particular framework.
https://github.com/microsoft/ApplicationInsights-JS/tree/master/vNext/extensions/app

[2019-05-31 00:42] cijothomas commented on #352
@rafanoronha We always recommend to move to the latest version. We have fixed bugs in the area of channel, sampling etc since 2.2.0 time. You can look at changelogs to see the full list. (2.2.0 is quite old so the list of changes are long as well)

What's the reason for using this particular version?

[2019-05-31 00:43] cijothomas commented on #351
ApplicationInsights itself will not charge for egress, but there might be Azure VM/CS/WebApp charges.
@Dmitry-Matveev do you know more about this ?

[2019-05-31 00:52] cijothomas commented on #337
@dennis-tra Ruby SDK is community supported only. The issue you faced is likely when application insights backed timed out. If the Ruby SDK does not have retry, then it'll lead to data loss.
Unlike .NET or Java implementations, I don't think Ruby SDK has advanced retry mechanisms.

The common component mentioned in other repo is LocalForwarder, which is available as preview. But I don't think ther

[2019-05-31 12:47] ketaanhshah commented on #350
@markwolff Thank you so much sir, I am going to go thru the Angular community SDK u shared above and implement with sample. hopefully that should help us to get to where we want. I will keep all posted.
Thank you again @SergeyKanzhelev and @markwolff for being prompt in helping the community!

[2019-05-31 15:39] SergeyKanzhelev commented on #350
@ketaanhshah I'd close the issue for now. Please re-open or create a new one when you have more questions.

[2019-05-31 15:39] #350 closed

[2019-05-31 17:08] rafanoronha commented on #352
@cijothomas
Thanks for the heads up.
Those legacy apps were compiled with framework 4.0.
Just gave a second look a the pkg dependencies and figured SDK 2.4 would probably be best suited for us.

We're talking about leveraging a more robust logging infrastructure plus APM into applications missing this stuff.
So this is more about checking for critical/major reliability issues than more usual issue

[2019-05-31 17:41] cijothomas commented on #352
@rafanoronha you are mostly fine with 2.4, though you'll miss some bug fixes.

[2019-05-31 17:58] rafanoronha commented on #352
Thanks @cijothomas
Keep up the work on AppInsights, we love the tool! :-)

[2019-05-31 17:58] #352 closed

[2019-05-31 20:03] Dmitry-Matveev commented on #351
Azure does not differentiate calls to submit telemetry into Application Insights from any other network calls from the service. However, Azure may differentiate calls going through Azure Network (e.g. calls to Azure Storage or any other Azure services, including AI) vs. calls going outside of Azure Network (e.g. calls to the service hosted on-premises or in another cloud provider). If Azure does t

[2019-05-31 22:24] ketaanhshah opened #353 "Alert ARM Template Can Query Output Count included in Email Action?"
Hi All,
We have this Arm Template for generating alerts and the structure for Alerts looks like below, what we want is to include the COUNT  which is retrieved after the Query executes to be part of the Email Subject. I am not sure how to get that output count generated before hand as a variable to include in the Email Subject element. I think not possible as nothing is exposed but thought of chec

[2019-05-31 23:47] cijothomas commented on #326
@MS-TimothyMothra I guess we can create a TelemetryInitializer which sets RoleName,RoleInstance from pre-defined ENV variables. And add this to the default list of initializers, before any other Azure specific initializers. (the 1st one always wins)

Do you want to post an issue with the description in dotnet repo to gain any additional feedbacks?

[2019-06-02 12:29] henning-krause opened #354 "Reporting metrics with dimension - metrics explorer"
I'm using the following code to report metrics to Azure:

[code]

[code]

The metric shows up in the Metric Explorer, but I'm unable to split the metric by dimension value. Isn't this supported?

[2019-06-02 17:26] paulomorgado commented on #326
https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1161

[2019-06-05 18:42] ketaanhshah opened #355 "AWS Monitoring Data into Azure Analytics Workshpace import?"
Hi All,
One of my customers has some apps in AWS and has stored the Analytics/Monitoring data in AWS, in case if we have to import that data in Azure Application Insights/Analytics workspace is there a way to do it? Any documentation for importing that data in App Insights from AWS?

Thanks
Ketan

[2019-06-05 22:29] ketaanhshah opened #356 "Query to Get Percentage Failed Requests Azure Application Insights"
0

I am trying to build an ALERT for a condition where in a timespan of 15mins if the number of FailedRequests were Greater than 99% of the requests received I want to raise the Alert. I have written a KQL Query but unfortunately it just fires of even without real issues happening i.e. without really getting the condition of greater than 99%. following is the query and I am sure I am making some s

[2019-06-06 01:43] ketaanhshah commented on #356
Following Query seems to be working for me, can someone let me know if I may have missed anything important here. Basically this is for a scenario where 100% of the requests are failing for an App (something very seriously wrong):-

`requests
| where cloud_RoleName has 'ABCDEF_cloudRName' and resultCode != '404'
| extend isSuccesss=iff(success=="True" ,1, 0)
| summarize failures=sum(1-isSuccesss)

[2019-06-06 13:25] ketaanhshah commented on #356
Tried one more alternative and that worked for me, in case if anyone is looking for a solution:-

requests
| where resultCode != "404" and success == "False" and cloud_RoleName has 'AIL'
| summarize exceptionsCount =count() by bin(timestamp,5m), cloud_RoleName, appName
| extend a = "a"
| join
(
    requests
    | where resultCode != "404" and cloud_RoleName has 'AIL'
    | summarize requestsCount

[2019-06-06 14:49] ketaanhshah commented on #326
Hi All,
anyone know how to set RoleName (Cloud RoleName) for Azure API Management (APIM) instance created? We dont want to create a separate Application Insights for the API Management. I would like to know how to set the RoleName for APIM as we can do for custom application thru telemetry initializer how we do for APIM>

[2019-06-07 08:07] maheshmitkari opened #357 "Virtual Directory give http 500 error after Integrating App insight in ASP.NET MVC App"
Issue: Accessing any file / resource inside any virtual directory give 500 Error after integrating Application Insight.

Application: ASP.NET MVC ASP.NET MVC application deployed on IIS 8 on Windows Sever 2012 hosted as Azure VM.

We integrated Application Insight using Visual Studio and it works fine. But all our virtual directory created on IIS started giving http 500 error. Virtual directories

[2019-06-09 03:27] #356 closed

[2019-06-09 03:38] ketaanhshah commented on #357
Can u enable detailed level error logging and turn the custom errors off to see what exact error you are getting:- https://blogs.iis.net/rickbarber/working-past-500-internal-server-error

Also your entry for the Telemetry module should be under the modules element, read a bit more about it here:-

`<system.webServer>
  <modules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspN

[2019-06-10 16:38] SergeyKanzhelev commented on #354
@KevinBlasko @vgorbenko can you please follow up here?

@henning-krause can you share how the metric looks like in Analytics. Does it has dimensions actually reported? What does query like this returns:

[code]

[2019-06-10 16:44] SergeyKanzhelev commented on #357
Looks like an analogous for https://github.com/aspnet/Microsoft.AspNet.TelemetryCorrelation/issues/21

@Mikhail-Pranovich @MS-TimothyMothra can you please help here?

[2019-06-10 22:00] eternovsky commented on #355
Ketan -

Unfortunately, there isn't a particularly elegant solution here. A few approaches come to mind as a workaround:
- (best) **Option 1:** Due to a restriction on the data collection API in Application Insights, this option will only work for the previous 48 hours. You can write a simple driver in your language of choice instrumented with the Application Insights SDKs that will retrieve data

[2019-06-11 01:46] ketaanhshah commented on #355
Thank you Eternovsky, appreciate your detailed response. Let me go thru the options you provided and I will get back on this thread if I have more questions. but this seems like we will have to programmatically pull the data.

[2019-06-11 21:53] MS-TimothyMothra commented on #344
PerfView instructions were merged and should publish by EOD today.

Still reviewing if we should publish the Logman instructions.

[2019-06-12 00:08] MS-TimothyMothra opened #358 "How to get SDK logs from Azure App Service"
I had a support request today that I couldn't find elsewhere in our documentation.
I don't know a better place to put this, so putting it here. :)

----------
If we need to collect SDK logs from App Service,
The customer should manually onboard to the SDK so they can customize their config.

This link contains instructions to configure the 'FileDiagnosticsTelemetryModule'
https://docs.microsoft.co

[2019-06-12 17:54] MS-TimothyMothra commented on #358
Adding to this conversation,
It would be great to enable ETW collection without onboarding to the SDK (for codeless attach)

There is a thread about this subject here: https://github.com/aspnet/AzureIntegration/issues/134
I got an email from @puneetg1983 saying:

[2019-06-13 22:58] cijothomas commented on #326
@ketaanhshah Dont think api management allows this option as of now.

[2019-06-13 22:59] cijothomas commented on #326
@paulomorgado We are having a discussion internally about this. will post back summary. Your PR will be reviewed along with that.

[2019-06-14 00:21] ketaanhshah opened #360 "Synthetic source showing BOT and spike in 500 error"
Hi All,
We suddenly saw a surge in number of errors for result code 500 for a period of 7 days and when we queried the request table what we observed was most of the 500 NotFound result code was having OPERATION_SyntheticSource as "BOT", now is there a way somewhere that I can look whether this was Azure Bot and some other BOT trying to access/index the web-app pages?
For e.g. following is one of

[2019-06-14 20:40] SergeyKanzhelev commented on #360
I think the table posted has cells shifted. Can you please post again to make sure we are looking at the same data.

[2019-06-14 20:51] SergeyKanzhelev commented on #360
while you updating table - "Bot" string is likely coming from this telemetry initializer:

https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/d7d33948929cc40c7fc5728d8672ebfb6c3602b8/Src/Web/Web/net45/ApplicationInsights.config.install.xdt#L5-L9

Basically, user agent contains the substring "Bot". The best way to preserve the entire user agent string is to create a [telemetry init

[2019-06-14 21:05] ketaanhshah commented on #360
hi @SergeyKanzhelev reposting the table:-

timestamp | id | source | name | url | success | resultCode | duration | performanceBucket | itemType | customDimensions | customMeasurements | operation_Name | operation_Id | operation_ParentId | operation_SyntheticSource | session_Id | user_Id | user_AuthenticatedId | user_AccountId | application_Version | client_Type | client_Model | client_OS | client

[2019-06-14 21:06] ketaanhshah commented on #360
hi @SergeyKanzhelev reposting the table:-

timestamp | id | source | name | url | success | resultCode | duration | performanceBucket | itemType | customDimensions | customMeasurements | operation_Name | operation_Id | operation_ParentId | operation_SyntheticSource | session_Id | user_Id | user_AuthenticatedId | user_AccountId | application_Version | client_Type | client_Model | client_OS | client

[2019-06-18 03:07] OzBob opened #361 "ApplicationInsightsProfiler3 "Another Application Insights Profiler agent instance is already running""
DETAIL:
"There are too many active profiling sessions on this machine" or "There is no active profiling session." errors.

My WebApp uses ApplicationInsights v4.0.30319

ApplicationInsights3 WebJob was created in 12/19/2018, and is running v2.5.1903.503 last updated 4/16/2019 and now it is reporting errors.

Restarting the WebApp has not stopped the errors.

Application insights reported 14 alerts

[2019-06-18 17:16] SergeyKanzhelev commented on #361
CC: @pharring

[2019-06-20 02:30] OzBob commented on #361
Over the last 30 days the first error of this type started on the 12th of June:
Microsoft.ServiceProfiler.Exceptions.TooManyETWSessionException:
   at Microsoft.ServiceProfiler.Collectors.StandardCollectorBase.InitializeCore (ApplicationInsightsProfiler, Version=2.5.1903.503, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a)
   at Microsoft.ServiceProfiler.Collectors.DetailedTraceCollector.StartMo

[2019-06-20 15:36] trymtodalshaug commented on #171
This fixed the problem for me `Update-Package -Id System.Diagnostics.DiagnosticSource -Reinstall`

[2019-06-20 18:37] Cudack commented on #171
Didn't help me :( Today I was updating couple Nuget packages and it happend after the update.

In my solution after the update I have below (in app.config files):
[code]
All of this assemblies have the same publicKeyToken. I've even tried to increase the oldVersion section in each assembly and still nothing. After I install my WPF application it's not working but it works right from Visual Studio

[2019-06-21 02:55] OzBob commented on #361
Checking the Kudu processes, the ApplicationInsightProfiler.exe that is running has a Handle to:
C:\DWASFiles\Sites\#1mywebsite\Temp\jobs\continuous\ApplicationInsightsProfiler3\x4hvleb0.syg
I was expecting ApplicationInsightsProfiler2.

[2019-06-21 03:09] OzBob commented on #361
dir /s /b ApplicationInsightsProfiler doesn't work on DebugConsole, or it takes more than 2 minutes ...

I did find: D:\home\site\wwwroot\app_data\jobs\continuous\ApplicationInsightsProfiler2\

Removing that folder has removed the 2nd ApplicationInsightsProfiler WebJob.  I will report back if that has stopped the "TooManyETWSessionException" Log entries.

[2019-06-21 06:21] OzBob commented on #361
All directories recreated by some automated Azure service :=(

[2019-06-21 16:00] SergeyKanzhelev commented on #361
I pinged team again

[2019-06-24 04:51] OzBob commented on #361
I emailed, serviceprofilerhelp@microsoft.com;

[2019-06-24 13:56] clguimanMSFT commented on #361
@OzBob it seems you have a very old version of the ApplicationInsights extension enabled. You can remove it by following these steps: https://stackoverflow.com/a/54541795/8028076. After you manually disable the extension, it's possible the profiler webjob will still be there, so you'll have to manually remove it from **D:\home\site\wwwroot\App_Data\jobs\continuous** and/or **D:\home\site\jobs\cont

[2019-06-25 05:33] OzBob commented on #361
@clguimanMSFT the SO link helped. thanks.

[2019-06-25 05:33] #361 closed

[2019-06-25 15:31] ketaanhshah commented on #355
Hello @eternovsky , we have AWS LAMBDA function written in node.js and we want to send the Telemetry to Application Insights in Azure. What we have done is followed this article:-
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/app/app-map.md#net  and added following:-
var appInsights = require("applicationinsights");
appInsights.setup('INSTRUMENTATION_KEY').start();

[2019-06-25 19:45] #311 closed

[2019-06-25 22:31] SoubhagyaDash commented on #355
Hi @ketaanhshah, are you looking to:
1) import historical telemetry into Application Insights?
2) collect runtime telemetry going forward on a continuous basis?

If it is 2, you can simply instrument your application with our SDKs and the telemetry will flow into our systems. They will be correlated in the right ways for the analytics/portal experiences to work on them.

if it is 1, then we will n

[2019-06-25 23:09] ketaanhshah commented on #355
Thank you @SoubhagyaDash it is 2nd item and we are trying to get the Telemetry in App Insights my question was after implementing the SDK and adding following :--
var appInsights = require("applicationinsights");
appInsights.setup('INSTRUMENTATION_KEY').start();
appInsights.defaultClient.context.tags["ai.cloud.role"] = "your role name";

On Application Map I do see the AWS Cloud RoleName showing u

[2019-06-26 17:45] jemodyMS commented on #167
# [1.3.5][1]
[1]: https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.5 "Link to nuget"
* Add support for Sovereign clouds (Older versions will not work in sovereign clouds)
* Adding snapshot collector made easier by using `AddSnapshotCollector()`. More information can be found [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-appservi

[2019-06-28 05:17] spkrishnankutty opened #363 "Application Insights custom metrics: wrong data for Function Failures"
The CustomMetrics for functioApp: - Failure, Success & Count on an aggregation over count, returns the same data. At the least the result set while looking for function app failed executions should be different from the total execution count.

The easiest way to reproduce this is to have an application inisghts hooked to a function app with a running funtion. Then head over to metrics and add cust

[2019-06-28 17:06] rafanoronha opened #364 "Question about dependency tracking architecture"
Hey,

Given a legacy IIS / ASP.NET web app compiled to Net40 scenario.
Have been working on leveraging app insights (SDK 2.4.0) to this system. Then realized dependency telemetry items are not being collected.

So, trying to figure the dependency tracking architecture out, came to the following conclusions:
From Net45 on, "event tracing for Windows" feed the SDK telemetry through System.Diagnostic

[2019-07-01 10:27] alexiordan opened #365 "Application insights increases application memory usage"
With Application Insights enabled my application uses up to 1.2 GB of RAM. With Application Insights disabled, the application uses around 200 MB. Please see the picture below.

Why?

It wouldn't be a problem, but I am get warnings about the used memory raising above the 80% threshold and that I may encounter errors because of that.
I have also other applications running in the same App Service Pl

[2019-07-01 17:44] lmolkova commented on #365
it would really help if you could tell the version and flavor of AppInsights SDK you have (nuget packages names and versions) and how you configured it.

[2019-07-01 17:58] alexiordan commented on #365
- Microsoft.ApplicationInsights.AspNetCore 2.7.1
- Microsoft.ApplicationInsights.Web             2.10.0

[2019-07-01 18:00] lmolkova commented on #365
you should not use both of them, please remove Web SDK.
Here is the instruction for ASP.NET Core apps:  https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core

[2019-07-01 18:13] alexiordan commented on #365
Thank you for you fast response! I will republish and let you know how it worked.

[2019-07-01 22:20] Dmitry-Matveev commented on #364
@rafanoronha , you are correct with your conclusions:

- Prior to NET45, the only source to collect dependency information is to install profiler libraries that are delivered by Status Monitor. There is an ambiguity in the naming, but you won't need the so-called AI Profiler for this to work.
- Status Monitor v1 and Status Monitor v2 (Preview) should both do the job. However, SMv2 works with the l

[2019-07-01 22:20] #364 closed

[2019-07-01 22:30] Dmitry-Matveev commented on #363
Most likely, the issue is pre-selected aggregation "Count". It will actually display the count of times the metric with this name those submitted rather than the aggregation on top of the value of the metric.

I just tried it out and as soon as I switched to "Sum" aggregation, the values started to make sense.

[2019-07-01 22:30] #363 closed

[2019-07-01 22:30] Dmitry-Matveev commented on #363
@spkrishnankutty , feel free to re-open the issue if the explanation above does not fix the situation.

[2019-07-01 22:52] MarkIannucci opened #366 "Is there a way to add the API key to Application Status Monitor v2 PowerShell Module"
We have some vendor provided compiled code which we are instrumenting via Application Status Monitor.  I noticed the [recent v2 release uses a PowerShell Module](https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview) to manage this which will be much easier for us to manage than the Web Platforms Installer that Microsoft has been using to deliver this functionality.

[2019-07-02 04:47] spkrishnankutty commented on #363
@Dmitry-Matveev Yes, the aggregation over "Sum" gives proper results. Its the aggregation over "Count" that gives erroneous result.

[2019-07-02 07:24] alexiordan commented on #365
Below is a picture of memory use with packages as follows:

- Microsoft.ApplicationInsights.AspNetCore 2.7.1
- ~Microsoft.ApplicationInsights.Web 2.10.0~

I have marked the milestones: the first vertical line is where I disabled the AI and the second is where I published with only the AspNetCore SDK.
You can see the memory is growing again.

![image](https://user-images.githubusercontent.com/15249

[2019-07-03 00:55] cijothomas commented on #366
v2 doesn't allow any customizations, and livemetrics api key is something which users want to configure.
@MS-TimothyMothra what are our plans for allowing user customizations to ai.config?

[2019-07-03 01:28] MS-TimothyMothra commented on #366
Hello @MarkIannucci,
Unfortunately, we don't support that at this time.

After we get v2 stable, we'll start work on exposing SDK configuration settings.
I appreciate you asking because this specific setting wasn't on our scope.

[2019-07-03 12:47] ketaanhshah opened #367 "Application Insights and Log Analytics end to end"
Hi All,
With Application Insights and Log Analytics is it possible to track lets say an exception to the Server level? For e.g. We have IAAS hosted Virtual Machines which are running a custom application and that sends telemetry to Application Insights and Machine level logs are sent to the Log Analytics workspace (thru the agent). Lets say an exception happens in the application is it possible to

[2019-07-03 14:36] MarkIannucci commented on #366
Thanks for the follow-up. I hope you're able to track this in your systems so we get notified when that work is done.  I have a placeholder in my code for the config, so I should be ready to light it up shortly after v2 allows it (•‿•)

[2019-07-08 15:19] CCostaT opened #368 "Application Insights Heartbeat not appearing in Azure portal"
Hi,

I'm trying to get the heartbeat feature of AppInsights sdk to work but I'm having some trouble.

I have a simple app (ASP.net core 2.2) running on a k8 cluster inside Azure and is configured with the following settings:
[code]

However, I can't see any properties in Application Insights related to the heartbeat functionality. I can see other stuff like the kubernetes pod name, etc.

Am I miss

[2019-07-09 20:59] Dmitry-Matveev commented on #367
@ketaanhshah , telemetry items delivered to Application Insights, such as Exception Telemetry, should have machine name on each item in Cloud_RoleInstance field.

Analytics UI support c[ross AI-LogAnalytics queries](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/cross-workspace-query), so you can take machine name from Exception and query Log Analytics for logs from this machine. E

[2019-07-09 21:04] ketaanhshah commented on #367
@Dmitry-Matveev Thank you for your detailed response! wow I didnt knw that cloud_RoleInstance was really the machine name but I know now :). Also do we have to set the cloud_RoleInstanceName property anywhere? For instance for some of the custom application we are setting the cloud_RoleName but not the cloud_RoleInstance. If we dont set this property will it pick up the machine name if it is an IA

[2019-07-09 21:09] Dmitry-Matveev commented on #367
@ketaanhshah, in short, yes.

Cloud_RoleInstance has slightly different meaning across different environments. For instance, it will have a value of cloud service instance for Azure Cloud Services but it will have name of the machine for IAAS because there is no other "instance" definition applicable for simple VM.

As you mentioned, one can always set this value manually if necessary, or simply p

[2019-07-10 13:15] ketaanhshah commented on #367
@Dmitry-Matveev Thank you so much! this helps a lot. I wish your comments above are put in the documentation as they are concise, simple to understand.

[2019-07-10 13:15] #367 closed

[2019-07-10 14:51] MarkIannucci opened #369 "Please add functionality to allow us to instrument nested websites to Application Status Monitor v2"
I've attempted to use Status Monitor v2 to instrument some black box code that we're responsible for providing front line support.  Our vendor deploys the software as nested websites under the default IIS site.  As discussed [this documentation issue](https://github.com/MicrosoftDocs/azure-docs/issues/34399), Status Monitor v2 does not currently allow you to independently instrument nested site wh

[2019-07-10 23:43] MS-TimothyMothra opened #370 "Use new format to publish symbols"
- https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages
- https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

[code]

**Also** update all release definitions and confirm that symbols are published

[2019-07-12 08:03] havlan opened #371 "Extracting instrumentationkey based on name"
Feature request:
- Get instrumentation key based on appinsight name and the other necessities.
- Preferrably in the SDK or something similar.

Why:
- No possibility to automate this based on naming rules or similar.
- Arm templates (in which we could find the instrumentation key) does not talk to cscfg files in an easy way

I've had this issue for a while, and I have not found a way around it, fee

[2019-07-12 16:21] SergeyKanzhelev commented on #371
ARM can be used for sure. Similar to this: http://apmtips.com/blog/2017/07/12/find-application-by-its-instrumentation-key/ In general to get this mapping you will need to authorize into the ARM/portal one way or another.

[2019-07-12 20:25] havlan commented on #371
Thanks for the link!
Any plans on adding an easy way to extract it in code? Other than Microsoft.Azure.Management.ApplicationInsights?

[2019-07-15 06:05] SergeyKanzhelev commented on #371
You'd need to elaborate on a scenario and a specific requirement. On a surface - you are asking for an ARM API with the easier authentication model. This auth MUST be strong enough to eliminate spoofing attempts based on name. But somehow easier than ARM.

[2019-07-15 12:09] havlan commented on #371
Apologies, initially I meant the ARM use-case, but if we could ship metrics in an easy way to appinsight by appinsight name, that would make it a lot easier. The scenario is for a large service (Azure Cloud Services (classic)), we would need to manually create an appinsight instance for each subscription and then extracting instrumentation key and then adding it to the configuration. What we would

[2019-07-15 18:38] ketaanhshah opened #373 "Writing the Availability Test Alerts New Way (Instead of Classic Alerts)"
Hi All,
We had written and provisioned Availability Test Alerts in past and those show up under CLASSIC ALERTS: https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AlertsBlade Following is one example of it for a WEBTEST Alert
` "name": "[variables('webtest-CMS-http')]",
        "description": "Alert for availability test",
        "isEnabled": true,
        "condition": {
          "$type"

[2019-07-15 20:03] MS-TimothyMothra commented on #370
- Base https://github.com/microsoft/ApplicationInsights-dotnet/pull/1168
- Web https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1231
- Logging https://github.com/microsoft/ApplicationInsights-dotnet-logging/pull/300
- Core https://github.com/microsoft/ApplicationInsights-aspnetcore/pull/922

[2019-07-17 20:19] #370 closed

[2019-07-18 15:22] OneCyrus opened #374 "metadata operation canceled exception"
we have a lot of the following exceptions because our web isn't running on a azure VM and so AppInsight can't connect to the metadata service. is there a way to disable this metadata fetching?

![image](https://user-images.githubusercontent.com/7747800/61469872-46c90d00-a980-11e9-99e9-b51e84a29bb5.png)

[2019-07-18 18:40] Dmitry-Matveev commented on #374
Moved to correct repo.

[2019-07-18 18:40] #374 closed

[2019-07-18 20:21] MS-TimothyMothra commented on #221
Today I've released the Release Candidate for Status Monitor v2.
Because this eliminates the TLS bug, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:21] #221 closed

[2019-07-18 20:22] MS-TimothyMothra commented on #200
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:22] #200 closed

[2019-07-18 20:22] MS-TimothyMothra commented on #201
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:22] #201 closed

[2019-07-18 20:22] MS-TimothyMothra commented on #202
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:22] #202 closed

[2019-07-18 20:24] MS-TimothyMothra commented on #241
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:24] #241 closed

[2019-07-18 20:24] MS-TimothyMothra commented on #273
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:24] #273 closed

[2019-07-18 20:25] MS-TimothyMothra commented on #301
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:25] #301 closed

[2019-07-18 20:26] MS-TimothyMothra commented on #343
Today I've released the Release Candidate for Status Monitor v2.
Because this is the replacement for the original Status Monitor, I'm going to close this issue.

Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2019-07-18 20:26] #343 closed

[2019-07-18 20:27] MS-TimothyMothra commented on #369
@Mikhail-Pranovich, please review the linked issue for more details.

[2019-07-18 20:29] MS-TimothyMothra commented on #220
Today I've released the Release Candidate for Status Monitor v2.
Please review or documentation to get started: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

This ships with SDK 2.9.
This is still not the latest version so I'm leaving this issue open for now.

[2019-07-18 20:38] MS-TimothyMothra opened #375 "Status Monitor v2 does not allow SDK configuration."
As of v1.0, Status Monitor v2 does not expose the SDK configuration file for advanced customization.

We are working on this and I'm opening this issue to track specific customer requests.

- Endpoint (Connection String). This is required for [Azure Government Monitoring](https://docs.microsoft.com/azure/azure-government/documentation-government-services-monitoringandmanagement#net-with-applicatio

[2019-07-18 20:39] MS-TimothyMothra commented on #366
Hi @MarkIannucci,
I created a new issue (#375) to track this and other related issues.
Please feel free to comment on the new issue.

[2019-07-18 20:39] #366 closed

[2019-07-19 09:12] OneCyrus commented on #336
the new AddSnapshotCollector() helped a lot to fix this issue for us. We set now a dynamic ShadowCopyFolder path.
This works very well with .Net Core projects but the AddSnapshotCollector() extension is not available in ASP.Net Core running on the Full .Net Framework. Is this by design or an issue?

[2019-07-19 15:32] pharring commented on #336
Tagging @clguimanMSFT FYI

The `AddSnapshotCollector()` extension method is included only in the netcoreapp2.0 target of the SnapshotCollector nuget. If your project targets anything else, it'll likely pick up the netstandard2.0 target.

Assuming you're already referencing Microsoft.ApplicationInsights.AspNetCore version 2.1.1 or newer, you could write the extension method yourself. Here's the sou

[2019-07-19 16:39] HowardvanRooijen opened #376 "Release Annotations for Azure Application Insights for Azure DevOps"
Is the source available for Release Annotations for Azure Application Insights for Azure DevOps:

https://marketplace.visualstudio.com/items?itemName=ms-appinsights.appinsightsreleaseannotations

We're seeing a warning in our ADO logs:

`Task 'ms-appinsights.ReleaseAnnotation' (1.0.14) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib`

[2019-07-19 17:31] OneCyrus commented on #336
ah ok thought this would be a netstandard lib.
thanks, i‘ll give this a try!

[2019-07-22 16:52] tincann opened #377 "Suddenly throwing random exception: 'ProcessId was not available in the samples we gathered'"
## Repro Steps
This problem started after a deploy, which does not contain any Application Insights related changes. This problem does not seem to affect the rest of the application.

##  Actual Behavior
First exception started on July 19th 2019 15:48. In the following 4 days, the exception has been thrown 42 times, at random intervals at approximately every 1-3 hours.

Exception message:

[code]

[2019-07-22 18:30] Mikhail-Pranovich commented on #369
@MarkIannucci, just to clarify: nested instrumentation works for you, however there is no way to set individual instrumentation keys per nested app, correct? For this scenario there is no easy filter to support it, and we will consider adding corresponding filtering functionality.
As a current solution, it is possible to pass instrumentation key through the environment variable. In order to have d

[2019-07-23 12:32] AbhiPand commented on #373
Can someone help on this. It's urgent

[2019-07-23 15:20] ketaanhshah opened #378 "Tag Telemetry Data for Load Testing coming into AppInsights as Perf Data"
Hi All,
We run load tests time to time and what we want is some way to identify that data so that in future we can use it. We understand that Telemetry data stays for 90 days in App Insights and then needs to be moved to Storage. I wanted to know if there was a way to Tag the request, exceptions, etc happening during the load test as "PERFDATA#1", "PERFDATA#2" so that it can be easily queried in f

[2019-07-24 02:47] OzBob commented on #377
Me too!

Suddenly, last night with no change to my webapp Application Insights started reporting ‘StopProfiler failed', once an hour.

Message	ProcessId was not available in the samples we gathered
Exception type	System.InvalidOperationException
Failed method	Microsoft.ServiceProfiler.Collectors.DetailedTraceCollector.ExtractMetadata
Problem Id	System.InvalidOperationException at Microsoft.Service

[2019-07-25 05:30] Kmdkca opened #379 "how to add custom telemetry in statusmonitor v2"
Hi
I'm trying out the new status monitor V2 for monitoring some on-prem apppools.
Much easier:-)
But how do I add custom telelmetryInitializer/modules to monitor the apppools without changing the running code?
In the original status monitor, I added the assembly to bin folder and modified the applicationinsights.config for each apppool.

[2019-08-01 18:29] MS-TimothyMothra commented on #379
Hi @Kmdkca,
I'm glad you're liking the newer V2. :)
I'm sorry to say that our initial version of Status Monitor v2 won't support customizations.

I've added your request to our backlog (#375) and I'm going to close this issue as a duplicate.
Please add your comment to the other thread. We're monitoring upvotes to plan our next efforts.

[2019-08-01 18:29] #379 closed

[2019-08-01 18:40] MS-TimothyMothra commented on #378
You can add a TelemetryInitializer to set any custom property
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling

[2019-08-01 18:40] #378 closed

[2019-08-01 20:24] MS-TimothyMothra commented on #376
@Dmitry-Matveev do you know who owns the "Application Insights Task" used in Azure DevOps?
We need to route this to that team.

[2019-08-01 21:16] debugthings commented on #376
Thanks @HowardvanRooijen the extension is not out there, but I see what is happening. We are indeed using an older execution handler. It also seems as if this is is a recent change on the agents to check for this. Aside from the warning message it should not affect anything.

I'll test a fix by next week to see if it gets rid of this error message.

[code]

[2019-08-02 03:38] Kmdkca commented on #375
We need custom telemetryinitializers/modules for tagging data with customproperties and to do pre-filtering of URLs for removing sensitive data

[2019-08-02 06:56] HowardvanRooijen commented on #376
HI James,

That would be amazing. Thanks for supporting the extension. It's a shame it's not on GitHub as I would have happily worked on a fix.

Love release annotations - they are so useful!

Thanks!

Howard

[2019-08-07 04:19] cwoolum commented on #188
@pharring, any update on this in the last 6 months? I've seen this repo but couldn't find any documentation about it.

https://github.com/microsoft/vssnapshotdebugger-docker/blob/master/README.md

[2019-08-07 13:13] debugthings commented on #376
Hey @HowardvanRooijen I've updated the task to use the new PowerShellV3 module so that message should go away. The extension should update on the next run of a pipeline that has it. You can check to make sure you have the latest version (0.0.60) by navigating to one of the links below.

https://{{yourdevopsorgname}}.visualstudio.com/_settings/extensions?tab=installed&extension=ms-appinsights.appin

[2019-08-07 14:00] pharring commented on #188
We're working on it! We have a build for Linux that can take a snapshot, capture a dump of that snapshot and upload it to our service. We're currently working on the analysis piece. It looks like we need to run analysis of Linux dumps on Linux VMs (we currently use Windows VMs) so we will need to modify our back-end analysis service to support heterogeneous targets.

[2019-08-07 20:09] HowardvanRooijen commented on #376
That's fantastic news - thanks for the fast turnaround!

[2019-08-07 20:21] MS-TimothyMothra commented on #376
I'm going to close this issue as resolved, but if you have additional problems please feel free to reopen.

[2019-08-07 20:21] #376 closed

[2019-08-12 18:34] MS-TimothyMothra commented on #377
@pharring Can you take a look?

[2019-08-12 19:36] pharring commented on #377
Thanks for the report (and sorry for not seeing it sooner). This was introduced in a recent update to the Service Profiler agent. We rolled back that version a few weeks ago (it gets automatically deployed to all Azure App Services), so this error should now be gone.

We also have a fix for the original issue ready to deploy in the next App Service rapid update (later this week, I'm told)

@xiaomi

[2019-08-12 20:57] juliusl commented on #377
^Confirmed, If you run into this issue restarting the app should get you the older version, and the exception will not throw.

The next agent addresses this issue and has been verified on a customer app. @TimothyMothra I think you can close this issue.

[2019-08-12 21:08] #377 closed

[2019-08-13 09:18] benbelow opened #383 "Analytics View - Cannot resize columns after horizontal scrolling"
On the Logs (Analytics) page in Application Insights - I should be able to extend columns' widths top see the full data. I can do so in the default view, but as soon as I horizontally scroll at all, the ability to do so disappears.

[2019-08-15 16:51] MisinformedDNA opened #384 "SnapshotCollector package conflicts with other versions of AppInsights"
If I create a new project and add the NuGet package `Microsoft.ApplicationInsights.SnapshotCollector` latest (1.3.5) and then try to add a dependency on `Microsoft.ApplicationInsights` (any version other than 2.4.1), I get the warning:

Future versions of the SnapshotCollector should not be tied to any specific version of ApplicationInsights. Looking through the packages, it looks like this can be

[2019-08-15 18:41] TimothyMothra commented on #384
@pharring Can you forward this to the right place?

[2019-08-15 18:42] TimothyMothra commented on #383
@zakimaksyutov @OsvaldoRosado Who should we forward this to?

[2019-08-15 20:03] pharring commented on #384
I think I understand. I assume you're building an ASP.NET Core 2.0 (or above) application, yes?

SnapshotCollector's dependencies are all ">=", so it shouldn't be a problem to use newer assemblies. However, one of the dependencies is Microsoft.ApplicationInsights.AspNetCore version >= 2.1.1 which brings in Microsoft.ApplicationInsights.DependencyCollector >= 2.4.1 which has an **exact match** depe

[2019-08-16 15:36] MisinformedDNA commented on #384
@pharring Yep, everything exactly correct. Personally, it took me "too long" to figure out what was happening, so my request was to help others avoid this issue by changing _SnapshotCollector's_ references, instead of leaving it to each developer.

[2019-08-16 16:32] pharring commented on #384
@clguimanMSFT FYI

Glad we're on the same page. As for the remedy, I haven't decided.
We've tried to make SnapshotCollector compatible with as many versions of Application Insights as we can. I'm reluctant to forgo that compatibility.

We prompt users (via the Azure Portal) to upgrade the SnapshotCollector nuget if we detect old versions, and we could cause a problem for people stuck on older SDKs

[2019-08-19 15:08] lukos opened #385 "CreateReleaseAnnotation "Failed to create an annotation""
I've just downloaded this script and tried to run it against our App Insights account but I get the following error:

[code]

The call looks like this (with real ids/keys removed):

PS C:\output> .\CreateReleaseAnnotation.ps1 -application
Id "my-app-id" -apiKey "my-api-key" -releaseName "5.0.3.775 Pro
dWeb1"
Invoke a web request for https://aigs1.aisvc.visualstudio.com/applications/my-app-id/Annot

[2019-08-19 19:42] debugthings commented on #385
Hey @lukos, I tested this from a local machine and it works as expected. The error message is truncated and it looks like there is an issue on receive which usually indicates a firewall, proxy, or SSL config issue.

Can you rerun the command with the -Verbose flag and copy/paste the output?

[2019-08-20 08:24] lukos commented on #385
[code]

[2019-08-20 13:34] debugthings commented on #385
@lukos I looked at our logs for the Annotations service using the partial AppId and can say without a doubt that the request is not making it to our server. Beyond that I looked at all requests made to the Annotations endpoint and we've seen traffic behaving normally.

Try this script below to get all of the exceptions coming from from the PowerShell method. Copy paste that output here and maybe i

[2019-08-20 14:23] lukos commented on #385
Thanks James. I ran the script and got: The client and server cannot communicate, because they do not possess a common algorithm

I ended up adding the following line and now the script works. I'm not sure why the script wouldn't "just work" and whether this should be added into the script?

`[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12;`

[2019-08-20 15:19] debugthings commented on #385
That makes sense. And I agree it should just work. However setting Tls12 explicitly is a workaround for your specific system configuration and I'd like to avoid putting in a workaround that might not be needed for everyone.

Generally this SSL issue happens when TLS1.1/1.0 has been completely disabled on the system and/or the machine is running a version of .NET earlier than 4.6. [Details](https:/

[2019-08-20 16:08] lukos commented on #385
[code]

[2019-08-20 16:11] lukos commented on #385
After running the script in a new PS session, SecurityProtocol now says Tls, Tls11, Tls12

[2019-08-20 18:52] debugthings commented on #385
Thanks.  This confirms my suspicions that this is a config issue on your machine. However it's not possible to tell what it is without a deep dive into your registry and settings. I recommend you look at the information in [this article](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls) and [this one](https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registr

[2019-08-21 23:56] MarkIannucci commented on #369
@Mikhail-Pranovich thanks for following up on this, in looking at our configuration, we do have separate application pools so your suggestion should work.

Throwing a minor wrinkle in it though... Our application pool names are versioned with each release so we'll have to [modify the config file](https://docs.microsoft.com/en-us/iis/configuration/system.applicationhost/applicationpools/) each time

[2019-08-23 13:13] v-haroha opened #387 "[Xamarin.Android] TelemetryClient InstrumentationKey = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx" Throws Exception"
In Xamarin.Android when creating a new TelemetryClient and setting the InstrumentationKey to a Guid, or any value really, the application will throw a
`System.ArgumentNullException: 'Value cannot be null. Parameter name:path1'`

code looks like this
`_tel = new TelemetryClient { InstrumentationKey = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx" };`

issue is not present in 2.9.1 but starts in 2.10 and is st

[2019-08-27 14:14] jagathprasanga opened #389 "Server performance counters"
I have hosted Asp.Net Core 2.2 web application on CentOS and connected with Application Insights. All performance counters are working well except Server performance counters. But performance counters are showing for development Windows PC only.
Please help me on this regard.
![image](https://user-images.githubusercontent.com/10453671/63778774-17a0a680-c903-11e9-8f28-e824fbc40c2c.png)

[2019-08-29 22:30] cijothomas commented on #389
Performance Counters are only supported in Windows.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-counters#performance-counters-in-aspnet-core-applications

The latest beta sdk https://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore/2.8.0-beta2 supports counter from all platform, but it'll be limited to  process cpu/ process memory.

[2019-08-29 22:30] #389 closed

[2019-09-02 15:13] ketaanhshah opened #390 "Number of Alerts Fired with Details in last X hours"
Hi All,
With Azure Application Insights we can configure Alerts and using the Alerts Home page we can see how many ALERTS fired in last X hours or days.

Is there a KQL query that we can use in our Logic App to find out how many number of Alerts fired with details like Severity Levels (that we have set during defining the Alerts) ?

We want to come out with a Report on a Daily basis to find out Al

[2019-09-04 02:42] Bo-Yee-Woods opened #391 "Will application insights support opentracing?"

[2019-09-04 21:25] mangeshparanjape opened #392 "Type System.Runtime.Remoting.ObjRef and the types derived from it (such as System.Runtime.Remoting.ObjRef) are not permitted to be deserialized at this security level."
Hi
We are experiencing an issue when we enabled Azure Application Insights monitoring for ASP.NET MVC App hosted in IIS on Windows server. This Web App uses .NET Remoting to the App server.

Below is the error:
Type System.Runtime.Remoting.ObjRef and the types derived from it (such as System.Runtime.Remoting.ObjRef) are not permitted to be deserialized at this security level.
ERROR_DESC	Server sta

[2019-09-05 12:18] SimonLuckenuik opened #393 "[Live Metric Streams] No way to distinguish between Function App when sharing a single App Insights instance with multiple services"
#### What problem would the feature you're requesting solve? Please describe.
We have a microservice architecture and all services are sharing the same Application Insights instance so that all logs and metrics are kept together to ease the investigation of any cross service issues.

When monitoring the system using Application Insights "Live Metric Streams" it is hard to know which Function App t

[2019-09-06 00:12] Dmitry-Matveev commented on #391
@reyang, can you please take this question?

[2019-09-06 01:06] Dmitry-Matveev commented on #392
@mangeshparanjape, are you running this application in Full Trust mode? I think only Full Trust mode is currently supported by Application Insights SDK, so if it would invoke a serialization of the secure object for telemetry purposes, the security exception may get thrown.

[2019-09-06 02:19] reyang commented on #391
@Bo-Yee-Woods

Application Insights is part of [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/overview) product.
[OpenTracing](https://opentracing.io) is a vendor neutral API for distributed tracing, developed by LightStep. It is being superseded by [OpenTelemetry](https://opentelemetry.io) under CNCF.
We do have plan to provide native support in [OpenTelemetry](https://opent

[2019-09-06 02:19] #391 closed

[2019-09-09 07:44] Bo-Yee-Woods commented on #391
OK, thank you!

[2019-09-09 16:23] DeviZ9 opened #394 "Telemetry Client does not log Client.Id to App Insights portal"
If you are reporting bug/issue, please provide detailed Repro instructions.
We are using Device Context in the Telemetry Client to capture the information of the Device Id.

## Repro Steps
1.  _telemetryClient.Context.Device.Id = "123";
2.  _telemetryClient.TrackEvent(new EventTelemetry("Test") )

##  Actual Behavior
It does not log the Device.Id in the portal. We checked for all the Client proper

[2019-09-13 10:37] lukos commented on #54
I know this was closed but the error message is not very helpful and is still the same in 2019. Could it not instead return a message like "application id not found, did you accidentally use the instrumentation key?" or even just a link to a help document?

[2019-09-16 17:13] joelverhagen opened #397 "A lot of NuGet search requests for Microsoft.ApplicationInsights.SnapshotCollector"
I am on the nuget.org team and we are in the process of switching our search implementations. I am looking at the HTTP request logs on our old search service and I am noticing thousands of requests per day for the following URL:

[code]

The reason I am asking here is because the referrer on the requests look like this:

[code]

I go to this URL and there is an error that this request is expecting

[2019-09-16 18:49] Dmitry-Matveev commented on #397
@pharring , can you please take a look?

[2019-09-16 20:31] pharring commented on #397
My guess is that this is for our upgrade check. The AIMon code checks for the latest version of the nuget package, compares it with the version from heartbeat telemetry and shows an upgrade banner if there's a mismatch.
@jemodyMS @jewinkle

[2019-09-18 08:38] Bo-Yee-Woods opened #399 "Dependency components missing in Application Map"
Initially, I have these components in Application Insights.
![Capture](https://user-images.githubusercontent.com/7598141/65131676-41487b80-da32-11e9-9d9e-ca3fdb99f484.PNG)

However, after clicking "Update map components", some dependency components missing in Application Map.
![Capture1](https://user-images.githubusercontent.com/7598141/65131921-a7cd9980-da32-11e9-9d31-c78fb801b5d9.PNG)

[2019-09-20 12:17] ketaanhshah commented on #326
@cijothomas Hello, do we have any inputs on APIM Cloud RoleName? Can we use Custom Telemetry for setting cloud roleName and also currently we have a requirement where the APIM is logging PII data and that needs to be masked. How can we mask that Telemetry coming thry APIM into Azure, for other applications we are able to use CustomTelemetry class and control it, can we do the same for APIM? Any he

[2019-09-20 12:29] ketaanhshah commented on #326
@Dmitry-Matveev Hello Dmity, we have a PII masking requirement and I happen to come across your post here (https://social.msdn.microsoft.com/Forums/azure/en-US/0b38fd1e-8aa9-45f7-91a7-fd0631ef8bba/dealing-with-pii-or-sensitive-data-captured-by-application-insights?forum=ApplicationInsights) My question is how we do this for API Management (APIM)? As I am not sure how to associate the Custom Teleme

[2019-09-20 14:37] cijothomas commented on #326
@ketaanhshah as we mentioned earlier, APIM does not support this (support adding telemetry initializer).

[2019-09-20 14:39] ketaanhshah commented on #326
@cijothomas Thank you for that then how do we MANAGE the PII data thats being logged in App Insights and is coming from APIM? any other solution for masking such PII data @Dmitry-Matveev

[2019-09-20 14:41] cijothomas commented on #326
This must be asked in APIM forum/docs page to get help.

[2019-09-20 14:43] ketaanhshah commented on #326
@cijothomas but this Application Insights issue not an APIM issue, APIM is sending data and like @Dmitry-Matveev pointed out in his thread a custom Telemetry implementation is required for it but how do we configure it in APIM. I will post the same question in APIM too but thought App Insights experts may have some insights on it.

[2019-09-20 14:47] cijothomas commented on #326
For application insights, the answer is always Telemetryprocessor/TelemetryInitializer to filter out PII data. APIM is not allowing additional of initializer/processor, and hence this question is best answered in  APIM github, not in application insights.

[2019-09-20 14:50] ketaanhshah commented on #326
@cijothomas Thank you, have posted to APIM forum and I get some solution to it as exposing PII data is really bad and dont know how else this can be configured as documentation lacks it and so does the response from APIM team so far.

[2019-09-23 21:04] TimothyMothra opened #400 "Nuget rejecting SDK Symbols"
Nuget is giving me this message:

[2019-09-23 21:06] TimothyMothra commented on #400
@cijothomas, didn't we stop using the portable pdbs because the Microsoft Symbol Server was rejecting them?
That was over a year ago. Maybe it's time to re-evaluate?

[2019-09-24 20:00] ketaanhshah opened #401 "App Insights Result Code showing "0""
Hi All,
We have an application which makes AJAX calls and stuff is reported back to App Insights. We can understand when the Result code returns 500 error code due to Server Failure, but some records show us FAILURE but the Status code is 0 and we are wondering what could be the case any help on this? Following is some sample data for same call being made and failures happen but some status codes

[2019-09-25 16:51] ketaanhshah opened #402 "Advisable to turn off Session KeepAlive Data coming to App Insights?"
Hi All,
We have a web-application hosted on Azure and it sends Telemetry to App Insights and the Dev team is asking if it is ok to Turn off sending the SESSION/KEEPALIVE data thats being posted from web-application. Will this affect any functionality like User Flows etc in Application Insights?
Any guidance on this?
Following is sample data:-

timestamp | id | source | name | url | success | resul

[2019-09-25 21:34] madeleinefletcher commented on #399
Can you share how your app is instrumented? For example, what SDK versions you're using or if you're using Azure Functions.

[2019-09-26 17:35] lmolkova commented on #399
Functions runtime enables AppInsights of a certain version (2.11) at this moment and will be moving to 2.12 in the next few weeks.
this is a known issue and we have fixed it in the 2.12.

@Bo-Yee-Woods would you mind waiting for it for a few weeks?

You could also disable feature that introduces this issue with adding below snippet to* host.json*
. But I'd recommend removing it after new function

[2019-09-26 17:57] bdschaap opened #403 "Response Code Dimension Empty for Server Requests Standard Metric"
The Response Code dimension is empty for the Server Requests standard metric.  You can see this within the App Insights resource in Azure.  Go to the Metrics blade, choose Standard Metrics, Server requests.  Then click Apply splitting and choose Response code.  It shows <empty>.

[2019-09-29 00:19] ketaanhshah commented on #355
Hi @eternovsky  hey I hope you remember you had introduced me to the HTTP Data Collector API, my ask here is on AWS Cloudwatch data to Azure. We have Azure hosted application and an external AWS hosted Serverless Lamda functions and we want to import the logs of those 13 servers functions into Azure. I know from the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data

[2019-09-29 23:15] #402 closed

[2019-09-30 08:31] grzegorzbrelski opened #404 "HTTP 409 from CloudBlobContainer.CreateIfNotExists or CloudTable.CreateIfNotExists is logged as failed"
So, as in title.

Natural behavior of .CreateIfNotExists (at least how I understand it) looks like follow:

- Make a call to create the container or table (HTTP PUT Request).

- If an error was returned (HTTP 409) because the container or table already exists then do nothing. The error is handled.

- If the container or table did not exist then create would have succeeded.

Application Insights lo

[2019-09-30 18:45] TimothyMothra commented on #404
This can be filtered out of your telemetry using a custom TelemetryInitializer or TelemetryProcessor

[2019-10-08 07:45] ptedim commented on #369
We're also facing this issue, all our apps are also nested under default IIS site and a couple of them can't be instrumented or they will break for some reason. Not being able to filter by nested up, at least for us, is the difference between being a huge application insights customer or not using it at all.

[2019-10-09 16:32] valeriob opened #406 "How to track request or response headers not currently tracked ?"
I would like to track more headers from both requests and responses, for example the presence of some Auth header on the request or the size of the content on the response.
What would the correct api be ?

Thanks
Valerio

[2019-10-10 01:56] Mikhail-msft commented on #369
Our current plan is to do a filter based on `VirtualPath` for nested apps the value would look like this:
[code]
@ptedim, we'd like to understand your scenario better, can we contact you to see what issues are you facing and confirm if the solution would work for you?

[2019-10-10 08:18] ptedim commented on #369
Sure, i would be happy to share our use case.

[2019-10-11 14:35] nosalan opened #407 "Replace default Application Dashboard with definition from file"
I have a dashboard definition in JSON file. It seems impossible to import it and set it to be the main dashboard. What I mean is when I go to Azure Portal -> Application Insights -> Application Dashboard I get some predefined dashboard but can't replace it with my own, other than editing it in GUI. Any way to provide definition from file?

![image](https://user-images.githubusercontent.com/2273250

[2019-10-11 22:05] ketaanhshah opened #408 "Alerts - Get Summary Authentication Alerts Fired For week over week trend"
Hi All,
We wanted to find out All Alerts Fired from a START date to END date and summarize them by count. Basically we are trying to create a WEEK over WEEK trend report for alerts fired. We have 10 Alert Rules and lets say  Alert1 is fired 10times, Alert2 is fired 20times, etc over Week1 and Week2 Lets say Alert1 is fired 20times and Alert2 is fired 30times.

For creating this week over week tren

[2019-10-12 01:04] Dmitry-Matveev commented on #406
You can give a shot to [Telemetry Initializers](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling). They are invoked synchronously to telemetry item creation, so for Request Telemetry and Dependency Telemetry they will be in the context of the currently executed call.

[2019-10-12 01:08] Dmitry-Matveev commented on #407
@zakimaksyutov, is there a way to replace this dashboard link with the custom dashboard (e.g. by redeploying the specific dashboard resource)?

[2019-10-12 11:24] valeriob commented on #406
Hi @Dmitry-Matveev i tried that, but i can not reach the HttpContext to extract the information.

[2019-10-12 14:14] ketaanhshah commented on #408
Closing this issue. I wrote a Powershell script and got it working and now using the REST API I can get historic data. I had to register the APP in Azure AD and then use it to call App Insights REST API.

[2019-10-12 14:14] #408 closed

[2019-10-14 18:46] kltye opened #409 "Status Monitor v2 doesn't seem to be logging server errors"
Installed Status Monitor v2 per the instructions here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-detailed-instructions

OS is Windows Server 2012 R2, and we're instrumenting an ASP.NET 4.6 app. We used to run status monitor v1, but we've uninstalled that.

The Live Metrics Stream shows data coming in, and we're logging events otherwise, except for server errors - s

[2019-10-14 21:54] Dmitry-Matveev commented on #406
I guess, as a workaround, you can store Headers into AsyncLocal at the moment you can access them and then, in Telemetry Initializer read them from AsyncLocal. However, that means you'd need to get to headers before Initializers are invoked, so you'd do it before the incmoing call is complete.

[2019-10-15 14:18] ptedim commented on #369
What do you need from me to get in touch ?

[2019-10-15 21:22] Mikhail-msft commented on #369
Sorry, took some time to figure out the official way for doing that.
Please send an email to AzCommunity@microsoft.com  with your Subscription details and a link to this thread so we can verify and direct the request accordingly. We'll continue to investigate this with you directly and will update the thread with any findings that may help others.

[2019-10-16 13:30] kyurthich opened #410 "Not able to link AI to Devops"
I have tried both the https://compname.visualstudio.com and https://dev.azure.com/compname

Neither works.

![image](https://user-images.githubusercontent.com/3331097/66923858-96f35200-eff7-11e9-971f-6bef0b98e873.png)

[2019-10-16 13:34] kyurthich commented on #410
welp. Figure it out.

![image](https://user-images.githubusercontent.com/3331097/66924158-1a14a800-eff8-11e9-9973-6a1107955746.png)

That was set to off.

[2019-10-16 13:34] #410 closed

[2019-10-18 19:34] Mikhail-msft commented on #369
The current proposal is to introduce a VirtualPathFilter. I’ve published the 1.1.0-beta1 version here:
[https://www.powershellgallery.com/packages/Az.ApplicationMonitor/1.1.0-beta1](https://www.powershellgallery.com/packages/Az.ApplicationMonitor/1.1.0-beta1)
Could you please give it a shot and see if it addresses your scenario. Usage, if you have subapp, with the name “subapp”, in order to match

[2019-10-21 20:50] 3xj opened #412 "Enhancement: update location.country property name"
We discovered during our security review that the `location.country` property name is flagged as an issue in the PoliCheck tool. Here is the guidance we received from MSFT CELA:

**Describe the solution you'd like**
Update `location.country` to `location.countryRegion`

[2019-10-24 23:50] ctolkien opened #413 "[ASPNET Core] Memory Usage / GC Thrashing"
Fairly basic ASPNET Core Application, 1 minute after booting sitting there idling, there is a huge amount of GC thrashing and the memory is nearly peaking at 600mb:
![image](https://user-images.githubusercontent.com/515955/67533270-129a8080-f715-11e9-8941-b247cfd20b85.png)

Compared with if AI is _not_ enabled, no GC thrashing, memory usage at 150mb:
![image](https://user-images.githubusercontent.

[2019-10-25 01:33] ctolkien commented on #413
Digging in via perfview:
![image](https://user-images.githubusercontent.com/515955/67536589-a2472b80-f723-11e9-997f-1201fccf7b22.png)

[2019-10-25 05:33] ctolkien commented on #413
Reproduction is here:
https://github.com/ctolkien/ApplicationExplodes

[2019-10-25 05:40] davidwengier commented on #413
I see the same thing on my machine with that repro.

The GCs are caused by LOH allocations, which in my case come from [System.Diagnostics.PerformanceMonitor.PerformanceCounterLib.GetData()](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/PerformanceCounterLib.cs#L240). The byte array coming back is huge:
![image](https://user-images.githubusercon

[2019-10-25 06:33] ScottHolden commented on #413
Spinning up a new ASP.Net Core WebAPI, and running under Kestral gives a full repo:

![image](https://user-images.githubusercontent.com/20675893/67548372-62953980-f74d-11e9-9506-90b1d6cc7773.png)

If we remove just the "\Process" related counters, we don't see this issue:

![image](https://user-images.githubusercontent.com/20675893/67548402-79d42700-f74d-11e9-8997-ee39de0d7b74.png)

[2019-10-25 07:12] xt0rted commented on #413
With the following changes (based on the discussion in https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/912) I'm not seeing this go over 50 MB where as before these changes it was hitting 500 MB.

![image](https://user-images.githubusercontent.com/831974/67550502-a566fb00-f6d4-11e9-883d-337e1299ba9f.png)

**app.csproj**

[code]

**runtimeconfig.template.json**

[code]

[2019-10-25 07:32] ScottHolden commented on #413
I've also noted that it is not one particular counter, but in fact anything to do with \Process():
![image](https://user-images.githubusercontent.com/20675893/67551948-befc5700-f755-11e9-8089-ac8db33c7261.png)
![image](https://user-images.githubusercontent.com/20675893/67551960-c58ace80-f755-11e9-8129-350064f439f2.png)

[2019-10-28 18:43] TimothyMothra commented on #413
@cijothomas can you take a look and comment?

[2019-10-29 10:41] krmoanh opened #414 "App insights Failure Anomalies v2 issue"
After migration azure monitor classic alert rule successfully complete. on application map before i can see API's they are connected to DB, etc. but now no more.  before when i nav to Investigate -> Smart Detection. i can see Failure Anomalies, but now no more. although i can see this Failure Anomalies V2 when i nav to monitoring -> Alerts.
im using .Net core which i enabled Application Insights f

[2019-10-29 11:31] ketaanhshah opened #415 "Azure Monitoring Agent and Dependancy Details"
Hi All,
We have a scenario where a .Net App is hosted on IIS on vm and that app connects with SQL Server. We are trying to get end to end transaction details including the SQL statements fired etc and what we got to know from one of the experts at Microsoft is the Azure Monitoring Agent is what's used to send logs to Log Analytics, but it's also what gets dependancy details for App Insights.
I hav

[2019-10-31 10:17] jonsamwell opened #416 "Please provide a Dart SDK to use with Flutter"
Please provide a Dart SDK to use with Flutter.

Alternatively, could you point me in the directions of some API information so I can start to communicate with app-insights from Flutter via HTTP

[2019-10-31 18:58] TimothyMothra commented on #409
@Mikhail-msft is the product owner. (Tagging you so you're aware of this issue).

It's not clear if this is a Status Monitor bug (could be config related) or an SDK bug.

@kltye Can you please collect PerfView logs and share?
- StatusMonitor https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-troubleshoot#collect-etw-logs-by-using-perfview
- SDK https://docs.microsoft.com/en

[2019-10-31 19:43] Dmitry-Matveev commented on #416
One can submit telemetry directly to AI Endpoint following the Endpoint Specs / Protocol [outlined here](https://github.com/microsoft/ApplicationInsights-Home/tree/master/EndpointSpecs).

Dart SDK is not planned, so going direclty against endpoint is a good workaround.

[2019-10-31 19:43] #416 closed

[2019-10-31 19:45] Dmitry-Matveev commented on #415
Similar question has been posted on [StackOverflow recently](https://stackoverflow.com/questions/58624849/azure-monitoring-agent-and-dependancy-details?noredirect=1#comment103593857_58624849). I will re-use the comment from that question:

"To collect SQL statements you would need Instrumentation Engine libraries at your service (you won't need them for the .NET Core SQL statement collection, they

[2019-10-31 19:46] ketaanhshah commented on #415
Thank you @Dmitry-Matveev this is very helpful.

[2019-10-31 19:46] #415 closed

[2019-10-31 20:17] baywet opened #417 "Azure DevOps release annotations cross platform"
Hi,
Currently the task for Azure DevOps is written using PowerShell.
https://marketplace.visualstudio.com/items?itemName=ms-appinsights.appinsightsreleaseannotations

This limits the task to be able to run only on windows agent as described here.
https://aka.ms/tasklib

Having the task re-written in TypeScript would allow Azure DevOps and Application Insights customers that are not on a windows st

[2019-10-31 20:50] jonsamwell commented on #416
Many thanks for the reply

[2019-10-31 22:36] Dmitry-Matveev commented on #412
While it looks like a simple change on SDK front, it’s actually part of the interface between SDK and Backend and the multitude of components in AI’s Backend.

While in UI this is a presentation layer fix and is easy to undertake, the guideline suggests that in legacy APIs or functions where changing a code element name would break the existing code this fix is not required.

Therefore, this fix i

[2019-11-04 14:59] studioab opened #419 "track requests failing with 400. Field 'ai.operation.name' on type 'ContextTagKeys' is too long. Expected: 1024 characters, Actual: 1169""
JS SDK used in React web app. We are sending basic telemetry to Appinsight, same code was working for 4 months without any problems.

Few days ago we noticed that 90% our telemetry isn't coming through and track requests are failing with error

`Field 'ai.operation.name' on type 'ContextTagKeys' is too long. Expected: 1024 characters, Actual: `

Is this a known bug? Any help is appreciated.

[2019-11-04 18:39] prudepixie commented on #419
Hi, I'm getting the exact same error as well, also using the Javascript SDK.
Our metrics seem to have started failing around November 1st, around last Friday.

[2019-11-05 17:05] graham-saunders opened #420 "Potential memory leak from application insights"
I received a notification from Smart Detection telling me there is a potential memory leak in APP_WIN32_PROC.

I believe this is related to application insights, as APP_WIN32_PROC is a part of the telemetry model.

The application insights name is Virtuous.Jobs.Interminable

How can I dig into this further? The smart detection and app insights doesn't seem to offer much a solution.

Let me know if

[2019-11-06 13:57] MaxiPigna opened #421 "Application Insights duplicates"
By querying my Application Insights I found out that:
•	**Some events** are duplicated, but it doesn’t happen regularly
•	When duplication happens, **all properties are duplicated** (also itemId and timestamp)
•	It happens for **any event type**: traces, dependencies and custom events
•	Usually events are duplicated **twice**, rarely **three times**

Looking at the [Ingestion Time](https://docs.mi

[2019-11-07 23:10] Dmitry-Matveev commented on #420
Application Insights itself does not execute memory profiling and won't be able the deep dive diagnostic of the memory issue. In this example Application Insights has evaluated several available indicators such as memory-related metrics and concluded that there is a possibility of the memory leak. As a result pro-active alert from smart detection has been generated.

You can plot memory metrics in

[2019-11-07 23:10] #420 closed

[2019-11-07 23:25] Dmitry-Matveev commented on #421
You assumption is correct. About ~3-4 years ago, Application Insights has switched from the guaranteed delivery with de-dupe it had in alpha-beta stages into "at least once delivery" mode.

However, you can try to narrow down where the duplication is happening and try to reduce it if it's under your control, such as on SDK side re-trying items due to network connection failures and similar.

Our b

[2019-11-07 23:25] #421 closed

[2019-11-08 21:11] mbinggeli opened #422 "Application Insights for Azure App Service preventing app start."
Dear Microsoft,

I am running a .NET Core 2.2 app in Azure and was using Application Insights.  Application Insights is now causing the app to fail on start-up.  When reviewing the logs; the following error is happening:

When I review my DLLs in Kudu; the System.Diagnostics.DiagnosticSource DLL version is 4.6.24705.01.

The  Pre-Installed Site Extension is version 2.8.26.131.

The only way to kee

[2019-11-09 11:05] breyed opened #423 "UserAgent defined circularly"
The [UserAgent](https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.extensibility.implementation.usercontext.useragent) is defined as:

But it doesn't say or link to what a UserAgent is. The HTTP header User-Agent concept comes to mind, but user accounts aren't tied to a single web browser. Is there some other meaning for UserAgent? The documentation should make the answer cl

[2019-11-09 11:07] breyed commented on #423
Additionally, all properties that are related to the [data model](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model) should link to it, so that it's easy to find Application-Insights-specific rules like max field lengths.

[2019-11-09 11:25] breyed opened #424 "UserContext.AccountId doesn't specify scope of account"
[UserContext.AccountId](https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.extensibility.implementation.usercontext.accountid) has this summary:

This sounds like an old-fashioned user account. However, its actual meaning appears to be as defined by the [account id](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model-context#account-id) data model:

That make

[2019-11-12 09:22] danpacgig opened #426 "Missing/Dropped RequestTelemetry when Success flag is false with no ResponseCode"
As the title suggests when the success flag is set to false, nothing goes to app insights cloud.

repro :
logging is `private readonly TelemetryClient logging;`

This messages will get lost
[code]

the below works

[code]

this automatically changes response code to 200
[code]

[2019-11-12 15:19] unaizorrilla opened #427 "Can't add new DiagnosticListener into IServiceCollection"
Hi,

Just discover that application insights for .NET Core (version 2.8.2) is not working well, requests telemetry module do not send telemetry, when user add new DiagnosticListener into ServiceCollection.

A repro is very simple.

[code]

Adding new listener to container shouldn't be a problem, because "Microsoft.AspNetCore" is in the _next of new added listener and observer can continue observin

[2019-11-12 15:41] mikeblakeuk opened #428 "Can the "wait" be part of the Flush?"
a) How long should we wait for the flush?
https://github.com/microsoft/ApplicationInsights-Home/blob/2dbdd7c58ceca76beff99bbeaef9327071995669/Samples/WorkerServiceSDK/ConsoleAppWithApplicationInsights/ConsoleAppWithApplicationInsights/Program.cs#L55
b) Why can the we have a FlushBlocking() method instead? https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407

[2019-11-12 17:42] HMoen opened #429 "Microsoft.ApplicationInsights.WorkerService dependency System.Runtime.CompilerServices.Unsafe load fail on .NET 4.7.2 Windows Service"
Hello.

**Issue:** (CLR v4.0.30319)
Using nuget package [Microsoft.ApplicationInsights.WorkerService](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService) version 2.8.2 in a .NET 4.7.2 windows service throws the exception below when calling the **TelemetryClient.StartOperation** method per the example used in this [article](https://docs.microsoft.com/en-us/azure/azure-monito

[2019-11-12 18:41] unaizorrilla commented on #427
After checking this with different members of ASP.NET Core, replacing DiagnosticListener is not a good way to add new custom DiagnosticListener and this is breaking up application insights.

[2019-11-12 18:41] #427 closed

[2019-11-12 18:48] zmarty opened #430 "Please enable Virtual Network Service Endpoints for Application Insights"
Hello Application Insights Team!

We are an internal Microsoft team that uses Application Insights heavily from Azure Functions.

We would like to ask what is the ETA for you to support Service Endpoints for Application Insights, such that we can access Insights from inside our virtual network, as opposed to going through NAT port translation.

Reference: https://docs.microsoft.com/en-us/azure/vir

[2019-11-13 08:59] wis3guy commented on #422
I'm experiencing the exact same problem. It all started approximately 2 weeks ago. What frustrates me most is that i can redeploy (via ftp) the site to a fresh App Service and have everything working.

[2019-11-13 11:37] wis3guy commented on #422
# Problem description

- dotnetcoreap2.1
- existing App Service
- Application Insights enabled through the portal
- deployment through Azure DevOps

Result when accessing the site: `HTTP Error 502.5 - Process Failure`

Underlying exception, taken from `eventlog.xml`:

[code]

Strangely, there is an assembly, named `System.Diagnostics.DiagnosticSource.dll` in the wwwroot, but apparently it is not t

[2019-11-13 13:46] richardkarlsen opened #431 "SQL not tracekd after moving to Azure Monitor Application Insights Agent"
After moving from Status Monitor to Azure Monitor Application Insights Agent the tracked SQL is not tracked.

Command - `somename.database.windows.net | some-name`.

The SDK version reported in Azure application insight has changed to "rddf:2.11.1-25521" which is not tracking sql ref this [advanced-sql-tracking-to-get-full-sql-query](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net

[2019-11-14 11:55] adrianm64 opened #432 "Duplicate heartbeats"
I'm new to heartbeats and have recently started to monitor some applications I have running. One is an Azure app service and 2 are windows services running on a server outside azure.

Yesterday I received duplicate heartbeats, identical timestamp and content, from all applications. It happened 2,3 and 4 times for the different applications between 10:00 and 16:00 (UTC).

Is this expected behavior

[2019-11-14 15:54] #432 closed

[2019-11-14 19:59] TimothyMothra commented on #431
@Mikhail-msft please review.

@richardkarlsen
- Can you share some information about your project. What's the .Net framework version?
- Can you share what version of the Insights Agent you're on?

For context, there was a SQL bug in 2.11.1 that we fixed in 2.11.2, but I spoke to the dev and confirmed that it only affects .Net Core 3.0 projects (https://github.com/microsoft/ApplicationInsights-dotn

[2019-11-14 20:12] Dmitry-Matveev commented on #430
@olegsych, are you aware of any plans to support Service Endpoints in AI Backend?

[2019-11-14 20:23] Dmitry-Matveev commented on #426
`ResponseCode` is a required field on AI Endpoint for Request Telemetry item. If this field is missing, the telemetry is getting dropped and AI endpoint should reply back with 40x type of error.

Default for Success is true and AI SDK automatically sets 200 as a response code. When AI SDK detects failure it automatically changes both fields. However, if Success's value is changed manually, AI SDK

[2019-11-14 20:23] #426 closed

[2019-11-14 22:32] olegsych commented on #430
We are considering including this in the next planning semester.

[2019-11-15 02:52] cijothomas commented on #429
Thanks for reporting and sharing the issue. We'll investigate this and get back.

[2019-11-15 02:55] cijothomas commented on #422
https://github.com/microsoft/ApplicationInsights-Home/blob/master/app-insights-web-app-extensions-releasenotes.md#2826
This is already addressed and being rolled out.

[2019-11-15 02:57] cijothomas commented on #428
https://docs.microsoft.com/en-us/azure/azure-monitor/app/telemetry-channels#which-channel-should-i-use
The exact time is not predictable. The Flush() is being tracked as an enhancement. I dont have an ETA for that yet.

[2019-11-15 02:57] #428 closed

[2019-11-15 03:01] cijothomas commented on #429
@Dmitry-Matveev Any chance you know more about this? The app runs fine except when run as windows service.

The type initializer for 'PerTypeValues`1' threw an exception.
System.BadImageFormatException: Could not load file or assembly System.Runtime.CompilerServices.Unsafe, Version=4.0.4.1, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a or one of its dependencies.
Reference assemblies should not

[2019-11-15 09:47] mikeblakeuk commented on #428
Task.Delay(500000) feels too long. Should it be around 5 seconds?

[2019-11-15 17:27] cijothomas commented on #428
Right. 5-10 secs would do in most cases. (the example acciddently put additional zeros)

[2019-11-18 17:45] #422 closed

[2019-11-19 07:45] richardkarlsen commented on #431
The solution targets 4.6.1.

Installed AI package (installed through Visual Studio "add application insight")
[code]

I did the following:

1. Uninstalled Status Monitor on the server (on premise)
2. Installed az.applicationmonitor.1.0.1.nupkg
3. ` Enable-ApplicationInsightsMonitoring`
4. `Enable-InstrumentationEngine`

After this the reported sdk version in azure changed from `rddp` to `rddf`.

_

[2019-11-20 22:07] HMoen commented on #429
Thanks for looking into this @cijothomas and @Dmitry-Matveev.

In the meantime, is there a work around for windows services? Thanks.

[2019-11-20 22:21] Dmitry-Matveev commented on #429
@HMoen , I would suggest trying to add System.Runtime.CompilerServices.Unsafe 4.5.0+ package explicitly into the project as a workaround, it seemed to help others on GitHub with the similar issues.

Locally, VS resolves such references successfully from its caches or MSBuild extension folders, but when deployed as a service, certain indirect references may become unresolved out of VS context, espe

[2019-11-20 23:07] HMoen commented on #429
@Dmitry-Matveev, I tried your suggestion with no success. I tried adding System.Runtime.CompilerServices.Unsafe 4.5.0-4.6.0. When 4.6.0 is added, app.config gets the following added automatically upon install:
[code]
If I manually correct the version to the following, it still throws the excption that it can't find the specified version:
[code]

I updated the sample project to reflect the explicit

[2019-11-21 00:40] lmolkova commented on #429
@HMoen please do not correct the version. Binding redirects require Assembly version (4.0.5.0) and not nuget version (4.6.0).

Does the problem reproduce when you have

[code]

in the app.config?

[2019-11-21 00:44] HMoen commented on #429
@lmolkova, yes, the exception also occurs without correcting the version.

[2019-11-21 00:51] lmolkova commented on #429
Are you still seeing an exception about "4.0.4.1" version? Can you search for any mentions of this version in your project? I see something in your repo (https://github.com/HMoen/WindowsService-AI-Dependency-Failure/blob/2864bcba7bc1cdcc89d495fb243d22b963075282/WindowsServiceAIFailureSetup/WindowsServiceAIFailureSetup.vdproj)

If updating it won't help, please enable [fuslog](https://docs.microsof

[2019-11-21 01:01] HMoen commented on #429
Yes, I'm still seeing the exception about "4.0.4.1" version when Nuget 4.60 is explicitly added. I will enable fuslog and get back to you shortly.

[2019-11-21 01:03] lmolkova commented on #429
Thanks! can you make sure this https://github.com/HMoen/WindowsService-AI-Dependency-Failure/blob/2864bcba7bc1cdcc89d495fb243d22b963075282/WindowsServiceAIFailureSetup/WindowsServiceAIFailureSetup.vdproj is not what requiring 4.0.4.1 version? Something in your project requires 4.0.4.1

[2019-11-21 01:20] HMoen commented on #429
The sample project has no dependencies besides Microsoft.ApplicationInsights.WorkerService version 2.8.2. If I attempt to downgrade System.Runtime.CompilerServices.Unsafefrom 4.6.0 to 4.50, I get the following NU 1605 warning:

Warning	NU1605	Detected package downgrade: System.Runtime.CompilerServices.Unsafe from 4.5.2 to 4.5.0. Reference the package directly from the project to select a different

[2019-11-21 01:26] HMoen commented on #429
When running the project, FUSLOG generates the attached report.
[fuslog-output.txt](https://github.com/microsoft/ApplicationInsights-Home/files/3872319/fuslog-output.txt)

[2019-11-21 02:02] lmolkova commented on #429
System.Memory depends on System.Numerics.Vectors. so maybe System.Memory version is a problem here.

Also what I see in fuslog

Can you check that you compile your project against proper processor architecture?

I was trying to repro the problem on my machine.

I cannot load your vdproj, so I just started windowsServiceAIFailure csproj. It works fine on my maching. Which one do you start?
If vdpro

[2019-11-21 02:10] HMoen commented on #429
My machine is Windows 10 Pro version 1903 and am compiling using VS 2019 16.3.10 with platform target "Any CPU" with "Prefer 32-bit" option checked.

Running windowsServiceAIFailure csproj in VS 2019 won't throw any exception. It's when it is installed as a windows service that it throws the exception. Can you install the project as a service without using the setup project?