[2019-11-21 02:34] HMoen commented on #429
I ran the project as a console application outside of VS and it runs perfectly. It seems that when the project is installed as a service and started from Services.msc it no longer can find the dependencies.

Does a windows service look for references in a different location instead of the application folder?

[2019-11-21 07:19] lmolkova commented on #429
Your vdproject project brings old version of System.Runtime.CompilerServices.Unsafe (4.5.1). You need to configure it to bring 4.6.0 and make sure it brings right System.Memory. I believe this is the root cause of this issue.

[2019-11-21 18:59] HMoen commented on #429
@lmolkova, 4.6.0 (4.0.5.0) is being installed in the application folder (attached) and as you can see from the snippet of vdproject below:
![dll-installed](https://user-images.githubusercontent.com/2124254/69367479-6477ed00-0c66-11ea-909e-9e751a32c5f9.jpg)

[code]
The following automatically generated binding redirect in App.config ([WindowsServiceAIFailure.exe.config.txt](https://github.com/micro

[2019-11-21 20:19] HMoen commented on #429
@lmolkova, running the .exe as a console app from the VS project bin folder it runs perfectly. Running the .exe as a console app from the installed folder, it crashes. I compared the DLLs in the bin folder against the DLLs in the installed folder and noticed the following two DLLs have different file sizes even though they are the same version as you can see from the attached image.

- System.Buff

[2019-11-22 00:07] reyang opened #434 "Beta package used in Sample"
https://github.com/microsoft/ApplicationInsights-Home/blob/59b79e1bdb14238593d000cf0bad681f7aa5cde6/Samples/Heartbeat/AspNetCore/ASPNetCoreSample/ASPNetCoreSample.csproj#L8

Needs to be updated to release version.

[2019-11-22 16:17] HMoen commented on #429
FIX: add the 4 following assemblies manually from project bin folder in addition to "Project Output" in installer project:
1. System.Buffers
2. System.Memory
3. System.Numeric.Vectors
4. System.Runtime.CompilerServices.Unsafe

Of the 4 DLLs added by the installer project, only System.Numeric.Vectors is being referenced from the nuget net46 folder instead of netstandard2.0 folder like other 3. Afte

[2019-11-22 16:17] #429 closed

[2019-11-28 06:39] OzBob commented on #377
@pharring @xiaomi7732 @juliusl  Restarted my webapp yesterday and 6 StopProfiler errors have appeared in my Applicationinsights Failures log.

Microsoft.WindowsAzure.Storage.StorageException:
   at Microsoft.WindowsAzure.Storage.Core.Util.StorageAsyncResult`1.End (Microsoft.WindowsAzure.Storage, Version=8.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35)
...
   at Microsoft.ServiceProfiler.

[2019-11-28 19:27] valeriob commented on #406
Thanks Dmitry, i'm not a fan of using AsyncLocal, i think that accessing the http context should be a main feature of the library, anyway i'll give it a try, when do you suggest i should store the data  to be able to retrieve it from the Telemetry Initializer ?
Thanks

[2019-11-29 02:30] OzBob opened #435 "ApplicationInsightsProfiler StopProfiler failed after WebApp restart"
@pharring @xiaomi7732 @juliusl
Restarted my webapp 20191127 and StopProfiler errors have appeared every morning in my Applicationinsights Failures log.

Failed method	Microsoft.WindowsAzure.Storage.Shared.Protocol.HttpResponseParsers.ProcessExpectedStatusCodeNoException
Problem Id	System.Net.WebException at Microsoft.WindowsAzure.Storage.Shared.Protocol.HttpResponseParsers.ProcessExpectedStatusCod

[2019-11-29 15:54] pharring commented on #435
Hi, @OzBob this might be a service-side error. Please contact us by email at serviceprofilerhelp@microsoft.com and let us know your Application Insights instrumentation key so we can check telemetry on our side.

[2019-12-02 14:14] valeriob commented on #406
Hi, i tryed to use asyncLocal without luck, i'm intercepting it in a middlewhare but when the code inside the ITelemetryInitializer runs, the value is null.
Can you provide some other way? It's very important to add some context to the httprequest to diagnose prdocution issues.
Thanks

[2019-12-02 23:15] Dmitry-Matveev commented on #406
I thought of something like this:
[code]
Then, for incoming request, the moment when you first can access your headers, save necessary value to the MyAsyncStorage.

I may simply be missing something and there can be a better way for getting headers to initializers, @lmolkova is there a better suggestion?

[2019-12-03 08:52] vborioni-onit commented on #406
Yep i tried that, then i set the storage value in a middleware :

            app.Use(async (context, next) =>
            {
                MyTelemetryInitializer.AsyncLocal.Value = context;
                await next.Invoke();
            });

[2019-12-03 12:00] LukeRH opened #436 "Nuget Package install failed to add ApplicationInsights.config"
Hi,
When i try to add app insights using the rhm option on a asp.net project i get the following error
Could not add Application Insights to project.

The nuget package install failed to add the ApplicationInsights.config

![image](https://user-images.githubusercontent.com/17493218/70049341-67f36880-15c4-11ea-8de9-d41be0594bd7.png)

Please could someone help?

Thanks
Luke

[2019-12-03 14:51] LukeRH commented on #436
Further information:
I have tried adding app insights to a brand new asp.net project and it works. Is there a log location which might provide more information about what is going wrong. I have checked VS output and event viewer.

[2019-12-05 11:56] LukeRH commented on #436
Opened another issue here https://github.com/microsoft/ApplicationInsights-dotnet/issues/1337

[2019-12-05 11:56] #436 closed

[2019-12-07 01:11] Dmitry-Matveev commented on #406
@valeriob , @vborioni-onit , (not sure which alias is current), I consulted with @lmolkova and she suggested to try storing the values you'd like to use in `HttpContext.Current.Items` and then taking them from there in Telemetry Initializer. I tried it on a sample Web API app and it works.

Alternatively, you can save them directly to `RequestTelemetry` object that is stored in `HttpContext.Curren

[2019-12-09 13:38] valeriob commented on #406
Hi @Dmitry-Matveev the samples refer to aspnet MVC 5, i'm talking about aspnet core, there is no HttpContext.Current api in that framework.

[2019-12-10 09:18] M0ns1gn0r opened #438 "Release annotation fails right after AppInsights are deployed"
I am deploying AppInsights via ARM, it takes about 25 seconds to do the deployment, so I am expecting it took that time to configure and initialize itself.

After about 2.5 minutes I Deploy a function app which uses this instance of AppInsights. This deployment seems to include the implicit "create release annotation" step as the following error gets logged:

[code]

If I repeat the deployment aft

[2019-12-11 16:51] marcelriegr commented on #279
Why would it take up to 30 days just to delete some data that's not even 500 KB big?

[2019-12-11 19:41] DanielLandryfnf opened #439 "WCF Method Name"
Hello,

I've added app insights into a wcf service. Ideally I'd like to grab the name of the method so I can run queries against the data coming in and view trends, detailed information, etc.

I was able to do this by adding the below into a CustomServiceHost.cs. However, while this gave me exactly what I needed we found that this caused severe overhead onto our service as this code runs synchrono

[2019-12-11 23:25] JacobBovee commented on #397
Hey @joelverhagen I have a PR open for this issue however I was hoping you could give me some insight as to when CORS support will be live as it currently causes errors when developing for our app. Thank you.

[2019-12-11 23:53] joelverhagen commented on #397
Yes, we caught this change in behavior between the new and old service when inspecting IIS logs. The change should be deployed tomorrow. It is currently in our PPE environment.

[2019-12-12 23:54] joelverhagen commented on #397
@JacobBovee - this has been deployed to https://azuresearch-usnc.nuget.org/. It will be deployed to https://azuresearch-ussc.nuget.org/ tomorrow. CORS/AJAX should work just fine for you now.

[2019-12-13 10:47] esbenbach opened #440 "Shared SnapshotCollector process"
I was not able to find anything about this, so hopefully this has not been asked before.

We have a lot of services which are all using the SnapshotCollector to publish snapshots. These services are running in Service Fabric, and we end up with what seems like 1 collector.exe process per 1 service fabric service (essentially a  console app).

Is there any existing mechanism for consolidating these

[2019-12-13 13:25] ketaanhshah opened #441 "Diagnostics Logging for Application Insights Service in Azure"
Hi All,
We use Azure Application Insights and Generate Alerts and also use webhooks.
We are looking for Logs of Application Insights itself for the Alert generated (This is not the application's log but the diagnostics logs about Application Insights Alert that was generated) as we want to debug details on what data was sent in the Alert's webhook and what was the url (kind of Verbose log of Appli

[2019-12-17 21:08] ventil8 opened #442 "Failed to create an annotation with Id"
With no change to our pipelin we are now getting a failure on our "Add release annotation to Azure Application Insights resource" step.

2019-12-17T20:52:54.7647569Z ##[error]Failed to create an annotation with Id: 61354dbf-c0b1-4c3a-8b1a-18f2648fb085. Error Unknown, Description: Unknown.

I have tried updating the API key as i thought it had gone stale but no luck. The only thing i can think of i

[2019-12-18 05:43] Neorth commented on #442
Got the same error on deployments 8 and 3 hours ago.

[2019-12-18 07:19] GerritMesker commented on #442
Same problem here. All release annotations in all releases fail at the moment with the above mentioned error.

[2019-12-18 08:15] wouterdeman commented on #442
Same problem here. Also getting Error Unknown :(

[2019-12-18 09:06] DamianBorndorff commented on #442
Same problem here.. seems like a general outage?

[2019-12-18 10:13] ProdSupportGuy commented on #442
We encounter the same problem in all our pipelines

[2019-12-18 10:27] tobiasdyrebrant commented on #442
We've got the same issue for our pipelines as well.

[2019-12-18 14:16] ketaanhshah opened #443 "AI: TelemetryInitializerFailed message One of telemetry initializers failed"
Hi All,
One of our application uses Application Insights and we observed following error being reported in the Application Insights, can someone help me understand how we can fix it:

AI: TelemetryInitializerFailed message:"One of telemetry initializers failed, telemetry item will not be sent: TypeError" props:"{exception:[object Error]{ stack: 'TypeError: Cannot read property 'correlationKey' of

[2019-12-18 17:03] austinhale commented on #442
Same issue for us

[2019-12-18 17:46] michaelvannevel commented on #442
We have the same issue as well.

[2019-12-18 19:01] austinhale commented on #442
Messy solution but it works if you need to get a deploy out and can live with not having the annotation in Application Insights:

Wait until after failure occurs, go into the individual release, click on the failed step (verify you see Pipeline / Tasks / Logs / etc.) on the top, then click on "Edit Release" --> Tasks --> Right click on "Release Annotation" and select "Disable selected task(s)", th

[2019-12-18 19:07] dgritsko commented on #442
There is some discussion of what looks like a similar issue [here](https://marketplace.visualstudio.com/items?itemName=ms-appinsights.appinsightsreleaseannotations&ssr=false#qna). From the discussion on the Q&A page, a Microsoft account said:

[2019-12-18 19:24] tsorial opened #444 "App Insight Javascript integration not working with site pages forcing compatibility to IE7"
We are in process of upgrading our pages to make them work across different browsers.  But, in the meantime is there a way to get app insight javascript to work in older versions of IE (IE7)?

[2019-12-18 19:43] ventil8 commented on #442
If this is against the app service then all mine are already 1.2 but still seeing the issue or can set this against AI?

[2019-12-19 07:29] BenLuts commented on #442
Adding the registry keys on our build agents seem to have solved the problem for us!

[2019-12-19 08:15] rwatjen commented on #442
That is a machine-wide configuration change, which might break other things.

Is there any chance that we could get a single line added to the beginning of `DeploymentMarker.ps1` in the release task:
[code]
This forces the current PowerShell session to use TLS 1.2.

That is how a lot of the other pipeline tasks from Microsoft are implemented (https://github.com/microsoft/azure-pipelines-tasks/sear

[2019-12-19 10:29] DamianBorndorff commented on #442
**This one worked for us:**

Step1: Download the CreateReleaseAnnotation.ps1 [here](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/API/CreateReleaseAnnotation.ps1)

Step2: Add Task to YML-File

[code]

[2019-12-19 11:20] dominikfoldi commented on #442
@BenLuts have you added the registry keys like in this docs? https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings#tls-12

I have added these to our build agents with the Client and Server subkeys enabled but the problem still exists.

[2019-12-19 11:50] elangelo commented on #442
this messed up our releases to production quite heavily yesterday.

[2019-12-19 19:49] Dmitry-Matveev commented on #424
@SergeyKanzhelev, can you share some thoughts?

[2019-12-19 22:45] Dmitry-Matveev commented on #438
@debugthings , would you know how to address this issue with release annotation?

[2019-12-19 22:46] Dmitry-Matveev commented on #440
@pharring , I think you might be able to help here.

[2019-12-20 00:11] pharring commented on #440
@esbenbach I presume you're talking about SnapshotUploader.exe (or SnapshotUploader64.exe).
For now, there's one SnapshotUploader per iKey. So, if each of your services uses a different iKey, then you'll have one SnapshotUploader per service.

In the future, I'd like to have SnapshotUploader be more like a daemon process that can be shared by many instances.

Can you quantify the memory consumptio

[2019-12-20 00:15] Dmitry-Matveev commented on #417
@debugthings , I remember you had some context on release annotations, is this something you can comment on?

[2019-12-20 01:32] Dmitry-Matveev commented on #439
[Telemetry Initializers](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling) are indeed a recommended way to enrich/edit telemetry with the properties you'd like to use.

Telemetry Initializers are executed synchronously to the `Track..()` methods that are called on your behalf by auto-collection mechanism to track Request Telemetry. However, it's a bit of a surprise t

[2019-12-20 10:05] esbenbach commented on #440
Yearh it was the SnapshotUploader64.exe.

The service fabric cluster we have things running in uses only 2 different instrumentationkeys.
Not sure if the services run from separate temp folders, but I would presume that service fabric isolates them so that they do (ill try to figure out how thats handled in SF).

The memory usage of each process is not excessive (12-16mb or something), but having

[2019-12-22 17:39] pharring commented on #440
Thanks for the extra information. The memory usage per-instance sounds about right, but the fact that you have 25-30 instances is certainly a problem -- especially since you have only 2 different instrumentation keys.

You could try overriding a couple of configuration settings to see if we can get those 25-30 instances to collapse down to just two.

`TempFolder`: Specifies the folder to write min

[2019-12-22 18:38] esbenbach commented on #440
Thanks for the very detailed reply. I will give it a try (but not until
after new years - vacation here as well)!
We are on both framework and core so will try both.

On Sun, 22 Dec 2019 at 18:39, Paul Harrington <notifications@github.com>
wrote:

--
Esben Bach
cand.scient

[2019-12-23 15:16] yanivlavi commented on #441
Can you explain the use case please?
We don't expose the alerting engine log currently. Other than in the alert management history.

[2019-12-23 15:21] ketaanhshah commented on #441
@yanivlavi we are sending the Json payload to webhook thru one of our App Insights Alerts and their was a failure their. So we wanted to look at the logs like what was the Json pay load sent, what was the webhook URL etc used during that alert firing (which some devz may have changed). So to find out that Alert's log for what all was sent exactly at that execution we were looking for that logs.

[2019-12-23 15:44] yanivlavi commented on #441
You can get the alert payload which is in the same format as the webhook as well as the URL used from alert rules. Maybe a support case will help you resolve the issue as well, if you get stuck.

[2019-12-23 15:58] ketaanhshah commented on #441
thank you @yanivlavi but like the workflow (Logic apps) logs get logged to Log Analytics workspace why not have an option to log some intern App Insights logs related to tenant to log analytics workspace. What we want is the actual payload at that time generated just to see if it had exceptions and also which url and how ti parsed it. I agree Premier ticket will help but wish this gets added as ot

[2019-12-24 10:25] yanivlavi commented on #441
We are exploring adding logs to alerts and exposing it to customers, but nothing solid yet. I agree this could be helpful. I also suggest you post us a UserVoice to track your request.

[2019-12-24 12:27] PashaPash opened #445 "Overview blade - Server Response time metric is 1000x higher than expected"
I have an app with some medium load, mix of .NET Core Micro services and old .NET Framework code. We have a lot of inter-services calls, so avg request duration is less than 100ms:

![image](https://user-images.githubusercontent.com/1866711/71412621-944c5300-265f-11ea-9184-61368c099219.png)
![image](https://user-images.githubusercontent.com/1866711/71412638-a4643280-265f-11ea-9ae5-1778d400da12.png

[2019-12-24 13:28] ketaanhshah commented on #441
ty @yanivlavi surely will raise the request thru UserVoice.

[2019-12-24 13:28] #441 closed

[2019-12-26 23:24] cijothomas commented on #414
Please open a new issue https://github.com/microsoft/ApplicationInsights-dotnet/issues/new for broken App Map experience - its a feature independent of alert rule migration and should be investigated separately.

[2019-12-27 13:58] Danthar commented on #442
We are experiencing the same issues. We are using the Task provided by MS. I already configured the server on which our release pipeline runs to enable TLS 1.2 but to no avail.
We are experiencing this issue since the 18-12.

If this is because TLS1.0 and 1.1 support was dropped. Can't you guys just release a new version of the task _ms-appinsights.appinsightsreleaseannotations.release-task.ms-app

[2020-01-06 07:28] fbeltrao opened #446 "No operation with id xyz could be found in Azure Portal when using link references"
When trying to create reference links between telemetry (“_MS.links” attribute), I observed an unexpected behavior in Azure Portal.
In my example, the operation “Say Hello batch processing” has references to 3 “Single Say Hello” operations (think of batch processing).
On the portal, clicking on any of the upstream operations gives the error message “No operation with id xx could be found” (from th

[2020-01-06 12:03] esbenbach commented on #440
Looking at the documentation here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-troubleshoot

There are two folders in play, `Temp` and `ShadowCopyFolder` - from the description it seems like I should modify the `ShadowCopyFolder` rather than the Temp folder.

Can you confirm whether this is correct or not?

[2020-01-06 13:27] yanivlavi commented on #414
You should still be able to see failure anomalies v2 alerts in smart detection tab. If you can't please open a support case for us to investigate.

[2020-01-06 16:54] pharring commented on #440
`TempFolder`. Using the same value in each service should 'collapse' multiple instances into one.

[2020-01-06 17:01] SergeyKanzhelev commented on #446
CC: @lmolkova @zakimaksyutov

@fbeltrao can you please confirm that any telemetry with the related IDs were collected. For instance, do you have any telemetry with operation ID `4d2da8313d7ed44db9a7831076bc5a3d`?

[2020-01-06 18:33] lmolkova commented on #446
this is known portal issue, show be fixed soon - I'll keep you posted.

[2020-01-07 22:07] masheal opened #447 "Which part of the code in chatbot(Microsoft bot framework) is sending “BotMessageReceived” data to Application Insight?"
The following stuff is the data that is sent to the application insight. In order to find the part of the code that send this piece of data, I tried to search the key word "recipientName" or "recipientId", but it shows no result.

Application Insights Telemetry: {"name":"Microsoft.ApplicationInsights.38d763c685c74b8084bc91cc5348777a.Event","time":"2019-12-20T21:34:24.4367380Z","iKey":"38d763c6-85c

[2020-01-08 09:21] esbenbach commented on #440
Tested redirecting the TempFolder and it works.

Is there any way to configure the TelemetryProcessor in code, when using framework? Mostly need this to use a convention based determination of the path to avoid a gazillion service config changes.

What I do with TelemetryModules is something like `TelemetryModules.Instance.OfType<Blah>().SingleOrDefault()` and then change the properties. And it se

[2020-01-08 22:40] pharring commented on #440
Great. Glad it helped.

If it helps to avoid code, note that TempFolder supports environment variable expansion (using `%xyz%` syntax). So you could set an environment variable very early in startup (before App Insights is initialized) and reference it in the ApplicationInsights.config file.

However, yes, you can configure `TempFolder` via the property on `SnapshotCollectorTelemetryProcessor`. Yo

[2020-01-09 07:40] esbenbach commented on #440
Thanks for the very detailed response - I will go ahead and experiment with just setting the environment variable (not really sure how much SF likes that though, and setting the environment variable via SF config is basically what I want to avoid). If that fails ill revert to the "using code" approach.

Thanks.

[2020-01-09 16:24] marnilss commented on #394
Almost 5 months later, and still no fix !?

[2020-01-10 21:36] zakimaksyutov commented on #445
This indeed doesn't make much sense. It sounded that you opened official support ticket for this case. If yes, can you please send it to me so I would look it up? zakima __a___t__ microsoft (.com).

[2020-01-13 21:58] qbryant opened #448 "Snapshot uploader not creating minidump"
I see the SnapshotUploader process start successfully for my ASP.NET application, but no minidump file gets created.  There's nothing in the log file that indicates it's even tried to create a minidump, like I would expect to see from [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-troubleshoot#check-the-uploader-logs).  It looks like another process is supposed t

[2020-01-14 08:43] funkysi1701 commented on #442
Has there been any update or work around for this? I am getting the same error from a deployment today, I am going to disable the annotations step for now, but I would like a proper solution at some point.

[2020-01-15 10:27] PashaPash commented on #445
@zakimaksyutov got an update from support:

"summarized by operations" part seems to be related only for Operations Blade vs Log Analytics metric mismatch (94.4 ms vs 62.197ms). My Log Analytics query ignores `itemCount` for requests. Here is a correct one:

[code]

For Server Response Time chart (the one with 1.6 min values) - support told me that it is not based on `requests` data, and that is u

[2020-01-15 14:17] #440 closed

[2020-01-16 21:45] Dmitry-Matveev commented on #448
@pharring should be able to help here.

[2020-01-16 21:58] pharring commented on #448
Your application is the other process. Here's a description of how it works:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger#how-snapshots-work

[2020-01-21 14:31] SimonLuckenuik commented on #393
Please follow-up or Triage?

[2020-01-23 09:21] dvnu commented on #392
@Dmitry-Matveev I'm having the same error in the same scenario. A web application that uses remoting to make server calls after installing Application Insights Agent.

Server stack trace:
   at System.Runtime.Serialization.FormatterServices.CheckTypeSecurity(Type t, TypeFilterLevel securityLevel)
   at System.Runtime.Serialization.Formatters.Binary.ObjectReader.CheckSecurity(ParseRecord pr)
   at

[2020-01-23 21:22] Dmitry-Matveev commented on #392
@SergeyKanzhelev , can it be related to IL code changes AI agent can be doing? (I assume @dvnu means AI Status Monitor and code-less onboarding when light profiler is getting configured for IIS)

I can't think of the other reason for security check failures after agent installation off top of my head.

[2020-01-24 21:46] sra2019 opened #450 "AzureAppInsights - WCF | Missing Telemetry data in Azure App Insights"
Hello Folks,

WCF service using Microsoft.ApplicationInsights nuget v2.4.0:
A WCF service using AppInsights is not recording no of requests (RequestTelemetry) correctly. There is no issue with Dependency Telemetry. The no of requests were matching up when the service was hosted on 2008R2; but after a recent upgrade to 2019 server; once the cut over was done, ding! All the recorded requests traffic

[2020-01-26 16:05] dvnu commented on #392
@Dmitry-Matveev @SergeyKanzhelev yes

For you reference this was the approach followed: https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-vm-vmss-apps
And yes it's a codeless deployment

[2020-01-28 13:15] PashaPash commented on #445
Got a response from support. Metric aggregation is performed on the SDK side, by standard `AutocollectedMetricsExtractor` telemetry processor. Any custom telemetry processors that filters our response telemetry types should be registered before that standard metrics extractor.

For ASP.NET Framework, custom processor should be listed first in `<TelemetryProcessors>` config:

[code]

For ASP.NET Co

[2020-01-28 16:43] debugthings commented on #442
Hey everyone, I am the dev for this DevOps task. I wasn't aware this thread existed until today (5 minutes ago) and I am sorry for that.

As mentioned up thread Azure has gone to using Tls 1.2 and Application Insights is no exception. Annotations is serviced by the Application Insights endpoint which went strictly Tls 1.2 right around the date this was posted.

## Solution
I have updated our annot

[2020-01-28 17:47] debugthings commented on #438
Answered in #442

[2020-01-28 19:31] ventil8 commented on #442
Thanks for the input. Is there a way where this kind of thing would not take over 1 month to get looked at?

[2020-01-28 19:53] M0ns1gn0r commented on #438
@debugthings The mentioned issue doesn't seem to be related to mine. In my case `addReleaseAnnotation` does work in the end, but only after a delay of 2.5 minutes.

[2020-01-28 23:06] bryancrosby opened #451 "Telemetry sent without an instrumentation key"
I recently installed the Application Insights Status monitor on a cloud-hosted VM. I wanted to see some detailed SQL command text from a console application, using the custom SDK.

In my application, which is a console application, I created an Application Insights resource in Azure and set the telemetry configuration to point to this key.

I'm seeing too much data on my subscription -- already ov

[2020-01-28 23:49] pharring commented on #167
# [1.3.6](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.6)

## Changes
- SnapshotCollector now depends on Microsoft.ApplicationInsights >= 2.5.1 for all target frameworks. This may be a breaking change if your application depends on an older version of the Microsoft.ApplicationInsights SDK.
- Remove support for TLS 1.0 and 1.1 in Snapshot Uploader.
- Period of

[2020-01-29 00:49] CawaMS commented on #167
#sign-off

[2020-01-29 01:51] debugthings commented on #438
@M0ns1gn0r sorry about that I assumed this was part of the larger issue with TLS.

**TL;DR** You're deleting and recreating the resource quick enough that it's looking up an old id in the local memory cache.

**Long Version**
When I looked at the time frame near the one in the original post I can see that there was a number of operations over the course of the day. It seems like you are creating a

[2020-01-29 06:59] M0ns1gn0r commented on #438
@debugthings Thanks for the detailed answer!

I in fact was deleting the AppInsights, although not during each deployment, but manually from the portal. I did that to ensure that creation of the infrastructure works even when it's done from scratch.

[2020-01-29 06:59] #438 closed

[2020-01-29 08:55] cdemi opened #452 "Microsoft.ApplicationInsights.SnapshotCollector 1.3.6 breaks on Docker"
After upgrading my project to Microsoft.ApplicationInsights.SnapshotCollector 1.3.6 I am getting an Application Crash on Startup.

[code]

Using `mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim`

[2020-01-29 19:03] #451 closed

[2020-01-30 22:27] Dmitry-Matveev commented on #452
@pharring should be able to help here.

[2020-01-30 23:52] Dmitry-Matveev commented on #450
There might be several issues in play:
- AI .NET SDK 2.4 still has .NET 4.0 target, so it won't support TLS 1.2 out of the box and updating servers from 2008 to the latest 2019 may bring TLS 1.2 enforcement up;
- Application Insights SDKs come with sampling by default, if SDK sends more than 5 telemetry items per second it will re-evaluate sampling percentage to only send 5 telemetry items per sec

[2020-01-31 01:02] pharring commented on #452
@cdemi Did this ever work? buster-slim is a Linux image and SnapshotCollector is for Windows only (at this point)

[2020-01-31 01:16] pharring commented on #452
@cdemi I recommend uninstalling Microsoft.ApplicationInsights.SnapshotCollector 1.3.6 from your Linux apps. If, for some reason, you still need the Snapshot Collector nuget (because your app also runs on Windows), then by all means downgrade to 1.3.5.

If you have different configs/appsettings.json for Linux and Windows, I might be able to offer a workaround that will allow you to keep 1.3.6 on bo

[2020-01-31 09:36] cdemi commented on #452
It actually worked in 1.3.5. I was unaware that this is Windows only. Fortunately I am building only for Linux so I will remove this dependency

[2020-02-01 18:48] bobingham opened #453 "AddSnapshotCollector not found in IServiceCollection"
I am running AspNetCore 2.2.0 on aspnet framework 4.6.1.
I have downloaded the the nuget package and added the following using statement to my _Startup.cs_:

`
using Microsoft.ApplicationInsights.SnapshotCollector
`

When I attempt to add the snapshot collector to my services I am getting the following error:
![image](https://user-images.githubusercontent.com/6200331/73597391-680bd800-4523-11ea-91

[2020-02-05 03:12] sra2019 commented on #450
Thanks Dmitry - your inputs helped. Really appreciate your kind gesture to guide. Am surprised Microsoft abandoned wcf supportability for appInsights. The referred gitHub project never got updated from last 3 years. Looks like WCF is not favored service stack of Microsoft anymore.

That said - we identified the issue ; the memory leak in another thread of the app was spiking up memory of the app p

[2020-02-05 18:06] dvnu commented on #392
Hey @Dmitry-Matveev @SergeyKanzhelev
Any pointers to help pinpoint the problem ?
I'm more than happy to troubleshoot and narrow the issue on my own and help solve if needed but I would really appreciate your input on this

[2020-02-05 19:47] Dmitry-Matveev commented on #450
Thanks for getting back to us with the actual root cause! Closing the issue.

[2020-02-05 19:47] #450 closed

[2020-02-06 19:40] TimothyMothra commented on #453
@pharring Can you please take a look at this?

[2020-02-06 20:06] pharring commented on #453
@bobingham

The SnapshotCollector nuget has support for the following target frameworks: net45, netstandard2.0, netcoreapp2.0 and netcoreapp3.0.

The `AddSnapshotCollector` extension method is available only in the netcoreapp2.0 and netcoreapp3.0 targets.

Since you're targeting net461, your build picks the net45 target which doesn't contain that extension method.

Unfortunately, I don't know if t

[2020-02-06 20:09] bobingham commented on #453
Ah, so I need to implement the _SnapshotCollectorTelemetryProcessorFactory_ in my Startup and follow that method.  Thanks @pharring , I will give that a try and let you know how I get on.

[2020-02-06 20:10] pharring commented on #453
@TimothyMothra please add the "prod:snapshot-collector" label. #prod:snapshot-collector

[2020-02-06 21:09] #452 closed

[2020-02-06 21:11] pharring commented on #448
@qbryant do you have any follow-up questions, or can this be closed?

[2020-02-06 21:12] pharring commented on #435
I think this was resolved over email.

[2020-02-06 21:12] #435 closed

[2020-02-06 21:13] pharring commented on #397
I believe this has been resolved now.

[2020-02-06 21:13] #397 closed

[2020-02-06 21:13] #453 closed

[2020-02-06 21:18] pharring commented on #384
[SnapshotCollector version 1.3.6 ](https://github.com/microsoft/ApplicationInsights-Home/issues/167#issuecomment-579528051) updated its dependencies.
For net45 and netstandard2.0, it now depends on SDK version 2.5.1
For netcoreapp2.0 and netcoreapp3.0 it depends on MS.AI.AspNetCore 2.2.1
That doesn't resolve this problem entirely, but it's moving in the right direction.

[2020-02-06 21:18] #384 closed

[2020-02-06 21:20] #336 closed

[2020-02-06 21:23] pharring commented on #245
Closing old issue.

[2020-02-06 21:23] #245 closed

[2020-02-06 21:23] pharring commented on #225
Is this question still relevant?

[2020-02-06 21:24] qbryant commented on #448
Apologies, I didn't look at trying to get this to work again yet.  But I don't remember reading that description, and I think it's likely the problem is on my end.  Maybe I just didn't meet the threshold for sending a snapshot.  Anyway, this can be closed, thanks for your help.

[2020-02-06 21:25] #448 closed

[2020-02-11 21:10] #445 closed

[2020-02-11 22:09] ketaanhshah opened #456 "Weird Application Insights Data unkown source"
Hi All,
We are trying to debug some Alert (Custom alert) we have configured and in the process we discovered some telemetry with operation_id (which we searched across all tables) and we are unable to identify whats the source that initiated this request and where it is coming from. This is intermittent but daily and I wanted to know how we can identify the Request that is initiating it. Following

[2020-02-12 10:35] oscarllop opened #457 "RequestTelemetry Name is Empty on Initialize"
Application Insights Version: 2.12.1

When examining the Name property within the Initialize event of a telemetry request, the value is empty.

In previous versions it worked correctly.

[2020-02-16 12:44] sawo1337 commented on #369
@Mikhail-msft  is there anything specific to the VirtualPathFilter? This works for all our nested apps, but one - seems like the path is being recognized as a different one, even though I can see in the IIS logs that the app is indeed executed through its proper path. For example, the app is named SampleApp, but it is shown as /System in the azure monitor, even though IIS shows /SampleApp in its l

[2020-02-16 23:39] sawo1337 opened #458 "All API endpoints rendered as Default/RequestParser"
Az.ApplicationMonitor 1.1.0-beta1, IIS 8.5 on-premises, two servers with shared config, Windows Server 2012 R2

When added ASP.NET API web service (.NET 4.6) application, all requests in the Azure portal are displayed as Default/RequestParser. When going down to transaction details, the full request URL shows the proper endpoint, but all request names in the "operation name" list are incorrect. Tr

[2020-02-17 08:55] sawo1337 commented on #458
sorted on our end, the problem was using custom JSON parser for the requests

[2020-02-17 08:55] #458 closed

[2020-02-18 16:07] mgolois opened #459 "When App Insights turned is on in my App Service Plan - App does not load anymore"
It's a .net core 3.1 app. it does not have appInsights dlls. Just wants to turn on app insights on the app service plan, but unfortunately. I get a 500 when site tries to load. Im not sure where it's pully that version of appInsight.aspnetcore. Here is the error I get:

[code]

[2020-02-18 18:17] syndicatedshannon opened #460 "Unclear what App Service "Turn on Application Insights" does"
It's unclear what the "Turn on Application Insights" button/process/wizard found in the Azure Portal : App Service : Application Insights management blade does.

It is unclear both at

- **high level**: e.g. I *think* it "onboards via Azure Extension, one of the 3 available mechanisms to enable Application Insights for App Service, but it looks like I'll have to start reverse engineering to verify

[2020-02-18 18:18] TimothyMothra commented on #460
@Mikhail-msft please review

[2020-02-18 18:30] TimothyMothra commented on #459
@Mikhail-msft please review.

[2020-02-18 18:54] mgolois commented on #459
@Mikhail-msft , I think this is caused by our code.
We have a code that does something like:

`var dict = AppDomain.CurrentDomain.GetAssemblies().SelectMany(c=> c.GetTypes().Where(x=> !x.IsAbstract)).ToDictionary(x=> x.Name, x=> x.Type)`

here is the error and trace:

ReflectionTypeLoadException: Unable to load one or more of the requested types.
Could not load file or assembly
'Microsoft.Applicat

[2020-02-18 19:05] TimothyMothra commented on #459
Oh, this may not specifically be an App Service Extension issue.

I don't know how the NetCore attach works, but the DotNet attach uses the GAC to load some assemblies at runtime.
I'm surprised your app couldn't find the file though.

Just out of curiosity; why are you creating a dictionary of loaded assemblies? Is this an audit or reporting concern?
As a workaround, I think you could exclude wher

[2020-02-18 23:00] Mikhail-msft commented on #459
.netcore3.1 one-click turn on support is being rolled out. Your issue appears to be different, though - your app is referencing the ApplicationInsights SDK and the version is being loaded is 2.1, which is quite old one. For reference currently shipped version with the codeless one-click extension is `Microsoft.ApplicationInsights.AspNetCore, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf385

[2020-02-19 00:48] mgolois commented on #459
@Mikhail-msft , the app/project itself has no reference to the Application Insights SDK. We have only turned on appInsights in the app service plan. So we are using the codeless monitoring option.

When I check the version of the application insight extension installed via kudu by going to https://xxx.scm.azurewebsites.net/ApplicationInsights it's says:

After further investigation, I see that the

[2020-02-19 14:05] DanielLandryfnf commented on #439
@Dmitry-Matveev I'm sorry for the delay in response, we had a couple other more pressing changes come in and I had to delay in getting back to this.

However, I'm happy to say that your guess about how I'm retrieving the method name being a heavy process turned out to be the issue. I found a different, much more efficient method and so far performance seems to be a non-issue (we're waiting on a fo

[2020-02-19 14:05] #439 closed

[2020-02-19 19:33] TimothyMothra opened #461 "Need to improve communication of Application Insights SDK version & extensions integration"
**Azure App Service Extension** is a private repo.
- dependent SDK version: Base v2.9.0-beta1-build3872 (Nov 2018)

**Azure Functions**
- Repo: https://github.com/Azure/azure-webjobs-sdk
- NuGet: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/
    - current version: 3.0.14
        - dependent SDK version: AspNetCore v2.8.0 (Sept 2019), Base v2.11 (Sept 2019)
- m

[2020-02-19 19:35] TimothyMothra commented on #461
@reyang @SergeyKanzhelev @lmolkova @Dmitry-Matveev

[2020-02-19 19:48] lmolkova commented on #461
AFAIK this is being resolved here https://github.com/Azure/azure-functions-host/pull/5551 so Function will pick up later version of AI SDK if it is provided  by customer.

[2020-02-20 14:32] mgolois commented on #459
@Mikhail-msft  not sure what's different with .net core 3.1 version, because the .net core 3.0 of the app does not throw any exception.
any thoughts?

[2020-02-20 19:00] blueThunder77 opened #463 "Client side Application Insights causing CORS error in ASP.net Core mvc app"
I have an ASP.net core mvc application that is using Microsoft.ApplicationInsights.AspNetCore (2.13.0) to add application insights. This appears to be working fine, however, when I add the @Html.Raw(JavascriptSnippet.FullScript) tag helper & appropriate @inject statement to my _Layout.cshtml file, I start getting a "Cross-Origin Request Blocked" error when the application insights records telemetr

[2020-02-21 01:38] Dmitry-Matveev commented on #456
@ketaanhshah , you can see the root of the operation visually if you open any of this items in End-to-End transaction view (you can get there from Search or from Performance/Failures dashboards, easiest is to search for this ID in Search).

Another way is to find a Request that has `operation_Id` equal to `operation_parentId` or the request that seems to the be top root parent based on the chain o

[2020-02-21 01:38] #456 closed

[2020-02-21 03:03] Dmitry-Matveev commented on #463
@markwolff may have some doc or a standard solution to this issue.

[2020-02-21 14:29] mjohanss opened #464 "Error creating Action Group for selected resource group"
Trying to create an Action Group and selecting a different resource-group than the default "Default-ActivityLogAlerts (to be created)". When submitting the request I receive an error stating that I do not have rights to create resource group "Default-ActivityLogAlerts" even though I have selected a different resource group in the UI. It seems that it tries to create the action group within "Defaul

[2020-02-21 15:25] blueThunder77 commented on #463
I found rolling back to an older version of Microsoft.ApplicationInsights.AspNetCore fixes the issue. Seems there may be a bug in version 2.13.0.

[2020-02-21 18:22] markwolff commented on #463
Seems similar to https://github.com/microsoft/ApplicationInsights-JS/issues/934
If possible, could you attach a screenshot of the OPTIONS call it is trying to make. There shouldn't be any extra headers in the ingestion server request (it doesn't need any). In the past, this was just a temporary caching issue on the client browser (e.g it worked on Edge but not chrome).

AFAIK there shouldn't be an

[2020-02-21 18:54] blueThunder77 commented on #463
![image](https://user-images.githubusercontent.com/31392109/75062849-3eeac180-54a9-11ea-8d8e-3475f4cd6671.png)

[2020-02-21 19:12] markwolff commented on #463
Is this one of the ones that failed? It looks like it was successful

[2020-02-21 19:51] blueThunder77 commented on #463
I believe so. It's the only OPTIONS request made to "https://dc.services.visualstudio.com/v2/track" that I see on the Network tab of dev tools. Here is the error message it's displaying on the Console tab:
![image](https://user-images.githubusercontent.com/31392109/75066758-2f6f7680-54b1-11ea-93df-3cf5c4b4e125.png)

[2020-02-22 01:12] harleyz opened #465 "Clientside Cors Blocked Issue with ApplicationInsights-Web 2.2.4"
Started recently in our prod running 2.2.4, and has not been updated in some time:
Access to XMLHttpRequest at 'https://dc.services.visualstudio.com/v2/track' from origin 'websiteurl' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Request URL: https://dc.services.visualstudio.com/v2/track
Referrer Policy: no-referrer-when-downgrade

[2020-02-22 01:23] Dmitry-Matveev commented on #457
@oscarllop , I tried .NET Framework 4.6.2 MVC/WEB API app with AI 2.12.1 and the following initializer was able to see the request name:
[code]
Can you please provide a little bit more detailed explanation and maybe code samples of what used to work and is no longer working with 2.12.1, so that I can take a closer look at the actual issue you are experiencing?

[2020-02-24 23:11] blueThunder77 commented on #463
Rolling back to Microsoft.ApplicationInsights.AspNetCore version 2.8.2 is the only thing I've found that resolves this issue.

[2020-02-24 23:49] harleyz commented on #465
not experiencing this issue anymore, I think it may have been an issue with the service.

[2020-02-24 23:49] #465 closed

[2020-02-25 10:05] jpmaistrebazin opened #466 "Microsoft.ApplicationInsights.SnapshotCollector.UploaderStartException: Could not find a suitable shadow copy folder."
After ugrading  my project to Microsoft.ApplicationInsights.SnapshotCollector 1.3.6 I am getting an Application Crash on Startup when hosting with IIS.

[code]

[2020-02-27 07:40] ofirmanor commented on #464
Thanks for reporting it @mjohanss !
This is a UI regression, the deployment of the fix is already in progress.
Meanwhile, since it only affects the poral, you could use the API/powershell/CLI instead

[2020-02-27 12:52] ABackw commented on #463
I'm having the same issue with regular ASP.NET MVC project that error only comes with Firefox. I'm using version 2.12.0.

[2020-02-27 14:00] blueThunder77 commented on #463
I have seen it show up as a warning in Chrome and Edge, but it seems to occur less frequently in those browsers.

[2020-02-27 19:49] TimothyMothra commented on #466
@pharring can you please take a look?

[2020-02-28 07:59] ABackw commented on #463
Okay, I get on Edge everytime now but no luck with Chrome yet.

[2020-02-28 17:21] pharring commented on #466
Acknowledged.
[code]

[2020-02-28 18:13] pharring commented on #466
Background: The SnapshotCollector assembly embeds all its support files as resources and it extracts those files to disk at runtime. The ShadowCopyFolder is the folder on disk into which those files are extracted. To find a suitable ShadowCopyFolder the Snapshot Collector searches through a few different environment variables in order:
- Fabric_Folder_App_Temp
- LOCALAPPDATA
- APPDATA
- TEMP

For

[2020-02-28 21:13] markwolff commented on #463
Is this with the version of AI that previously worked for you?

[2020-02-29 14:05] #464 closed

[2020-03-03 13:36] jpmaistrebazin commented on #466
_Is your environment particularly locked down?_
No

_Is your IIS host running under very restricted credentials?_
Not really, but just application pool and IIS_IUSRS had permissions to read/write in application directory

_What OS are you using?_
Windows Server 2019 Datacenter

I try specify manually ShadowCopyFolder to know isssue. Maybe a permission problem. I check that
Thks

[2020-03-03 13:47] jpmaistrebazin commented on #466
Ok, I found ! I had changed application pool and I forgot to put permission folder. I revised it, and its works ! Thanks to help

[2020-03-03 13:47] #466 closed

[2020-03-03 22:11] blueThunder77 commented on #463
I'm currently using AI version 2.8.2 (which is the latest version that does not generate the error), and it shows javascript:1.0.21 for the SDK version.
![image](https://user-images.githubusercontent.com/31392109/75823004-940abb00-5d66-11ea-8f22-2dc4fc3ff4d5.png)

On AI version 2.13.1 (the one that throws the error), it shows javascript:2.4.4 for the SDK version.
![image](https://user-images.githu

[2020-03-06 20:13] Mikhail-msft commented on #459
@mgolois , the deployment of 3.1 support is now fully done. Please let us know if the issue still persists.
For the difference reason: the DiagnosticService require application insights dlls to be present and since the 3.1 codeless wasn't supported yet, those dlls were missing from your runtime. Now the issue should be solved.

[2020-03-06 20:16] Mikhail-msft commented on #369
@heyams, looks like we haven't seen such behavior before. @sawo1337 do you have any additional details which could help rootcausing the issue?

[2020-03-06 21:00] mgolois commented on #459
@Mikhail-msft great to hear! Thank you!!

[2020-03-06 21:00] #459 closed

[2020-03-11 14:15] Kicsu opened #467 "Get-ApplicationInsightsMonitoringStatus cannot connect to nuget feed"
Hi!

When I start a deploy to a new server sometimes (~every 20th deploy) I got an error when I call the Get-ApplicationInsightsMonitoringStatus method. I got the following error message:

Do you meet with this issue before? It seams I do not have internet connection on the server, but I have.
Is it possible to customize Get-ApplicationInsightsMonitoringStatus to use static files from local instea

[2020-03-11 17:25] caroe2014 opened #468 "Windows Web App showing Blank page at startup after installing App Insights"
The customer has a Windows Web app with Nodejs Application. After installing App Insights the Web App just showed a black page at startup with no error on the the screen, no errors on Kusto Table, no error on the Network Trace no error on the Nodejs application Log.

After several troubleshooting steps, the application started to work after App Insights was uninstalled.

[2020-03-12 20:41] TimothyMothra commented on #468
@markwolff do you have any thoughts?

[2020-03-12 20:43] markwolff commented on #468
How is app insights enabled? Is it enabled via SDK or from the Portal?

[2020-03-12 20:45] TimothyMothra commented on #467
There is a download link here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-performance-live-website-now#download

Note that this product has been replaced with the Application Insights Agent. https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview

[2020-03-16 08:02] Kicsu commented on #467
Hi Timothy!

Thanks for your answer, the first link that you sent is pointing to version 2.3.0 (that's the only msi installer that I found also).

This AZ Application Insights Agent is compatible with PowerShell Core? After I installed it with PS 7.0 it still says AppInsights commands are not recognized.

[2020-03-17 15:42] Kicsu commented on #467
Hi!

I've got the following issue while tried to enable AppInsights:

[code]

Can you please help me solve this?

Kicsu

[2020-03-17 16:16] TimothyMothra commented on #467
Hmmm, we haven't seen GAC issues before. Can you confirm that you were running as an Admin?

@Mikhail-msft any ideas?

[2020-03-17 16:56] Kicsu commented on #467
Yes I am the admin and powershell cmd is also in admin mode.

[2020-03-17 20:17] Mikhail-msft commented on #467
@Kicsu , please share the whole error record. `$Error[0] | fl * -Force` after the command fails should return the managed callstack.
@heya, FYI

[2020-03-18 08:07] Kicsu commented on #467
Hi guys!

Thank you for your attention :) I runned the required command, I got the following:
[code]

[2020-03-18 12:10] Kicsu commented on #467
This is my command set:
[code]

[2020-03-18 18:56] Mikhail-msft commented on #467
@heyams, that seems to be new PS: https://devblogs.microsoft.com/powershell/announcing-powershell-7-0/ I don't think we ever tested with it. Could you see what would it take to support it?
@Kicsu, in order to unblock you - could you use previous powershell version? Powershell 7 is based on powershell core which is not supported yet.

[2020-03-18 21:38] Kicsu commented on #467
Hello @Mikhail-msft !
You mean previous version as Powershell 6? Az.ApplicationMonitor is working with powershell 6? It could be also good for me.

Kicsu

[2020-03-21 04:09] kltye commented on #375
Any updates on custom telemetryInitializers? It's been very useful for me to filter out noisy requests to our public website, e.g. bots or Exchange Autodiscover requests, or favicons, etc.

[2020-03-23 17:09] TimothyMothra commented on #375
Hello @kltye, for the sake of the conversation can you help me understand your use case here?

The StatusMonitor product is meant to be what we call "codeless-attach", meaning you can onboard without a dependency on the SDK.
But if you're creating custom telemetry initializers, your application would require the SDK to inherit the ITelemetryInitializer interface.
From my perspective, I don't under

[2020-03-23 17:16] Kicsu opened #469 "PowerShell Core"
So currently my problem is I would like to install and enable AppInsights monitoring, instrumenting my apps with PowerShell Core (6 or 7). With an older PowerShell script I have a working solution for this, but it contains some import which are throwing error under PowerShell Core. These import modules are the problem which are required to get more info from 'Get-ApplicationInsightsMonitoringStatu

[2020-03-23 17:50] kltye commented on #375
Hey @TimothyMothra, thanks for responding.

Here's my scenario: A public-facing SharePoint site, for which we'd like to track a bunch of telemetry that isn't offered OOB by the codeless attach (e.g. real IP address), and also filter stuff out at the logging level (dependency errors, repetitive 404s). Also, I filter out dependency calls at specific times of day - we do content publishing between Sh

[2020-03-24 17:59] TimothyMothra commented on #375
Hey @kltye, yeah for SharePoint your only option is the codeless attach.

I represent the C# SDK so let me put you in touch with @Mikhail-msft and @heyams. They can offer guidance on their product roadmap.

[2020-03-24 18:26] kltye commented on #375
Thanks! I don't suppose you can comment on when/if we'll be able to regain "access" to the SDK via codeless attach?

[2020-03-24 21:18] TimothyMothra commented on #461
No current action items.
Need to follow up with Reiley on how to handle this moving forward.

[2020-03-25 21:57] TimothyMothra commented on #469
FYI @Mikhail-msft @heyams

[2020-03-25 22:19] heyams commented on #469
Thanks @TimothyMothra. I will look into it.

[2020-03-26 08:37] HofmeisterAn commented on #195
@SergeyKanzhelev Do you have more information about the workaround? The linked blog post no longer exists, thanks.

[2020-03-26 12:32] NatMarchand opened #470 "Running node 12 app with ApplicationInsights"
When runnning a nodejs app on linux app service deployed as a zip (WEBSITE_RUN_FROM_PACKAGE=1), as soon I activate Application Insights, I encounter an error which prevents my app from starting :
[code]

I guess that it's because the filesystem is readonly. Is there anything I can do to fix the error ?

[2020-03-27 00:50] pharring commented on #167
# [1.3.7](https://www.nuget.org/packages/Microsoft.ApplicationInsights.SnapshotCollector/1.3.7)

## Changes
- The netcoreapp2.0 target of SnapshotCollector depends on Microsoft.ApplicationInsights.AspNetCore >= 2.1.1 (again). This is back to how it was before 1.3.5. We tried to upgrade it in 1.3.6, but it broke some Azure App Service scenarios.

## New features
- Snapshot Collector reads and parse

[2020-03-27 17:33] heyams commented on #469
@Kicsu Currently, we don't support PowerShell Core yet.  I've created a work item to track this.

[2020-03-31 20:50] TimothyMothra commented on #470
@markwolff please take a look

[2020-03-31 21:15] markwolff commented on #470
Seems to be using an older version of Oryx. /cc @microsoft/oryx-contrib

[2020-04-01 06:44] jeevanbalanmanoj opened #472 "Email alerts for azure resources"
I’m looking to implement the following for my http triggered azure functions. Can the same be achieved via appInsights? If so please help me with going about achieving it.

Trigger email alerts for the following.
•	When the Azure function or other resources are down
•	When a particular exception occurs in the azure functions
•	When a particular HTTP response happens for the azure functions
o	For e

[2020-04-01 20:31] trinathm opened #473 "Link to download ApplicationInsightsAgent.msi is broken"
Unable to download ApplicationInsightsAgent.msi from this path http://go.microsoft.com/fwlink/?LinkID=522371.

This forward link is resolving to https://appinsightsstatusmonitor.blob.core.windows.net/version91/ApplicationInsightsAgent.msi

At this URL, Installaer is not found, probably it has been moved or removed.

[2020-04-03 11:51] Danthar commented on #463
Addendum. We are seeing the same issues. We are using version 2.9.1.

[2020-04-03 12:26] ABackw commented on #463
In my case the sdkVersion is javascript:2.5.3

[2020-04-03 14:10] milodotnet opened #474 ".NET CLR Perf counters not to appinsights / Confused about guidance for Classic Cloud Services"
I'm really struggling with application insights and cloud services at the moment

The issue I'm trying to solve is that no matter what I do for some reason the .NET CLR related performance counter categories are not getting sent from my cloud service to application insights. I believe it is failing with a "category does not exist" error when it's attempting to do this from the code.

I can confirm

[2020-04-07 20:47] TimothyMothra commented on #474
@cijothomas please take a look

[2020-04-07 22:03] cijothomas commented on #474
@milodotnet What is the error message you are getting when trying to get the .net clr counter? Also can you paste the ai.config content where the additional counters are configured?

Something like the following is added to ai.config?
[code]

[2020-04-07 23:35] TimothyMothra commented on #473
@trinathm I believe this is fixed now.
I'm going to close this issue, but please reopen or create a new issue if you need further assistance.

[2020-04-07 23:35] #473 closed

[2020-04-07 23:37] TimothyMothra commented on #57
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:37] #57 closed

[2020-04-07 23:37] TimothyMothra commented on #64
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:37] #64 closed

[2020-04-07 23:38] #74 closed

[2020-04-07 23:38] #78 closed

[2020-04-07 23:39] TimothyMothra commented on #98
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:39] #98 closed

[2020-04-07 23:39] #118 closed

[2020-04-07 23:39] TimothyMothra commented on #160
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:39] #160 closed

[2020-04-07 23:41] TimothyMothra commented on #181
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:41] #181 closed

[2020-04-07 23:41] TimothyMothra commented on #184
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:41] #184 closed

[2020-04-07 23:41] TimothyMothra commented on #186
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:41] #186 closed

[2020-04-07 23:43] TimothyMothra commented on #205
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:43] #205 closed

[2020-04-07 23:43] TimothyMothra commented on #219
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:43] #219 closed

[2020-04-07 23:43] #220 closed

[2020-04-07 23:44] TimothyMothra commented on #224
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:44] #224 closed

[2020-04-07 23:44] TimothyMothra commented on #225
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:44] #225 closed

[2020-04-07 23:45] TimothyMothra commented on #226
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:45] #226 closed

[2020-04-07 23:46] TimothyMothra commented on #227
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:46] #227 closed

[2020-04-07 23:46] TimothyMothra commented on #230
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:46] #230 closed

[2020-04-07 23:46] TimothyMothra commented on #236
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:46] #236 closed

[2020-04-07 23:47] TimothyMothra commented on #237
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-07 23:47] #237 closed

[2020-04-08 00:04] TimothyMothra commented on #190
I'm closing this ticket as out of date.
If this is still an issue, please reopen.

[2020-04-08 00:04] #190 closed

[2020-04-08 00:07] TimothyMothra commented on #252
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:07] #252 closed

[2020-04-08 00:07] TimothyMothra commented on #248
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:07] #248 closed

[2020-04-08 00:08] #266 closed

[2020-04-08 00:09] TimothyMothra commented on #268
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:09] #268 closed

[2020-04-08 00:10] TimothyMothra commented on #270
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:10] #270 closed

[2020-04-08 00:10] TimothyMothra commented on #275
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:10] #275 closed

[2020-04-08 00:11] TimothyMothra commented on #277
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:11] #277 closed

[2020-04-08 00:11] TimothyMothra commented on #279
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:11] #279 closed

[2020-04-08 00:12] TimothyMothra commented on #280
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:12] #280 closed

[2020-04-08 00:13] TimothyMothra commented on #282
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:13] #282 closed

[2020-04-08 00:13] TimothyMothra commented on #291
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:13] #291 closed

[2020-04-08 00:14] TimothyMothra commented on #293
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:14] #293 closed

[2020-04-08 00:14] TimothyMothra commented on #296
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:14] #296 closed

[2020-04-08 00:20] TimothyMothra commented on #299
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:20] #299 closed

[2020-04-08 00:21] TimothyMothra commented on #302
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:21] #302 closed

[2020-04-08 00:21] TimothyMothra commented on #305
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:21] #305 closed

[2020-04-08 00:23] TimothyMothra commented on #307
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:23] #307 closed

[2020-04-08 00:23] TimothyMothra commented on #308
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:23] #308 closed

[2020-04-08 00:24] TimothyMothra commented on #309
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:24] #309 closed

[2020-04-08 00:24] TimothyMothra commented on #313
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:24] #313 closed

[2020-04-08 00:24] TimothyMothra commented on #315
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:24] #315 closed

[2020-04-08 00:24] TimothyMothra commented on #316
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:24] #316 closed

[2020-04-08 00:25] TimothyMothra commented on #319
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:25] #319 closed

[2020-04-08 00:26] TimothyMothra commented on #329
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:26] #329 closed

[2020-04-08 00:29] TimothyMothra commented on #347
mrbullwinkle

[2020-04-08 00:29] #347 closed

[2020-04-08 00:30] TimothyMothra commented on #337
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:30] #337 closed

[2020-04-08 00:31] TimothyMothra commented on #351
I'm closing this ticket as out of date.
If you're still having issues, please reopen.

[2020-04-08 00:31] #351 closed

[2020-04-09 13:51] parvski opened #475 "Monitoring Status PowerShell command - GetOutOfProcInfo - Error"
Running PowerShell command Get-ApplicationInsightsMonitoringStatus command and the following error occurs:
GetOutOfProcInfo: The object identifier does not represent a valid object.
Microsoft.ApplicationInsights.RedField.Configurator.PowerShell.Cmdlets.GetApplicationIns...

This is a new App Insights install using the Codeless monitoring option on an on-prem Windows Server 202R2 server.

No teleme

[2020-04-13 10:50] milodotnet commented on #474
"category does not exist" seems to be error that get's reported.

As per the documentation I should not need to add the counter explicitly to the ai config as CLR exceptions is a default counter that get's collected. But I have tried adding as per your example in the ai.config and in code.

I've also tried configuring the diagnostics extension via wadcfg to push to appinsights, but this doesn't se

[2020-04-13 15:26] cijothomas commented on #474
Are you seeing other default counters and only CLR excpetions is the one missing?

[2020-04-14 10:03] milodotnet commented on #474
Yes, other counters appear, it's just the .NET CLR ones that don't work

[2020-04-15 04:24] cijothomas commented on #474
@milodotnet Can you attempt to read the particular counter from manual code yourself, from the same app where application insights is not able to read it?
This can't be a permission issue as other counters are working fine. Its possible that one counter got corrupted, but this would likely mean other means to read the same would also fail. Attempting to read the counter from the same app manually

[2020-04-15 09:47] milodotnet commented on #474
@cijothomas Yes, I have tried this as well, hence the reason I mentioned the "category does not exist" error.

I've even tried startup tasks to run lodctr  on startup and using the wmi command, non of these help.

Do you have a sample that you can confirm works that I can use as reference?

[2020-04-15 16:32] cijothomas commented on #474
Sorry I didn't quite follow:
Did you write own code to read the perf counter, and its also failing when run inside the same app?
If its failing, then the issue is with perf counter infra - sometimes counters get corrupted. (You can search about how to repair counters)

I don't know what the use of a sample - there is nothing wrong with your AI config as other counters are flowing.

[2020-04-16 10:59] milodotnet commented on #474
@cijothomas

Yes, I have tried writing code to access them from within the same process, and it can't access them due to the category does not exist issue.

As mentioned I've used various suggested approaches to "repairing the counters" as well and none of them have worked.

I've also tried re-imaging the cloud service instance and this hasn't done anything.

The reason I'm asking for a sample/doc

[2020-04-16 18:05] cijothomas commented on #474
If even after reimaging CloudService instance, one cannot read CLR counters from it - then its something to follow up with CloudService team. I don't think application insights can do anything other than reporting that counter reading failed.

This official docs are the only docs about cloud services.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/cloudservices#performance-counters

If i

[2020-04-20 17:44] aelmanaa opened #476 "Update a workbook programatically fails in "A workbook with the same name already exists""
Hi

I don't know if it's the right project.
I'm trying to use CI/CD to maintain workbooks. However it odesn't work:

az group deployment create --name xxx --resource-group xxx --template-file myworkbook.json  --parameters myworkbook.parameters.json --mode incremental --debug

I get the following error
[code]

workaround I'm thinking of now is to delete the workbook and recreate it everytime but it

[2020-04-21 17:12] ank3it commented on #461
@ank3it : To create a template to generalize the funnel flow of events to ApplicationInsights-Home

[2020-04-21 17:14] reyang commented on #461
@ank3it refer to https://github.com/microsoft/ApplicationInsights-dotnet/tree/develop/.github/ISSUE_TEMPLATE.

[2020-04-21 18:25] TimothyMothra commented on #461
Hi @ank3it, just to clarify my position on this...
Because we don't have an SLA with our integration partners (Functions & App Service), we don't have a defined process for issues such as
- how frequently should they update our SDK in their environments
- do they provide and document tools to extract our SDK ETW logs for troubleshooting (#358)

[2020-04-23 16:11] parvski commented on #475
Found the issue. The IIS server has an FTP site listed as the first website on the server. The Get-ApplicationInsightsMonitoringStatus command fails unless an HTTP binding is added to the FTP site. Once the HTTP binding is added, the command executes correctly. Once the binding is removed, the script fails. Probably best to skip the FTP sites when iterating the IIS websites.

[2020-04-23 16:12] parvski commented on #475
Wanted to add the full error message from an ETW capture:
System.Exception: GetOutOfProcInfo: The object identifier does not represent a valid object. (Exception from HRESULT: 0x800710D8) ---> System.Runtime.InteropServices.COMException: The object identifier does not represent a valid object. (Exception from HRESULT: 0x800710D8) at Microsoft.Web.Administration.Interop.IAppHostProperty.get_Value()

[2020-04-23 20:18] victorlin commented on #429
@HMoen This is interesting - I am having the same issue, but with an Azure Cloud Services Worker Role running .NET Framework 4.6.2. Posting here because it seems to be the only thread on the internet discussing my exact problems.

Everything runs fine as console app, but a runtime error shows when running as a Worker Role instance:

Using fuslogvw.exe to view the assembly binding logs, the underly

[2020-04-23 21:04] HMoen commented on #429
@victorlin Sorry to hear... It was a pain to get it to work on my end, but it's still working fine, however. The latest NUGET requires less of the files too to manually add to the output folder, but can't confirm which ones. Good luck and please post your solution here once you find it for others. Thanks.

[2020-04-23 21:18] victorlin commented on #429
I got around the System.ValueTuple exception by:

1. Deleting a `<bindingRedirect>` for System.ValueTuple (per [this post](https://stackoverflow.com/a/53512525/4410590))
2. Copying these files over AFTER starting the Cloud Service (that's when it copies over the worker role files):
    - System.Buffers.dll
    - System.Numerics.Vectors.dll
    - System.Runtime.CompilerServices.Unsafe.dll
    - Sys

[2020-04-25 07:07] AndyMDoyle opened #477 "No agentless monitoring support with ASP.NET Core 3.1"
I was under the impression that the agentless monitoring for 3.1 had rolled out with the exception that it didn't work with self-contained applications.

I have several web apps that have the agentless extension enabled, and the instrumentation keys setup, but Application Insights doesn't get triggered.

The Insights Kudu site shows:

` InstrumentationEngineExtensionLoaded False`
` Instrumentation

[2020-05-04 12:08] yildizmy commented on #171
Installing **System.Diagnostics.DiagnosticSource** on Nuget Package Manager fixed the problem for me.

[2020-05-05 22:32] knuthalvor opened #478 "AI handling 302 as an error in API Management"
Not sure if this is the right place, but try anyway.

So we have a .net core application doing a ControllerBase.Redirect ("url"). However, when this then goes back the chain it is registered as a failure in AI for APIM - see example transaction attached.

As this is related to authentication, this happens quite regularly, and hence clutter the AI Failure overview with these errors.

1) is this rea

[2020-05-12 17:08] reyang opened #479 "Update the endpoint spec to cover connection string"
https://github.com/microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/ENDPOINT-PROTOCOL.md.

[2020-05-13 10:51] bpadhiyar4 commented on #171
How to do binding redirect in .Net Core

[2020-05-15 00:33] caroe2014 commented on #468
App Insight was enabled through the portal.

[2020-05-21 09:50] #404 closed

[2020-05-22 11:40] noamyogev84 opened #480 "Logs Analytics query renders different in Azure dashboards than in blade"
Same query exactly.

Log analytics (Blade)
![image](https://user-images.githubusercontent.com/7726629/82664154-c62b0b00-9c39-11ea-81d0-b67f42ebd98f.png)

Azure Dashboard
![image](https://user-images.githubusercontent.com/7726629/82664303-173aff00-9c3a-11ea-8373-bc9793182413.png)

[2020-05-22 13:43] shenbagapandiyan opened #481 "appinsights logs controller/action name instead of url"